Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - 'server/conf/i18n/*'

Add id_token column to accounts table
  server/app/auth/IdTokens.java
  server/app/models/AccountModel.java
  server/conf/evolutions/default/58.sql
  server/test/auth/IdTokensTest.java
Labels: database

Add id_tokens column to accounts table (#5730)
  server/app/auth/oidc/IdTokens.java
  server/app/auth/oidc/IdTokensFactory.java
  server/app/auth/oidc/SerializedIdTokens.java
  server/app/models/AccountModel.java
  server/app/modules/MainModule.java
  server/conf/evolutions/default/58.sql
  server/test/auth/oidc/IdTokensTest.java
  server/test/models/AccountModelTest.java
Labels: database

Store id token in db
  browser-test/src/auth.test.ts
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/CustomOidcLogoutRequest.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/OidcClientProviderParams.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/auth/oidc/admin/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/modules/MainModule.java
  server/app/repository/AccountRepository.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/CustomOidcLogoutRequestTest.java
  server/test/auth/oidc/IdTokensTest.java
  server/test/auth/oidc/OidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
  server/test/auth/oidc/applicant/IdcsClientProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
Labels: none

Changes from code review
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/TriFunction.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/repository/AccountRepository.java
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: none

Populate OIDC id token in logout request (#5731)
  browser-test/src/auth.test.ts
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/TriFunction.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/CustomOidcLogoutRequest.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/OidcClientProviderParams.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/auth/oidc/admin/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/modules/MainModule.java
  server/app/repository/AccountRepository.java
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/CustomOidcLogoutRequestTest.java
  server/test/auth/oidc/IdTokensTest.java
  server/test/auth/oidc/OidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
  server/test/auth/oidc/applicant/IdcsClientProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: none

Only populate cookie sizes if metrics are enabled
  server/app/filters/RecordCookieSizeFilter.java
  server/test/filters/RecordCookieSizeFilterTest.java
Labels: none

Add banner to admin pages, adjust styles
  server/app/assets/stylesheets/styles.css
  server/app/assets/stylesheets/uswds/_uswds-theme.scss
  server/app/views/BaseHtmlLayout.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/AdminLayoutFactory.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/components/Icons.java
  server/app/views/style/AdminStyles.java
Labels: none

Formatting
  server/app/assets/stylesheets/uswds/_uswds-theme.scss
  server/app/views/BaseHtmlLayout.java
Labels: none

Respond to code review
  server/test/filters/RecordCookieSizeFilterTest.java
Labels: none

WIP
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/forms/EditTiClientInfoForm.java
  server/app/repository/AccountRepository.java
  server/app/services/ti/TrustedIntermediaryService.java
Labels: none

Replacing our accordion component with USWDS
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/draft-not-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  browser-test/src/api_docs.test.ts
  server/app/assets/javascripts/accordion.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/views/api/ApiDocsView.java
  server/app/views/components/Accordion.java
  server/app/views/components/AccordionFactory.java
  server/test/views/components/AccordionFactoryTest.java
  server/test/views/components/AccordionTest.java
Labels: none

working
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_question_edit.ts
  server/app/assets/javascripts/toggle.ts
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

working!
  server/app/assets/javascripts/admin_question_edit.ts
  server/app/assets/javascripts/modal.ts
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

fixed console errors + formatting
  server/app/assets/javascripts/admin_question_edit.ts
  server/app/assets/javascripts/modal.ts
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

some cleanup
  server/app/assets/javascripts/toggle.ts
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

https://github.com/civiform/civiform/issues/3077
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: none

unit tests changes
  server/test/repository/ExportServiceRepositoryTest.java
  server/test/services/MultiOptionQuestionBuilder.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterTest.java
Labels: none

Only populate cookie sizes if metrics are enabled (#5973)
  server/app/filters/RecordCookieSizeFilter.java
  server/test/filters/RecordCookieSizeFilterTest.java
Labels: none

refactored and re-wrote sql query
  server/app/durablejobs/jobs/FixApplicantDobDataPathJob.java
  server/app/models/Applicant.java
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/durablejobs/jobs/FixApplicantDobDataPathJobTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: none

fix test paths
  server/test/repository/AccountRepositoryTest.java
Labels: none

formatting
  server/app/repository/AccountRepository.java
  server/test/repository/AccountRepositoryTest.java
Labels: none

add missing Test annotation
  server/test/repository/AccountRepositoryTest.java
Labels: none

added test for Nighly2am time resolver
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
Labels: none

Added missing escape character
  server/conf/i18n/messages
Labels: i18n

Correct path for applicant_date_of_birth and fix existing data (#5956)
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/FixApplicantDobDataPathJob.java
  server/app/models/Applicant.java
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/app/services/WellKnownPaths.java
  server/app/services/applicant/ApplicantData.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/durablejobs/jobs/FixApplicantDobDataPathJobTest.java
  server/test/repository/AccountRepositoryTest.java
  server/test/services/applicant/ApplicantDataTest.java
Labels: none

Replace our accordion with the USWDS accordion component (#5977)
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/draft-not-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  browser-test/src/api_docs.test.ts
  server/app/assets/javascripts/accordion.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/views/api/ApiDocsView.java
  server/app/views/components/Accordion.java
  server/app/views/components/AccordionFactory.java
  server/test/views/components/AccordionFactoryTest.java
  server/test/views/components/AccordionTest.java
Labels: none

Added missing apostrophe to banner message (#5981)
  server/conf/i18n/messages
Labels: i18n

Updated snapshots
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-not-set.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/image_snapshots/applicant_application_index_test/other-program-shows-previously-answered.png
  browser-test/image_snapshots/applicant_application_index_test/question-shows-previously-answered.png
  browser-test/image_snapshots/header_test/banner-expanded.png
  browser-test/image_snapshots/header_test/logged-in.png
  browser-test/image_snapshots/header_test/not-logged-in-guest-mode-enabled.png
Labels: none

Added tests
  browser-test/src/header.test.ts
  server/conf/i18n/messages
  server/test/views/BaseHtmlLayoutTest.java
Labels: i18n

Separated the banner header and accordion into variables
  server/app/views/BaseHtmlLayout.java
Labels: none

merge fixes
  server/test/repository/ExportServiceRepositoryTest.java
Labels: none

Adjusting position of toasts and admin page for banner
  server/app/assets/javascripts/toast.ts
  server/app/views/style/AdminStyles.java
Labels: none

Fixed tiny space between banner and page
  server/app/views/style/AdminStyles.java
Labels: none

WIP
  server/app/forms/EditTiClientInfoForm.java
  server/app/services/ti/TrustedIntermediaryService.java
Labels: none

WIP
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/models/Account.java
  server/app/repository/AccountRepository.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/evolutions/default/58.sql
  server/conf/routes
Labels: database

WIP
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/forms/EditTiClientInfoForm.java
  server/app/repository/AccountRepository.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: none

Display modal on click of Edit button
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/forms/EditTiClientInfoForm.java
  server/app/repository/AccountRepository.java
  server/app/services/WellKnownPaths.java
  server/app/services/applicant/ApplicantData.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/evolutions/default/58.sql
Labels: database

More snapshot fixes
  browser-test/image_snapshots/dev_tools_test/dev-tools-in-header.png
  browser-test/image_snapshots/trusted_intermediary_test/applicant-program-spanish.png
Labels: none

Adding 'Enhancements' as a new section of the release notes
  .github/release.yml
Labels: none

Updating PR template
  .github/pull_request_template.md
Labels: none
