Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n, ignore-for-release

Simplify mk-s3 script (#7216)
  bin/localstack/mk-s3
Labels: none

Fix issue with downloading files as a global admin with privledges
  server/app/controllers/FileController.java
  server/test/controllers/FileControllerTest.java
Labels: none

Adding test to check for invalid new api key
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page-invalid.png
  browser-test/src/admin/admin_api_keys.test.ts
  browser-test/src/support/admin_api_keys.ts
Labels: none

fmt
  server/test/controllers/FileControllerTest.java
Labels: none

update req
  server/test/controllers/FileControllerTest.java
Labels: none

Minor UI Fixes on Create ApiKey Page (#7220)
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page-invalid.png
  browser-test/src/admin/admin_api_keys.test.ts
  browser-test/src/support/admin_api_keys.ts
  server/app/views/admin/apikeys/ApiKeyNewOneView.java
Labels: none

Convert application_address_correction.test.ts to use test steps
  browser-test/src/applicant/application_address_correction.test.ts
Labels: none

add comment
  server/app/controllers/FileController.java
Labels: none

adding addtional check on the programs shown
  browser-test/src/program_admin/program_admin_program_list.test.ts
Labels: none

[Disabled Programs] add tests to verify all programs are shown to program admins (#7215)
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list-visible-disabled-program.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list.png
  browser-test/src/program_admin/program_admin_program_list.test.ts
Labels: none

Convert application_address_correction.test.ts to use test steps (#7221)
  browser-test/src/applicant/application_address_correction.test.ts
Labels: none

Add a browser test for address correction on an optional question
  browser-test/src/applicant/application_address_correction.test.ts
Labels: none

Skip address correction if an optional question is not answered
  browser-test/src/applicant/application_address_correction.test.ts
  server/app/services/applicant/question/AddressQuestion.java
Labels: none

add MessageKey
  server/app/services/MessageKey.java
Labels: none

formatting
  server/app/views/applicant/ApplicantBaseFragment.html
Labels: none

refactor template for conditional classes
  server/app/views/applicant/ApplicantBaseFragment.html
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: ignore-for-release

respond to review comments
  server/app/views/applicant/ApplicantBaseFragment.html
  server/conf/i18n/messages
Labels: i18n

Implement toasts in block edit page
  server/app/views/components/ToastFragment.html
Labels: none

pipe success message to thymeleaf (incomplete)
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/views/ApplicationBaseViewParams.java
  server/app/views/components/ToastFragment.html
Labels: none

more changes
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditView.java
Labels: none

Automatically enable git completion in codespaces (#7226)
  .devcontainer/devcontainer.json
Labels: ignore-for-release

Skip address correction if an optional question is not answered (#7196)
  browser-test/src/applicant/application_address_correction.test.ts
  server/app/services/applicant/question/AddressQuestion.java
Labels: none

render success toast
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/components/ToastFragment.html
Labels: none

formatting
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/components/ToastFragment.html
Labels: none

Add port to forwardPorts list for browser test issues
  .devcontainer/devcontainer.json
Labels: ignore-for-release

update from comments
  server/test/controllers/FileControllerTest.java
  server/test/controllers/WithMockedProfiles.java
Labels: none

sort ports
  .devcontainer/devcontainer.json
Labels: ignore-for-release

Updating pagination snapshots
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-right.png
  browser-test/image_snapshots/pagination_test/ti-pagination-two-ellipses.png
Labels: none

TI dashboard UX finishing touches (#7129)
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-left.png
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-right.png
  browser-test/image_snapshots/pagination_test/ti-pagination-no-ellipses.png
  browser-test/image_snapshots/pagination_test/ti-pagination-two-ellipses.png
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table-many.png
  browser-test/image_snapshots/trusted_intermediary_test/pai-ti-dash.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/image_snapshots/trusted_intermediary_test/verify-success-toast-on-new-client.png
  server/app/assets/stylesheets/styles.css
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/i18n/messages
Labels: i18n

Make disabled settings look disabled
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/components/SelectWithLabel.java
Labels: none

Allow global admin with program privileges to download applicant files (#7219)
  server/app/controllers/FileController.java
  server/test/controllers/FileControllerTest.java
  server/test/controllers/WithMockedProfiles.java
Labels: none

Add port to forwardPorts list for browser test issues in devcontainer (#7230)
  .devcontainer/devcontainer.json
Labels: ignore-for-release

Make disabled settings look disabled (#7233)
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/components/SelectWithLabel.java
Labels: none

remove ^ from package.json
  server/package-lock.json
  server/package.json
Labels: none

added 'added to n disabled programs' phrase
  server/app/views/admin/questions/QuestionsListView.java
Labels: none

formatting
  server/package-lock.json
Labels: none

update styles for checked options
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
Labels: none

regenerated snapshot
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page-invalid.png
Labels: none

Rename tailwind color seattle-blue to civiform-blue
  server/app/assets/javascripts/radio.ts
  server/app/views/style/BaseStyles.java
  server/tailwind.config.js
Labels: none

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - changed-files:
      - any-glob-to-any-file: 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - changed-files:
      - any-glob-to-any-file: 'server/conf/i18n/*'

ignore-for-release:
  - changed-files:
      - any-glob-to-any-file: 
        - .github/**/*
        - .devcontainer/**/*
