Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n

Store session id in cookie rather than session
  server/app/auth/DefaultToGuestRedirector.java
  server/app/filters/SessionIdFilter.java
Labels: none

Revise session handling, though still causing looping
  server/app/filters/SessionIdFilter.java
Labels: none

Experimenting with filter changes
  server/app/filters/SessionIdFilter.java
  server/test/filters/SessionIdFilterTest.java
Labels: none

Redirect to pick up the new session value
  server/app/auth/DefaultToGuestRedirector.java
  server/app/filters/SessionIdFilter.java
  server/test/filters/SessionIdFilterTest.java
Labels: none

Inject Provider
  server/app/filters/SessionIdFilter.java
  server/test/filters/SessionIdFilterTest.java
Labels: none

Exclude API calls
  server/app/auth/DefaultToGuestRedirector.java
  server/app/filters/SessionIdFilter.java
  server/conf/application.conf
  server/test/filters/SessionIdFilterTest.java
Labels: none

Code review comment
  server/app/filters/SessionIdFilter.java
Labels: none

Follow internal redirects in failing tests
  server/test/controllers/HomeControllerTest.java
  server/test/support/CfTestHelpers.java
Labels: none

Cleanup#bin/fmt
  server/app/filters/SessionIdFilter.java
  server/test/controllers/HomeControllerAuthenticatedTest.java
  server/test/controllers/HomeControllerTest.java
  server/test/support/CfTestHelpers.java
Labels: none

Respond to code review comments
  server/app/filters/SessionIdFilter.java
  server/test/filters/SessionIdFilterTest.java
  server/test/support/CfTestHelpers.java
Labels: none

Revise failing tests to follow redirects
  server/app/filters/SessionIdFilter.java
  server/test/controllers/HomeControllerAuthenticatedTest.java
  server/test/controllers/HomeControllerTest.java
  server/test/support/CfTestHelpers.java
Labels: none

Put role=button on a div, which is allowed to have that role
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
Labels: none

Updated more snapshots
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  browser-test/image_snapshots/trusted_intermediary_test/applicant-program-spanish.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/eligible-toast.png
Labels: none

Create filter to store a session id. (#5773)
  server/app/filters/SessionIdFilter.java
  server/conf/application.conf
  server/test/controllers/HomeControllerAuthenticatedTest.java
  server/test/controllers/HomeControllerTest.java
  server/test/filters/SessionIdFilterTest.java
  server/test/support/CfTestHelpers.java
Labels: none

One more snapshot update
  browser-test/image_snapshots/date_test/date-errors.png
Labels: none

Turn on version caching for browser tests
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/conf/application.dev-browser-tests.conf
Labels: none

Put <span> inside form <label>
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
Labels: none

fix tests and remove custom button styling
  browser-test/image_snapshots/application_navigation_test/duplicate-submission-page.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/app/views/components/ButtonStyles.java
Labels: none

Update DevDatabaseSeedController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
Labels: none

updated copy for duplicates screen
  server/conf/i18n/messages
Labels: i18n

Update DevDatabaseSeedController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
Labels: none

Make "Choose File" button keyboard accessible. (#5760)
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
Labels: none

added info log
  server/app/repository/ApplicationRepository.java
  server/conf/logback.xml
Labels: none

fix messages file formatting
  server/conf/i18n/messages
Labels: i18n

Update copy for duplicates screen (#5777)
  server/conf/i18n/messages
Labels: i18n

Add tests in admin_program_creation.test
  browser-test/src/admin_program_creation.test.ts
  server/app/assets/javascripts/questionBank.ts
Labels: none

temp
  server/app/repository/ExportServiceRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/MultiSelectQuestionHeaderService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: none

temp2
  server/app/repository/ExportServiceRepository.java
  server/app/services/applicant/MultiSelectQuestionHeaderService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: none

testing
  server/app/repository/ExportServiceRepository.java
  server/app/services/export/CsvExporterService.java
Labels: none

Run Presbumits on all PRs
  .github/workflows/pr_server.yaml
Labels: none

Add npx playwright install to wait_for_server_start_and_run_tests.sh
  =3.3.1
  browser-test/bin/wait_for_server_start_and_run_tests.sh
Labels: none

Update semver to 6.3.1
  browser-test/package-lock.json
Labels: none

Run Presubmits on all PRs (#5780)
  .github/workflows/pr_server.yaml
Labels: none

Add id_token column to accounts table
  server/app/auth/IdTokens.java
  server/app/models/Account.java
  server/conf/evolutions/default/58.sql
  server/test/auth/IdTokensTest.java
Labels: database

A few cleanup things (#5783)
  =3.3.1
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/package-lock.json
Labels: none

working branch
  server/app/repository/ExportServiceRepository.java
  server/app/services/export/CsvExporterService.java
Labels: none

Only set submit time on previous applications that don't have it
  server/app/repository/ApplicationRepository.java
  server/test/repository/ApplicationRepositoryTest.java
Labels: none

Only set submit time on previous applications that don't have it (#5786)
  server/app/repository/ApplicationRepository.java
  server/test/repository/ApplicationRepositoryTest.java
Labels: none

Update localstack to 2.3.2 with fixes
  docker-compose.yml
  localstack/localstack.Dockerfile
  server/app/services/cloud/aws/SimpleStorage.java
Labels: none

Update localstack to 2.3.2 with fixes (#5768)
  docker-compose.yml
  localstack/localstack.Dockerfile
  server/app/services/cloud/aws/SimpleStorage.java
Labels: none

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - 'server/conf/i18n/*'
