Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n

Add AwsApplicantStorageTest (#6042)
  server/test/services/cloud/aws/AwsApplicantStorageTest.java
  test-support/unit-test-docker-compose.yml
Labels: none

trying to get popup in browser tests
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/support/wait.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: none

Display suggested programs on confirmation page
  server/app/assets/javascripts/modal.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramDisplayPartial.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/i18n/messages
Labels: i18n

Fix modal
  server/app/assets/javascripts/modal.ts
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
Labels: none

Columns
  server/app/views/applicant/ApplicantProgramDisplayPartial.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ProgramIndexView.java
Labels: none

Replace TODO with explanatory comment
  browser-test/src/profile_stability.test.ts
Labels: none

add universal question text in program list view (#6193)
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/civiform_admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/src/admin_program_list.test.ts
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
Labels: none

Spike: question list filtering using HTMX
  server/app/controllers/admin/AdminQuestionController.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/QuestionBank.java
  server/conf/routes
Labels: none

Fix layout problem
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/views/applicant/ApplicantProgramDisplayPartial.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/style/StyleUtils.java
Labels: none

Left-align
  server/app/views/style/ApplicantStyles.java
Labels: none

Filter programs
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
Labels: none

Don't display if no programs to apply to
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
Labels: none

fmt
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
Labels: none

working browser tests
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: none

require program slub being alphanumerical
  server/app/services/program/ProgramService.java
  server/test/services/program/ProgramServiceTest.java
Labels: none

changed expected error message
  server/test/services/program/ProgramServiceTest.java
Labels: none

updated unit test and formatted
  server/app/services/program/ProgramService.java
  server/app/views/components/ProgramCardFactory.java
  server/test/services/program/ProgramServiceTest.java
Labels: none

updated unit test
  server/test/services/program/ProgramServiceTest.java
Labels: none

formatter
  server/app/views/components/ProgramCardFactory.java
Labels: none

updated error message
  server/app/services/program/ProgramService.java
  server/test/services/program/ProgramServiceTest.java
Labels: none

Initial snapshot updates
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
Labels: none

ProgramService/ProgramDefinition - sync questions and get questions with tags
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
Labels: none

ViewUtils - modify makeToggleButton and makeAlertInfoSlim
  server/app/views/ViewUtils.java
Labels: none

ApplicantModel
  server/app/models/ApplicantModel.java
Labels: none

ApplicantService - including start of implementing email changes
  server/app/services/applicant/ApplicantService.java
Labels: none

QuestionForm
  server/app/forms/QuestionForm.java
Labels: none

QuestionEditView
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

ApplicantData - including modifying helper functions to use ApplicantModel fields
  server/app/models/ApplicationModel.java
  server/app/services/applicant/ApplicantData.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: none

Plumbing for PrimaryApplicantInfoTag
  server/app/models/QuestionModel.java
  server/app/models/QuestionTag.java
  server/app/repository/QuestionRepository.java
  server/app/services/question/PrimaryApplicantInfoTag.java
  server/app/services/question/types/NullQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
Labels: none

JS for toggling visiblity of components
  server/app/assets/javascripts/admin_question_edit.ts
Labels: none

Evolution for new columns
  server/conf/evolutions/default/60.sql
Labels: database

Use ApplicantModel fields instead of ApplicantData with WellKnownPaths
  server/app/durablejobs/jobs/FixApplicantDobDataPathJob.java
  server/app/repository/AccountRepository.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: none

More changes for email - ApplicantPersonalInfo
  server/app/services/applicant/ApplicantPersonalInfo.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
Labels: none

formatted long string in screen name and description
  server/app/views/admin/programs/ProgramBlocksView.java
Labels: none

Replace TODO with explanatory comment (#6196)
  browser-test/src/profile_stability.test.ts
Labels: none

Add feature flag for new applicant URL schema
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: none

Use HIDDEN instead of ADMIN_WRITEABLE
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
Labels: none

Add feature flag for new applicant URL schema (#6181)
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: none

Remove applicant id from URLs for index action
  browser-test/src/support/index.ts
  server/app/auth/CiviFormProfile.java
  server/app/auth/CiviFormProfileData.java
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/ProfileFactory.java
  server/app/controllers/CiviFormController.java
  server/app/controllers/HomeController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/controllers/applicant/UpsellController.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/routes
  server/test/controllers/HomeControllerTest.java
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: none

Use SettingsManifest; redirect to home page if controller can't find applicant id in profile
  server/app/auth/CiviFormProfile.java
  server/app/auth/CiviFormProfileData.java
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/ProfileFactory.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/test/controllers/HomeControllerTest.java
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: none

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - 'server/conf/i18n/*'
