Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - 'server/conf/i18n/*'

Update pull_request_template.md
  .github/pull_request_template.md
Labels: none

Update pull_request_template.md (#5908)
  .github/pull_request_template.md
Labels: none

Pin auto-request-review to v0.10.0
  .github/workflows/auto_request_review.yml
Labels: none

add missing default values
  server/conf/helper/auth.conf
  server/conf/helper/whitelabel.conf
Labels: none

Update errorprone
  server/app/controllers/api/ApiPaginationTokenSerializer.java
  server/build.sbt
Labels: none

One more
  server/app/controllers/geo/AddressSuggestionJsonSerializer.java
Labels: none

Update errorprone (#5918)
  server/app/controllers/api/ApiPaginationTokenSerializer.java
  server/app/controllers/geo/AddressSuggestionJsonSerializer.java
  server/build.sbt
Labels: none

Add feature flag for program card images.
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: none

regenerate screenshots
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
Labels: none

Add default values for oidc_post_logout_param and civic_entity_small_logo_url (#5917)
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/conf/helper/auth.conf
  server/conf/helper/whitelabel.conf
Labels: none

Added and fixed comments
  server/app/assets/javascripts/uswds/uswds-init.min.js
  server/app/assets/stylesheets/uswds/_uswds-theme.scss
  server/app/views/ViewUtils.java
  server/webpack.config.js
Labels: none

Updated snapshot
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
Labels: none

Renamed the TypescriptBundler
  server/build.sbt
  server/project/WebAssetsBundler.scala
Labels: none

Formatting the comments
  server/project/WebAssetsBundler.scala
Labels: none

test
  .github/workflows/auto_request_review.yml
  server/conf/i18n/messages.es-US
Labels: i18n

Unit tests
  server/test/models/QuestionTest.java
  server/test/services/question/types/QuestionDefinitionBuilderTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: none

QuestionTag - Add UNIVERSAL tag
  server/app/models/QuestionTag.java
Labels: none

Wire through universal in Question model, QuestionDefinition, etc.
  server/app/models/Question.java
  server/app/services/question/types/NullQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
Labels: none

QuestionForm - Add isUniversal
  server/app/forms/QuestionForm.java
Labels: none

Replace new toggle with new-old toggle button
  browser-test/image_snapshots/question_lifecycle_test/question-edit-universal-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-edit-universal-unset.png
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/toggle.ts
  server/app/views/ViewUtils.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

Use feature flag in QuestionEditView
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

Add a toggle component
  server/app/assets/stylesheets/styles.css
  server/app/views/components/FieldWithLabel.java
  server/app/views/style/BaseStyles.java
  server/test/views/components/FieldWithLabelTest.java
Labels: none

Revert "Add a toggle component"
  server/app/assets/stylesheets/styles.css
  server/app/views/components/FieldWithLabel.java
  server/app/views/style/BaseStyles.java
  server/test/views/components/FieldWithLabelTest.java
Labels: none

Browser test
  browser-test/image_snapshots/question_lifecycle_test/question-edit-universal-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-edit-universal-unset.png
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_questions.ts
Labels: none

Add UNIVERSAL_QUESTIONS feature flag
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: none

QuestionEditView - Add Universal toggle to question edit view
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

Updated browser test images
  browser-test/image_snapshots/question_lifecycle_test/question-edit-universal-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-edit-universal-unset.png
Labels: none

Fixes and change toggle to use IDs
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/toggle.ts
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/ViewUtils.java
  server/app/views/admin/questions/QuestionEditView.java
  server/conf/env-var-docs.json
Labels: none

Update server/app/assets/javascripts/toggle.ts
  server/app/assets/javascripts/toggle.ts
Labels: none

Update server/app/views/ViewUtils.java
  server/app/views/ViewUtils.java
Labels: none

Update application conf files with flag and fix formatting
  server/app/views/ViewUtils.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
Labels: none

Get publicName using activeVersion
  server/app/repository/ReportingRepository.java
  server/app/services/reporting/ApplicationSubmissionsStat.java
  server/app/services/reporting/ReportingService.java
  server/app/views/admin/reporting/AdminReportingIndexView.java
  server/test/repository/ReportingRepositoryTest.java
  server/test/services/reporting/ReportingServiceTest.java
  server/test/support/CfTestHelpers.java
Labels: none

ReportingRepositoryTest updated constructor params
  server/test/repository/ReportingRepositoryTest.java
Labels: none

Updated javadoc in ApplicationSubmissionsStat
  server/app/services/reporting/ApplicationSubmissionsStat.java
  server/test/repository/ReportingRepositoryTest.java
Labels: none

Update snapshots
  browser-test/image_snapshots/application_review_test/reporting-page.png
Labels: none

application_review.test.ts programName fix and update snapshot
  browser-test/image_snapshots/application_review_test/cf-admin-reporting-page.png
  browser-test/src/application_review.test.ts
Labels: none

unit tests changes
  browser-test/src/application_download.test.ts
  server/app/repository/ExportServiceRepository.java
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/CsvExportConfig.java
  server/test/repository/ExportServiceRepositoryTest.java
  server/test/services/export/CsvExporterTest.java
Labels: none

browser tests
  browser-test/src/application_download.test.ts
  server/app/repository/ExportServiceRepository.java
  server/test/repository/ExportServiceRepositoryTest.java
  server/test/services/export/CsvExporterTest.java
Labels: none

Update server/app/services/reporting/ApplicationSubmissionsStat.java
  server/app/services/reporting/ApplicationSubmissionsStat.java
Labels: none

Refactor. Undo changes in 50.sql
  server/app/services/reporting/ReportingService.java
  server/app/views/admin/reporting/AdminReportingIndexView.java
  server/conf/evolutions/default/50.sql
Labels: database
