Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n

working bash scripts; removed ProgramImageView changes
  bin/localstack/mk-s3
  bin/localstack/purge-s3
  server/app/views/admin/programs/ProgramImageView.java
Labels: none

small modifications
  server/app/services/cloud/PublicStorageClient.java
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/aws/AwsStorageHelpers.java
  server/app/views/admin/programs/ProgramImageView.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
  server/test/services/cloud/azure/AzurePublicStorageTest.java
Labels: none

AwsStorageUtils non static + other minor changes
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/aws/AwsStorageUtils.java
  server/conf/helper/cloud.conf
  server/test/services/cloud/aws/AwsApplicantStorageTest.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
Labels: none

AwsStorageUtils
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/aws/AwsStorageUtils.java
  server/app/services/cloud/aws/SimpleEmail.java
Labels: none

Add new public storage client to guice injector
  bin/localstack/mk-s3
  docker-compose.yml
  server/app/modules/CloudStorageModule.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramImageView.java
  server/conf/env-var-docs.json
  server/conf/helper/cloud.conf
Labels: none

Rename to AwsPublicStorage instead of PublicSimpleStorage
  server/app/services/cloud/aws/AwsPublicStorage.java
Labels: none

better bash script maybe?
  bin/localstack/mk-s3
Labels: none

[Program Images] Add PublicStorageClient for uploading program image files to a public bucket (#6049)
  bin/localstack/lib.sh
  bin/localstack/mk-s3
  bin/localstack/purge-s3
  docker-compose.yml
  server/app/modules/CloudStorageModule.java
  server/app/services/cloud/PublicStorageClient.java
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/aws/AwsStorageUtils.java
  server/app/services/cloud/aws/SimpleEmail.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/cloud.conf
  server/test/services/cloud/aws/AwsPublicStorageTest.java
  server/test/services/cloud/azure/AzurePublicStorageTest.java
Labels: none

Implement views for program image file upload
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/models/ProgramModel.java
  server/app/modules/CloudStorageModule.java
  server/app/services/cloud/PublicFileNameFormatter.java
  server/app/services/cloud/PublicStorageClient.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/fileupload/AwsFileUploadRenderer.java
  server/app/views/applicant/fileupload/FileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadRenderer.java
  server/app/views/fileupload/FileUploadRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/conf/evolutions/default/60.sql
  server/conf/helper/cloud.conf
  server/conf/routes
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: database

Tests of all shapes and sizes :)
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/assets/program-summary-image.png
  browser-test/src/support/admin_program_image.ts
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/cloud/ApplicantFileNameFormatter.java
  server/app/services/cloud/PublicFileNameFormatter.java
  server/app/services/cloud/PublicStorageClient.java
  server/app/views/admin/programs/ProgramImageView.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/models/ProgramModelTest.java
  server/test/services/cloud/PublicFileNameFormatterTest.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
  server/test/services/cloud/azure/AzurePublicStorageTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/CfTestHelpers.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: none

Rename form rendering classes (+ other)
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/modules/CloudStorageModule.java
  server/app/services/cloud/ApplicantFileNameFormatter.java
  server/app/services/cloud/ApplicantStorageClient.java
  server/app/services/cloud/PublicFileNameFormatter.java
  server/app/services/cloud/PublicStorageClient.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/fileupload/ApplicantFileUploadRenderer.java
  server/app/views/fileupload/AwsFileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/test/services/cloud/ApplicantFileNameFormatterTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: none

update applicant file upload class
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
Labels: none

Remove CfTestHelpers 2
  server/test/support/CfTestHelpers.java
Labels: none

Updated snapshots
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
Labels: none

Minor cleanup
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/services/cloud/PublicFileNameFormatter.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/fileupload/AwsFileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/conf/helper/cloud.conf
Labels: none

remove CfTestHelper change
  server/test/support/CfTestHelpers.java
Labels: none

Match full URL in loginAsTestUserAwsStaging()
  browser-test/src/support/index.ts
Labels: none

Address PR comments
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/services/cloud/PublicFileNameFormatter.java
  server/app/services/program/ProgramDefinition.java
  server/app/views/admin/programs/ProgramImageView.java
  server/test/services/cloud/PublicFileNameFormatterTest.java
Labels: none

Match full URL in loginAsTestUserAwsStaging() (#6207)
  browser-test/src/support/index.ts
Labels: none

Formatting
  server/app/controllers/admin/AdminProgramImageController.java
Labels: none

Specify a better matching URL for loginAsTestUserAwsStaging()
  browser-test/src/support/index.ts
Labels: none

Specify a better matching URL for loginAsTestUserAwsStaging() (#6209)
  browser-test/src/support/index.ts
Labels: none

formatted long string in screen name and description (#6203)
  browser-test/image_snapshots/admin_program_viewing_test/program-view-universal-questions.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing-extra-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/src/admin_program_viewing.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramBlocksView.java
Labels: none

Remove applicant id from URLs for edit action
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: none

Use regex instead of glob for URL pattern
  browser-test/src/support/index.ts
Labels: none

Use regex instead of glob for URL pattern (#6217)
  browser-test/src/support/index.ts
Labels: none

Specify regex with slashes rather than quotes
  browser-test/src/support/index.ts
Labels: none

Specify regex with slashes rather than quotes (#6219)
  browser-test/src/support/index.ts
Labels: none

Nit change
  browser-test/src/admin_program_image.test.ts
Labels: none

[Program Card Images] Add UI for admin to upload a program image. (#6050)
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/assets/program-summary-image.png
  browser-test/src/support/admin_program_image.ts
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/models/ProgramModel.java
  server/app/modules/CloudStorageModule.java
  server/app/services/cloud/ApplicantFileNameFormatter.java
  server/app/services/cloud/ApplicantStorageClient.java
  server/app/services/cloud/PublicFileNameFormatter.java
  server/app/services/cloud/PublicStorageClient.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/fileupload/AwsFileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/conf/evolutions/default/60.sql
  server/conf/routes
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/models/ProgramModelTest.java
  server/test/services/cloud/ApplicantFileNameFormatterTest.java
  server/test/services/cloud/PublicFileNameFormatterTest.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
  server/test/services/cloud/azure/AzurePublicStorageTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: database

Update release day to Tuesday
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: none

Update release day to Tuesday (#6222)
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: none

Remove applicant id from URLs for edit action (#6199)
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: none

APRC.review
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: none

Add new text for translation
  server/conf/i18n/messages
Labels: i18n

Remove applicant id from URL for review action (#6216)
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: none

Remove applicant id from URLs for submit action
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: none

Add keys to test
  server/test/conf/MessagesTest.java
Labels: none

Remove applicant id from URLs for submit action (#6223)
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: none

Remove applicant id from URLs for block edit action
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: none

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - 'server/conf/i18n/*'
