Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

Don't have close button & title overlap; formatting
  server/app/views/components/Modal.java
  server/app/views/style/BaseStyles.java
  server/test/views/components/ModalTest.java
Labels: none

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

Update browser screenshots
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt.png
  browser-test/image_snapshots/application_navigation_test/cif-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/civiform_admin_program_statuses_test/create-new-status-modal.png
  browser-test/image_snapshots/civiform_admin_publish_test/publish-modal.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-program-modal.png
  browser-test/image_snapshots/dev_tools_test/dev-tools-modal.png
  browser-test/image_snapshots/mobile_views_test/mobile-modal.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
Labels: none

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

Refactor program.getVersions to be called from programRepository
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramService.java
Labels: none

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

unit tests
  server/app/repository/ExportServiceRepository.java
  server/app/services/export/CsvExporterService.java
  server/test/repository/ExportServiceRepositoryTest.java
  server/test/services/export/CsvExporterTest.java
Labels: none

commit repository changes
  server/app/repository/ExportServiceRepository.java
  server/test/repository/ExportServiceRepositoryTest.java
Labels: none

formatting
  server/app/repository/ExportServiceRepository.java
  server/test/repository/ExportServiceRepositoryTest.java
Labels: none

Refactor program.getVersions to be called from programRepository (#5834)
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramService.java
Labels: none

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

Update DevDatabaseSeedController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
Labels: none

formatting2
  server/app/repository/ExportServiceRepository.java
Labels: none

Update VersionRepository.java
  server/app/repository/VersionRepository.java
Labels: none

Add publicName to ApplicationSubmissionsStat
  server/app/repository/ReportingRepository.java
  server/app/services/reporting/ApplicationSubmissionsStat.java
  server/app/services/reporting/ReportingService.java
  server/app/views/admin/reporting/AdminReportingIndexView.java
  server/conf/evolutions/default/50.sql
Labels: database

Add publicName to ApplicationSubmissionsStat
  server/app/services/reporting/ReportingService.java
Labels: none

Add snapshot sync script
  bin/sync-failed-browser-test-images
Labels: none

Update DevDatabaseSeedController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
Labels: none

java docs
  server/app/repository/ExportServiceRepository.java
Labels: none

go back to old link styling
  server/app/views/CiviFormMarkdown.java
Labels: none

Add program cache implementation behind flag
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/conf/application.conf
Labels: none

remove conflict files
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  server/package-lock.json
Labels: none

Add implementation for questionCache behind flag
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
  server/conf/application.conf
Labels: none

Rename variable
  server/app/durablejobs/jobs/UnusedAccountCleanupJob.java
  server/app/repository/AccountRepository.java
Labels: none

Cleanup unused guest accounts older than 90 days (#5742)
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/ReportingDashboardMonthlyRefreshJob.java
  server/app/durablejobs/jobs/UnusedAccountCleanupJob.java
  server/app/models/Applicant.java
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: none

Fixing Phone Label text
  server/conf/i18n/messages
Labels: i18n

fix merge conflicts
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/application_download_test/application-confirmation.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/image_snapshots/static_text_test/markdown-text.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/static_text.test.ts
  server/package-lock.json
  server/test/views/CiviFormMarkdownTest.java
  server/test/views/components/TextFormatterTest.java
Labels: none

change link style
  server/app/views/CiviFormMarkdown.java
Labels: none

browser tests update
  browser-test/image_snapshots/phone_test/phone-errors.png
  browser-test/image_snapshots/phone_test/phone-format-ca.png
  browser-test/image_snapshots/phone_test/phone-format-usa.png
  browser-test/image_snapshots/phone_test/phone.png
Labels: none

Fixing Phone Label text (#5850)
  browser-test/image_snapshots/phone_test/phone-errors.png
  browser-test/image_snapshots/phone_test/phone-format-ca.png
  browser-test/image_snapshots/phone_test/phone-format-usa.png
  browser-test/image_snapshots/phone_test/phone.png
  server/conf/i18n/messages
Labels: i18n

Update VersionRepositoryTest.java
  server/test/repository/VersionRepositoryTest.java
Labels: none

Update VersionRepositoryTest.java
  server/test/repository/VersionRepositoryTest.java
Labels: none

Fix TI seeing client's name in top nav login state
  server/app/auth/CiviFormProfile.java
  server/app/auth/ProfileFactory.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/views/applicant/ApplicantLayout.java
Labels: none

Set the email on applicant's profile data
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
Labels: none

Update screenshot tests
  browser-test/image_snapshots/application_navigation_test/cif-eligible-ti-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page.png
  browser-test/image_snapshots/trusted_intermediary_test/applicant-program-spanish.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/eligible-toast.png
  browser-test/image_snapshots/trusted_intermediary_test/not-eligible-page-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
Labels: none

Add context string above Close message
  server/conf/i18n/messages
Labels: i18n

Add a "Close" message. (#5823)
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - 'server/conf/i18n/*'
