Repository civiform/civiform, changes with the labels that .github/labeler.yml gives for each.
All labels: database, i18n

.github/labeler.yml:

# Used by the labeler.yaml github action to automatically apply
# labels based on rules

# Label PRs with database if it contains evolution file(s)
database:
  - 'server/conf/evolutions/default/*.sql'

# Label PRs with i18n if it changes the i18n directory
i18n:
  - 'server/conf/i18n/*'

ApplicationService made abstract
  server/app/services/applications/ApplicationService.java
Labels: none

NON_ABSTRACT_CLASS_ALLOWS_SUBCLASSING ApplicationService
  server/app/services/applications/ApplicationService.java
Labels: none

@Inject ApplicationService
  server/app/services/applications/ApplicationService.java
Labels: none

Update ProgramServiceImpl.java
  server/app/services/program/ProgramServiceImpl.java
Labels: none

@Inject ApplicationService
  server/app/services/applications/ApplicationService.java
Labels: none

adding code to support multiselect answer split in CSV export
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: none

Redirect to home if user is not authorized to view index page
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: none

Redirect to home if user is not authorized for view or edit methods
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: none

Remove browser security tests as they no longer apply
  browser-test/src/security.test.ts
Labels: none

Add more comments
  server/app/controllers/applicant/ApplicantProgramsController.java
Labels: none

Redirect to home if user is not authorized in ApplicantProgramsController (#5529)
  browser-test/src/security.test.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: none

+PdfExporterServiceTest
  server/test/services/applications/PdfExporterServiceTest.java
Labels: none

Making asterisk red and adding text to messages file
  browser-test/image_snapshots/admin_program_preview_test/program-preview-application-review-page.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/image_snapshots/applicant_application_index_test/other-program-shows-previously-answered.png
  browser-test/image_snapshots/applicant_application_index_test/question-shows-previously-answered.png
  browser-test/image_snapshots/mobile_views_test/mobile-apply-page.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  browser-test/image_snapshots/text_test/text-max.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/services/MessageKey.java
  server/app/views/BaseHtmlView.java
  server/conf/i18n/messages
Labels: i18n

fixin tests
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: none

unit tests
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/export/CsvExporterTest.java
Labels: none

update
  server/test/services/export/CsvExporterTest.java
Labels: none

Updating more snapshots
  browser-test/image_snapshots/admin_predicates_test/review-page-has-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/summary-page-no-eligible-banner.png
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date.png
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  server/conf/i18n/messages
Labels: i18n

Update server/app/controllers/applicant/UpsellController.java
  server/app/controllers/applicant/UpsellController.java
Labels: none

Update server/app/controllers/applicant/UpsellController.java
  server/app/controllers/applicant/UpsellController.java
Labels: none

Update server/app/controllers/applicant/UpsellController.java
  server/app/controllers/applicant/UpsellController.java
Labels: none

Update server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ApplicantService.java
Labels: none

PdfExporterService receives application object instead of id
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ApplicationService.java
  server/app/services/applications/PdfExporterService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/test/services/applications/PdfExporterServiceTest.java
Labels: none

PdfExporterServiceTest - assert byte array equal
  server/test/services/applications/PdfExporterServiceTest.java
Labels: none

PdfExporterServiceTest taking validatePDFExport() from PdfExporter
  server/test/services/applications/PdfExporterServiceTest.java
Labels: none

bin/fmt
  server/test/services/applications/PdfExporterServiceTest.java
Labels: none

wildcard import fix
  server/test/services/applications/PdfExporterServiceTest.java
Labels: none

Added tooltip for question name field
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

Updated test snapshots to include info icon
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
Labels: none

Changed the wording
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

Making sure tooltip fits its container
  server/app/views/ViewUtils.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

Tooltip on the "Administrative Identifier" field in the question creation form (#5552)
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  server/app/views/ViewUtils.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: none

add admin names to question options
  server/app/services/question/QuestionOption.java
  server/conf/evolutions/default/57.sql
  server/test/services/question/types/QuestionOptionTest.java
Labels: database

Add admin names to QuestionOptions (#5540)
  server/app/services/question/QuestionOption.java
  server/conf/evolutions/default/57.sql
  server/test/services/question/types/QuestionOptionTest.java
Labels: database

Only load question data on index page for programs with eligibility conditions (#5517)
  server/app/services/program/ProgramServiceImpl.java
Labels: none

Remove database call to get question data on index page if not needed (#5493)
  server/app/services/applicant/ApplicantService.java
Labels: none

Update JSON to use admin names
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/applicant/question/SingleSelectQuestion.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/views/api/ApiDocsView.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/question/types/MultiOptionQuestionDefinitionTest.java
Labels: none

Update JSON to use admin names (#5566)
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/applicant/question/SingleSelectQuestion.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/views/api/ApiDocsView.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/question/types/MultiOptionQuestionDefinitionTest.java
Labels: none

Update CSV to use admin names
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: none

Update CSV to use admin names (#5567)
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: none

ProgramAdminApplicationService injects ApplicationService as a dependency
  server/app/controllers/applicant/UpsellController.java
  server/app/services/applications/ApplicationService.java
  server/app/services/applications/ProgramAdminApplicationService.java
Labels: none
