Repository civiform/civiform, pull requests merged in 2021-03, with the labels that each got.

#271 Create an new endpoint for generating mock content in the database in dev mode
  universal-application-tool-0.0.1/app/controllers/dev/DatabaseSeedController.java
  universal-application-tool-0.0.1/app/views/BaseHtmlLayout.java
  universal-application-tool-0.0.1/app/views/dev/DatabaseSeedView.java
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/app/BrowserTest.java
  universal-application-tool-0.0.1/test/controllers/dev/DatabaseSeedControllerTest.java
  universal-application-tool-0.0.1/test/repository/WithPostgresContainer.java
  universal-application-tool-0.0.1/test/support/TestConstants.java
Labels: infrastructure

#330 Controllers and views for adding/removing questions to blocks
  universal-application-tool-0.0.1/app/controllers/admin/AdminProgramBlockQuestionsController.java
  universal-application-tool-0.0.1/app/services/program/DuplicateProgramQuestionException.java
  universal-application-tool-0.0.1/app/services/program/ProgramBlockNotFoundException.java
  universal-application-tool-0.0.1/app/services/program/ProgramDefinition.java
  universal-application-tool-0.0.1/app/services/program/ProgramService.java
  universal-application-tool-0.0.1/app/services/program/ProgramServiceImpl.java
  universal-application-tool-0.0.1/app/services/question/QuestionNotFoundException.java
  universal-application-tool-0.0.1/app/views/BaseHtmlView.java
  universal-application-tool-0.0.1/app/views/admin/programs/ProgramBlockEditView.java
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/app/BaseBrowserTest.java
  universal-application-tool-0.0.1/test/app/ProgramAdministrationBrowserTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramDefinitionTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramServiceImplTest.java
Labels: P0

#353 Add how-to-contribute section and code of conduct to README
  README.md
  code_of_conduct.md
Labels: non-technical

#373 Clarify pull request and approval process
  README.md
Labels: decision

#379 Move dev stuff from README into wiki pages
  README.md
Labels: documentation

#466 Update project name
  README.md
Labels: documentation

#493 Document ScalarType, QuestionService, ProgramService, ApplicantService
  universal-application-tool-0.0.1/app/services/applicant/ApplicantService.java
  universal-application-tool-0.0.1/app/services/program/ProgramService.java
  universal-application-tool-0.0.1/app/services/question/QuestionService.java
  universal-application-tool-0.0.1/app/services/question/ScalarType.java
Labels: documentation

#505 Update PR template so `Fixed` works properly
  .github/pull_request_template.md
Labels: documentation

#550 setup playwright browser testing
  .gitignore
  bin/build-browser-tests
  bin/run-browser-tests
  bin/run-test-env
  browser-test/bin/truncate_tables.sh
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/browser-test-compose.yml
  browser-test/jest-playwright.config.js
  browser-test/jest.config.js
  browser-test/package.json
  browser-test/playwright.Dockerfile
  browser-test/src/landing_page.test.ts
  browser-test/src/other_page.test.ts
  browser-test/src/tsconfig.json
  browser-test/yarn.lock
  universal-application-tool-0.0.1/conf/application.conf
Labels: testing

#583 Mount sbt cache volumes in dev container
  docker-compose.yml
Labels: dev

#591 Run browser tests in CI
  .github/workflows/pr.yaml
  bin/pull-image
  bin/run-browser-tests-ci
Labels: dev
