Repository civiform/civiform, pull requests merged in 2021-04, with the labels that each got.

#780 Store option IDs for select, multiselect, radio, and checkbox questions in ApplicantData
  browser-test/src/application_review.test.ts
  browser-test/src/support/applicant_questions.ts
  universal-application-tool-0.0.1/app/controllers/dev/DatabaseSeedController.java
  universal-application-tool-0.0.1/app/forms/MultiOptionQuestionForm.java
  universal-application-tool-0.0.1/app/models/Question.java
  universal-application-tool-0.0.1/app/services/applicant/ApplicantData.java
  universal-application-tool-0.0.1/app/services/applicant/question/MultiSelectQuestion.java
  universal-application-tool-0.0.1/app/services/applicant/question/SingleSelectQuestion.java
  universal-application-tool-0.0.1/app/services/export/CsvExporter.java
  universal-application-tool-0.0.1/app/services/question/LocalizedQuestionOption.java
  universal-application-tool-0.0.1/app/services/question/QuestionOption.java
  universal-application-tool-0.0.1/app/services/question/types/CheckboxQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/types/DropdownQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/types/MultiOptionQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/types/QuestionDefinitionBuilder.java
  universal-application-tool-0.0.1/app/services/question/types/RadioButtonQuestionDefinition.java
  universal-application-tool-0.0.1/app/views/questiontypes/CheckboxQuestionRenderer.java
  universal-application-tool-0.0.1/app/views/questiontypes/DropdownQuestionRenderer.java
  universal-application-tool-0.0.1/app/views/questiontypes/RadioButtonQuestionRenderer.java
  universal-application-tool-0.0.1/conf/evolutions/default/15.sql
  universal-application-tool-0.0.1/test/forms/CheckboxQuestionFormTest.java
  universal-application-tool-0.0.1/test/forms/DropdownQuestionFormTest.java
  universal-application-tool-0.0.1/test/forms/MultiOptionQuestionFormTest.java
  universal-application-tool-0.0.1/test/forms/RadioButtonQuestionFormTest.java
  universal-application-tool-0.0.1/test/models/QuestionTest.java
  universal-application-tool-0.0.1/test/services/applicant/ApplicantDataTest.java
  universal-application-tool-0.0.1/test/services/applicant/ApplicantServiceImplTest.java
  universal-application-tool-0.0.1/test/services/applicant/question/ApplicantQuestionTest.java
  universal-application-tool-0.0.1/test/services/applicant/question/MultiSelectQuestionTest.java
  universal-application-tool-0.0.1/test/services/applicant/question/SingleSelectQuestionTest.java
  universal-application-tool-0.0.1/test/services/export/CsvExporterTest.java
  universal-application-tool-0.0.1/test/services/question/types/MultiOptionQuestionDefinitionTest.java
  universal-application-tool-0.0.1/test/services/question/types/QuestionOptionTest.java
  universal-application-tool-0.0.1/test/views/questiontypes/CheckboxQuestionRendererTest.java
  universal-application-tool-0.0.1/test/views/questiontypes/RadioButtonQuestionRendererTest.java
Labels: Question types

#826 Allow an applicant to set their preferred language
  browser-test/src/application_csv_download.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/support/index.ts
  universal-application-tool-0.0.1/app/controllers/HomeController.java
  universal-application-tool-0.0.1/app/controllers/applicant/ApplicantInformationController.java
  universal-application-tool-0.0.1/app/forms/ApplicantInformationForm.java
  universal-application-tool-0.0.1/app/models/Applicant.java
  universal-application-tool-0.0.1/app/services/applicant/ApplicantData.java
  universal-application-tool-0.0.1/app/views/applicant/ApplicantInformationView.java
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/app/SecurityBrowserTest.java
  universal-application-tool-0.0.1/test/controllers/applicant/ApplicantInformationControllerTest.java
  universal-application-tool-0.0.1/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  universal-application-tool-0.0.1/test/controllers/applicant/ApplicantProgramsControllerTest.java
  universal-application-tool-0.0.1/test/controllers/applicant/WithMockedApplicantProfiles.java
  universal-application-tool-0.0.1/test/models/ApplicantTest.java
  universal-application-tool-0.0.1/test/services/applicant/ApplicantDataTest.java
Labels: i18n

#835 Repeater/blocks
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  universal-application-tool-0.0.1/app/controllers/admin/AdminProgramBlocksController.java
  universal-application-tool-0.0.1/app/services/program/ProgramBlockNotFoundException.java
  universal-application-tool-0.0.1/app/services/program/ProgramDefinition.java
  universal-application-tool-0.0.1/app/services/program/ProgramService.java
  universal-application-tool-0.0.1/app/services/program/ProgramServiceImpl.java
  universal-application-tool-0.0.1/app/views/admin/programs/ProgramBlockEditView.java
  universal-application-tool-0.0.1/test/services/program/ProgramServiceImplTest.java
Labels: repeated entities

#821 Add `localizedName` and `localizedDescription` to the admin Program form
  browser-test/src/support/admin_programs.ts
  universal-application-tool-0.0.1/app/controllers/admin/AdminProgramController.java
  universal-application-tool-0.0.1/app/controllers/dev/DatabaseSeedController.java
  universal-application-tool-0.0.1/app/forms/ProgramForm.java
  universal-application-tool-0.0.1/app/models/Program.java
  universal-application-tool-0.0.1/app/services/LocalizationUtils.java
  universal-application-tool-0.0.1/app/services/program/ProgramDefinition.java
  universal-application-tool-0.0.1/app/services/program/ProgramService.java
  universal-application-tool-0.0.1/app/services/program/ProgramServiceImpl.java
  universal-application-tool-0.0.1/app/views/BaseHtmlView.java
  universal-application-tool-0.0.1/app/views/admin/programs/ProgramEditView.java
  universal-application-tool-0.0.1/app/views/admin/programs/ProgramFormBuilder.java
  universal-application-tool-0.0.1/app/views/admin/programs/ProgramNewOneView.java
  universal-application-tool-0.0.1/test/controllers/admin/AdminProgramControllerTest.java
  universal-application-tool-0.0.1/test/repository/ApplicationRepositoryTest.java
  universal-application-tool-0.0.1/test/repository/ProgramRepositoryTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramDefinitionTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramServiceImplTest.java
  universal-application-tool-0.0.1/test/support/ProgramBuilder.java
Labels: i18n

#841 Display supported languages for each question in admin view
  universal-application-tool-0.0.1/app/controllers/dev/DatabaseSeedController.java
  universal-application-tool-0.0.1/app/services/question/types/MultiOptionQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/types/QuestionDefinition.java
  universal-application-tool-0.0.1/app/views/admin/questions/QuestionsListView.java
  universal-application-tool-0.0.1/test/forms/CheckboxQuestionFormTest.java
  universal-application-tool-0.0.1/test/forms/DropdownQuestionFormTest.java
  universal-application-tool-0.0.1/test/forms/MultiOptionQuestionFormTest.java
  universal-application-tool-0.0.1/test/forms/RadioButtonQuestionFormTest.java
  universal-application-tool-0.0.1/test/services/question/types/MultiOptionQuestionDefinitionTest.java
  universal-application-tool-0.0.1/test/services/question/types/QuestionDefinitionTest.java
Labels: i18n

#840 Use secure cookies in prod
  browser-test/browser-test-compose.yml
  docker-compose.yml
  universal-application-tool-0.0.1/conf/application.conf
  universal-application-tool-0.0.1/conf/application.dev.conf
  universal-application-tool-0.0.1/conf/application.test.conf
Labels: security

#902 Add minimum support for Seattle's top-tier languages
  universal-application-tool-0.0.1/app/views/applicant/ApplicantInformationView.java
  universal-application-tool-0.0.1/conf/application.conf
  universal-application-tool-0.0.1/conf/messages
  universal-application-tool-0.0.1/conf/messages.am
  universal-application-tool-0.0.1/conf/messages.en-US
  universal-application-tool-0.0.1/conf/messages.es-US
  universal-application-tool-0.0.1/conf/messages.ko
  universal-application-tool-0.0.1/conf/messages.so
  universal-application-tool-0.0.1/conf/messages.tl
  universal-application-tool-0.0.1/conf/messages.vi
  universal-application-tool-0.0.1/conf/messages.zh-TW
  universal-application-tool-0.0.1/test/controllers/applicant/ApplicantInformationControllerTest.java
Labels: i18n
