Repository civiform/civiform, pull requests merged in 2021-02, with the labels that each got.

#69 Add subdirs for services
  universal-application-tool-0.0.1/app/services/applicant/.keep
  universal-application-tool-0.0.1/app/services/program/.keep
  universal-application-tool-0.0.1/app/services/question/.keep
  universal-application-tool-0.0.1/test/services/applicant/.keep
  universal-application-tool-0.0.1/test/services/program/.keep
  universal-application-tool-0.0.1/test/services/question/.keep
Labels: decision

#115 Create QuestionService interface
  universal-application-tool-0.0.1/app/services/question/InvalidPathException.java
  universal-application-tool-0.0.1/app/services/question/PathType.java
  universal-application-tool-0.0.1/app/services/question/QuestionService.java
Labels: Question service

#116 Program component data types
  universal-application-tool-0.0.1/app/services/program/.keep
  universal-application-tool-0.0.1/app/services/program/BlockDefinition.java
  universal-application-tool-0.0.1/app/services/program/Predicate.java
  universal-application-tool-0.0.1/app/services/program/ProgramDefinition.java
  universal-application-tool-0.0.1/build.sbt
  universal-application-tool-0.0.1/test/services/program/.keep
  universal-application-tool-0.0.1/test/services/program/BlockDefinitionTest.java
  universal-application-tool-0.0.1/test/services/program/PredicateTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramDefinitionTest.java
Labels: Program service

#125 Create a basic Program Interface
  universal-application-tool-0.0.1/app/services/program/BlockDefinition.java
  universal-application-tool-0.0.1/app/services/program/ProgramService.java
  universal-application-tool-0.0.1/test/services/program/BlockDefinitionTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramDefinitionTest.java
Labels: Program service

#148 Add interfaces for Applicant Service
  universal-application-tool-0.0.1/app/services/ErrorAnd.java
  universal-application-tool-0.0.1/app/services/applicant/ApplicantService.java
  universal-application-tool-0.0.1/app/services/applicant/Block.java
  universal-application-tool-0.0.1/app/services/applicant/ReadOnlyApplicantProgramService.java
  universal-application-tool-0.0.1/app/services/applicant/Update.java
  universal-application-tool-0.0.1/app/services/applicant/UpdateError.java
  universal-application-tool-0.0.1/test/services/ErrorAndTest.java
Labels: Applicant service

#149 Set up j2html demo
  universal-application-tool-0.0.1/app/controllers/J2HtmlDemoController.java
  universal-application-tool-0.0.1/app/views/BaseHtmlView.java
  universal-application-tool-0.0.1/app/views/J2HtmlDemo.java
  universal-application-tool-0.0.1/app/views/ViewUtils.java
  universal-application-tool-0.0.1/build.sbt
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/views/BaseHtmlViewTest.java
  universal-application-tool-0.0.1/test/views/ViewUtilsTest.java
Labels: decision

#153 ProgramService Implemented
  universal-application-tool-0.0.1/app/models/BlockContainer.java
  universal-application-tool-0.0.1/app/models/Program.java
  universal-application-tool-0.0.1/app/repository/ProgramRepository.java
  universal-application-tool-0.0.1/app/services/program/BlockDefinition.java
  universal-application-tool-0.0.1/app/services/program/Predicate.java
  universal-application-tool-0.0.1/app/services/program/ProgramBlockNotFoundException.java
  universal-application-tool-0.0.1/app/services/program/ProgramDefinition.java
  universal-application-tool-0.0.1/app/services/program/ProgramNotFoundException.java
  universal-application-tool-0.0.1/app/services/program/ProgramService.java
  universal-application-tool-0.0.1/app/services/program/ProgramServiceImpl.java
  universal-application-tool-0.0.1/test/models/ProgramTest.java
  universal-application-tool-0.0.1/test/repository/ProgramRepositoryTest.java
  universal-application-tool-0.0.1/test/repository/WithResettingPostgresContainer.java
  universal-application-tool-0.0.1/test/services/program/ProgramServiceImplTest.java
Labels: Program service

#167 Views and controllers for listing and creating new programs
  universal-application-tool-0.0.1/app/Module.java
  universal-application-tool-0.0.1/app/controllers/admin/AdminProgramController.java
  universal-application-tool-0.0.1/app/controllers/admin/CreateAppController.java
  universal-application-tool-0.0.1/app/forms/ProgramForm.java
  universal-application-tool-0.0.1/app/views/BaseHtmlView.java
  universal-application-tool-0.0.1/app/views/ViewUtils.java
  universal-application-tool-0.0.1/app/views/admin/ProgramListView.java
  universal-application-tool-0.0.1/app/views/admin/ProgramNewOneView.java
  universal-application-tool-0.0.1/app/views/admin/create_app.scala.html
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/controllers/admin/AdminProgramControllerTest.java
Labels: Program service

#173 Implement ReadOnlyQuestionService
  universal-application-tool-0.0.1/app/services/question/AddressQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/NameQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/PathType.java
  universal-application-tool-0.0.1/app/services/question/QuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/QuestionService.java
  universal-application-tool-0.0.1/app/services/question/ReadOnlyQuestionService.java
  universal-application-tool-0.0.1/app/services/question/ReadOnlyQuestionServiceImpl.java
  universal-application-tool-0.0.1/app/services/question/TranslationNotFoundException.java
  universal-application-tool-0.0.1/test/models/ProgramTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramServiceImplTest.java
  universal-application-tool-0.0.1/test/services/program/test/FakeProgramServiceTest.java
  universal-application-tool-0.0.1/test/services/question/QuestionDefinitionTest.java
  universal-application-tool-0.0.1/test/services/question/ReadOnlyQuestionServiceImplTest.java
Labels: Question service

#183 Create BaseHtmlLayout and ApplicantLayout that extends it
  universal-application-tool-0.0.1/app/views/ApplicantLayout.java
  universal-application-tool-0.0.1/app/views/BaseHtmlLayout.java
  universal-application-tool-0.0.1/app/views/BaseHtmlView.java
  universal-application-tool-0.0.1/app/views/J2HtmlDemo.java
  universal-application-tool-0.0.1/app/views/LoginForm.java
  universal-application-tool-0.0.1/app/views/ViewUtils.java
  universal-application-tool-0.0.1/app/views/admin/ProgramListView.java
  universal-application-tool-0.0.1/app/views/admin/ProgramNewOneView.java
  universal-application-tool-0.0.1/test/views/BaseHtmlLayoutTest.java
  universal-application-tool-0.0.1/test/views/BaseHtmlViewTest.java
  universal-application-tool-0.0.1/test/views/ViewUtilsTest.java
Labels: views

#186 Allow credentialless login.
  universal-application-tool-0.0.1/app/auth/GuestClient.java
  universal-application-tool-0.0.1/app/auth/ProfileFactory.java
  universal-application-tool-0.0.1/app/auth/UATProfile.java
  universal-application-tool-0.0.1/app/controllers/CallbackController.java
  universal-application-tool-0.0.1/app/controllers/HomeController.java
  universal-application-tool-0.0.1/app/controllers/ProfileController.java
  universal-application-tool-0.0.1/app/modules/SecurityModule.java
  universal-application-tool-0.0.1/app/views/BaseHtmlView.java
  universal-application-tool-0.0.1/app/views/LoginForm.java
  universal-application-tool-0.0.1/app/views/ProfileView.java
  universal-application-tool-0.0.1/app/views/admin/ProgramListView.java
  universal-application-tool-0.0.1/conf/evolutions/default/5.sql
  universal-application-tool-0.0.1/conf/logback.xml
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/BrowserTest.java
  universal-application-tool-0.0.1/test/controllers/HomeControllerTest.java
Labels: authentication

#197 Question service
  universal-application-tool-0.0.1/app/Module.java
  universal-application-tool-0.0.1/app/models/Question.java
  universal-application-tool-0.0.1/app/repository/QuestionRepository.java
  universal-application-tool-0.0.1/app/services/question/PathType.java
  universal-application-tool-0.0.1/app/services/question/QuestionDefinitionBuilder.java
  universal-application-tool-0.0.1/app/services/question/QuestionServiceImpl.java
  universal-application-tool-0.0.1/conf/evolutions/default/3.sql
  universal-application-tool-0.0.1/test/services/question/QuestionServiceImplTest.java
Labels: P0, Question service

#203 Re-use application for tests in the same class
  universal-application-tool-0.0.1/test/repository/WithPostgresContainer.java
Labels: testing

#202 Applicant can view program form
  universal-application-tool-0.0.1/app/controllers/ApplicantProgramBlocksController.java
  universal-application-tool-0.0.1/app/modules/MainModule.java
  universal-application-tool-0.0.1/app/services/applicant/ApplicantData.java
  universal-application-tool-0.0.1/app/services/applicant/ApplicantQuestion.java
  universal-application-tool-0.0.1/app/services/applicant/ApplicantService.java
  universal-application-tool-0.0.1/app/services/applicant/ApplicantServiceImpl.java
  universal-application-tool-0.0.1/app/services/applicant/Block.java
  universal-application-tool-0.0.1/app/services/applicant/ReadOnlyApplicantProgramService.java
  universal-application-tool-0.0.1/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  universal-application-tool-0.0.1/app/views/applicant/ApplicantProgramBlockEditView.java
  universal-application-tool-0.0.1/app/views/questiontypes/ApplicantQuestionRenderer.java
  universal-application-tool-0.0.1/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  universal-application-tool-0.0.1/app/views/questiontypes/NameQuestionRenderer.java
  universal-application-tool-0.0.1/app/views/questiontypes/TextQuestionRenderer.java
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/controllers/HomeControllerAuthenticatedTest.java
  universal-application-tool-0.0.1/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  universal-application-tool-0.0.1/test/controllers/applicant/ApplicantProgramsControllerTest.java
  universal-application-tool-0.0.1/test/repository/WithPostgresContainer.java
  universal-application-tool-0.0.1/test/services/applicant/ApplicantServiceImplTest.java
  universal-application-tool-0.0.1/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  universal-application-tool-0.0.1/test/support/ResourceFabricator.java
Labels: Applicant service

#219 Implement question controller with routes for viewing, creating, and editing QuestionDefinitions.
  universal-application-tool-0.0.1/app/controllers/admin/QuestionController.java
  universal-application-tool-0.0.1/app/forms/QuestionForm.java
  universal-application-tool-0.0.1/app/views/BaseHtmlView.java
  universal-application-tool-0.0.1/app/views/admin/questions/QuestionEditView.java
  universal-application-tool-0.0.1/app/views/admin/questions/QuestionTableCell.java
  universal-application-tool-0.0.1/app/views/admin/questions/QuestionsListView.java
  universal-application-tool-0.0.1/conf/routes
  universal-application-tool-0.0.1/test/controllers/admin/QuestionControllerTest.java
  universal-application-tool-0.0.1/test/forms/QuestionFormTest.java
Labels: Question service, views

#253 Convert QuestionHelpText to ImmutableMap, unwrapping the unnecessary Optional.
  universal-application-tool-0.0.1/app/forms/QuestionForm.java
  universal-application-tool-0.0.1/app/models/Question.java
  universal-application-tool-0.0.1/app/services/question/AddressQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/NameQuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/QuestionDefinition.java
  universal-application-tool-0.0.1/app/services/question/QuestionDefinitionBuilder.java
  universal-application-tool-0.0.1/app/services/question/TextQuestionDefinition.java
  universal-application-tool-0.0.1/test/controllers/admin/QuestionControllerTest.java
  universal-application-tool-0.0.1/test/forms/QuestionFormTest.java
  universal-application-tool-0.0.1/test/models/ProgramTest.java
  universal-application-tool-0.0.1/test/models/QuestionTest.java
  universal-application-tool-0.0.1/test/repository/QuestionRepositoryTest.java
  universal-application-tool-0.0.1/test/services/applicant/ApplicantServiceImplTest.java
  universal-application-tool-0.0.1/test/services/program/ProgramServiceImplTest.java
  universal-application-tool-0.0.1/test/services/question/QuestionDefinitionTest.java
  universal-application-tool-0.0.1/test/services/question/QuestionServiceImplTest.java
  universal-application-tool-0.0.1/test/services/question/ReadOnlyQuestionServiceImplTest.java
  universal-application-tool-0.0.1/test/support/ResourceFabricator.java
Labels: Question service
