Repository civiform/civiform, pull requests merged in 2022-11, with the labels that each got.

#3736 Extract block question validation logic into separate utility class
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/services/ProgramBlockValidation.java
  server/app/services/program/CantAddQuestionToBlockException.java
  server/app/services/program/DuplicateProgramQuestionException.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/components/QuestionBank.java
  server/test/services/ProgramBlockValidationTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature

#3754 Fix scrolling issue with question bank question
  server/app/views/components/CreateQuestionButton.java
Labels: bug

#3742 Redirect admin to program block edit page after they update program name or description
  browser-test/src/address.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/civiform_admin_program_statuses.test.ts
  browser-test/src/civiform_admin_publish.test.ts
  browser-test/src/civiform_admin_question_references.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/text.test.ts
  server/app/controllers/admin/AdminProgramController.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: bug

#3743 Finish wiring up And and Or Predicate Nodes in evaluator and database.
  server/app/services/program/predicate/ConcretePredicateExpressionNode.java
  server/app/services/program/predicate/OrNode.java
  server/test/services/applicant/predicate/PredicateEvaluatorTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature

#3755 Add two sbt commands to run civiform and dev and browser test modes
  browser-test/browser-test-compose.dev.yml
  browser-test/browser-test-compose.yml
  docker-compose.dev.yml
  docker-compose.yml
  server/build.sbt
  server/conf/application.dev-browser-tests.conf
Labels: ignore-for-release

#3756 Remove noisy " Application {} does not include an applicant name" warning
  server/app/services/applicant/ApplicantData.java
Labels: ignore-for-release

#3757 Show public program name and description on block edit page
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  server/app/views/admin/programs/ProgramBlockView.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
Labels: bug

#3753 Closes #816: Add maxlength to all input fields.
  browser-test/image_snapshots/text_test/text-max.png
  browser-test/src/text.test.ts
  server/app/views/components/FieldWithLabel.java
  server/test/views/components/FieldWithLabelTest.java
Labels: bug

#3767 only run prettier and eslint if TS files were modified
  formatter/fmt
Labels: ignore-for-release

#3769 Normalize image diff Timezones to PDT
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3790 Fix "Create account" link for idcs use case
  server/app/auth/AuthIdentityProviderName.java
  server/app/controllers/LoginController.java
  server/app/views/LoginForm.java
  server/test/auth/AuthIdentityProviderNameTest.java
Labels: bug

#3791 rename upload to save and next
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/image_snapshots/file_test/file.png
  browser-test/src/application_review.test.ts
  browser-test/src/file.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/FileUploadViewStrategy.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: feature

#3745 Adding state as dropdown in Address Questions
  browser-test/image_snapshots/address_test/address-errors.png
  browser-test/image_snapshots/address_test/address.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/src/address.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/style/AdminStyles.java
  server/conf/messages
  server/conf/messages.en-US
  server/test/views/questiontypes/AddressRendererTest.java
Labels: feature, Program Feedback, admin-ui

#3793 cleanup legacy routes controller
  server/app/controllers/LegacyRoutesController.java
  server/conf/routes
Labels: tech-debt

#3779 Renovate not grouping Jackson
  renovate.json
Labels: ignore-for-release

#3797 Sort Address state options alphabetically.
  server/app/views/questiontypes/AddressQuestionRenderer.java
Labels: feature

#3796 if register_uri is set show create account button
  browser-test/browser-test-compose.yml
  browser-test/image_snapshots/application_navigation_test/landing-page.png
  browser-test/image_snapshots/landing_page_test/landing-page.png
  browser-test/src/landing_page.test.ts
  docker-compose.yml
  server/app/controllers/LoginController.java
  server/app/views/LoginForm.java
  server/conf/application.conf
Labels: feature

#3804 Don't explicitly set width/height on svg elements
  server/app/views/ViewUtils.java
  server/app/views/components/Icons.java
Labels: ignore-for-release

#3811 fix prober to not check for create on aws staging
  browser-test/src/landing_page.test.ts
Labels: ignore-for-release

#3805 Add pencil icon to edit button on program overview page
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/text_test/text-max.png
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/components/LinkElement.java
Labels: feature

#3815 Fix program card external link rendering
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/src/application_navigation.test.ts
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/LinkElement.java
Labels: bug

#3816 Add required question indicators to Application Review page
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: feature

#3813 Add 5s wait between when polling server in browser tests
  browser-test/bin/wait_for_server_start_and_run_tests.sh
Labels: ignore-for-release

#3822 Update release.yml to better handle labels
  .github/release.yml
Labels: infrastructure

#3826 Remove `--force` from npm install
  .github/workflows/format.yaml
  browser-test/.npmrc
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/package-lock.json
  browser-test/playwright.Dockerfile
  formatter/fmt
  formatter/formatter.Dockerfile
Labels: ignore-for-release

#3800 remove idcs_register_uri in favor of applicant_register_uri
  server/conf/application.conf
Labels: feature

#3798 Refactor enumerator js code into its own file
  server/app/assets/javascripts/enumerator.ts
  server/app/assets/javascripts/main.ts
  server/app/views/applicant/ApplicantProgramBlockEditView.java
Labels: ignore-for-release

#3820 Jessbumblebee/dateconversion3
  server/app/services/DateConverter.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporter.java
  server/test/services/DateConverterTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/export/JsonExporterTest.java
Labels: bug

#3833 Don't clear cml output and lazy load browser test server
  bin/run-browser-test-env
Labels: ignore-for-release

#3837 Doc and code cleanup ApplicantProgramBlocksController.update()
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
Labels: ignore-for-release

#3838 code cleanup for ReadOnlyApplicantProgramServiceImpl
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: ignore-for-release

#3839 Show flag settings on the dev feature flag page
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/featureflags/FeatureFlags.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
Labels: feature

#3847 Fixing security alerts
  .github/workflows/assign_issues_to_project.yaml
  .github/workflows/pr_server_skip.yaml
  .github/workflows/release.yaml
Labels: ignore-for-release

#3834 Improve custom logout url support
  server/app/auth/oidc/CustomOidcLogoutRequest.java
  server/conf/application.conf
  server/test/auth/oidc/CustomOidcLogoutRequestTest.java
Labels: feature

#3858 Add currency to predicate options
  browser-test/src/admin_predicates.test.ts
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/services/program/predicate/LeafOperationExpressionNode.java
  server/app/services/program/predicate/Operator.java
  server/app/services/program/predicate/PredicateValue.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/services/program/predicate/PredicateValueTest.java
Labels: feature

#3860 Expand predicate test to evaluate negative assertions.
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: testing, ignore-for-release

#3865 Explicitly wait for browser to end up on login page after logout
  browser-test/src/auth.test.ts
Labels: ignore-for-release

#3809 Refactor run-dev and sbt commands
  Dockerfile
  bin/lib/docker.sh
  bin/run-dev
  bin/sbt
  browser-test/browser-test-compose.yml
  docker-compose.dev.yml
  docker-compose.yml
  entrypoint.sh
  server/entrypoint.sh
Labels: infrastructure
