Repository civiform/civiform, pull requests merged in 2022-12, with the labels that each got.

#3868 Update UI translations for Tagalog, Korean, Mandarin, Spanish, Vietnamese, Amharic, and English
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: i18n

#3876 Remove default hardcoded google analytics id and allow it to be empty
  server/app/views/BaseHtmlLayout.java
  server/conf/application.conf
  server/test/views/BaseHtmlLayoutTest.java
Labels: bug

#3869 Refactor JS files to use consistent initialization pattern
  server/app/assets/javascripts/admin_applications.ts
  server/app/assets/javascripts/azure_delete.ts
  server/app/assets/javascripts/azure_upload.ts
  server/app/assets/javascripts/dev_icons.ts
  server/app/views/AwsFileUploadViewStrategy.java
  server/app/views/AzureFileUploadViewStrategy.java
  server/app/views/FileUploadViewStrategy.java
  server/app/views/dev/IconsView.java
  server/app/views/style/ReferenceClasses.java
Labels: infrastructure

#3894 Rename only use of ViewOnly to common ReadOnly
  server/app/views/admin/questions/QuestionEditView.java
Labels: ignore-for-release

#3875 Fail browser tests if detecting JS or network error within browser
  browser-test/src/error_pages.test.ts
  browser-test/src/file.test.ts
  browser-test/src/security.test.ts
  browser-test/src/support/browser_error_watcher.ts
  browser-test/src/support/error_pages.ts
  browser-test/src/support/index.ts
  formatter/fmt
  server/app/assets/javascripts/main.ts
  server/app/views/admin/questions/QuestionEditView.java
Labels: bug

#3891 Ensure application data consistency at submit time
  server/app/models/Application.java
  server/app/repository/ApplicationRepository.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/export/AbstractExporterTest.java
Labels: bug

#3898 Add model PersistedDurableJob
  server/app/models/PersistedDurableJob.java
  server/conf/evolutions/default/46.sql
  server/test/models/PersistedDurableJobTest.java
Labels: feature, ignore-for-release

#3901 updates edit program link to redirect to last block
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: bug

#3907 Add flag to disable browser error watcher
  browser-test/src/support/config.ts
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3908 Disable "submit form on Enter" behavior
  browser-test/src/text.test.ts
  server/app/assets/javascripts/main.ts
Labels: bug

#3861 Add initial JS bundling support
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/package-lock.json
  server/package.json
  server/project/TypescriptBuilder.scala
  server/webpack.config.js
Labels: infrastructure, ignore-for-release

#3909 Add `use_js_bundles` feature flag
  server/app/featureflags/FeatureFlags.java
  server/app/views/AzureFileUploadViewStrategy.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/HtmlBundle.java
  server/app/views/JsBundle.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/AdminLayoutFactory.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/dev/IconsView.java
  server/conf/application.conf
  server/test/views/BaseHtmlLayoutTest.java
  server/test/views/HtmlBundleTest.java
Labels: feature

#3910 Refactor JS to prepare for JS bundling migrationg
  server/app/assets/javascripts/admin_validation.ts
  server/app/assets/javascripts/enumerator.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/javascripts/toast.ts
Labels: feature

#3902 Cleanup param name: id -> programId
  server/app/views/admin/programs/ProgramEditView.java
Labels: tech-debt, ignore-for-release

#3918 Clarify naming in complicated program building tests
  server/test/services/program/ProgramDefinitionTest.java
Labels: tech-debt, ignore-for-release

#3921 Enable JS bundles
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/views/admin/programs/ProgramApplicationView.java
  server/conf/application.conf
  server/test/views/BaseHtmlLayoutTest.java
Labels: feature

#3913 Make body scrollable on admin pages
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active.png
  browser-test/src/admin_application_statuses.test.ts
  server/app/assets/javascripts/questionBank.ts
  server/app/assets/javascripts/toast.ts
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/components/QuestionBank.java
  server/app/views/style/AdminStyles.java
  server/app/views/style/BaseStyles.java
  server/test/views/HtmlBundleTest.java
Labels: ignore-for-release

#3922 Add data model and storage for Eligibility configuration
  server/app/services/program/BlockDefinition.java
  server/app/services/program/EligibilityDefinition.java
  server/test/services/program/BlockDefinitionTest.java
  server/test/services/program/EligibilityDefinitionTest.java
Labels: eligibility, feature

#3923 Add program eligibility feature flag
  server/app/featureflags/FeatureFlags.java
  server/conf/application.conf
  server/test/featureflags/FeatureFlagsTest.java
Labels: eligibility, feature

#3925 Make screenshots full page by default
  browser-test/image_snapshots/address_test/address-errors.png
  browser-test/image_snapshots/address_test/address.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status.png
  browser-test/image_snapshots/application_navigation_test/language-selection.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors.png
  browser-test/image_snapshots/checkbox_test/checkbox.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-program-modal.png
  browser-test/image_snapshots/name_test/name-errors.png
  browser-test/image_snapshots/name_test/name.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active.png
  browser-test/image_snapshots/text_test/text-max.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/support/index.ts
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/app/views/style/ReferenceClasses.java
Labels: ignore-for-release

#3928 Add screenshots for currently not-covered parts of CiviForm
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page.png
  browser-test/image_snapshots/admin_api_keys_test/new-api-key-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_translation_test/question-translation.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/manage-ti-group-members-page.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-groups-page.png
  browser-test/src/admin_api_keys.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/index.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/admin/apikeys/ApiKeyIndexView.java
  server/app/views/style/ReferenceClasses.java
Labels: ignore-for-release

#3903 Fix JS error during file upload on azure
  browser-test/src/file.test.ts
  server/app/assets/javascripts/azure_upload.ts
Labels: bug

#3893 Add a flag that will allow enabling the view only view of a program
  server/app/featureflags/FeatureFlags.java
  server/conf/application.conf
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/test/featureflags/FeatureFlagsTest.java
Labels: program-admin, feature, admin-ui

#3936 Migrate quesiton edit, API key and translation pages to use standard buttons
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page.png
  browser-test/image_snapshots/admin_api_keys_test/new-api-key-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_translation_test/question-translation.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_review.test.ts
  server/app/assets/javascripts/main.ts
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/apikeys/ApiKeyIndexView.java
  server/app/views/admin/apikeys/ApiKeyNewOneView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/LinkElement.java
Labels: feature

#3926 Refactor evaluation of Visibility questions and add getting of Eligibility questions
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/services/program/ProgramDefinition.java
  server/test/services/program/ProgramDefinitionTest.java
Labels: eligibility, ignore-for-release

#3914 Ignore sporadic failures coming from browser error watcher
  browser-test/src/support/browser_error_watcher.ts
Labels: ignore-for-release

#3945 Fix preview of checkbox and radio button questions
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  server/app/assets/javascripts/preview.ts
  server/app/views/admin/questions/QuestionConfig.java
Labels: bug

#3949 Migrate TI tab and few other pages to use standard buttons
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/admin_program_admins_test/add-program-admin-error.png
  browser-test/image_snapshots/trusted_intermediary_test/manage-ti-group-members-page.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-groups-page.png
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ManageProgramAdminsView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
  server/app/views/admin/ti/TrustedIntermediaryGroupListView.java
  server/app/views/components/LinkElement.java
Labels: feature

#3953 Update general predicate code naming to specify visibility ahead of the el…
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/style/ReferenceClasses.java
Labels: ignore-for-release

#3911 Unify required question asterisk styling and fix screen-reader text
  browser-test/image_snapshots/address_test/address-errors.png
  browser-test/image_snapshots/address_test/address.png
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors.png
  browser-test/image_snapshots/checkbox_test/checkbox.png
  browser-test/image_snapshots/currency_test/currency-errors.png
  browser-test/image_snapshots/currency_test/currency.png
  browser-test/image_snapshots/date_test/date-errors.png
  browser-test/image_snapshots/date_test/date.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors.png
  browser-test/image_snapshots/dropdown_test/dropdown.png
  browser-test/image_snapshots/email_test/email-errors.png
  browser-test/image_snapshots/email_test/email.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator.png
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/image_snapshots/file_test/file.png
  browser-test/image_snapshots/id_test/id-errors.png
  browser-test/image_snapshots/id_test/id.png
  browser-test/image_snapshots/name_test/name-errors.png
  browser-test/image_snapshots/name_test/name.png
  browser-test/image_snapshots/number_input_test/number-errors.png
  browser-test/image_snapshots/number_input_test/number.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors.png
  browser-test/image_snapshots/radio_button_test/radio-button.png
  browser-test/image_snapshots/static_text_test/static-text.png
  browser-test/image_snapshots/text_test/text-errors.png
  browser-test/image_snapshots/text_test/text.png
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/TextFormatter.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
  server/test/views/components/TextFormatterTest.java
Labels: a11y, feature

#3960 Update AWS java deps and change S3 setup for localstack
  docker-compose.yml
  server/app/services/cloud/aws/SimpleStorage.java
  server/build.sbt
  server/conf/application.conf
Labels: ignore-for-release

#3964 Remove admin restriction to allow applicant flows to set feature flags
  server/app/controllers/dev/FeatureFlagOverrideController.java
Labels: ignore-for-release

#3966 Remove unused param in ApplicantService.createApplicant()
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: tech-debt, ignore-for-release

#3937 Add screenshot for applications page browser test
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/src/application_download.test.ts
Labels: ignore-for-release

#3892 Use "localhoost:<port number>" for test and development environments to fix security vulnerability
  bin/lib/docker.sh
  bin/run-dev
  bin/sbt-test
  browser-test/browser-test-compose.dev.yml
Labels: infrastructure

#3932 Add eligibility feature
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicate.png
  browser-test/image_snapshots/admin_predicates_test/ineligible.png
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/admin_predicates.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/Block.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/program/predicate/PredicateAction.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/style/ReferenceClasses.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/routes
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
Labels: ignore-for-release

#3971 Consistently use `localhost.localstack.cloud` host to access localstack in tests
  bin/localstack/lib.sh
  browser-test/browser-test-compose.yml
  browser-test/src/support/config.ts
Labels: ignore-for-release

#3972 Update setBlockPredicate to take Optional instead of @Nullable
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: ignore-for-release

#3970 Clean up USE_JS_BUNDLES flags
  server/app/featureflags/FeatureFlags.java
  server/app/views/AzureFileUploadViewStrategy.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/HtmlBundle.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/dev/IconsView.java
  server/conf/application.conf
  server/project/TypescriptBuilder.scala
  server/test/views/BaseHtmlLayoutTest.java
  server/test/views/HtmlBundleTest.java
Labels: feature

#3957 Migrate SecurityBrowserTest.java to TS browser tests
  browser-test/src/auth.test.ts
  browser-test/src/security.test.ts
  browser-test/src/support/index.ts
  server/test/app/BaseBrowserTest.java
  server/test/app/SecurityBrowserTest.java
Labels: ignore-for-release

#3956 Truly center content of buttons
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicate.png
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_program_admins_test/add-program-admin-error.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/image_snapshots/civiform_admin_program_statuses_test/create-new-status-modal.png
  browser-test/image_snapshots/civiform_admin_program_statuses_test/status-list-with-no-statuses.png
  browser-test/image_snapshots/civiform_admin_program_statuses_test/status-list-with-statuses.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-program-modal.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-used-in-programs.png
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active.png
  browser-test/image_snapshots/trusted_intermediary_test/manage-ti-group-members-page.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-groups-page.png
  server/app/views/ViewUtils.java
Labels: ignore-for-release

#3920 Fixes "no file chosen" issue with file upload input
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/image_snapshots/file_test/file.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  server/app/assets/javascripts/file_upload.ts
  server/app/views/AwsFileUploadViewStrategy.java
  server/app/views/AzureFileUploadViewStrategy.java
  server/app/views/FileUploadViewStrategy.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/style/ApplicantStyles.java
Labels: bug

#3978 Explicitly name Visibility predicate routes
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: ignore-for-release

#3976 Refactor TS code to use explicit initialization pattern
  server/app/assets/javascripts/accordion.ts
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/assets/javascripts/admin_validation.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/azure_delete.ts
  server/app/assets/javascripts/azure_upload.ts
  server/app/assets/javascripts/dev_icons.ts
  server/app/assets/javascripts/enumerator.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/modal.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/javascripts/questionBank.ts
  server/app/assets/javascripts/radio.ts
  server/app/assets/javascripts/toast.ts
Labels: ignore-for-release

#3975 Use YYYY/MM/DD format on application view page
  browser-test/image_snapshots/application_download_test/applications-page.png
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: bug

#3984 Fix webpack error output
  server/project/TypescriptBuilder.scala
  server/webpack.config.js
Labels: ignore-for-release

#3980 Fix bin/sbt
  bin/sbt
Labels: ignore-for-release

#3969 Always close BrowserContext after test finishes
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3989 ProgramDefinition cleanups and additional testing
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
Labels: ignore-for-release

#3993 Uncomment Status Tracking test
  browser-test/src/admin_program_translation.test.ts
Labels: ignore-for-release

#3990 Ensure block moves don't invalidate eligibility predicates
  server/app/services/program/ProgramDefinition.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: ignore-for-release

#3991 Refactor admin_programs.ts and toast.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/assets/javascripts/toast.ts
Labels: ignore-for-release

#3985 Set APPLICANT_OIDC_PROVIDER_LOGOUT to true by default
  browser-test/browser-test-compose.yml
  docker-compose.yml
  server/conf/application.conf
Labels: feature

#3992 Extract one TS util function into a separate file and setup TS unit tests
  .github/workflows/tests.yaml
  bin/run-ts-tests
  server/app/assets/javascripts/enumerator.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/util.test.ts
  server/app/assets/javascripts/util.ts
  server/jest.config.js
  server/package-lock.json
  server/package.json
Labels: ignore-for-release

#3996 Reenable TS eslint checks
  browser-test/src/admin_program_list.test.ts
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/support/admin_program_statuses.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/index.ts
  browser-test/src/support/ti_dashboard.ts
  formatter/eslintrc_base.json
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/assets/javascripts/admin_validation.ts
  server/app/assets/javascripts/azure_delete.ts
  server/app/assets/javascripts/azure_upload.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/javascripts/radio.ts
  server/app/assets/javascripts/toast.ts
Labels: ignore-for-release

#3999 Enable typescript strict checks on server code
  browser-test/.eslintrc.json
  formatter/eslintrc_base.json
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/assets/javascripts/admin_validation.ts
  server/app/assets/javascripts/azure_delete.ts
  server/app/assets/javascripts/azure_upload.ts
  server/app/assets/javascripts/enumerator.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/javascripts/questionBank.ts
  server/app/assets/javascripts/radio.ts
  server/app/assets/javascripts/toast.ts
  server/app/assets/javascripts/util.test.ts
  server/app/assets/javascripts/util.ts
  server/jest.config.js
  server/tsconfig.json
Labels: ignore-for-release

#4000 Add feature flag
  server/app/featureflags/FeatureFlags.java
  server/conf/application.conf
  server/test/featureflags/FeatureFlagsTest.java
Labels: ignore-for-release
