Repository civiform/civiform, pull requests merged in 2022-10, with the labels that each got.

#3595 Add Status management image diffs
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/civiform_admin_program_statuses_test/create-new-status-modal.png
  browser-test/image_snapshots/civiform_admin_program_statuses_test/status-list-with-no-statuses.png
  browser-test/image_snapshots/civiform_admin_program_statuses_test/status-list-with-statuses.png
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/civiform_admin_program_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/index.ts
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: ignore-for-release

#3604 Set pac4j logout URL pattern
  server/app/modules/SecurityModule.java
Labels: security

#3400 Run fmt test when formatters change
  .github/workflows/format.yaml
  formatter/formatter.Dockerfile
Labels: ignore-for-release

#3612 Rename ExporterService to CsvExporterService
  server/app/controllers/admin/AdminApplicationController.java
  server/app/forms/QuestionForm.java
  server/app/services/export/CsvExporterService.java
  server/app/services/question/QuestionService.java
  server/app/views/admin/questions/QuestionEditView.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/services/export/CsvExporterTest.java
Labels: ignore-for-release

#3606 Rename successRedirectUri to redirectUri
  server/app/assets/javascripts/admin_applications.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: feature

#3615 Add padding to organization's logo on applicants page
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  server/app/assets/Images/Seattle-logo_horizontal_blue-white_small.png
  server/app/views/applicant/ProgramIndexView.java
Labels: bug

#3624 Refactor AuthIdentityProviderName logic to share logic that detects type from Config
  server/app/auth/AuthIdentityProviderName.java
  server/app/modules/SecurityModule.java
  server/app/views/LoginForm.java
  server/test/auth/AuthIdentityProviderNameTest.java
Labels: ignore-for-release

#3627 Add `client_id` to logout url when using login.gov
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/applicant/LoginGovProvider.java
  server/test/auth/oidc/applicant/LoginGovProviderTest.java
Labels: feature

#3543 Add CI check that classes are marked as final to make the decision to subclass explicit rather than implicit
  .github/workflows/format.yaml
  bin/help
  bin/lib/validate_java_classes_marked_final.py
  bin/validate_java_classes_marked_final
  server/app/auth/CiviFormProfile.java
  server/app/auth/ProfileUtils.java
  server/app/forms/translation/QuestionTranslationForm.java
  server/app/services/CfJsonDocumentContext.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/components/FieldWithLabel.java
Labels: ignore-for-release

#3640 Fix templating in Precondition message
  server/app/services/question/QuestionService.java
Labels: bug

#3641 Remove shaded Preconditions import
  server/app/controllers/applicant/RedirectController.java
Labels: feature

#3643 Null check value
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3637 Replace yarn usage with npm
  .dockerignore
  .github/workflows/format.yaml
  bin/run-browser-tests-local
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/package-lock.json
  browser-test/playwright.Dockerfile
  browser-test/yarn.lock
  formatter/fmt
  formatter/formatter.Dockerfile
Labels: ignore-for-release

#3656 Deduplicate browser test scripts
  bin/run-browser-tests
  bin/run-browser-tests-ci
  bin/run-browser-tests-local
  browser-test/bin/wait_for_server_start_and_run_tests.sh
Labels: ignore-for-release

#3663 Fix SQL-related error that shows up when starting CiviForm with empty DB
  server/app/modules/DatabaseSeedModule.java
Labels: ignore-for-release

#3660 Update style of buttons on program edit page
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active.png
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/QuestionBank.java
Labels: feature

#3671 Improve logout handling in browser tests
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3672 Fix wording in comment
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3679 Add option to ignore npm version mismatch
  .github/workflows/format.yaml
  browser-test/.npmrc
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/package-lock.json
  browser-test/playwright.Dockerfile
  formatter/fmt
  formatter/formatter.Dockerfile
Labels: ignore-for-release

#3685 Fix auth tests running on staging
  browser-test/src/auth.test.ts
  browser-test/src/support/index.ts
Labels: infrastructure

#3689 Don't use github secrets for dockerhub username
  .github/workflows/build_push_ci.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: ignore-for-release

#3684 Fix no-unused-vars eslint check
  formatter/eslintrc_base.json
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_validation.ts
  server/app/assets/javascripts/modal.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/javascripts/toast.ts
Labels: ignore-for-release

#3706 Add screen reader text for errors for translation
  server/app/services/MessageKey.java
  server/conf/messages
Labels: ignore-for-release

#3711 Update openjdk image to 11.0.17
  Dockerfile
  formatter/formatter.Dockerfile
Labels: infrastructure

#3496 Closes #3073: CiviForm admin UX: allow user to navigate directly to add a question from the main program page
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: feature

#3716 Update pac4j to 5.6.1 and logback to 1.3.4
  server/app/auth/oidc/admin/AdfsProfileAdapter.java
  server/build.sbt
Labels: dependencies

#3701 Redesign question bank
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/delete_database.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/questionBank.ts
  server/app/assets/stylesheets/styles.css
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/components/QuestionBank.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#3693 Jessbumblebee/firstissue
  browser-test/image_snapshots/civiform_admin_publish_test/publish-modal.png
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: UX, program-admin, feature, admin-ui

#3723 PredicateController and View code and comment clarity
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
Labels: ignore-for-release

#3721 PredicateValue.toDisplayString() code clarity and docs
  server/app/services/program/predicate/PredicateValue.java
Labels: ignore-for-release

#3728 Add new database for unit and browser tests to dev postgres
  docker-compose.dev.yml
  docker-compose.yml
  init_postgres.sql
  server/conf/application.dev-browser-tests.conf
  server/conf/application.test.conf
  test-support/unit-test-docker-compose.yml
Labels: ignore-for-release

#3725 Updating Email Placeholder text for adding new TI Clients
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: bug, TI

#3709 Add screen reader text describing program preview page links
  server/app/services/MessageKey.java
  server/conf/messages
Labels: ignore-for-release

#3730 Clean up updatePredicateNode
  server/app/repository/VersionRepository.java
  server/test/repository/VersionRepositoryTest.java
Labels: ignore-for-release

#3735 Increase color contrast of email links on applicant pages
  browser-test/image_snapshots/address_test/address.png
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  browser-test/image_snapshots/application_navigation_test/program-details-page.png
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-submission.png
  browser-test/image_snapshots/auth_test/logged-in-guest.png
  browser-test/image_snapshots/auth_test/logged-in.png
  browser-test/image_snapshots/checkbox_test/checkbox.png
  browser-test/image_snapshots/currency_test/currency-errors.png
  browser-test/image_snapshots/currency_test/currency.png
  browser-test/image_snapshots/date_test/date-errors.png
  browser-test/image_snapshots/date_test/date.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors.png
  browser-test/image_snapshots/dropdown_test/dropdown.png
  browser-test/image_snapshots/email_test/email-errors.png
  browser-test/image_snapshots/email_test/email.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator.png
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/image_snapshots/file_test/file.png
  browser-test/image_snapshots/id_test/id-errors.png
  browser-test/image_snapshots/id_test/id.png
  browser-test/image_snapshots/name_test/name.png
  browser-test/image_snapshots/number_input_test/number-errors.png
  browser-test/image_snapshots/number_input_test/number.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors.png
  browser-test/image_snapshots/radio_button_test/radio-button.png
  browser-test/image_snapshots/static_text_test/static-text.png
  browser-test/image_snapshots/text_test/text-errors.png
  browser-test/image_snapshots/text_test/text.png
  server/app/views/applicant/ApplicantLayout.java
Labels: a11y, feature

#3733 Add browser test for filtering questions in question bank
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#3738 Remove fake-idcs server from browser test environment
  browser-test/browser-test-compose.yml
  browser-test/image_snapshots/auth_test/central-provider-logout.png
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3708 Announce that form errors are present for screen reader users
  server/app/assets/javascripts/file_upload.ts
  server/app/views/applicant/ApplicantProgramBlockEditView.java
Labels: a11y, feature

#3710 Fix aria labels on program review page to use correct text
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: a11y, feature

#3739 Add bin/docker-reset
  bin/docker-reset
Labels: ignore-for-release
