Repository civiform/civiform, pull requests merged in 2022-08, with the labels that each got.

#3000 the docker compose up shell isn't fully ttl, switch back to attach
  bin/run-dev
  docker-compose.yml
Labels: ignore-for-release

#2998 Optimize the docker builds to reuse as much cached content as possible
  .dockerignore
  Dockerfile
  docker-compose.dev.yml
Labels: ignore-for-release

#3015 Add browser tests for CiviForm admins creating/editing/deleting statuses
  browser-test/src/civiform_admin_program_statuses.test.ts
  browser-test/src/support/admin_program_statuses.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_ti_groups.ts
  browser-test/src/support/index.ts
  browser-test/src/support/wait.ts
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/components/Modal.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#3003 Make applicant_oidc_discovery_uri a regular variable instead of secret
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/secrets.tf
  cloud/aws/templates/aws_oidc/variable_definitions.json
  cloud/shared/variable_definitions.json
Labels: infrastructure

#3013 Stitch lines of stacktrace to a single log even in AWS deployment
  cloud/aws/templates/aws_oidc/app.tf
Labels: infrastructure

#3019 Update README.md
  README.md
Labels: ignore-for-release

#3018 Add axe a11y testing for overall applicant flow
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_optional_questions.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#3021 add validation to more variables
  cloud/aws/templates/aws_oidc/variable_definitions.json
Labels: infrastructure

#3022 Move certificate and task count variables from app.tf to config.
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/variable_definitions.json
  cloud/aws/templates/aws_oidc/variables.tf
  cloud/shared/validate_variable_definitions.py
Labels: infrastructure, deploy

#3035 Fix python formatting
  cloud/shared/validate_variable_definitions.py
Labels: ignore-for-release

#3041 Move top-level code to main() functions in setup.py and destroy.py
  cloud/shared/bin/lib/destroy.py
  cloud/shared/bin/lib/setup.py
Labels: deploy, ignore-for-release

#3028 Remove auto-approve from setup.py
  cloud/shared/bin/lib/setup.py
Labels: infrastructure, deploy

#3048 Move ADFS_DISCOVERY_URI and AWS_REGION to civiform_config.sh
  cloud/aws/modules/setup/variables.tf
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/secrets.tf
  cloud/aws/templates/aws_oidc/setup/main.tf
  cloud/aws/templates/aws_oidc/setup/variables.tf
  cloud/aws/templates/aws_oidc/variable_definitions.json
  cloud/aws/templates/aws_oidc/variables.tf
Labels: infrastructure, deploy

#3049 Pass AWS_REGION to terraform backend config
  cloud/aws/bin/lib/backend_setup.py
  cloud/shared/bin/lib/config_loader.py
Labels: infrastructure, deploy

#3052 Add missing awaits to browser tests
  browser-test/src/admin_predicates.test.ts
  browser-test/src/static_text.test.ts
Labels: ignore-for-release

#3051 Replace assertThrows with assertThatThrownBy
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
  server/test/services/applicant/ApplicantDataTest.java
Labels: ignore-for-release

#3047 Fix expect Program state utilities to actually expect.
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#3057 Simplify terraform.py
  cloud/shared/bin/lib/terraform.py
Labels: infrastructure, deploy

#3010 Update localization handling when updating program statuses
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/forms/admin/ProgramStatusesForm.java
  server/app/services/LocalizedStrings.java
  server/app/services/program/StatusDefinitions.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/services/LocalizedStringsTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature

#2983 Status Tracking: Display status options on Admin's Application review page.
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/style/ReferenceClasses.java
Labels: ignore-for-release

#3037 Prevent running destroy on setup state.
  cloud/aws/templates/aws_oidc/bin/destroy.py
  cloud/shared/bin/lib/setup_template.py
Labels: infrastructure, deploy

#3059 Remove warning when running setup.py
  cloud/shared/bin/lib/terraform.py
Labels: infrastructure

#3056 Using deep link does not create duplicate applications
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/repository/ProgramRepository.java
  server/app/services/applicant/ApplicantServiceImpl.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/RedirectControllerTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: bug

#3050 Add more descriptive page title for application blocks
  server/app/views/applicant/ApplicantProgramBlockEditView.java
Labels: feature

#3064 Add heading level one to applicant facing program details page.
  browser-test/src/application_navigation.test.ts
  server/app/views/applicant/ApplicantProgramInfoView.java
Labels: bug

#3063 Add screen reader label for file upload field
  browser-test/src/file.test.ts
  server/app/views/AwsFileUploadViewStrategy.java
  server/app/views/AzureFileUploadViewStrategy.java
  server/app/views/FileUploadViewStrategy.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
Labels: feature

#3039 Surface the number of programs referencing a question
  browser-test/src/civiform_admin_question_references.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/models/Version.java
  server/app/repository/VersionRepository.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/services/question/QuestionServiceImpl.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/Modal.java
  server/app/views/style/ReferenceClasses.java
  server/app/views/style/Styles.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
  server/test/services/question/ReadOnlyCurrentQuestionServiceImplTest.java
  server/test/services/question/ReadOnlyVersionedQuestionServiceImplTest.java
Labels: feature

#3070 Disable Status tests
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/civiform_admin_program_statuses.test.ts
Labels: ignore-for-release

#3065 When no status is set on an application show an empty option.
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: ignore-for-release

#3055 Update question/program translation views for consistency and usability
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/admin_translations.ts
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
Labels: feature

#3060 add prod db params
  cloud/aws/templates/aws_oidc/main.tf
  cloud/shared/bin/lib/destroy.py
Labels: infrastructure

#3089 Move enumerator placeholder to be a permanent label
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
Labels: feature

#3103 Disable local OIDC testing due to issue #3102
  docker-compose.yml
Labels: ignore-for-release

#3110 Fix the OIDC build and force building in the gh push tests
  .dockerignore
  .github/workflows/tests.yaml
  docker-compose.yml
  test-support/.eslintrc.json
  test-support/oidc.Dockerfile
  test-support/package-lock.json
  test-support/package.json
Labels: ignore-for-release

#3111 Pass github token to release script in action
  .github/workflows/release.yaml
Labels: ignore-for-release

#3079 Remove ApplicantService interface in favor of a concrete class.
  server/app/modules/MainModule.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ApplicantServiceImpl.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: ignore-for-release

#3109 Add `storage_encrypted` param to AWS DB
  cloud/aws/templates/aws_oidc/main.tf
Labels: infrastructure, deploy

#3069 Remove English tab from translations UI
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/services/TranslationLocales.java
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
Labels: feature

#3118 Use GITHUB_ACTOR name when release script is run on GH
  bin/create-release
Labels: ignore-for-release

#3113 Add rollback to AWS, remote user visible todos from setup
  cloud/aws/bin/rollback
  cloud/aws/templates/aws_oidc/bin/aws_template.py
  cloud/shared/bin/rollback
Labels: infrastructure

#3117 Add status tracking feature flag to terraform
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/variables.tf
  cloud/azure/modules/app/locals.tf
  cloud/azure/modules/app/variables.tf
  cloud/azure/templates/azure_saml_ses/main.tf
  cloud/azure/templates/azure_saml_ses/variables.tf
  cloud/shared/validate_variable_definitions.py
  cloud/shared/variable_definitions.json
Labels: infrastructure

#3093 Ask user for secret values during initial AWS deployments
  cloud/aws/templates/aws_oidc/bin/aws_cli.py
  cloud/aws/templates/aws_oidc/bin/setup.py
Labels: infrastructure, deploy

#3119 AWS terraform polish
  cloud/aws/modules/custom_domain/main.tf
  cloud/aws/modules/custom_domain/variables.tf
  cloud/aws/templates/aws_oidc/aim.tf
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/filestorage.tf
  cloud/aws/templates/aws_oidc/variable_definitions.json
  cloud/aws/templates/aws_oidc/variables.tf
Labels: infrastructure

#3112 Change label from implicit to explicit for radio buttons
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
Labels: feature

#3114 Removing QuestionService interface in favor of a concrete class
  server/app/modules/MainModule.java
  server/app/services/question/QuestionService.java
  server/app/services/question/QuestionServiceImpl.java
  server/test/services/question/QuestionServiceTest.java
Labels: ignore-for-release

#3120 Change DB password after initial terraform setup is done.
  cloud/aws/templates/aws_oidc/bin/aws_cli.py
  cloud/aws/templates/aws_oidc/bin/resources.py
  cloud/aws/templates/aws_oidc/bin/setup.py
  cloud/aws/templates/aws_oidc/secrets.tf
Labels: infrastructure, deploy

#3124 Render program statuses in the translation UI based on actual data in program definition
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
Labels: feature

#3115 Add FeatureFlag overrides utility.
  server/app/annotations/FeatureFlagOverrides.java
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/modules/FeatureFlagsModule.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/conf/application.conf
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/conf/routes
  server/test/annotations/FeatureFlagOverridesTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
Labels: feature

#3128 Style improvements in deploy AWS python scripts
  cloud/aws/templates/aws_oidc/bin/aws_cli.py
  cloud/aws/templates/aws_oidc/bin/destroy.py
  cloud/aws/templates/aws_oidc/bin/resources.py
Labels: infrastructure, deploy

#3125 add option for civiform that auto approves terraform
  cloud/aws/bin/deploy.py
  cloud/aws/templates/aws_oidc/bin/aws_template.py
  cloud/aws/templates/aws_oidc/bin/destroy.py
  cloud/aws/templates/aws_oidc/bin/setup.py
  cloud/azure/templates/azure_saml_ses/bin/destroy.py
  cloud/azure/templates/azure_saml_ses/bin/setup.py
  cloud/shared/bin/lib/civiform_mode.sh
  cloud/shared/bin/lib/config_loader.py
  cloud/shared/bin/lib/terraform.py
  cloud/shared/bin/lib/terraform.sh
  cloud/shared/variable_definitions.json
Labels: infrastructure

#3090 Build deletion status off of program references and allow archiving questions in the draft version
  browser-test/src/question_delete.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/models/Version.java
  server/app/repository/VersionRepository.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/views/admin/questions/QuestionsListView.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
Labels: bug

#3139 Fix TS style warnings and add few missing checks in assertions
  browser-test/.eslintrc.json
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/support/admin_predicates.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#3136 Store playwright browsers within node_modules directory for docker tests
  browser-test/bin/wait_for_server_start_and_run_tests.sh
Labels: ignore-for-release

#3145 Fix few warnings in TS codebase
  .eslintrc.json
  browser-test/src/address.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_optional_questions.test.ts
  browser-test/src/application_previous_version.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/support/applicant_questions.ts
  browser-test/src/support/index.ts
  browser-test/src/text.test.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/assets/javascripts/azure_delete.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/assets/javascripts/main.ts
Labels: ignore-for-release

#3153 Set compact-warnings option on terraform
  cloud/shared/bin/lib/terraform.py
Labels: infrastructure, deploy

#3131 Print some few links at the end of AWS setup and deploy
  cloud/aws/bin/deploy.py
  cloud/aws/templates/aws_oidc/bin/aws_cli.py
  cloud/aws/templates/aws_oidc/bin/resources.py
  cloud/aws/templates/aws_oidc/bin/setup.py
  cloud/azure/templates/azure_saml_ses/bin/setup.py
  cloud/shared/bin/lib/setup.py
Labels: infrastructure, deploy

#3159 add ses permissions
  cloud/aws/modules/ses/main.tf
  cloud/aws/templates/aws_oidc/app.tf
Labels: infrastructure

#3152 No longer trimming configuredStatusText since it corresponds directly to what is in the DB
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/forms/admin/ProgramStatusesForm.java
Labels: feature

#3147 Always present the "archive" option and show a modal if the operation can't be performed
  browser-test/src/question_delete.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/views/admin/questions/QuestionsListView.java
Labels: feature

#3150 Warn that translations will be cleared if the email is cleared when editing a status
  browser-test/src/civiform_admin_program_statuses.test.ts
  browser-test/src/support/admin_program_statuses.ts
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/views/admin/programs/ProgramStatusesView.java
Labels: feature

#3163 Repointing a TODO at a more appropriate issue.
  server/app/views/admin/questions/QuestionsListView.java
Labels: ignore-for-release

#3161 Add API salt secret
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/secrets.tf
Labels: infrastructure

#3170 add test for aws oidc template
  .github/workflows/aws-oidc-deploy-test.yaml
  cloud/aws/templates/aws_oidc/bin/setup.py
  cloud/shared/bin/lib/terraform.py
Labels: ignore-for-release

#3172 add api secret salt to azure setup
  cloud/azure/bin/setup-keyvault
  cloud/azure/modules/app/locals.tf
  cloud/azure/modules/app/secrets.tf
Labels: infrastructure

#3174 Add link to the troubleshooting page when setup fails
  cloud/shared/bin/lib/setup.py
Labels: infrastructure, deploy

#3166 Add AWS staging deploy badge
  README.md
Labels: ignore-for-release

#3167 Update warning text shown when email body for a status is cleared.
  browser-test/src/support/admin_program_statuses.ts
  server/app/views/admin/programs/ProgramStatusesView.java
Labels: feature

#3149 Add one of each question type for /dev/seed mock program
  server/app/controllers/dev/DatabaseSeedController.java
Labels: ignore-for-release

#3143 Allow updating statuses in the translation UI
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/support/admin_translations.ts
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/services/LocalizedStrings.java
  server/app/services/program/LocalizationUpdate.java
  server/app/services/program/OutOfDateStatusesException.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/program/StatusDefinitions.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/services/LocalizedStringsTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
Labels: feature

#3176 Removing already implemented TODO for status tracking translations.
  server/app/controllers/admin/AdminProgramStatusesController.java
Labels: ignore-for-release

#3177 Removing hover state from application status row.
  server/app/views/admin/programs/ProgramStatusesView.java
Labels: feature

#3180 Preventing program admins from accessing applications that aren't part of the provided program
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: bug

#3168 Add field requiredness indicators to program/question UIs.
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: feature

#3182 Change text in question bank
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/components/QuestionBank.java
Labels: feature

#3106 Added screenshots to landing page test with `jest-image-snapshot`
  .github/workflows/tests.yaml
  .gitignore
  bin/run-browser-tests-local
  browser-test/image_snapshots/landing_page_test/the-landing-page-it-has-login-options-1-snap.png
  browser-test/package.json
  browser-test/src/landing_page.test.ts
  browser-test/src/support/config.ts
  browser-test/src/support/index.ts
  browser-test/src/support/setup-jest.ts
  browser-test/src/support/wait.ts
  browser-test/yarn.lock
Labels: ignore-for-release

#3181 Add a note about verifying email address at the end of setup
  cloud/aws/templates/aws_oidc/bin/setup.py
Labels: infrastructure

#3183 Rename Manage Admin, Link to program website
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
Labels: feature

#3175 add civiform prefix to all resource names
  cloud/aws/bin/lib/backend_setup.py
  cloud/aws/modules/setup/backend_storage.tf
  cloud/aws/modules/setup/logbucket.tf
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/bin/resources.py
  cloud/aws/templates/aws_oidc/bin/setup.py
  cloud/aws/templates/aws_oidc/filestorage.tf
  cloud/aws/templates/aws_oidc/main.tf
  cloud/aws/templates/aws_oidc/secrets.tf
  cloud/aws/templates/aws_oidc/variables.tf
Labels: infrastructure

#3187 Fix browsertest M1 builds and optimize node modules
  bin/run-browser-tests
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/package-lock.json
  browser-test/playwright.Dockerfile
  browser-test/playwright.Dockerfile.dockerignore
  browser-test/sbt_cache/.keep
  browser-test/yarn.lock
Labels: ignore-for-release

#3192 add CIVIFORM_API_KEYS_BAN_GLOBAL_SUBNET to terraform
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/variables.tf
  cloud/azure/modules/app/locals.tf
  cloud/azure/modules/app/variables.tf
  cloud/azure/templates/azure_saml_ses/main.tf
  cloud/azure/templates/azure_saml_ses/variables.tf
  cloud/shared/variable_definitions.json
Labels: infrastructure

#3194 Fix fargate tasks links due to updated resource names
  cloud/aws/templates/aws_oidc/bin/setup.py
Labels: infrastructure, deploy

#3186 Add ability to move question up and down within its block
  browser-test/image_snapshots/admin_program_creation_test/program-creation-change-questions-order-within-block-1-snap.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/ErrorHandler.java
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/services/program/InvalidQuestionPositionException.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/components/Icons.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramBlockQuestionsControllerTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature

#3193 Displaying default text in the translation UI alongside the text rather than below it
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
Labels: feature

#3191 Show confirmation dialog when program admin changes statuses
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/wait.ts
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/assets/javascripts/modal.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/components/Modal.java
  server/app/views/style/ReferenceClasses.java
  server/conf/routes
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/repository/ResetPostgres.java
Labels: feature

#3101 Add Dob to TI dashboard and TI Controller Updates
  .gitignore
  browser-test/src/support/index.ts
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/repository/UserRepository.java
  server/app/services/DateConverter.java
  server/app/services/WellKnownPaths.java
  server/app/services/applicant/ApplicantData.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/repository/UserRepositoryTest.java
  server/test/services/DateConverterTest.java
  server/test/services/applicant/ApplicantDataTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: TI, feature

#3169 Not displaying blank help text in preview mode.
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  server/app/assets/javascripts/preview.ts
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/test/services/question/types/QuestionDefinitionBuilderTest.java
Labels: feature

#3173 When adding a new screen, set the description to 'Screen XY descripti…
  server/app/models/Program.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
Labels: bug

#3196 Restructure enumerator DOM and make them work better in preview mode
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/preview.ts
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/test/services/question/types/QuestionDefinitionBuilderTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: bug

#3200 Upload videos on browser test failures when running on CI
  .github/workflows/tests.yaml
  bin/run-browser-tests-ci
Labels: ignore-for-release

#3206 Fix deploy staging actions broken by moving configs around
  .github/workflows/aws-oidc-deploy-test.yaml
  .github/workflows/azure-saml-ses-deploy-test.yaml
Labels: ignore-for-release

#3213 Split few long browser tests into smaller ones
  browser-test/src/application_optional_questions.test.ts
  browser-test/src/question_delete.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
Labels: ignore-for-release

#3198 Enforce consistent sizing in icons svg
  server/app/assets/javascripts/dev_icons.ts
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/Icons.java
  server/app/views/components/QuestionBank.java
  server/app/views/components/TextFormatter.java
  server/app/views/dev/IconsView.java
  server/test/views/components/IconsTest.java
Labels: ignore-for-release

#3219 Cleanup calls that pass icon size explicitly
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/Accordion.java
  server/app/views/components/Icons.java
  server/app/views/components/QuestionBank.java
  server/app/views/components/TextFormatter.java
Labels: ignore-for-release

#3221 Update AWS and Azure staging badges with the new repo
  README.md
Labels: ignore-for-release

#3207 Reorder / restructure question fields
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/test/app/BaseBrowserTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/views/admin/question/QuestionConfigTest.java
Labels: feature

#3205 Fix order of text on login page
  browser-test/image_snapshots/landing_page_test/the-landing-page-it-has-login-options-1-snap.png
  server/app/views/LoginForm.java
Labels: bug

#3130 Release GH action logs in to Docker Hub
  .github/workflows/release.yaml
Labels: ignore-for-release

#3226 Changes to allow attaching a remote debugger to bin/sbt-test.
  .vscode/launch.json
  server/build.sbt
Labels: ignore-for-release

#3224 Displaying a "Create new question" button in the question bank
  browser-test/image_snapshots/admin_program_creation_test/program-creation-change-questions-order-within-block-1-snap.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/QuestionBank.java
Labels: feature

#3190 Add Install instructions, debugger ports, and fix formatter for browsertests
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  bin/run-browser-tests-local
  browser-test/browser-test-compose.dev.yml
  civiform.code-workspace
  formatter/formatter.Dockerfile
Labels: ignore-for-release

#3235 Automatically close modal after clicking download
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramApplicationListView.java
Labels: bug

#3233 Add applicant-facing screenshot tests for all question types
  .github/workflows/tests.yaml
  browser-test/image_snapshots/address_test/address-errors-snap.png
  browser-test/image_snapshots/address_test/address-snap.png
  browser-test/image_snapshots/admin_program_admins_test/add-program-admin-error-snap.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-snap.png
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error-snap.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-snap.png
  browser-test/image_snapshots/checkbox_test/checkbox-snap.png
  browser-test/image_snapshots/currency_test/currency-errors-snap.png
  browser-test/image_snapshots/currency_test/currency-snap.png
  browser-test/image_snapshots/date_test/date-errors-snap.png
  browser-test/image_snapshots/date_test/date-snap.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-snap.png
  browser-test/image_snapshots/dropdown_test/dropdown-snap.png
  browser-test/image_snapshots/email_test/email-errors-snap.png
  browser-test/image_snapshots/email_test/email-snap.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-snap.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-snap.png
  browser-test/image_snapshots/file_test/file-errors-snap.png
  browser-test/image_snapshots/file_test/file-snap.png
  browser-test/image_snapshots/id_test/id-errors-snap.png
  browser-test/image_snapshots/id_test/id-snap.png
  browser-test/image_snapshots/landing_page_test/landing-page-snap.png
  browser-test/image_snapshots/name_test/name-errors-snap.png
  browser-test/image_snapshots/name_test/name-snap.png
  browser-test/image_snapshots/number_input_test/number-errors-snap.png
  browser-test/image_snapshots/number_input_test/number-snap.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-snap.png
  browser-test/image_snapshots/radio_button_test/radio-button-snap.png
  browser-test/image_snapshots/static_text_test/static-text-snap.png
  browser-test/image_snapshots/text_test/text-errors-snap.png
  browser-test/image_snapshots/text_test/text-snap.png
  browser-test/src/address.test.ts
  browser-test/src/admin_program_admins.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/landing_page.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/index.ts
  browser-test/src/text.test.ts
Labels: ignore-for-release

#3236 Remove unused parameters in screenshot test helper
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3216 Add ApplicationEvent database table and repository
  server/app/models/ApplicationEvent.java
  server/app/models/Models.java
  server/app/repository/ApplicationEventRepository.java
  server/app/services/application/ApplicationEventDetails.java
  server/conf/evolutions/default/42.sql
  server/test/repository/ApplicationEventRepositoryTest.java
Labels: feature, status-tracking

#3214 Lower screenshot threshold to 1%
  browser-test/image_snapshots/admin_program_creation_test/program-creation-snap.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3228 Add current screenshots for admin question page
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3134 Reinstate status tracking tests and update Override functionality to be session stored.
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/civiform_admin_program_statuses.test.ts
  browser-test/src/support/index.ts
  server/app/annotations/FeatureFlagOverrides.java
  server/app/annotations/FeatureFlags.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/featureflags/FeatureFlags.java
  server/app/modules/FeatureFlagsModule.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/conf/application.conf
  server/test/annotations/FeatureFlagOverridesTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
  server/test/featureflags/FeatureFlagsTest.java
  server/test/modules/FeatureFlagsModuleTest.java
Labels: ignore-for-release

#3231 TIDashboard Updates- Impementation of Search by Dob and refactor of TrustedIntermediaryGroup class
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/models/TrustedIntermediaryGroup.java
  server/app/repository/SearchParameters.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/ti/TrustedIntermediarySearchResult.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/routes
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: TI, feature

#3211 Add edit note dialog to the program admin application page
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/components/FieldWithLabel.java
  server/conf/routes
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/views/components/FieldWithLabelTest.java
Labels: feature

#3274 Repoint status tracking TODO at a more scoped bug.
  server/app/views/admin/programs/ProgramStatusesView.java
Labels: ignore-for-release

#3278 Remove uniqueness from application_events indexes
  server/conf/evolutions/default/43.sql
  server/test/repository/ApplicationEventRepositoryTest.java
Labels: bug

#3220 Update the option values for radio/checkbox/dropdown questions in the preview pane
  browser-test/src/checkbox.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/preview.ts
  server/app/views/components/SelectWithLabel.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/style/ReferenceClasses.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
Labels: feature

#3199 Instrument server for Prometheus metrics
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/variables.tf
  cloud/azure/modules/app/locals.tf
  cloud/azure/modules/app/variables.tf
  cloud/azure/templates/azure_saml_ses/main.tf
  cloud/azure/templates/azure_saml_ses/variables.tf
  cloud/shared/variable_definitions.json
  server/app/controllers/monitoring/MetricsController.java
  server/build.sbt
  server/conf/application.conf
  server/conf/routes
Labels: feature

#3281 fix task name for fargate
  cloud/aws/bin/deploy.py
Labels: infrastructure

#3277 Adding warnings when no email will be sent as part of updating a program's status
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: feature

#3283 kill versions
  server/app/controllers/admin/AdminVersionController.java
  server/app/repository/VersionRepository.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/versions/VersionListView.java
  server/conf/routes
  server/test/repository/VersionRepositoryTest.java
Labels: feature

#3282 Add screenshot tests for each page in applicant's user flow
  browser-test/image_snapshots/application_navigation_test/landing-page-snap.png
  browser-test/image_snapshots/application_navigation_test/language-selection-snap.png
  browser-test/image_snapshots/application_navigation_test/program-details-page-snap.png
  browser-test/image_snapshots/application_navigation_test/program-list-page-snap.png
  browser-test/image_snapshots/application_navigation_test/program-preview-snap.png
  browser-test/image_snapshots/application_navigation_test/program-review-snap.png
  browser-test/image_snapshots/application_navigation_test/program-submission-snap.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/landing_page.test.ts
Labels: ignore-for-release

#3293 Clear database before running application_navigation screenshot tests
  browser-test/src/application_navigation.test.ts
Labels: ignore-for-release

#3272 Create a focused browser tests compose configuration
  browser-test/browser-test-compose.dev.yml
  browser-test/browser-test-compose.yml
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
Labels: ignore-for-release

#3294 Add ProfileUtils tester to unlock testing being an admin/program ACL.
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: testing, ignore-for-release

#3289 Change data privacy settings option text and add link to documentation
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/views/admin/questions/QuestionEditView.java
Labels: feature

#3296 drop tables before canonical questions test
  browser-test/src/question_lifecycle.test.ts
Labels: ignore-for-release

#3275 When creating a question from the program builder, redirect to the program builder on success.
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/forms/QuestionForm.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/QuestionBank.java
  server/conf/routes
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/forms/QuestionFormTest.java
Labels: feature

#3279 Use fieldset and legend for questions that include multiple input fields
  browser-test/image_snapshots/address_test/address-snap.png
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error-snap.png
  browser-test/image_snapshots/application_navigation_test/language-selection-snap.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-snap.png
  browser-test/image_snapshots/checkbox_test/checkbox-snap.png
  browser-test/image_snapshots/name_test/name-errors-snap.png
  browser-test/image_snapshots/name_test/name-snap.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-snap.png
  browser-test/image_snapshots/radio_button_test/radio-button-snap.png
  server/app/views/applicant/ApplicantInformationView.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: a11y, feature

#3298 Repoint status tracking TODO at a more appropriate issue.
  browser-test/src/admin_application_statuses.test.ts
Labels: ignore-for-release

#3290 Pass the UI select application status to the BE and save it.
  server/app/controllers/admin/AdminApplicationController.java
  server/app/models/Application.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: feature

#3299 Add icons to question actions
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  browser-test/src/support/admin_questions.ts
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/Icons.java
Labels: feature

#3305 Add display of Feature Flag overriding allowance configuration.
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/featureflags/FeatureFlags.java
  server/conf/routes
Labels: feature

#3304 Flesh out updateStatus tests
  server/app/controllers/admin/AdminApplicationController.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: ignore-for-release

#3307 Override the feature_flag_overrides_enabled in application.conf
  server/conf/application.conf
Labels: ignore-for-release

#3292 Adding updateDob funtionality for TIs
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/ErrorHandler.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/forms/UpdateApplicantDobForm.java
  server/app/services/DateConverter.java
  server/app/services/applicant/exception/ApplicantNotFoundException.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/routes
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/services/DateConverterTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: TI, feature

#3311 Refactor asRedirectButton method
  server/app/assets/javascripts/main.ts
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionsListView.java
Labels: ignore-for-release

#3310 Program admin list view reuses the card styling that the CiviForm admin sees
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/views/BaseHtmlView.java
  server/app/views/ViewUtils.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
Labels: feature

#3313 Change asRedirectButton to asRedirectElement (due to the rename from #3311)
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
Labels: bug

#3308 Factor out SubmittedApplicationFilter type to allow more options to be added without updating all callsites
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/repository/ProgramRepository.java
  server/app/repository/SubmittedApplicationFilter.java
  server/app/services/export/ExporterService.java
  server/app/services/export/JsonExporter.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/export/JsonExporterTest.java
Labels: feature

#3317 Fix git branch issue + Better error messaging for release script
  .github/workflows/release.yaml
  bin/create-release
Labels: ignore-for-release

#3306 Surface latest status within the UI, backed by a DB trigger to populate the value
  browser-test/src/admin_application_statuses.test.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/models/Application.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/conf/evolutions/default/44.sql
  server/test/models/ApplicationEventTest.java
  server/test/models/ApplicationTest.java
Labels: feature
