Repository civiform/civiform, pull requests merged in 2022-09, with the labels that each got.

#3322 Revert pac4j update.
  server/app/auth/oidc/admin/AdfsProfileAdapter.java
  server/build.sbt
  server/test/auth/oidc/admin/AdfsProfileAdapterTest.java
Labels: infrastructure

#3329 Update code naming for TI notification in the submit flow
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/ApplicantService.java
Labels: ignore-for-release

#3309 Pass the Application Note to the BE and save to the DB
  server/app/controllers/admin/AdminApplicationController.java
  server/app/models/ApplicationEvent.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/models/ApplicationEventTest.java
  server/test/models/ApplicationTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
Labels: feature

#3331 Fix sizing of program builder so that long/short questions don't cause components to resize
  browser-test/image_snapshots/admin_program_creation_test/program-creation-snap.png
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/app/views/admin/programs/ProgramBlockView.java
Labels: bug

#3333 Updating assertions to expect 'Guest', since we log in as guest when completing applications
  browser-test/src/admin_application_statuses.test.ts
Labels: bug

#3328 Change buttons layout on admin question page
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/modal.ts
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/Icons.java
  server/app/views/components/Modal.java
  server/app/views/style/BaseStyles.java
Labels: feature

#3324 Introduce createTestContext() function
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/index.ts
  server/app/assets/javascripts/main.ts
Labels: tech-debt, ignore-for-release

#3336 Migrate applicant question tests to use TestContext
  browser-test/src/address.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/index.ts
  browser-test/src/text.test.ts
Labels: tech-debt, ignore-for-release

#3320 Adding application status as a filter option for program admins.
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/repository/ProgramRepository.java
  server/app/repository/SubmittedApplicationFilter.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
Labels: feature

#3341 Migrate admin_* tests to use TestContext
  browser-test/src/admin_api_keys.test.ts
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/admin_program_admins.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_hidden.test.ts
  browser-test/src/admin_program_list.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/support/index.ts
Labels: tech-debt, ignore-for-release

#3346 Migrate more tests to use TestContext
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_previous_version.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/civiform_admin_program_statuses.test.ts
  browser-test/src/civiform_admin_question_references.test.ts
  browser-test/src/support/index.ts
Labels: tech-debt, ignore-for-release

#3349 Creating evolution that drops programs.export_definitions, removed in #2814.
  server/app/services/export/CsvExporter.java
  server/conf/evolutions/default/45.sql
  server/test/repository/ProgramRepositoryTest.java
Labels: feature

#3350 Close warning message dialog when resetting context in browser tests
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3345 Convert SelectWithLabel to take a list of options rather than a map.
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/SelectWithLabel.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/test/views/components/SelectWithLabelTest.java
Labels: ignore-for-release

#3343 Publish modal shows edited questions and programs
  browser-test/image_snapshots/civiform_admin_publish_test/publish-modal-snap.png
  browser-test/src/civiform_admin_publish.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/index.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/services/question/QuestionService.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/style/ReferenceClasses.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature

#3340 Removing run-prober script since the real version of it exists in a separate repo
  bin/run-prober
Labels: infrastructure

#3353 Add LastModifiedTime to QuestionDefinition
  server/app/models/Question.java
  server/app/services/question/types/AddressQuestionDefinition.java
  server/app/services/question/types/CheckboxQuestionDefinition.java
  server/app/services/question/types/CurrencyQuestionDefinition.java
  server/app/services/question/types/DateQuestionDefinition.java
  server/app/services/question/types/DropdownQuestionDefinition.java
  server/app/services/question/types/EmailQuestionDefinition.java
  server/app/services/question/types/EnumeratorQuestionDefinition.java
  server/app/services/question/types/FileUploadQuestionDefinition.java
  server/app/services/question/types/IdQuestionDefinition.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/question/types/NameQuestionDefinition.java
  server/app/services/question/types/NumberQuestionDefinition.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/RadioButtonQuestionDefinition.java
  server/app/services/question/types/StaticContentQuestionDefinition.java
  server/app/services/question/types/TextQuestionDefinition.java
  server/test/models/QuestionTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/applicant/question/CurrencyQuestionTest.java
  server/test/services/applicant/question/DateQuestionTest.java
  server/test/services/applicant/question/EmailQuestionTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
  server/test/services/applicant/question/IdQuestionTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/NameQuestionTest.java
  server/test/services/applicant/question/NumberQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/applicant/question/StaticContentQuestionTest.java
  server/test/services/applicant/question/TextQuestionTest.java
  server/test/services/question/types/QuestionDefinitionBuilderTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: feature

#3355 Add separate optgroups for application status filtering for program admin.
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/components/SelectWithLabel.java
  server/test/views/components/SelectWithLabelTest.java
Labels: feature

#3318 Add new RUN command as a start of all deploy scripts
  .github/workflows/aws-oidc-deploy-test.yaml
  .github/workflows/azure-saml-ses-deploy-test.yaml
  .gitignore
  cloud/aws/bin/deploy.py
  cloud/azure/bin/deploy
  cloud/azure/bin/rollback
  cloud/shared/bin/deploy
  cloud/shared/bin/deploy.py
  cloud/shared/bin/destroy
  cloud/shared/bin/destroy.py
  cloud/shared/bin/doctor
  cloud/shared/bin/lib/config_loader.py
  cloud/shared/bin/lib/destroy.py
  cloud/shared/bin/lib/run_tf_apply_setup.py
  cloud/shared/bin/lib/tf_apply_setup.py
  cloud/shared/bin/rollback
  cloud/shared/bin/run.py
  cloud/shared/bin/setup
  cloud/shared/bin/setup.py
  cloud/shared/bin/validate_cloud_provider
Labels: deploy

#3334 Making logged-in experience work in bin/run-browser-tests, bin/run-browser-tests-local, and bin/run-browser-tests-ci
  bin/run-browser-tests
  bin/run-browser-tests-ci
  bin/run-browser-tests-local
  browser-test/browser-test-compose.yml
  browser-test/src/admin_predicates.test.ts
  browser-test/src/application_previous_version.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/support/config.ts
  browser-test/src/support/index.ts
  server/app/auth/oidc/applicant/IdcsProvider.java
  test-support/test_oidc_provider.js
Labels: infrastructure

#3363 Removing overflow-hidden that prevented application viewing from being scrollable.
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: bug

#3360 Set browser test timeout to 5 sec for all tests
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_hidden.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_previous_version.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/error_pages.test.ts
  browser-test/src/question_delete.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/index.ts
Labels: ignore-for-release

#3366 Fix CI breakage where unit test assertion doesn't match the updated OIDC image from #3334
  .github/workflows/tests.yaml
  server/test/app/SecurityBrowserTest.java
Labels: ignore-for-release

#3368 Improve typing of TS browser tests
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#3364 fixing Create-new-question dropdown (as the scroll bar isn't working)
  server/app/views/components/QuestionBank.java
Labels: bug

#3374 hardcode civiform docker
  cloud/azure/bin/lib/azure.sh
  cloud/azure/modules/app/main.tf
  cloud/azure/modules/app/variables.tf
  cloud/azure/templates/azure_saml_ses/variable_definitions.json
  cloud/deploys/dev_azure/bin/docker-build-tag-push
  cloud/deploys/dev_azure/civiform_config.example.sh
Labels: deploy

#3375 Perform status updates / note edits in the main frame rather than the iframe and refresh the page on success
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/forms/QuestionForm.java
  server/app/services/UrlUtils.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/forms/QuestionFormTest.java
Labels: feature

#3385 Render the application status on the program admin application list item
  browser-test/src/admin_application_statuses.test.ts
  server/app/views/admin/programs/ProgramApplicationListView.java
Labels: feature

#3378 Redesign admin question list page
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  browser-test/src/application_review.test.ts
  browser-test/src/civiform_admin_question_references.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/views/admin/questions/QuestionsListView.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
Labels: feature

#3394 Enable fingerpriting and caching for static files even on dev mode
  server/app/filters/DisableCachingFilter.java
  server/build.sbt
  server/test/views/BaseHtmlLayoutTest.java
Labels: infrastructure

#3395 Fixing incorrect URL assumption for AWS staging prober login (not yet used)
  browser-test/src/support/index.ts
Labels: infrastructure, feature

#3369 Rework eslint structure and enable type-based checks
  .dockerignore
  .eslintrc.json
  .github/workflows/format.yaml
  browser-test/.eslintrc.json
  browser-test/package.json
  browser-test/yarn.lock
  formatter/eslintrc_base.json
  formatter/fmt
  formatter/formatter.Dockerfile
  server/.eslintrc.json
  server/package-lock.json
  server/package.json
Labels: ignore-for-release

#3354 Attach aria labels for descriptions and errors for applicant questions
  server/app/assets/javascripts/file_upload.ts
  server/app/views/AwsFileUploadViewStrategy.java
  server/app/views/AzureFileUploadViewStrategy.java
  server/app/views/FileUploadViewStrategy.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/components/SelectWithLabel.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: a11y, feature

#3405 Render "referenced programs" text outside of active/draft rows
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  server/app/views/admin/questions/QuestionsListView.java
Labels: feature

#3401 Updating the visibility option text shown when a CiviForm admin creates or edits a program.
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: feature

#3390 Copy edits to the "application submitted" time filter that the program admin sees
  server/app/views/admin/programs/ProgramApplicationListView.java
Labels: feature

#3383 Clickable FileUploads for PDF export funtionality
  browser-test/src/application_download.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/services/export/PdfExporter.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/PdfExporterTest.java
Labels: program-admin, feature

#3414 Add "edit" button to program block edit view
  browser-test/image_snapshots/admin_program_creation_test/program-creation-snap.png
  server/app/views/admin/programs/ProgramBlockView.java
Labels: feature

#3411 Moving getEncodedFileKey to common function and fixing unit tests
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/export/PdfExporter.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: program-admin, feature

#3417 Switching to use external name / description for the program card in the program list view
  server/app/views/components/ProgramCardFactory.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: feature

#3420 fix bin/doctor
  .github/workflows/format.yaml
  cloud/shared/bin/doctor
  cloud/shared/bin/doctor.py
  cloud/shared/bin/run.py
Labels: infrastructure

#3423 Add permissions to actions that don't have them yet
  .github/workflows/aws-oidc-deploy-test.yaml
  .github/workflows/azure-saml-ses-deploy-test.yaml
  .github/workflows/pr_cloud_skip.yaml
  .github/workflows/pr_server_skip.yaml
Labels: infrastructure

#3321 AWS monitoring stack
  cloud/aws/metrics/README.md
  cloud/aws/metrics/build-scraper
  cloud/aws/metrics/metrics_scraper.Dockerfile
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/filestorage.tf
  cloud/aws/templates/aws_oidc/monitoring.tf
  cloud/aws/templates/aws_oidc/variables.tf
  otel-config.yaml
Labels: infrastructure

#3412 Render "draft" badge on program block edit page
  browser-test/image_snapshots/admin_program_creation_test/program-creation-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  server/app/views/ViewUtils.java
  server/app/views/admin/programs/ProgramBlockView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ProgramCardFactory.java
Labels: feature

#3415 Add aria error attributes to field upload client side validation
  server/app/assets/javascripts/file_upload.ts
  server/app/views/FileUploadViewStrategy.java
Labels: a11y, feature

#3424 Prefix monitoring identifiers
  cloud/aws/templates/aws_oidc/monitoring.tf
Labels: infrastructure

#3428 Fix role arn
  cloud/aws/templates/aws_oidc/filestorage.tf
Labels: infrastructure

#3367 Docker files for civiform/civiform-cloud-deployment
  cloud/.dockerignore
  cloud/cloud.Dockerfile
  cloud/docker-compose.yaml
  cloud/shared/bin/build-cloud-deployment
  cloud/shared/bin/deploy
  cloud/shared/bin/lib.sh
  cloud/shared/bin/lib/out.sh
  cloud/shared/bin/run-cloud-deployment
Labels: infrastructure, deploy

#3437 Enable tailwind css building for unit tests
  server/tailwindbuilder.sbt
  server/test/views/BaseHtmlLayoutTest.java
Labels: ignore-for-release

#3422 Throwing errors when test user environment variables aren't set instead of silently falling back on previous behaviors.
  browser-test/src/support/index.ts
Labels: infrastructure

#3446 Removing old translation text for active / in-progress programs now that #2695 has been merged.
  server/app/services/MessageKey.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: ignore-for-release

#3431 Sort question bank / question list questions by most recently modified
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file_upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/components/QuestionBank.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#3452 Removing test assertions that dealt with DBs not being previously cleared between test cases
  browser-test/src/admin_program_list.test.ts
  browser-test/src/civiform_admin_question_list.test.ts
Labels: ignore-for-release

#3453 Removing ordering from ActiveAndDraftQuestions since the sorting occurs elsewhere
  server/app/services/question/ActiveAndDraftQuestions.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
Labels: ignore-for-release

#3455 Update casing on aria-describedby to use all lowercase
  server/app/assets/javascripts/file_upload.ts
  server/app/views/AwsFileUploadViewStrategy.java
  server/app/views/AzureFileUploadViewStrategy.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/test/views/components/FieldWithLabelTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: ignore-for-release

#3456 Requiring a program URL to be in slug format.
  browser-test/src/address.test.ts
  browser-test/src/admin_api_keys.test.ts
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/admin_program_admins.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_hidden.test.ts
  browser-test/src/admin_program_list.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_previous_version.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/civiform_admin_program_statuses.test.ts
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/question_delete.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/text.test.ts
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/controllers/dev/DatabaseSeedControllerTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature

#3457 Redirect controller no longer grabs the latest draft application explicitly since the underlying method does it
  server/app/controllers/applicant/RedirectController.java
Labels: ignore-for-release

#3468 set releaser email in the script. Remove check for civiform login name
  bin/create-release
Labels: ignore-for-release

#3470 Update db-connection comment with instructions on correct credentials
  cloud/azure/bin/db-connection
Labels: ignore-for-release

#3469 Add Statuses to CSV, PDF, Json export
  server/app/featureflags/FeatureFlags.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/ExporterService.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/PdfExporter.java
  server/app/services/program/ColumnType.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/PdfExporterTest.java
Labels: feature, status-tracking

#3449 Add "Edited on" text to the admin question list page.
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/index.ts
  server/app/views/ViewUtils.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/style/ReferenceClasses.java
  server/test/views/ViewUtilsTest.java
Labels: feature

#3461 Reorder question fields to emphasize the external facing text
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/services/question/types/QuestionDefinition.java
  server/app/views/admin/questions/QuestionEditView.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: feature

#3462 Update admin question page to use "used", "added", "removed" in programs text
  browser-test/image_snapshots/civiform_admin_question_references_test/question-program-modal-snap.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-used-in-programs-snap.png
  browser-test/src/civiform_admin_question_references.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#3171 Logout users from the central provider (with flag)
  .gitignore
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/variable_definitions.json
  cloud/aws/templates/aws_oidc/variables.tf
  cloud/azure/modules/app/locals.tf
  cloud/azure/modules/app/variables.tf
  cloud/azure/templates/azure_saml_ses/staging_azure_backend_vars
  cloud/shared/bin/lib/config_loader.py
  cloud/shared/bin/lib/config_loader_test.py
  cloud/shared/bin/lib/terraform.py
  cloud/shared/variable_definitions.json
  docker-compose.yml
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CustomOidcLogoutRequest.java
  server/app/auth/oidc/OidcProvider.java
  server/app/modules/SecurityModule.java
  server/conf/application.conf
  server/conf/application.dev.conf
  server/test/app/SecurityBrowserTest.java
  server/test/support/CfTestHelpers.java
  test-support/test_oidc_provider.js
Labels: feature

#3475 Allow civiform admins see applications. flag guarded
  server/app/auth/CiviFormProfile.java
  server/app/auth/ProfileFactory.java
  server/app/controllers/CiviFormController.java
  server/app/featureflags/FeatureFlags.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/application.conf
  server/test/auth/CiviFormProfileTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/featureflags/FeatureFlagsTest.java
Labels: feature

#3478 Repoint TODO at a more appropriate issue.
  server/test/services/applicant/ApplicantServiceTest.java
Labels: ignore-for-release

#3447 Conditionally adding application status to applicant-facing view.
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-snap.png
  browser-test/image_snapshots/application_navigation_test/program-list-page-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/src/applicant_application_statuses.test.ts
  browser-test/src/support/index.ts
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/style/ApplicantStyles.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature

#3483 Update export test to account for Status being enabled or not.
  browser-test/src/application_download.test.ts
Labels: ignore-for-release

#3487 Fix call for program index page to properly filter to the set associated with the applicant
  server/app/repository/ApplicationRepository.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug

#3490 Remove unused assignments.
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/services/applicant/Currency.java
  server/app/services/export/PdfExporter.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/components/ToastMessage.java
Labels: ignore-for-release

#3491 Fallback to reload when the Question creation cancellation url is unknown.
  server/app/views/admin/questions/QuestionEditView.java
Labels: bug

#3493 Resize applicant-facing program card width
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-snap.png
  browser-test/image_snapshots/application_navigation_test/program-list-page-snap.png
  server/app/views/style/ApplicantStyles.java
Labels: bug

#3486 Setting tests to fail if screenshots have any differences rather than the previous value of 1%
  browser-test/image_snapshots/application_navigation_test/program-submission-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/src/support/index.ts
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#3479 Publish all drafts modals now displays program visibility and link to edit
  browser-test/image_snapshots/civiform_admin_publish_test/publish-modal-snap.png
  browser-test/src/civiform_admin_publish.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramIndexView.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: feature

#3488 Adding a browser-based regression test for #3487
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#3485 Updating question list to add a prefix of Admin ID to the internal fa…
  browser-test/image_snapshots/civiform_admin_question_references_test/question-program-modal-snap.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-used-in-programs-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft-snap.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active-snap.png
  browser-test/src/support/admin_questions.ts
  server/app/views/admin/questions/QuestionsListView.java
Labels: feature

#3499 Set value for user.name
  bin/create-release
Labels: ignore-for-release

#3480 Generalize handling of required question errors
  browser-test/image_snapshots/address_test/address-errors-snap.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-snap.png
  browser-test/image_snapshots/currency_test/currency-errors-snap.png
  browser-test/image_snapshots/date_test/date-errors-snap.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-snap.png
  browser-test/image_snapshots/email_test/email-errors-snap.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-snap.png
  browser-test/image_snapshots/id_test/id-errors-snap.png
  browser-test/image_snapshots/name_test/name-errors-snap.png
  browser-test/image_snapshots/number_input_test/number-errors-snap.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-snap.png
  browser-test/image_snapshots/text_test/text-errors-snap.png
  browser-test/src/end_to_end_enumerators.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/Block.java
  server/app/services/applicant/ValidationErrorMessage.java
  server/app/services/applicant/question/Question.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/BlockTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
Labels: feature

#3484 Add browser tests asserting that the "notify" checkbox is shown and an email is sent to the applicant
  bin/run-browser-test-env
  browser-test/browser-test-compose.yml
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/support/config.ts
  browser-test/src/support/index.ts
Labels: feature

#3500 Showing user-facing text in the visibility condition builder
  browser-test/image_snapshots/admin_predicates_test/hide-predicate-snap.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate-snap.png
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/admin_predicates.ts
  server/app/services/program/predicate/LeafOperationExpressionNode.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/services/program/predicate/PredicateExpressionNodeTest.java
Labels: feature

#3514 Use `replace` since `replaceAll` can cause TypeScript compiler issues
  browser-test/src/support/index.ts
Labels: feature

#3517 Simplifying the locator used to add a question from the question bank.
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#3526 auto add issues to project
  .github/workflows/assign_issues_to_project.yaml
Labels: ignore-for-release

#3532 Remove jest-playwright-preset since we don't make use of it
  browser-test/jest-playwright.config.js
  browser-test/jest.config.js
  browser-test/package.json
  browser-test/yarn.lock
Labels: ignore-for-release

#3537 Mark open classes that have no subclasses as final in order to make the decision to subclass explicit rather than implicit
  server/app/auth/ApiKeyGrants.java
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/ProfileFactory.java
  server/app/auth/StoredFileAcls.java
  server/app/controllers/LegacyRoutesController.java
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/controllers/admin/RequestChecker.java
  server/app/controllers/api/ApiPaginationToken.java
  server/app/controllers/api/ApiPaginationTokenPayload.java
  server/app/controllers/api/ApiPaginationTokenSerializer.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/forms/AddApplicantToTrustedIntermediaryGroupForm.java
  server/app/forms/AddTrustedIntermediaryForm.java
  server/app/forms/ApplicantInformationForm.java
  server/app/forms/BlockForm.java
  server/app/forms/CreateTrustedIntermediaryGroupForm.java
  server/app/forms/ManageProgramAdminsForm.java
  server/app/forms/ProgramForm.java
  server/app/forms/ProgramQuestionDefinitionOptionalityForm.java
  server/app/forms/QuestionFormBuilder.java
  server/app/forms/RemoveTrustedIntermediaryForm.java
  server/app/models/Models.java
  server/app/modules/DatabaseSeedModule.java
  server/app/repository/ApiKeyRepository.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/QuestionRepository.java
  server/app/repository/StoredFileRepository.java
  server/app/services/CryptographicUtils.java
  server/app/services/DateConverter.java
  server/app/services/PageNumberBasedPaginationSpec.java
  server/app/services/TranslationLocales.java
  server/app/services/WellKnownPaths.java
  server/app/services/apikey/ApiKeyCreationResult.java
  server/app/services/apikey/ApiKeyService.java
  server/app/services/applicant/Currency.java
  server/app/services/applicant/JsonPathProvider.java
  server/app/services/applicant/predicate/JsonPathPredicateGenerator.java
  server/app/services/applicant/predicate/PredicateEvaluator.java
  server/app/services/cloud/FileNameFormatter.java
  server/app/services/cloud/aws/AwsRegion.java
  server/app/services/cloud/aws/Credentials.java
  server/app/services/cloud/aws/SimpleEmail.java
  server/app/services/cloud/azure/Credentials.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/PdfExporter.java
  server/app/services/role/RoleService.java
  server/app/tasks/StoredFileAclMigrationTask.java
  server/app/views/HtmlBundle.java
  server/app/views/LanguageSelector.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/components/Accordion.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/components/LinkElement.java
  server/app/views/components/TextFormatter.java
  server/app/views/components/ToastMessage.java
  server/app/views/style/AdminStyles.java
  server/app/views/style/StyleUtils.java
Labels: ignore-for-release

#3512 Refactor question renderer classes to have a composite and single parent class
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantCompositeQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/ApplicantSingleQuestionRenderer.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
Labels: ignore-for-release

#3538 Marking more classes as final
  server/app/forms/translation/QuestionTranslationForm.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/program/StatusDefinitions.java
  server/test/forms/translation/QuestionTranslationFormTest.java
Labels: ignore-for-release

#3549 Fix login / select language page titles to be more accessible
  server/app/services/MessageKey.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/admin/AdminLayout.java
  server/app/views/applicant/ApplicantInformationView.java
  server/app/views/applicant/ApplicantLayout.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
  server/test/views/BaseHtmlLayoutTest.java
Labels: feature

#3541 Replace sbt-web with custom task
  server/build.sbt
  server/package-lock.json
  server/package.json
  server/project/TypescriptBuilder.scala
  server/project/plugins.sbt
  server/tsconfig.json
Labels: ignore-for-release

#3551 Fail on new images being added
  .github/workflows/tests.yaml
Labels: ignore-for-release

#3557 Setting lang for language radio select, dropdown, and the always-English brand
  server/app/views/LanguageSelector.java
  server/app/views/applicant/ApplicantLayout.java
Labels: feature

#3406 Reenable promise-related eslint checks and fix few issues
  browser-test/src/support/admin_api_keys.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/applicant_questions.ts
  browser-test/src/support/index.ts
  formatter/eslintrc_base.json
  server/app/assets/javascripts/admin_programs.ts
Labels: ignore-for-release

#3562 Adding new strings to translate for screen readers for the Edit and Continue buttons
  server/app/views/applicant/ProgramIndexView.java
  server/conf/messages
Labels: ignore-for-release

#3539 Login.gov implementation
  docker-compose.yml
  server/app/auth/AuthIdentityProviderName.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CustomOidcLogoutRequest.java
  server/app/auth/oidc/OidcProvider.java
  server/app/auth/oidc/applicant/GenericOidcProvider.java
  server/app/auth/oidc/applicant/IdcsProvider.java
  server/app/auth/oidc/applicant/LoginGovProvider.java
  server/app/controllers/LoginController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/modules/SecurityModule.java
  server/app/services/applicant/ApplicantService.java
  server/conf/application.conf
  server/test/auth/oidc/OidcProviderTest.java
  server/test/auth/oidc/applicant/GenericOidcProviderTest.java
  server/test/auth/oidc/applicant/IdcsProviderTest.java
  server/test/auth/oidc/applicant/LoginGovProviderTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: feature

#3576 Status Tracking: Verify user request is based on latest data
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: feature, status-tracking

#3580 Accessibility improvements for the program index page
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: feature

#3582 Add autocomplete attributes to name/email/address questions
  server/app/views/components/FieldWithLabel.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
Labels: feature

#3585 Making cloned enumerator field entries have unique IDs
  browser-test/src/end_to_end_enumerators.test.ts
  server/app/assets/javascripts/main.ts
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
Labels: feature

#3587 Plus sign in add new enumerated entity is no longer announced for screenreaders
  browser-test/src/support/applicant_questions.ts
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
Labels: feature

#3579 Heading A11Y fixes for preview, review, and block editing pages
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/style/ApplicantStyles.java
Labels: feature

#3593 Adding an h1 to the login page
  server/app/views/LoginForm.java
Labels: feature

#3594 Less than sign in program details page is no longer announced for screenreaders
  server/app/views/applicant/ApplicantProgramInfoView.java
Labels: feature
