Repository civiform/civiform, pull requests merged in 2022-07, with the labels that each got.

#2903 Prevent archiving / restoring questions that aren't in a valid state.
  server/app/models/Version.java
  server/app/services/question/QuestionServiceImpl.java
  server/test/services/question/QuestionServiceImplTest.java
Labels: bug

#2775 Add script for creating releases
  .github/release.yml
  .github/workflows/release.yaml
  .gitignore
  bin/create-release
  renovate.json
Labels: ignore-for-release

#2915 Redirect to draft question when trying to edit published.
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/controllers/admin/AdminQuestionController.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
Labels: bug

#2931 Fix CI status badge
  README.md
Labels: ignore-for-release

#2920 Refactor test file to follow sync-style
  server/test/controllers/admin/AdminQuestionControllerTest.java
Labels: ignore-for-release

#2937 Import individual AWS SDK libraries.
  server/build.sbt
Labels: infrastructure, ignore-for-release

#2939 Fix release action
  .github/workflows/release.yaml
Labels: ignore-for-release

#2940 Omit non-server dependencies in release notes
  renovate.json
Labels: ignore-for-release

#2942 Use a matrix to run CI builds
  .github/workflows/push_build_ci.yaml
  .github/workflows/push_cloud_tests.yaml
  .github/workflows/push_tests.yaml
Labels: ignore-for-release

#2943 Fix get_current_user function in AWS setup.py
  cloud/aws/templates/aws_oidc/bin/setup.py
Labels: aws, ignore-for-release

#2949 Remove --ipc param when running browser tests.
  bin/run-browser-tests
Labels: ignore-for-release

#2925 Move to new image for openjdk
  Dockerfile
  formatter/formatter.Dockerfile
  prod.Dockerfile
  renovate.json
Labels: dependencies

#2960 Improve typing in browser tests
  browser-test/src/address.test.ts
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  browser-test/src/admin_program_admins.test.ts
  browser-test/src/admin_program_hidden.test.ts
  browser-test/src/admin_program_list.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_optional_questions.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/question_delete.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/index.ts
  browser-test/src/text.test.ts
  browser-test/src/trusted_intermediary.test.ts
Labels: ignore-for-release

#2953 Added reminder to add labels to the PR checklist
  .github/pull_request_template.md
Labels: ignore-for-release

#2908 add a favicon, configured by whitelabel.favicon_url
  cloud/aws/templates/aws_oidc/app.tf
  cloud/aws/templates/aws_oidc/variables.tf
  cloud/azure/modules/app/locals.tf
  cloud/azure/modules/app/variables.tf
  cloud/azure/templates/azure_saml_ses/variables.tf
  cloud/deploys/dev_azure/civiform_config.example.sh
  cloud/shared/variable_definitions.json
  docker-compose.yml
  server/app/controllers/HomeController.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/HtmlBundle.java
  server/conf/application.conf
  server/conf/application.test.conf
  server/conf/routes
  server/test/controllers/HomeControllerTest.java
  server/test/views/HtmlBundleTest.java
Labels: feature

#2962 Use the JRE for the final prod image build
  prod.Dockerfile
Labels: infrastructure

#2964 Enable strict type checking for browser tests
  browser-test/src/address.test.ts
  browser-test/src/security.test.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/admin_translations.ts
  browser-test/src/tsconfig.json
Labels: ignore-for-release

#2968 Fix probe tests
  bin/run-prober
  browser-test/package-lock.json
Labels: ignore-for-release

#2970 Remove negative margin from site title
  server/app/views/LoginForm.java
Labels: bug

#2963 Add test coverage for ActiveAndDraftQuestions and extend publish draft test coverage
  server/app/models/Version.java
  server/app/repository/VersionRepository.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
Labels: bug, ignore-for-release

#2977 Temporarily marking code coverage upload failures as non-blocking.
  .github/workflows/tests.yaml
Labels: infrastructure

#2965 Build dev images for arm
  .github/workflows/push_build_ci.yaml
  Dockerfile
  bin/build-dev
  bin/build-dev-oidc
  bin/build-formatter
  bin/build-localstack-env
  bin/build-prod
  browser-test/playwright.Dockerfile
  formatter/formatter.Dockerfile
  localstack/localstack.Dockerfile
  prod.Dockerfile
  test-support/oidc.Dockerfile
Labels: infrastructure, ignore-for-release

#2978 Always set FieldWithLabel id
  server/app/views/components/FieldWithLabel.java
  server/test/views/components/FieldWithLabelTest.java
Labels: bug

#2981 Add civiform.git.commit_sha label when building an image.
  bin/build-prod
  prod.Dockerfile
Labels: infrastructure

#2990 Improve description of vpc_name varaible
  cloud/aws/templates/aws_oidc/variables.tf
Labels: infrastructure

#2974 Add question creation / last modified timestamps and ensure that they aren't updated as part of publishing a version
  server/app/models/Question.java
  server/app/repository/VersionRepository.java
  server/conf/evolutions/default/41.sql
  server/test/models/QuestionTest.java
  server/test/repository/VersionRepositoryTest.java
Labels: feature

#2982 Fix multi-platform image pushing
  .github/workflows/build_push_ci.yaml
  Dockerfile
  bin/build-browser-tests
  bin/build-dev
  bin/build-dev-oidc
  bin/build-formatter
  bin/build-localstack-env
  bin/build-prod
  bin/remove-dev
Labels: infrastructure, ignore-for-release

#2996 Updating url for github api calls
  bin/create-release
Labels: ignore-for-release

#2997 Fix layout for User name and Export to PDF button row
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/components/LinkElement.java
Labels: bug

#2991 Use dedicated volume for node_modules when running browser test
  bin/run-browser-tests
  bin/run-browser-tests-ci
Labels: ignore-for-release

#2989 Add axe accessibility tests to browser tests for question types
  browser-test/jest.config.js
  browser-test/package.json
  browser-test/src/address.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/index.ts
  browser-test/src/support/setup-jest.ts
  browser-test/src/text.test.ts
Labels: infrastructure, ignore-for-release

#2993 Move back to bellsoft image for arm
  .github/workflows/build_push_ci.yaml
  Dockerfile
  formatter/formatter.Dockerfile
  prod.Dockerfile
Labels: infrastructure, ignore-for-release

#2994 Remove OIDC TF variables that were moved to secret manager.
  cloud/aws/templates/aws_oidc/variable_definitions.json
  cloud/aws/templates/aws_oidc/variables.tf
  cloud/aws/templates/aws_oidc/vpc.tf
Labels: infrastructure

#2954 If config has fewer than 2 languages don't show language selector
  server/app/controllers/HomeController.java
  server/app/controllers/LanguageUtils.java
  server/app/controllers/applicant/RedirectController.java
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/LanguageUtilsTest.java
  server/test/controllers/RedirectControllerTest.java
Labels: feature

#2938 CiviForm admin handlers for creating, editing, and deleting program statuses
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/forms/admin/ProgramStatusesForm.java
  server/app/services/program/DuplicateStatusException.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/program/StatusDefinitions.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/components/FieldWithLabel.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
Labels: ignore-for-release

#3001 Setting PUSH_IMAGE env variable for bin/build-[dev|prod] scripts.
  .github/workflows/build_push_ci.yaml
Labels: bug

#3007 Update email-related setters for StatusDefinitions.Status.Builder to take an Optional<> instead of the raw value
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/services/program/StatusDefinitions.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: bug

#3006 Handle unauth better and add an empty test file for AdminApplicationController
  server/app/controllers/CiviFormController.java
  server/app/controllers/admin/AdminApplicationController.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: ignore-for-release

#3008 Infrastructure to display a modal on load, used by the program statuses controller
  server/app/assets/javascripts/modal.ts
  server/app/views/HtmlBundle.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/components/Modal.java
  server/app/views/style/ReferenceClasses.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
Labels: feature
