Repository civiform/civiform, pull requests merged in 2023-12, with the labels that each got.

#6094 Updating flags to more verbose option
  bin/build-browser-tests
  bin/build-dev
  bin/build-dev-oidc
  bin/build-formatter
  bin/build-localstack-env
  bin/build-mock-web-services
  bin/build-prod
Labels: infrastructure, ignore-for-release

#6100 Make bin/help more helpful
  bin/help
Labels: infrastructure, ignore-for-release

#6114 Add /metrics to exclusion list for SessionIdFilter
  server/app/filters/SessionIdFilter.java
  server/test/filters/SessionIdFilterTest.java
Labels: bug, metrics, google.org-swe

#6105 Create /dev/profile endpoint to display user's pac4j profile
  browser-test/image_snapshots/dev_tools_test/dev-tools-modal.png
  server/app/controllers/dev/ProfileController.java
  server/app/views/dev/DebugContent.java
  server/conf/routes
  server/test/controllers/dev/ProfileControllerTest.java
Labels: authentication, feature, google.org-swe

#6136 Create browser test to ensure profile stability
  browser-test/src/profile_stability.test.ts
  browser-test/src/support/config.ts
Labels: authentication, google.org-swe, ignore-for-release

#6120 Only validate new admin names
  server/app/controllers/admin/AdminQuestionController.java
  server/app/services/question/QuestionService.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/question/types/QuestionDefinition.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: bug

#6156 Reverting profile stability tests for now because of failures in probers
  browser-test/src/profile_stability.test.ts
  browser-test/src/support/config.ts
Labels: ignore-for-release

#6165 Honor BASE_URL from environment in run-browser-tests-local
  bin/run-browser-tests-local
Labels: infrastructure, google.org-swe, ignore-for-release

#6125 Making note for administrative use field optional
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  server/app/controllers/admin/AdminProgramController.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: google.org-swe, enhancement

#6189 Skipping unreliable api docs tests on probers for now
  browser-test/src/api_docs.test.ts
Labels: ignore-for-release

#6187 Add program upsell feature flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: ignore-for-release, feature-flag

#6192 Made a few improvements to headers on the TI dashboard
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/views/BaseHtmlView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: a11y, enhancement

#6191 Fix text overflow issue on question title
  server/app/views/components/ProgramQuestionBank.java
Labels: bug, google.org-swe

#6140 Publish all programs modal - update formatting and add information about universal questions
  browser-test/image_snapshots/civiform_admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/image_snapshots/civiform_admin_publish_test/publish-modal.png
  browser-test/image_snapshots/civiform_admin_publish_with_program_read_only_view_disabled_test/publish-modal.png
  browser-test/src/civiform_admin_publish.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/views/admin/programs/ProgramIndexView.java
Labels: feature

#6042 Add AwsApplicantStorageTest
  server/test/services/cloud/aws/AwsApplicantStorageTest.java
  test-support/unit-test-docker-compose.yml
Labels: ignore-for-release, enhancement

#6193 add universal question text in program list view
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/civiform_admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/src/admin_program_list.test.ts
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
Labels: feature

#6181 Add feature flag for new applicant URL schema
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, feature-flag, enhancement

#5946 Remove applicant id from URLs for index action
  browser-test/src/support/index.ts
  server/app/auth/CiviFormProfile.java
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/ProfileFactory.java
  server/app/auth/controllers/MissingOptionalException.java
  server/app/controllers/CiviFormController.java
  server/app/controllers/HomeController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/controllers/applicant/UpsellController.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/routes
  server/test/controllers/HomeControllerTest.java
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: google.org-swe, enhancement

#6201 Require program slugs to be alphanumeric
  server/app/services/program/ProgramService.java
  server/test/services/program/ProgramServiceTest.java
Labels: bug, google.org-swe

#6115 Remove applicant id from application programs view URL
  server/app/controllers/CiviFormController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: google.org-swe, enhancement

#6204 Avoid creating a draft program when we don't need to
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/program/ProgramService.java
Labels: google.org-swe, ignore-for-release

#6207 Match full URL in loginAsTestUserAwsStaging()
  browser-test/src/support/index.ts
Labels: authentication, ignore-for-release, staging

#6209 Specify a better matching URL for loginAsTestUserAwsStaging()
  browser-test/src/support/index.ts
Labels: google.org-swe, ignore-for-release

#6217 Use regex instead of glob for URL pattern
  browser-test/src/support/index.ts
Labels: google.org-swe, ignore-for-release

#6219 Specify regex with slashes rather than quotes
  browser-test/src/support/index.ts
Labels: google.org-swe, ignore-for-release

#6050 [Program Card Images] Add UI for admin to upload a program image.
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/assets/program-summary-image.png
  browser-test/src/support/admin_program_image.ts
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/models/ProgramModel.java
  server/app/modules/CloudStorageModule.java
  server/app/services/cloud/ApplicantFileNameFormatter.java
  server/app/services/cloud/ApplicantStorageClient.java
  server/app/services/cloud/PublicFileNameFormatter.java
  server/app/services/cloud/PublicStorageClient.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/fileupload/AwsFileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/conf/evolutions/default/60.sql
  server/conf/routes
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/models/ProgramModelTest.java
  server/test/services/cloud/ApplicantFileNameFormatterTest.java
  server/test/services/cloud/PublicFileNameFormatterTest.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
  server/test/services/cloud/azure/AzurePublicStorageTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: feature, database

#6199 Remove applicant id from URLs for edit action
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: google.org-swe, ignore-for-release, enhancement

#6216 Remove applicant id from URL for review action
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: google.org-swe, ignore-for-release

#6223 Remove applicant id from URLs for submit action
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: google.org-swe, ignore-for-release

#6157 Create PRD_or_TDD.md
  .github/ISSUE_TEMPLATE/PRD_or_TDD.md
Labels: ignore-for-release

#6155 Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: ignore-for-release

#6225 Add main page text revisions to messages file for translation
  server/conf/i18n/messages
  server/test/conf/MessagesTest.java
Labels: i18n, google.org-swe

#6224 Remove applicant id from URLs for block edit action
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: google.org-swe, ignore-for-release

#6226 Introduce ProfileUtils.currentProfileOrThrow()
  server/app/auth/ProfileUtils.java
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/test/controllers/WithMockedProfiles.java
Labels: google.org-swe, ignore-for-release

#6234 Enable new applicant URL schema for dev servers
  server/conf/application.dev.conf
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: google.org-swe, ignore-for-release

#6236 Handle missing groups attribute in OIDC profile
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
Labels: bug, authentication, google.org-swe

#6237 Ran fmt on md files
  .github/ISSUE_TEMPLATE/PRD_or_TDD.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: ignore-for-release

#6239 Remove applicant id from URLs for block review action
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: google.org-swe, ignore-for-release

#6240 Ignore program image tests
  browser-test/src/admin_program_image.test.ts
Labels: feature, ignore-for-release

#6241 Remove applicant id from URLs for confirm address action
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: google.org-swe, ignore-for-release

#6242 Added character length limit of program status
  browser-test/src/civiform_admin_program_statuses.test.ts
  server/app/forms/admin/ProgramStatusesForm.java
Labels: google.org-swe, enhancement

#6200 [Program Card Images] Render images on applicant homepage
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-public.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-not-set.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-all-types.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-flag-off.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-tall.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-with-status.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status.png
  browser-test/image_snapshots/application_navigation_test/cif-shows-submitted.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/mobile_views_test/mobile-initial-load.png
  browser-test/image_snapshots/mobile_views_test/mobile-modal.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/assets/program-summary-image-tall.png
  browser-test/src/assets/program-summary-image-wide.png
  browser-test/src/support/admin_program_image.ts
  server/app/services/cloud/aws/AwsStorageUtils.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/style/ApplicantStyles.java
Labels: feature

#6218 [Program Card Images] Use USWDS file input component for admin program image upload
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/file.test.ts
  browser-test/src/support/admin_program_image.ts
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/fileupload/AwsFileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/FileUploadViewStrategy.java
Labels: feature

#6244 Reduce unnecessary calls to create and publish a program
  server/app/services/program/ProgramService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: scaling, google.org-swe, ignore-for-release

#6250 Log redirect location, if applicable
  server/app/filters/LoggingFilter.java
Labels: google.org-swe, ignore-for-release

#6227 [Program Card Images] Show a preview of the program card in the admin UI
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramIndexView.java
Labels: feature

#6257 Refactor question.getQuestionDefinition to be called from questionRepository
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/services/question/QuestionService.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/services/question/ReadOnlyVersionedQuestionServiceImpl.java
  server/test/repository/VersionRepositoryTest.java
  server/test/support/ProgramBuilder.java
Labels: google.org-swe, ignore-for-release

#6254 [Program Card Images] Add breadcrumbs to admin program image upload page
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/components/breadcrumb/BreadcrumbFactory.java
  server/app/views/components/breadcrumb/BreadcrumbItem.java
  server/test/views/components/breadcrumb/BreadcrumbFactoryTest.java
Labels: feature

#6272 [Program Card Images] Polish the admin page UI
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramImageView.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
Labels: feature

#6274 [Program Card Images] Add alt text when rendering program cards with images.
  browser-test/src/applicant_application_index.test.ts
  server/app/views/applicant/ProgramCardViewRenderer.java
Labels: feature
