Repository civiform/civiform, pull requests merged in 2023-02, with the labels that each got.

#4138 Switching from using full state name to state abbreviation
  server/app/services/geo/esri/EsriClient.java
  server/test/resources/esri/findAddressCandidates.json
  server/test/services/geo/esri/EsriClientTest.java
Labels: ignore-for-release

#4146 Call asText and not toString to get value from json
  server/app/services/geo/esri/EsriClient.java
  server/test/services/geo/esri/EsriClientTest.java
Labels: ignore-for-release

#4135 Use message keys in ineligible block view
  browser-test/image_snapshots/admin_legacy_predicates_test/ineligible.png
  browser-test/image_snapshots/admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/image_snapshots/admin_predicates_test/ineligible.png
  server/app/services/MessageKey.java
  server/app/views/applicant/IneligibleBlockView.java
  server/conf/messages.en-US
Labels: i18n, dow-swe, ignore-for-release

#4115 Adds service area validation methods to EsriClient
  server/app/services/geo/AddressLocation.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/EsriServiceAreaValidationConfig.java
  server/app/services/geo/esri/EsriServiceAreaValidationOption.java
  server/conf/application.conf
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/test/resources/esri/serviceAreaFeatures.json
  server/test/resources/esri/serviceAreaFeaturesNoFeatures.json
  server/test/resources/esri/serviceAreaFeaturesNotInArea.json
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationConfigTest.java
Labels: ignore-for-release

#4114 i18n for 'Error saving application' banner
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/conf/messages
  server/conf/messages.en-US
Labels: i18n

#4147 Add icon to program details link
  browser-test/image_snapshots/admin_legacy_predicates_test/ineligible.png
  browser-test/image_snapshots/admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/image_snapshots/admin_predicates_test/ineligible.png
  server/app/views/applicant/IneligibleBlockView.java
Labels: dow-swe, ignore-for-release

#4150 Fix vscode-setup
  bin/sbt
  bin/vscode-setup
Labels: bug, infrastructure

#4133 Fix image building scripts for Docker CLI on linux
  bin/build-browser-tests
  bin/build-dev
  bin/build-dev-oidc
  bin/build-localstack-env
  bin/build-prod
Labels: ignore-for-release

#4148 Add search filter to Questions page.
  browser-test/image_snapshots/civiform_admin_question_references_test/question-program-modal.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-used-in-programs.png
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active.png
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/views/admin/questions/QuestionsListView.java
Labels: feature

#4159 Show not eligible banner on pre-view page
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/toast.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: eligibility, a11y, feature, dow-swe, ignore-for-release

#4134 Admin can configure address service area predicates
  browser-test/src/admin_legacy_predicates.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/admin_predicates.ts
  browser-test/src/support/index.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/repository/VersionRepository.java
  server/app/services/applicant/predicate/PredicateEvaluator.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramQuestionDefinition.java
  server/app/services/program/ProgramQuestionDefinitionNotFoundException.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/program/predicate/ConcretePredicateExpressionNode.java
  server/app/services/program/predicate/LeafAddressServiceAreaExpressionNode.java
  server/app/services/program/predicate/LeafExpressionNode.java
  server/app/services/program/predicate/LeafOperationExpressionNode.java
  server/app/services/program/predicate/Operator.java
  server/app/services/program/predicate/OperatorRightHandType.java
  server/app/services/program/predicate/PredicateExpressionNode.java
  server/app/services/program/predicate/PredicateGenerator.java
  server/app/services/program/predicate/PredicateValue.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/ScalarType.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, admin-ui

#4160 Store address geo correction status and location fields on applicant
  server/app/services/CfJsonDocumentContext.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/question/AddressQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/question/types/ScalarType.java
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/support/QuestionAnswerer.java
Labels: feature

#4171 Adds CiviForm version to login page.
  server/app/featureflags/FeatureFlags.java
  server/app/views/LoginForm.java
  server/conf/application.conf
Labels: feature

#4161 Adds getServiceAreaInclusionGroup and isServiceAreaOptionInInclusionGroup to EsriClient
  server/app/services/geo/ServiceAreaInclusion.java
  server/app/services/geo/ServiceAreaState.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/EsriServiceAreaValidationConfig.java
  server/app/services/geo/esri/EsriServiceAreaValidationOption.java
  server/app/services/geo/esri/InvalidEsriServiceAreaValidationConfigException.java
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationConfigTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationOptionTest.java
Labels: ignore-for-release

#4179 Ensure applicant uses existing application
  server/app/repository/ApplicationRepository.java
  server/test/repository/ApplicationRepositoryTest.java
Labels: bug, ignore-for-release

#4187 Add a new ProgramType enum to Programs.
  server/app/models/Program.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/program/ProgramType.java
  server/conf/evolutions/default/47.sql
  server/test/models/ProgramTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, ignore-for-release

#4192 Add a more robust UI for feature flags
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/featureflags/FeatureFlags.java
  server/app/views/dev/FeatureFlagView.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
Labels: ignore-for-release

#4193 Add flags for common intake form.
  server/app/featureflags/FeatureFlags.java
  server/conf/application.conf
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
Labels: ignore-for-release

#4197 Add delete screen confirmation modal
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramBlockEditView.java
Labels: feature

#3900 Scaffolding for Durable Job system
  server/app/durablejobs/DurableJob.java
  server/app/durablejobs/DurableJobFactory.java
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/DurableJobRegistry.java
  server/app/durablejobs/JobNotFoundException.java
  server/app/durablejobs/RecurringJobExecutionTimeResolver.java
  server/app/durablejobs/RecurringJobSchedulers.java
  server/app/durablejobs/jobs/OldJobCleanupJob.java
  server/app/models/Models.java
  server/app/modules/DurableJobModule.java
  server/app/repository/PersistedDurableJobRepository.java
  server/test/durablejobs/DurableJobRegistryTest.java
  server/test/durablejobs/RecurringJobSchedulersTest.java
  server/test/repository/PersistedDurableJobRepositoryTest.java
Labels: feature, ignore-for-release

#4189 Fix multiple service area values bug
  browser-test/src/admin_predicates.test.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
Labels: bug

#4200 Add translations
  server/conf/messages.am
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: i18n, dow-swe, ignore-for-release

#4205 Adds session values to request logging
  browser-test/image_snapshots/landing_page_test/landing-page-no-version.png
  browser-test/image_snapshots/landing_page_test/landing-page-with-version.png
  browser-test/image_snapshots/landing_page_test/landing-page.png
  browser-test/src/landing_page.test.ts
  server/app/filters/LoggingFilter.java
  server/conf/application.conf
  server/conf/application.dev.conf
Labels: ignore-for-release

#4185 Add eligibility tags to home page
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/Icons.java
  server/app/views/style/ReferenceClasses.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: eligibility, feature, dow-swe, ignore-for-release

#4213 Fixes landing_page test when run on prod CiviForm image
  browser-test/src/landing_page.test.ts
Labels: ignore-for-release

#4214 Support login page feature toggles for staging deployments
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/controllers/dev/DevController.java
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/controllers/dev/IconsController.java
  server/app/services/DeploymentType.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/LoginForm.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/AdminLayoutFactory.java
  server/app/views/applicant/ApplicantLayout.java
  server/conf/application.conf
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/views/BaseHtmlLayoutTest.java
Labels: feature

#4210 Durable job runner
  server/app/durablejobs/DurableJobExecutionContext.java
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/DurableJobRegistry.java
  server/app/durablejobs/DurableJobRunner.java
  server/app/modules/DurableJobModule.java
  server/app/repository/PersistedDurableJobRepository.java
  server/conf/application.conf
  server/test/durablejobs/DurableJobRunnerTest.java
  server/test/repository/PersistedDurableJobRepositoryTest.java
Labels: feature, ignore-for-release

#4220 Adding english default strings for address correction ui
  server/app/services/MessageKey.java
  server/conf/messages
Labels: feature, ignore-for-release

#4206 Add trusted intermediary eligibility text
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/not-eligible-page-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/messages
  server/conf/messages.en-US
Labels: eligibility, feature, dow-swe, ignore-for-release

#4219 Recurring job scheduler
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/DurableJobRegistry.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/RecurringJobScheduler.java
  server/app/modules/DurableJobModule.java
  server/app/repository/PersistedDurableJobRepository.java
  server/test/durablejobs/DurableJobRegistryTest.java
  server/test/durablejobs/DurableJobRunnerTest.java
  server/test/durablejobs/DurableJobSchedulerTest.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/repository/PersistedDurableJobRepositoryTest.java
Labels: feature, ignore-for-release

#4208 Fixing improper indendation of Enumerator and Repeaters
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/src/end_to_end_enumerators.test.ts
  server/app/views/admin/programs/ProgramBlockEditView.java
Labels: bug, admin-ui

#4228 Pass github token to googlejavaformat action
  .github/workflows/format.yaml
Labels: ignore-for-release

#4227 Show eligibility status in Program Admin application view
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  browser-test/src/admin_application_statuses.test.ts
  server/app/services/applicant/ApplicantService.java
  server/app/services/program/ProgramDefinition.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/test/services/program/ProgramDefinitionTest.java
Labels: eligibility, feature, dow-swe, admin-ui, ignore-for-release

#4229 Update "Not eligible" text
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: eligibility, dow-swe, ignore-for-release

#4155 Fix missing bold fonts in screenshot tests (1/2)
  browser-test/fonts.conf
  browser-test/playwright.Dockerfile
Labels: ignore-for-release

#4211 Allow setting a program as the common intake form.
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/forms/ProgramForm.java
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramEditView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
  server/test/support/ResourceCreator.java
Labels: feature, ignore-for-release, common-intake-form

#4232 Auto assign PRs to their author
  .github/workflows/auto-author-assign.yml
Labels: ignore-for-release

#4243 ProgramDetails link in Applicant's Ineligible page should point to the program's external link
  browser-test/src/admin_predicates.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/IneligibleBlockView.java
Labels: bug

#4263 Update admin eligibility info copy
  server/app/views/admin/programs/ProgramBlockEditView.java
Labels: eligibility, dow-swe, ignore-for-release

#4266 Remove files accidentally added in previous PR.
  server/app/forms/ProgramSettingsForm.java
  server/app/views/admin/programs/ProgramSettingsEditView.java
  server/app/views/admin/programs/ProgramSettingsFormBuilder.java
Labels: ignore-for-release

#4261 Make applicant code async when showing the IneligiblePage from a submit exception
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/IneligibleBlockView.java
Labels: eligibility, dow-swe, ignore-for-release

#4264 Add ability to customize confirmation screen message
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/application_navigation_test/program-submission.png
  browser-test/src/auth.test.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/forms/ProgramForm.java
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/models/Program.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/program/LocalizationUpdate.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/conf/evolutions/default/49.sql
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/models/ProgramTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
Labels: feature

#4260 Text changes on Ineligibility screen
  browser-test/image_snapshots/admin_legacy_predicates_test/ineligible.png
  browser-test/image_snapshots/admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/image_snapshots/admin_predicates_test/ineligible.png
  browser-test/image_snapshots/trusted_intermediary_test/not-eligible-page-ti.png
  server/app/services/MessageKey.java
  server/app/views/applicant/IneligibleBlockView.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: bug

#4265 Enable multi-question condition editor for all deployments
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_legacy_predicates.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/civiform_admin_publish.test.ts
  browser-test/src/support/admin_predicates.ts
  browser-test/src/support/index.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/featureflags/FeatureFlags.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/conf/application.conf
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/featureflags/FeatureFlagsTest.java
Labels: feature

#4272 Enable new background job processing system
  server/app/modules/DurableJobModule.java
  server/conf/application.conf
Labels: infrastructure

#4276 Error notification emails for durable jobs
  server/app/durablejobs/DurableJobRunner.java
  server/app/models/PersistedDurableJob.java
  server/conf/application.conf
  server/test/durablejobs/DurableJobRunnerTest.java
  server/test/models/PersistedDurableJobTest.java
Labels: feature

#4278 Add version ref to autoassign workflow
  .github/workflows/auto-author-assign.yml
Labels: ignore-for-release

#4277 Wrap english text on translations page
  server/app/views/admin/TranslationFormView.java
Labels: bug, ignore-for-release

#4283 Update eligibility tag styling and hide for submitted apps
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/home-page-no-eligibility-tag-for-submitted.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ProgramIndexView.java
Labels: bug, eligibility, dow-swe

#4204 Fetches and stores service area on applicant
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/Block.java
  server/app/services/applicant/ServiceAreaUpdate.java
  server/app/services/applicant/ServiceAreaUpdateResolver.java
  server/app/services/applicant/question/AddressQuestion.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/geo/CorrectedAddressState.java
  server/app/services/geo/ServiceAreaInclusion.java
  server/app/services/geo/ServiceAreaInclusionGroup.java
  server/app/services/geo/ServiceAreaState.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/EsriServiceAreaValidationConfig.java
  server/app/services/geo/esri/EsriServiceAreaValidationOption.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/geo/ServiceAreaInclusionGroupTest.java
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationConfigTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationOptionTest.java
  server/test/support/QuestionAnswerer.java
Labels: feature

#4284 Add an indicator showing which program is the common intake.
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/src/admin_program_list.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/ProgramAdminController.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/components/Icons.java
  server/app/views/components/ProgramCardFactory.java
Labels: feature, ignore-for-release, common-intake-form

#4287 Fix intake form uniqueness logic to look at active and draft programs.
  server/app/repository/ProgramRepository.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
Labels: bug, ignore-for-release, common-intake-form

#4291 Bugfix: Update eligibility definition question versions
  server/app/repository/VersionRepository.java
  server/test/repository/VersionRepositoryTest.java
Labels: bug

#4247 Add support for address verification and optional toggle in Program read only view
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_viewing.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramBlockEditView.java
Labels: feature, ignore-for-release

#4292 Remove TS for legacy admin predicate UI
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/legacy_admin_predicate_configuration.ts
Labels: tech-debt, ignore-for-release

#4296 Bugfix: editing multi-question predicates
  server/app/services/program/predicate/PredicateDefinition.java
  server/app/services/program/predicate/PredicateGenerator.java
  server/app/views/admin/programs/ProgramBlockBaseView.java
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
  server/test/models/ProgramTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
  server/test/views/admin/programs/ProgramBlockBaseViewTest.java
Labels: bug

#4297 Ignore "predicateFormat" when loading PredicateDefinition
  server/app/services/program/predicate/PredicateDefinition.java
Labels: bug, ignore-for-release
