Repository civiform/civiform, pull requests merged in 2023-05, with the labels that each got.

#4712 Check for slanted quotes in `MessagesTest`, fix one instance
  server/conf/messages.tl
  server/test/conf/MessagesTest.java
Labels: ignore-for-release

#4686 Add login prompt when guests click Apply
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt.png
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
  server/app/views/applicant/AuthenticateUpsellCreator.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/messages
  server/test/conf/MessagesTest.java
Labels: feature, login-language-landing

#4725 Fix Renovate Config
  renovate.json
Labels: ignore-for-release

#4740 Use minimatch glob pattern for renovate matchPaths
  renovate.json
Labels: infrastructure, ignore-for-release

#4741 Group jdk/jre dependency updates and enforce max version
  renovate.json
Labels: infrastructure, ignore-for-release

#4759 Removing Arkansas as a default value in the config
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-signed-in-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page.png
  server/conf/application.conf
Labels: bug, ignore-for-release

#4724 Add link to FeatureFlag class
  server/app/featureflags/FeatureFlag.java
Labels: ignore-for-release

#4758 Add tests for RedirectController.
  server/test/controllers/RedirectControllerTest.java
  server/test/controllers/WithMockedProfiles.java
Labels: tech-debt, ignore-for-release

#4681 Add prometheus metrics to ESRI and email client API calls
  server/app/services/cloud/aws/SimpleEmail.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/FakeEsriClient.java
  server/app/services/geo/esri/RealEsriClient.java
Labels: infrastructure, metrics, dow-swe

#4774 API keys support multiple CIDR blocks for IP allowlist
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page.png
  browser-test/image_snapshots/admin_api_keys_test/new-api-key-page.png
  browser-test/src/admin_api_keys.test.ts
  server/app/auth/ApiAuthenticator.java
  server/app/models/ApiKey.java
  server/app/services/apikey/ApiKeyService.java
  server/app/views/admin/apikeys/ApiKeyIndexView.java
  server/app/views/admin/apikeys/ApiKeyNewOneView.java
  server/test/auth/ApiAuthenticatorTest.java
  server/test/services/apikey/ApiKeyServiceTest.java
  server/test/support/ResourceCreator.java
Labels: feature

#4776 Resolve HTTP client IP addresses by CLIENT_IP_TYPE
  server/app/auth/ApiAuthenticator.java
  server/app/auth/ClientIpType.java
  server/conf/application.conf
  server/conf/env-var-docs.json
Labels: bug, security

#4778 Giving descriptive names to actions
  .github/workflows/assign_issues_to_project.yaml
  .github/workflows/build_push_ci.yaml
  .github/workflows/generate_env_var_docs_markdown_for_release.yaml
  .github/workflows/pr_env_var_docs.yaml
  .github/workflows/pr_server.yaml
  .github/workflows/pr_server_skip.yaml
  .github/workflows/push_tests.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/tests_skip.yaml
Labels: infrastructure, ignore-for-release

#4777 Parse X-Forwarded-For header
  server/app/auth/ApiAuthenticator.java
  server/test/auth/ApiAuthenticatorTest.java
Labels: bug, ignore-for-release

#4786 Add link to bin/build-prod warning message
  bin/build-prod
Labels: infrastructure, ignore-for-release

#4787 Make Modal title required at compile-time
  server/app/views/components/Modal.java
Labels: ignore-for-release

#4788 Update OpenTelemetry setup
  otel-config.yaml
Labels: infrastructure, dow-swe, arkansas

#4780 Session Ended Toast
  browser-test/image_snapshots/auth_test/guest-just-ended-session.png
  browser-test/image_snapshots/auth_test/user-just-ended-session.png
  browser-test/src/auth.test.ts
  browser-test/src/support/index.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/toast.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ToastMessage.java
  server/conf/messages
  server/test/conf/MessagesTest.java
Labels: login-language-landing

#4801 Show a login prompt on the program slug redirect page
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug.png
  browser-test/src/program_deep_link.test.ts
  browser-test/src/support/index.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/AuthenticateUpsellCreator.java
  server/app/views/applicant/ProgramIndexView.java
Labels: login-language-landing

#4810 Make modal width `w-11/12` on smaller screens to render better on mobile.
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  server/app/views/components/Modal.java
Labels: UI / visual design

#4811 Make entity logo not stretch on mobile
  server/app/views/applicant/ApplicantLayout.java
Labels: UI / visual design

#4803 Add extra login prompt message
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug.png
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/AuthenticateUpsellCreator.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
  server/test/conf/MessagesTest.java
Labels: ignore-for-release

#4818 Fix visibility predicates questions bug.
  server/app/services/program/ProgramDefinition.java
  server/test/services/program/ProgramDefinitionTest.java
Labels: bug

#4817 Fix guest merge logic
  server/app/auth/CiviFormProfileMerger.java
  server/test/auth/CiviFormProfileMergerTest.java
Labels: ignore-for-release

#4819 Store language code instead of language on initial page load
  server/app/controllers/applicant/ApplicantInformationController.java
  server/test/controllers/applicant/ApplicantInformationControllerTest.java
Labels: ignore-for-release

#4829 Make bin/pull-image better handle USE_LOCAL_CIVIFORM
  bin/pull-image
Labels: bug, infrastructure, ignore-for-release

#4821 Take TIs directly to their dashboard instead of the programs index page
  server/app/controllers/HomeController.java
Labels: TI

#4320 Adding new container for mock web services
  .github/workflows/build_push_ci.yaml
  .github/workflows/pr_server.yaml
  .github/workflows/pr_server_skip.yaml
  .github/workflows/tests.yaml
  .gitignore
  bin/build-mock-web-services
  bin/pull-image
  docker-compose.dev.yml
  docker-compose.yml
  formatter/fmt
  mock-web-services/README.md
  mock-web-services/app.py
  mock-web-services/esri/__init__.py
  mock-web-services/mock-web-services.Dockerfile
  mock-web-services/requirements.txt
  mock-web-services/webservice/__init__.py
  server/app/modules/EsriModule.java
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/conf/helper/esri.conf
Labels: ignore-for-release

#4823 Fix mobile header rendering
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-ti-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page.png
  browser-test/image_snapshots/mobile_views_test/mobile-apply-page.png
  browser-test/image_snapshots/mobile_views_test/mobile-initial-load.png
  browser-test/image_snapshots/mobile_views_test/mobile-modal.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/eligible-toast.png
  browser-test/image_snapshots/trusted_intermediary_test/not-eligible-page-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/views/applicant/ApplicantLayout.java
Labels: UI / visual design

#4813 Add support for publishing a single program.
  server/app/controllers/admin/AdminProgramController.java
  server/app/featureflags/FeatureFlag.java
  server/app/repository/VersionRepository.java
  server/app/services/program/CantPublishProgramWithSharedQuestionsException.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/conf/routes
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/repository/VersionRepositoryTest.java
Labels: feature, ignore-for-release

#4824 Delete otel-config.yaml
  otel-config.yaml
Labels: infrastructure, metrics, dow-swe, ignore-for-release

#4848 Update mock-web-services image
  docker-compose.dev.yml
Labels: bug, infrastructure, dow-swe, ignore-for-release

#4846 Handle unexpected AGE_BETWEEN input
  server/app/services/applicant/predicate/JsonPathPredicateGenerator.java
  server/test/services/applicant/predicate/JsonPathPredicateGeneratorTest.java
Labels: bug, eligibility, dow-swe

#4854 Making sure to correctly tag mock-web-service in docker
  bin/pull-image
  docker-compose.dev.yml
Labels: bug, infrastructure, ignore-for-release

#4859 Fix program by slug when BYPASS_LOGIN_LANGUAGE_SCREENS is on.
  browser-test/src/program_deep_link.test.ts
  browser-test/src/support/index.ts
  server/app/controllers/applicant/RedirectController.java
Labels: bug

#4836 Add validation for predicate selections
  browser-test/image_snapshots/admin_predicates_test/predicate-error.png
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/admin_predicates.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: bug, eligibility, dow-swe, admin-ui

#4877 Fix redirects when users go to program slugs
  browser-test/src/program_deep_link.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/views/components/Modal.java
Labels: ignore-for-release

#4890 Move messages files from `conf/` to `conf/i18n`
  server/conf/application.conf
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.en-US
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
  server/test/conf/MessagesTest.java
Labels: ignore-for-release

#4682 Add monitoring metrics for database queries
  server/app/controllers/monitoring/MetricsController.java
  server/test/controllers/monitoring/MetricsControllerTest.java
Labels: infrastructure, metrics, dow-swe

#4889 Retry DurableJobRunnerTest up to 5x on failure
  server/test/durablejobs/DurableJobRunnerTest.java
  server/test/support/TestRetry.java
Labels: ignore-for-release

#4893 Add `transifex.yml`
  server/conf/i18n/transifex.yml
Labels: ignore-for-release

#4903 Remove duplicate assertions.
  server/test/repository/VersionRepositoryTest.java
Labels: tech-debt, ignore-for-release

#4884 Enable individual program publishing by default.
  server/conf/helper/feature-flags.conf
Labels: feature, feature-flag

#4898 Allow publishing draft questions when there are no draft programs.
  server/app/views/admin/programs/ProgramIndexView.java
  server/test/repository/VersionRepositoryTest.java
Labels: bug, admin-ui

#4900 Allow keys in `messages` to not be present in foreign language `messages.xx` files
  server/test/conf/MessagesTest.java
Labels: i18n, ignore-for-release

#4906 Add remaining translations keys from Google Sheet
  server/conf/i18n/messages
Labels: ignore-for-release

#4879 Enable ability to configure eligibility for all deployments
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_settings.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/featureflags/FeatureFlag.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/services/applicant/ApplicantServiceTest.java
Labels: eligibility, feature, dow-swe

#4904 Add `README.md` to i18n folder
  server/conf/i18n/README.md
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, ignore-for-release

#4909 Allow publishing questions without programs.
  server/app/repository/VersionRepository.java
  server/test/repository/VersionRepositoryTest.java
Labels: bug, ignore-for-release

#4915 Fix `reviewers.yml`
  .github/reviewers.yml
Labels: i18n, ignore-for-release

#4921 Add Laotian and Marshallese `messages` files.
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.mh
Labels: i18n, ignore-for-release

#4878 Create restrictions on number of questions in predicate configuration
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/src/admin_predicates.test.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/views/admin/programs/ProgramPredicatesEditViewV2.java
  server/app/views/style/ReferenceClasses.java
Labels: feature, dow-swe, admin-ui

#4927 Update renovate to group playwright
  renovate.json
Labels: ignore-for-release, dependencies

#4931 Disable request session logging on dev/test/browser tests as default
  server/conf/application.dev.conf
Labels: ignore-for-release

#4887 Making TI_ONLY display mode visible to TI Members not TI clients
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug

#4928 Clean up Login/Languages Code
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-after-removing-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-with-multiple-fileds.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator.png
  browser-test/image_snapshots/mobile_views_test/mobile-initial-load.png
  browser-test/src/address.test.ts
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/admin_program_visibility.test.ts
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/applicant_application_statuses.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_previous_version.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/auth.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/error_pages.test.ts
  browser-test/src/file.test.ts
  browser-test/src/header.test.ts
  browser-test/src/id.test.ts
  browser-test/src/mobile_views.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/phone.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/security.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/applicant_questions.ts
  browser-test/src/support/index.ts
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/text.test.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/auth/FakeAdminClient.java
  server/app/controllers/HomeController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/featureflags/FeatureFlag.java
  server/app/views/LoginForm.java
  server/app/views/applicant/ApplicantInformationView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/conf/routes
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/RedirectControllerTest.java
Labels: tech-debt, ignore-for-release

#4936 Fixing code scanning alert on permissions
  .github/workflows/auto_request_review.yml
Labels: infrastructure, ignore-for-release

#4929 Rename `ApplicantInformationController` methods
  server/app/controllers/HomeController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/views/applicant/ApplicantLayout.java
  server/conf/routes
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/RedirectControllerTest.java
  server/test/controllers/applicant/ApplicantInformationControllerTest.java
Labels: tech-debt, ignore-for-release

#4932 Updating errorprone to 2.19.1 and fixing new errors
  server/app/auth/ProfileUtils.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminReportingController.java
  server/app/featureflags/FeatureFlag.java
  server/app/filters/DisableCachingFilter.java
  server/app/modules/SecurityModule.java
  server/app/services/CfJsonDocumentContext.java
  server/app/services/applicant/predicate/JsonPathPredicateGenerator.java
  server/app/services/application/ApplicationEventDetails.java
  server/app/services/export/CsvExporterService.java
  server/app/services/question/types/QuestionType.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/admin/programs/ProgramPredicatesEditViewV2.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/Modal.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/components/QuestionBank.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/build.sbt
Labels: ignore-for-release, dependencies

#4955 Call out database changes in release notes
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yaml
Labels: infrastructure, ignore-for-release

#4958 Add support for mode prop to env variables
  env-var-docs/check_vars_documented_test.py
  env-var-docs/generate_markdown_test.py
  env-var-docs/parser-package/README.md
  env-var-docs/parser-package/src/env_var_docs/parser.py
  env-var-docs/parser-package/tests/parser_test.py
  env-var-docs/run_regex_tests_test.py
  server/conf/env-var-docs.json
Labels: infrastructure, ignore-for-release

#4965 Revert action
  .github/workflows/scorecards.yaml
Labels: infrastructure, ignore-for-release

#4986 Sort reporting data by timestamp
  server/app/services/reporting/ReportingService.java
  server/test/services/reporting/ReportingServiceTest.java
Labels: bug, admin-ui

#4982 Consistent server config names
  docker-compose.yml
  env-var-docs/check_vars_documented.py
  env-var-docs/check_vars_documented_test.py
  server/app/annotations/BindingAnnotations.java
  server/app/auth/AuthIdentityProviderName.java
  server/app/controllers/HomeController.java
  server/app/controllers/LoginController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/monitoring/MetricsController.java
  server/app/durablejobs/DurableJobRunner.java
  server/app/modules/MainModule.java
  server/app/services/cloud/aws/SimpleEmail.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/RealEsriClient.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/application.conf
  server/conf/application.test.conf
  server/conf/env-var-docs.json
  server/conf/helper/auth.conf
  server/conf/helper/feature-flags.conf
  server/conf/helper/whitelabel.conf
  server/test/controllers/monitoring/MetricsControllerTest.java
  server/test/modules/MainModuleTest.java
  server/test/support/CfTestHelpers.java
  server/test/views/BaseHtmlLayoutTest.java
Labels: ignore-for-release

#4987 Generate settings manifest
  bin/generate-settings-manifest
  env-var-docs/generate_markdown.py
  env-var-docs/parser-package/pyproject.toml
  env-var-docs/parser-package/src/env_var_docs/settings_manifest.py
  env-var-docs/parser-package/src/env_var_docs/templates/SettingsManifest.java.jinja
  env-var-docs/parser-package/tests/settings_manifest_test.py
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingDescription.java
  server/app/services/settings/SettingType.java
  server/app/services/settings/SettingsManifest.java
  server/app/services/settings/SettingsSection.java
  server/test/services/DateConverterTest.java
  server/test/services/settings/SettingsManifestTest.java
Labels: ignore-for-release

#4992 Add "required" field to vars required on startup
  server/conf/env-var-docs.json
Labels: ignore-for-release
