Repository civiform/civiform, pull requests merged in 2023-07, with the labels that each got.

#5132 Add eligibility status to questions on PDF export
  server/app/services/export/PdfExporter.java
  server/test/services/export/PdfExporterTest.java
Labels: program-admin, feature, dow-swe

#5160 Add a back button to the program preview.
  browser-test/image_snapshots/admin_program_preview_test/program-preview-application-block.png
  browser-test/image_snapshots/admin_program_preview_test/program-preview-application-review-page.png
  browser-test/src/admin_program_preview.test.ts
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
Labels: feature

#5177 Remove nongating eligibility feature flag.
  browser-test/image_snapshots/admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-without-settings.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/src/admin_program_settings.test.ts
  browser-test/src/application_navigation.test.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: ignore-for-release, feature-flag

#5154 Admin can update string, enum, integer, and list of strings settings
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/program_deep_link.test.ts
  env-var-docs/parser-package/src/env_var_docs/settings_manifest.py
  env-var-docs/parser-package/src/env_var_docs/templates/SettingsManifest.java.jinja
  env-var-docs/parser-package/tests/settings_manifest_test.py
  server/app/controllers/admin/AdminSettingsController.java
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingDescription.java
  server/app/services/settings/SettingsManifest.java
  server/app/services/settings/SettingsService.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/components/SelectWithLabel.java
  server/conf/env-var-docs.json
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
  server/test/services/settings/SettingsServiceTest.java
Labels: feature, admin-ui

#5206 Remove dangling reference to deleted feature flag.
  server/conf/application.dev-browser-tests.conf
Labels: ignore-for-release

#5212 Fix issue where users could not add newlines to questions.
  server/app/assets/javascripts/main.ts
Labels: bug

#5211 Strip whitespace from API key
  server/app/services/apikey/ApiKeyService.java
  server/test/services/apikey/ApiKeyServiceTest.java
Labels: bug

#5201 Add sorting options to the questions page.
  browser-test/image_snapshots/civiform_admin_question_list_test/questions-list-sort-dropdown-last-adminname-asc.png
  browser-test/image_snapshots/civiform_admin_question_list_test/questions-list-sort-dropdown-lastmodified.png
  browser-test/image_snapshots/civiform_admin_question_list_test/questions-list-with-archived-questions.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-program-modal.png
  browser-test/image_snapshots/civiform_admin_question_references_test/question-used-in-programs.png
  browser-test/image_snapshots/question_lifecycle_test/address-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/currency-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/currency-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/email-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/email-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/id-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/id-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/name-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/name-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/number-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/number-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/radio-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/radio-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/text-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/text-only-active.png
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/questionBank.ts
  server/app/views/admin/questions/QuestionsListView.java
Labels: feature

#5213 Clean up database seeding logic
  browser-test/src/application_download.test.ts
  browser-test/src/delete_database.ts
  browser-test/src/file.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/index.ts
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/controllers/dev/seeding/DatabaseSeedController.java
  server/app/controllers/dev/seeding/DatabaseSeedTask.java
  server/app/controllers/dev/seeding/SampleQuestionDefinitions.java
  server/app/modules/DatabaseSeedModule.java
  server/app/views/dev/DatabaseSeedView.java
  server/app/views/dev/DebugContent.java
  server/conf/routes
  server/test/controllers/dev/DatabaseSeedControllerTest.java
  server/test/controllers/dev/seeding/DatabaseSeedTaskTest.java
Labels: tech-debt, ignore-for-release

#5221 Add tests for Version.java.
  server/app/models/Version.java
  server/app/repository/VersionRepository.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/models/VersionTest.java
Labels: tech-debt, ignore-for-release

#5227 More Database Seeding Logic Cleaning
  browser-test/src/question_lifecycle.test.ts
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/controllers/dev/seeding/SampleQuestionDefinitions.java
  server/app/services/seeding/DatabaseSeedTask.java
  server/test/controllers/dev/seeding/DevDatabaseSeedTaskTest.java
Labels: tech-debt, ignore-for-release

#5232 Include required attribute on SettingDescription
  env-var-docs/parser-package/src/env_var_docs/settings_manifest.py
  env-var-docs/parser-package/tests/settings_manifest_test.py
  server/app/services/settings/SettingDescription.java
  server/app/services/settings/SettingsManifest.java
  server/test/services/settings/SettingDescriptionTest.java
  server/test/services/settings/SettingsManifestTest.java
  server/test/services/settings/SettingsSectionTest.java
  server/test/services/settings/SettingsServiceTest.java
Labels: ignore-for-release

#5234 Fix incorrect comment and make method names more accurate.
  browser-test/src/address.test.ts
  browser-test/src/admin_api_keys.test.ts
  browser-test/src/admin_program_list.test.ts
  browser-test/src/admin_program_preview.test.ts
  browser-test/src/admin_program_viewing.test.ts
  browser-test/src/admin_program_visibility.test.ts
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/auth.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/civiform_admin_publish.test.ts
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/civiform_admin_question_references.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/file.test.ts
  browser-test/src/id.test.ts
  browser-test/src/mobile_views.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/phone.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/text.test.ts
Labels: tech-debt, ignore-for-release

#5230 Replace assertThrows with assertThrownBy.
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/durablejobs/DurableJobRegistryTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/DateConverterTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: tech-debt, ignore-for-release

#5236 Use consistent capitalization for sample program names.
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
Labels: ignore-for-release

#5207 Add sorting options to the program question bank.
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  server/app/assets/javascripts/questionBank.ts
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ProgramQuestionBank.java
  server/app/views/components/QuestionBank.java
  server/app/views/components/QuestionSortOption.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#5237 Replace assertEquals with assertThat.
  server/test/controllers/geo/AddressSuggestionJsonSerializerTest.java
  server/test/models/QuestionTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
  server/test/services/geo/ServiceAreaInclusionGroupTest.java
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationConfigTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationOptionTest.java
  server/test/services/geo/esri/FakeEsriClientTest.java
  server/test/services/geo/esri/RealEsriClientTest.java
  server/test/views/style/StyleUtilsTest.java
Labels: tech-debt, ignore-for-release

#5220 Revise flow for adding/removing program admins
  browser-test/image_snapshots/admin_program_admins_test/add-program-admin-error.png
  browser-test/src/admin_program_admins.test.ts
  server/app/assets/javascripts/main.ts
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/forms/ManageProgramAdminsForm.java
  server/app/views/admin/programs/ManageProgramAdminsView.java
  server/conf/routes
  server/test/controllers/admin/ProgramAdminManagementControllerTest.java
Labels: bug, enhancement

#5241 Validate question draft uniqueness with DB trigger
  server/conf/evolutions/default/54.sql
  server/test/repository/QuestionRepositoryTest.java
Labels: bug, database

#5235 Create `QuestionJsonSampler`
  server/app/controllers/dev/seeding/SampleQuestionDefinitions.java
  server/app/services/CfJsonDocumentContext.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/question/types/QuestionDefinition.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: ignore-for-release

#5252 remove aria-hidden true from logo
  server/app/views/applicant/ApplicantLayout.java
Labels: a11y, ignore-for-release

#5251 Separate active, retired, and expired API keys.
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page-no-active-keys.png
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page.png
  browser-test/src/admin_api_keys.test.ts
  browser-test/src/support/admin_api_keys.ts
  server/app/controllers/admin/AdminApiKeysController.java
  server/app/repository/ApiKeyRepository.java
  server/app/services/apikey/ApiKeyService.java
  server/app/views/admin/apikeys/ApiKeyIndexView.java
  server/app/views/style/AdminStyles.java
  server/conf/routes
  server/test/repository/ApiKeyRepositoryTest.java
  server/test/services/apikey/ApiKeyServiceTest.java
Labels: feature

#5260 Log "services" at INFO level.
  server/conf/logback.xml
Labels: infrastructure, ignore-for-release

#5261 Removing logger.error for phone question formatting errors
  server/app/services/applicant/question/PhoneQuestion.java
Labels: ignore-for-release

#5264 Fix eligibility condition validation for multi option input types.
  server/app/assets/javascripts/admin_predicate_configuration.ts
Labels: bug

#5267 Adding script to set the applications.is_admin field values
  server/conf/evolutions/default/55.sql
Labels: bug, database

#5246 Handle required server settings
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingsManifest.java
  server/app/services/settings/SettingsService.java
  server/conf/env-var-docs.json
  server/test/services/settings/SettingsServiceTest.java
Labels: bug, admin-ui

#5273 Rename `errorsPresenter()` to more descriptive `getQuestions()`.
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/export/CsvExporterService.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
Labels: tech-debt, ignore-for-release

#5208 Fix name formatting for PDF export.
  server/app/services/export/PdfExporter.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/PdfExporterTest.java
Labels: bug

#5266 Admin settings panel enabled for all deployments
  env-var-docs/generate_markdown.py
  env-var-docs/generate_markdown_test.py
  env-var-docs/parser-package/README.md
  server/conf/helper/feature-flags.conf
Labels: feature, admin-ui

#5272 Add additional accessor methods to CfJsonDocumentContext
  server/app/services/CfJsonDocumentContext.java
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/test/services/CfJsonDocumentContextTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/support/QuestionAnswererTest.java
Labels: ignore-for-release

#5276 Publish versions in a serializable transaction
  server/app/repository/VersionRepository.java
Labels: bug

#5270 Simplify `QuestionDefinitionBuilder`
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
Labels: ignore-for-release

#5275 Remove "required" from vars we don't want in the config.sh
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: bug, ignore-for-release

#5280 Fix string formatting in log messages
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/filters/ApiKeyUsageFilter.java
  server/app/services/seeding/DatabaseSeedTask.java
Labels: bug, ignore-for-release

#5284 Visual Improvements to API Docs
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-comprehensive-program.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-minimal-program.png
  browser-test/src/api_docs.test.ts
  server/app/views/api/ApiDocsView.java
Labels: UI / visual design

#5286 Use canonical identifiers for question and program translations
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
Labels: bug, admin-ui

#5287 Use `QuestionAnswerer` in `QuestionJsonSampler`
  server/app/controllers/api/ApiDocsController.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/question/QuestionAnswerer.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
  server/test/services/applicant/question/CurrencyQuestionTest.java
  server/test/services/applicant/question/DateQuestionTest.java
  server/test/services/applicant/question/EmailQuestionTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
  server/test/services/applicant/question/IdQuestionTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/NameQuestionTest.java
  server/test/services/applicant/question/NumberQuestionTest.java
  server/test/services/applicant/question/PhoneQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/applicant/question/TextQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/question/QuestionAnswererTest.java
  server/test/views/questiontypes/AddressRendererTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: ignore-for-release

#5292 Detect applications that are duplicates (modulo timestamps).
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/ApplicantData.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/applicant/ApplicantDataTest.java
Labels: seattle, ignore-for-release, enhancement

#5288 Create `ProgramJsonSampler` and migrate appropriate logic there.
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-comprehensive-program.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-minimal-program.png
  server/app/services/CfJsonDocumentContext.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/views/api/ApiDocsView.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: tech-debt, ignore-for-release

#5302 add more details about required vars in env-var-docs
  env-var-docs/parser-package/README.md
Labels: infrastructure, deploy, ignore-for-release

#5298 Allow env-var-docs parser package to run on older versions of python
  env-var-docs/check_vars_documented.py
  env-var-docs/generate_markdown.py
  env-var-docs/parser-package/pyproject.toml
  env-var-docs/parser-package/src/env_var_docs/parser.py
  env-var-docs/parser-package/src/env_var_docs/settings_manifest.py
  env-var-docs/run_regex_tests.py
Labels: deploy, ignore-for-release

#5294 Add all fields to API Response Preview
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-comprehensive-program.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-minimal-program.png
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/services/DeploymentType.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/ProgramJsonSampler.java
  server/test/services/export/ProgramJsonSamplerTest.java
Labels: feature

#5297 Use `getResponseJson` in `ApiDocsView` so that API Docs have full API response
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-comprehensive-program.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-minimal-program.png
  server/app/controllers/api/CiviFormApiController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/services/CfJsonDocumentContext.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/JsonPrettifier.java
  server/app/views/api/ApiDocsView.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
Labels: feature

#5304 Support prod simulator for ARM devices
  .github/workflows/tests.yaml
  test-support/prod-simulator-compose.yml
Labels: infrastructure, ignore-for-release

#5293 Validate presence of all questions referenced by all programs are in the current draft
  server/app/repository/VersionRepository.java
  server/app/services/program/ProgramDefinition.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/program/ProgramDefinitionTest.java
Labels: bug, dow-swe

#5285 Bug Fix - Adding tombstoned questions to a program creates invalid state
  server/app/services/ProgramBlockValidation.java
  server/app/services/ProgramBlockValidationFactory.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/components/ProgramQuestionBank.java
  server/test/services/ProgramBlockValidationTest.java
Labels: bug

#5307 Fix typo in RepeatedEntity.java
  server/app/services/applicant/RepeatedEntity.java
Labels: ignore-for-release

#5311 Rename `getDraftVersion` to `getDraftVersionOrCreate`
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/repository/ProgramRepository.java
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/ProgramBlockValidationFactory.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/services/question/QuestionService.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/services/seeding/DatabaseSeedTask.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/models/VersionTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/ProgramBlockValidationTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
  server/test/services/question/QuestionServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: ignore-for-release

#5313 Add tests and overloads for JsonPrettifier and CfJsonDocumentContext
  server/app/services/CfJsonDocumentContext.java
  server/app/services/export/JsonPrettifier.java
  server/test/services/CfJsonDocumentContextTest.java
  server/test/services/export/JsonPrettifierTest.java
Labels: ignore-for-release

#5314 Add DB trigger to ensure there are no duplicate program drafts
  server/conf/evolutions/default/56.sql
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: bug, dow-swe, database

#5309 Get account asynchronously when submitting application.
  server/app/services/applicant/ApplicantService.java
Labels: bug

#5315 Prohibit catching `Exception` or `throws`-ing `RuntimeException`
  server/app/auth/oidc/OidcClientProvider.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/api/ApiDocsController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/repository/UserRepository.java
  server/app/services/CfJsonDocumentContext.java
  server/app/views/components/FieldWithLabel.java
  server/build.sbt
Labels: tech-debt, ignore-for-release

#5289 Allow admin view/edit to load with question definition errors
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/repository/VersionRepository.java
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/applicant/question/NullQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/program/BlockDefinition.java
  server/app/services/question/QuestionService.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/services/question/ReadOnlyVersionedQuestionServiceImpl.java
  server/app/services/question/types/NullQuestionDefinition.java
  server/app/services/question/types/NullQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionType.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/program/BlockDefinitionTest.java
  server/test/services/question/ReadOnlyVersionedQuestionServiceImplTest.java
  server/test/support/TestQuestionBank.java
  server/test/support/TestQuestionBankTest.java
  server/test/views/admin/question/QuestionConfigTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: bug

#5317 Fix payload display on API Docs
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-comprehensive-program.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-minimal-program.png
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/views/api/ApiDocsView.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
Labels: bug

#5328 Revert APPLICANT_REGISTER_URI to optional
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: ignore-for-release

#5310 Show draft programs in API Docs
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-comprehensive-program.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-minimal-program.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/draft-not-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  browser-test/src/api_docs.test.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/api_docs.ts
  server/app/controllers/api/ApiDocsController.java
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/program/ProgramDraftNotFoundException.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/api/ApiDocsView.java
  server/conf/routes
  server/test/controllers/api/ApiDocsControllerTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature

#5116 Improve semantics of TI info in JSON export
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-comprehensive-program.png
  browser-test/image_snapshots/api_docs_test/api-docs-page-minimal-program.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  server/app/models/Application.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/export/enums/SubmitterType.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/support/ResourceCreator.java
Labels: feature
