Repository civiform/civiform, pull requests merged in 2023-11, with the labels that each got.

#5884 Allow cache to be cleared in dev and staging instances of the app
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/views/dev/DatabaseSeedView.java
  server/conf/routes
  server/test/controllers/dev/seeding/DevDatabaseSeedControllerTest.java
Labels: feature, google.org-swe

#5918 Update errorprone
  server/app/controllers/api/ApiPaginationTokenSerializer.java
  server/app/controllers/geo/AddressSuggestionJsonSerializer.java
  server/build.sbt
Labels: ignore-for-release, dependencies

#5917 Add default values for oidc_post_logout_param and civic_entity_small_logo_url
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/conf/helper/auth.conf
  server/conf/helper/whitelabel.conf
Labels: deploy, ignore-for-release

#5853 Fix TI seeing client's name in top nav login state
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-in-selectti-mode.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-ti-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page.png
  browser-test/image_snapshots/trusted_intermediary_test/applicant-program-spanish.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/eligible-toast.png
  browser-test/image_snapshots/trusted_intermediary_test/not-eligible-page-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/auth/CiviFormProfile.java
  server/app/auth/CiviFormProfileData.java
  server/app/auth/ProfileFactory.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/app/views/applicant/ApplicantLayout.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
Labels: bug, TI

#5644 Implement markdown parsing for program descriptions, confirmation screen messages, and question text
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/application_download_test/application-confirmation.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/image_snapshots/static_text_test/markdown-text.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/main.ts
  server/app/assets/javascripts/preview.ts
  server/app/controllers/dev/seeding/SampleQuestionDefinitions.java
  server/app/views/CiviFormMarkdown.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/components/TextFormatter.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/StaticContentQuestionRenderer.java
  server/build.sbt
  server/package-lock.json
  server/package.json
  server/test/views/CiviFormMarkdownTest.java
  server/test/views/HtmlBundleTest.java
  server/test/views/components/TextFormatterTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: feature, admin-ui

#5937 Message strings for the upcoming government banner
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n

#5929 Restrict character types in question option Admin IDs
  bin/sync-failed-browser-test-images
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-invalid-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/admin_validation.ts
  server/app/services/MessageKey.java
  server/app/services/question/types/QuestionDefinition.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: i18n, api

#5950 Title dev seeded blocks "screen" not "block"
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
Labels: ignore-for-release

#5935 Add additional data to database query metrics for prometheus
  server/app/controllers/monitoring/MetricsController.java
  server/app/repository/ProgramRepository.java
  server/app/repository/QueryProfileLocationBuilder.java
  server/app/repository/VersionRepository.java
  server/test/controllers/monitoring/MetricsControllerTest.java
Labels: infrastructure, feature, google.org-swe

#5959 Common intake form should show with other submitted programs after completion
  browser-test/image_snapshots/application_navigation_test/cif-shows-submitted.png
  browser-test/src/application_navigation.test.ts
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug, google.org-swe

#5962 Add profile location to the remaining database metrics
  server/app/repository/AccountRepository.java
  server/app/repository/ApiKeyRepository.java
  server/app/repository/ApplicationEventRepository.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/PersistedDurableJobRepository.java
  server/app/repository/QuestionRepository.java
  server/app/repository/SettingsGroupRepository.java
  server/app/repository/StoredFileRepository.java
Labels: infrastructure, feature, google.org-swe

#5960 Refactor Program to ProgramModel
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/models/Application.java
  server/app/models/Models.java
  server/app/models/ProgramModel.java
  server/app/models/Version.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramQuestionDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/role/RoleService.java
  server/test/controllers/FileControllerTest.java
  server/test/controllers/WithMockedProfiles.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/controllers/admin/AdminProgramBlockQuestionsControllerTest.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/ProgramAdminManagementControllerTest.java
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/monitoring/MetricsControllerTest.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/models/ApplicationEventTest.java
  server/test/models/ApplicationTest.java
  server/test/models/ProgramModelTest.java
  server/test/models/VersionTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/repository/ReportingRepositoryTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
  server/test/services/reporting/ReportingServiceTest.java
  server/test/services/role/RoleServiceTest.java
  server/test/support/ProgramBuilder.java
  server/test/support/ProgramBuilderTest.java
  server/test/support/ResourceCreator.java
Labels: tech-debt, google.org-swe, ignore-for-release

#5966 Refactor Account to AccountModel
  server/app/auth/CiviFormProfile.java
  server/app/auth/CiviFormProfileData.java
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/ProfileFactory.java
  server/app/auth/ProgramAcls.java
  server/app/auth/StoredFileAcls.java
  server/app/controllers/FileController.java
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/models/AccountModel.java
  server/app/models/Applicant.java
  server/app/models/ApplicationEvent.java
  server/app/models/Models.java
  server/app/models/TrustedIntermediaryGroup.java
  server/app/repository/AccountRepository.java
  server/app/repository/ProgramRepository.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/program/ProgramService.java
  server/app/services/role/RoleService.java
  server/app/services/ti/TrustedIntermediarySearchResult.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/auth/CiviFormProfileTest.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/ProgramAclsTest.java
  server/test/auth/StoredFileAclsTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/controllers/WithMockedProfiles.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/admin/ProgramAdminManagementControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/models/AccountModelTest.java
  server/test/models/ApplicationEventTest.java
  server/test/models/ApplicationTest.java
  server/test/models/TrustedIntermediaryGroupTest.java
  server/test/repository/AccountRepositoryTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/role/RoleServiceTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
  server/test/support/ResourceCreator.java
Labels: tech-debt, google.org-swe, ignore-for-release

#5920 Add feature flag for program card images.
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag

#5785 Spliting of Checkbox question options into its own column for CSV export
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/src/application_download.test.ts
  server/app/repository/ExportServiceRepository.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/enums/MultiOptionSelectionExportType.java
  server/app/services/program/CsvExportConfig.java
  server/test/repository/ExportServiceRepositoryTest.java
  server/test/services/export/CsvExporterTest.java
Labels: feature

#5832 Use separate feature flags for admin and applicant logout
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/admin/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/filters/SessionIdFilter.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/filters/SessionIdFilterTest.java
Labels: authentication, feature, google.org-swe, Bloomington, charlotte

#5896 Populate session id unconditionally
  server/app/filters/SessionIdFilter.java
  server/test/filters/SessionIdFilterTest.java
Labels: authentication, feature, google.org-swe, ignore-for-release, Bloomington, charlotte

#5851 Distinguish between admin and applicant profile creators
  server/app/auth/IdentityProviderType.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/admin/AdfsProfileCreator.java
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
Labels: authentication, feature, google.org-swe, ignore-for-release, Bloomington, charlotte

#5730 Add id_tokens column to accounts table
  server/app/auth/oidc/IdTokens.java
  server/app/auth/oidc/IdTokensFactory.java
  server/app/auth/oidc/SerializedIdTokens.java
  server/app/models/AccountModel.java
  server/app/modules/MainModule.java
  server/conf/evolutions/default/58.sql
  server/test/auth/oidc/IdTokensTest.java
  server/test/models/AccountModelTest.java
Labels: authentication, feature, google.org-swe, Bloomington, database, charlotte

#5731 Populate OIDC id token in logout request
  browser-test/src/auth.test.ts
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/TriFunction.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/CustomOidcLogoutRequest.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/OidcClientProviderParams.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/auth/oidc/admin/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/modules/MainModule.java
  server/app/repository/AccountRepository.java
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/CustomOidcLogoutRequestTest.java
  server/test/auth/oidc/IdTokensTest.java
  server/test/auth/oidc/OidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
  server/test/auth/oidc/applicant/IdcsClientProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: authentication, feature, google.org-swe, Bloomington, charlotte

#5956 Correct path for applicant_date_of_birth and fix existing data
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/FixApplicantDobDataPathJob.java
  server/app/models/Applicant.java
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/app/services/WellKnownPaths.java
  server/app/services/applicant/ApplicantData.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/durablejobs/jobs/FixApplicantDobDataPathJobTest.java
  server/test/repository/AccountRepositoryTest.java
  server/test/services/applicant/ApplicantDataTest.java
Labels: bug

#5988 Add 'Enhancements' as a new section of the release notes
  .github/pull_request_template.md
  .github/release.yml
Labels: enhancement

#5989 Updating create-release script with note on how labels are managed
  bin/create-release
Labels: infrastructure, ignore-for-release

#5987 Exclude /playIndex from SessionIdFilter
  server/app/filters/SessionIdFilter.java
  server/test/filters/SessionIdFilterTest.java
Labels: bug, authentication, google.org-swe, ignore-for-release

#5992 Add a unit test that hits the /playIndex route
  server/test/controllers/HomeControllerTest.java
Labels: bug, google.org-swe, ignore-for-release

#6006 Collect metrics unconditionally
  server/app/filters/RecordCookieSizeFilter.java
  server/app/services/cloud/aws/SimpleEmail.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/RealEsriClient.java
  server/test/filters/RecordCookieSizeFilterTest.java
Labels: metrics, google.org-swe, ignore-for-release

#5990 Update localstack service to have a link to the civiform service.
  docker-compose.yml
  localstack/localstack.nginx.conf
Labels: bug, aws, ignore-for-release

#6008 Specify additional JPA annotations in models with ManyToMany relationships
  server/app/models/ProgramModel.java
  server/app/models/Question.java
  server/app/models/Version.java
Labels: google.org-swe, ignore-for-release

#5965 Refactor Version to VersionModel
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/models/Models.java
  server/app/models/ProgramModel.java
  server/app/models/Question.java
  server/app/models/VersionModel.java
  server/app/repository/ProgramRepository.java
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/ProgramBlockValidation.java
  server/app/services/ProgramBlockValidationFactory.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramService.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/services/question/QuestionService.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/services/question/ReadOnlyVersionedQuestionServiceImpl.java
  server/test/controllers/WithMockedProfiles.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/controllers/dev/seeding/DevDatabaseSeedControllerTest.java
  server/test/controllers/monitoring/MetricsControllerTest.java
  server/test/models/VersionModelTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/repository/ResetPostgres.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/ProgramBlockValidationTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
  server/test/services/question/ReadOnlyVersionedQuestionServiceImplTest.java
  server/test/support/ProgramBuilder.java
  server/test/support/TestQuestionBank.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6011 Update a few more references to new Model classes
  server/app/repository/AccountRepository.java
  server/app/repository/ProgramRepository.java
Labels: google.org-swe, ignore-for-release

#6012 Refactor ApiKey to ApiKeyModel
  server/app/auth/ApiAuthenticator.java
  server/app/auth/ApiKeyGrants.java
  server/app/auth/ProfileFactory.java
  server/app/auth/ProfileUtils.java
  server/app/auth/UnauthorizedApiRequestException.java
  server/app/controllers/api/CiviFormApiController.java
  server/app/models/ApiKeyModel.java
  server/app/models/Models.java
  server/app/repository/ApiKeyRepository.java
  server/app/services/apikey/ApiKeyCreationResult.java
  server/app/services/apikey/ApiKeyService.java
  server/app/views/admin/apikeys/ApiKeyCredentialsView.java
  server/app/views/admin/apikeys/ApiKeyIndexView.java
  server/test/auth/ApiAuthenticatorTest.java
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
  server/test/repository/ApiKeyRepositoryTest.java
  server/test/services/apikey/ApiKeyServiceTest.java
  server/test/support/ResourceCreator.java
Labels: tech-debt, google.org-swe, ignore-for-release

#5964 Add "Edit program image" button to program details page.
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view-images-flag-off.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view-images-flag-on.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/admin_program_viewing.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/admin/programs/ProgramPredicatesEditViewV2.java
  server/conf/routes
Labels: feature

#5967 Add program image alt-text description to admin UI & database
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/index.ts
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/forms/admin/ProgramImageDescriptionForm.java
  server/app/models/ProgramModel.java
  server/app/services/LocalizedStrings.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/conf/evolutions/default/59.sql
  server/conf/routes
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/forms/admin/ProgramImageDescriptionFormTest.java
  server/test/models/ProgramModelTest.java
  server/test/services/LocalizedStringsTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, database

#6018 Refactor Application to ApplicationModel
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/models/ApplicantModel.java
  server/app/models/ApplicationEvent.java
  server/app/models/ApplicationModel.java
  server/app/models/Models.java
  server/app/models/ProgramModel.java
  server/app/repository/ApplicationEventRepository.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/ProgramRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/exception/ApplicationSubmissionException.java
  server/app/services/applications/ApplicationService.java
  server/app/services/applications/PdfExporterService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/PdfExporter.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/DeepLinkControllerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/controllers/monitoring/MetricsControllerTest.java
  server/test/models/ApplicationEventTest.java
  server/test/models/ApplicationModelTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/repository/ReportingRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/reporting/ReportingServiceTest.java
  server/test/support/ResourceCreator.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6019 Refactor ApplicationEvent to ApplicationEventModel
  server/app/models/ApplicationEventModel.java
  server/app/models/ApplicationModel.java
  server/app/models/Models.java
  server/app/repository/ApplicationEventRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/models/ApplicationEventModelTest.java
  server/test/models/ApplicationModelTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6021 Refactor PersistedDurableJob to PersistedDurableJobModel
  server/app/durablejobs/DurableJob.java
  server/app/durablejobs/DurableJobFactory.java
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/DurableJobRegistry.java
  server/app/durablejobs/DurableJobRunner.java
  server/app/durablejobs/RecurringJobScheduler.java
  server/app/durablejobs/jobs/FixApplicantDobDataPathJob.java
  server/app/durablejobs/jobs/OldJobCleanupJob.java
  server/app/durablejobs/jobs/ReportingDashboardMonthlyRefreshJob.java
  server/app/durablejobs/jobs/UnusedAccountCleanupJob.java
  server/app/models/Models.java
  server/app/models/PersistedDurableJobModel.java
  server/app/repository/PersistedDurableJobRepository.java
  server/test/durablejobs/DurableJobRegistryTest.java
  server/test/durablejobs/DurableJobRunnerTest.java
  server/test/durablejobs/DurableJobSchedulerTest.java
  server/test/durablejobs/jobs/FixApplicantDobDataPathJobTest.java
  server/test/models/PersistedDurableJobModelTest.java
  server/test/repository/PersistedDurableJobRepositoryTest.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6022 Refactor Question to QuestionModel
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/forms/QuestionForm.java
  server/app/models/Models.java
  server/app/models/QuestionModel.java
  server/app/models/VersionModel.java
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/applicant/AnswerData.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/services/question/QuestionService.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/services/question/ReadOnlyVersionedQuestionServiceImpl.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/controllers/dev/seeding/DevDatabaseSeedTaskTest.java
  server/test/models/QuestionModelTest.java
  server/test/models/VersionModelTest.java
  server/test/repository/ExportServiceRepositoryTest.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/ProgramBlockValidationTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/program/EligibilityDefinitionTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
  server/test/services/question/QuestionServiceTest.java
  server/test/services/question/ReadOnlyCurrentQuestionServiceImplTest.java
  server/test/services/question/ReadOnlyVersionedQuestionServiceImplTest.java
  server/test/services/seeding/DatabaseSeedTaskTest.java
  server/test/support/ProgramBuilder.java
  server/test/support/ResourceCreator.java
  server/test/support/TestQuestionBank.java
  server/test/support/TestQuestionBankTest.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6023 Refactor SettingsGroup to SettingsGroupModel
  server/app/models/Models.java
  server/app/models/SettingsGroupModel.java
  server/app/repository/SettingsGroupRepository.java
  server/app/services/applicant/AnswerData.java
  server/app/services/settings/SettingsService.java
  server/test/repository/SettingsGroupRepositoryTest.java
  server/test/services/settings/SettingsServiceTest.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6025 Refactor StoredFile to StoredFileModel
  server/app/auth/StoredFileAcls.java
  server/app/controllers/FileController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/models/Models.java
  server/app/models/StoredFileModel.java
  server/app/repository/StoredFileRepository.java
  server/app/services/applicant/ApplicantService.java
  server/test/controllers/FileControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/repository/StoredFileRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6009 Aligning local docker tag names
  bin/build-mock-web-services
  bin/pull-image
  bin/run-browser-tests
  docker-compose.yml
Labels: infrastructure, ignore-for-release

#5976 Add program image alt text to admin translations page.
  browser-test/image_snapshots/admin_program_translation_test/program-translation-with-image-description.png
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/support/admin_translations.ts
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/services/program/LocalizationUpdate.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: feature

#6048 Shrink Formatter Image Size
  formatter/formatter.Dockerfile
  server/app/auth/saml/SamlProfileCreator.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/models/ApplicationEventModel.java
  server/app/models/ProgramModel.java
  server/app/services/ProgramBlockValidation.java
  server/app/services/ProgramBlockValidationFactory.java
  server/app/services/program/ProgramService.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/support/ProgramBuilder.java
  server/test/support/TestQuestionBank.java
Labels: infrastructure, ignore-for-release

#6052 Sort the settings alphabetically
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/views/admin/settings/AdminSettingsIndexView.java
Labels: enhancement

#5949 A11y: improve focus management for validation message reporting
  browser-test/image_snapshots/date_test/date.png
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/Block.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
  server/test/views/questiontypes/AddressRendererTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/DateQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/EmailQuestionRendererTest.java
  server/test/views/questiontypes/EnumeratorQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/NameQuestionRendererTest.java
  server/test/views/questiontypes/NumberQuestionRendererTest.java
  server/test/views/questiontypes/PhoneQuestionRendererTest.java
  server/test/views/questiontypes/QuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: bug, a11y

#6054 Re-add last workdir to server folder
  formatter/formatter.Dockerfile
Labels: infrastructure, ignore-for-release

#6010 Make unit test pass under sbt-test
  server/app/controllers/monitoring/MetricsController.java
  server/test/controllers/monitoring/MetricsControllerTest.java
Labels: bug, tech-debt, google.org-swe, ignore-for-release

#6059 Fix broken Seattle Staging Badge
  README.md
Labels: ignore-for-release

#5978 When unsetting universal on a question, show a confirmation modal
  browser-test/image_snapshots/question_lifecycle_test/remove-universal-confirmation-modal.png
  browser-test/src/civiform_admin_question_list.test.ts
  browser-test/src/question_lifecycle.test.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_question_edit.ts
  server/app/assets/javascripts/modal.ts
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/ButtonStyles.java
Labels: feature

#6057 Add "opens in new tab" string to be translated for aria labels
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, a11y, ignore-for-release

#6066 Slightly darker color for landing page banner to increase contrast with focus outline
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-in-selectti-mode.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-public.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-select-ti-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-not-set.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status.png
  browser-test/image_snapshots/application_navigation_test/cif-shows-submitted.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/auth_test/guest-just-ended-session.png
  browser-test/image_snapshots/auth_test/logged-in-guest.png
  browser-test/image_snapshots/auth_test/logged-in.png
  browser-test/image_snapshots/auth_test/user-just-ended-session.png
  browser-test/image_snapshots/dev_tools_test/dev-tools-in-header.png
  browser-test/image_snapshots/dev_tools_test/dev-tools-modal.png
  browser-test/image_snapshots/header_test/logged-in.png
  browser-test/image_snapshots/header_test/not-logged-in-guest-mode-enabled.png
  browser-test/image_snapshots/mobile_views_test/mobile-initial-load.png
  browser-test/image_snapshots/mobile_views_test/mobile-modal.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  server/app/views/style/ApplicantStyles.java
Labels: bug

#6070 Add .git folder to .eslintignore and .prettierignore
  .eslintignore
  .prettierignore
Labels: infrastructure, ignore-for-release

#6063 Add serialVersionUID to CiviFormProfileData
  server/app/auth/CiviFormProfileData.java
Labels: authentication, google.org-swe, ignore-for-release
