Repository civiform/civiform, pull requests merged in 2023-03, with the labels that each got.

#4298 Use stubbed clock for reporting tests
  server/test/repository/ReportingRepositoryTest.java
  server/test/repository/ResetPostgres.java
  server/test/services/reporting/ReportingServiceTest.java
Labels: bug, ignore-for-release

#4236 Implements address correction feature for the applicant UI
  browser-test/image_snapshots/application_navigation_test/verify-address-page.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/geo/AddressSuggestionJsonSerializer.java
  server/app/controllers/geo/AddressSuggestionNode.java
  server/app/services/Address.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/Block.java
  server/app/services/applicant/question/AddressQuestion.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/geo/AddressLocation.java
  server/app/services/geo/AddressSuggestion.java
  server/app/services/geo/AddressSuggestionGroup.java
  server/app/services/geo/CorrectedAddressState.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/EsriClientRequestException.java
  server/app/services/program/BlockDefinition.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/conf/messages
  server/conf/routes
  server/test/controllers/geo/AddressSuggestionJsonSerializerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/geo/esri/EsriClientTest.java
Labels: feature

#4306 Use getSerializationFormat() instead of toString() on Enum
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: ignore-for-release

#4301 Add gating/non-gating explanation to admin eligibility text.
  server/app/views/admin/programs/ProgramBlockEditView.java
Labels: feature, ignore-for-release, common-intake-form

#4312 Fixes public Esri findAddressCandidates compatability with civic entity service area validation endpoints
  server/app/services/geo/esri/EsriClient.java
Labels: bug

#4317 Ineligible page should only show questions that are not meeting eligibility requirements
  browser-test/image_snapshots/admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/applicant/IneligibleBlockView.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: eligibility, feature, dow-swe

#4318 Force address correction feature to be disabled
  browser-test/src/admin_program_creation.test.ts
Labels: bug, ignore-for-release

#4225 env-var-docs: add PR action and env_var_docs helper package
  .github/workflows/pr_env_var_docs.yaml
  .gitignore
  .prettierignore
  bin/env-var-docs-create-venv
  bin/env-var-docs-run-tests
  env-var-docs/README.md
  env-var-docs/parser-package/README.md
  env-var-docs/parser-package/pyproject.toml
  env-var-docs/parser-package/src/env_var_docs/__init__.py
  env-var-docs/parser-package/src/env_var_docs/parser.py
  env-var-docs/parser-package/tests/parser_test.py
  env-var-docs/parser-package/tests/readme_test.py
  formatter/fmt
  mypy.ini
Labels: ignore-for-release

#4311 Fix reporting page browser test
  browser-test/image_snapshots/application_review_test/reporting-page.png
  browser-test/src/application_review.test.ts
  server/app/views/admin/reporting/AdminReportingIndexView.java
Labels: tech-debt, ignore-for-release

#4326 Add ability to search by admin note when adding a question to a program
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/src/admin_program_creation.test.ts
  server/app/views/components/QuestionBank.java
Labels: feature, dow-swe, admin-ui

#4309 Add tooltip to common intake form checkbox and update styling.
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/components/FieldWithLabel.java
Labels: feature, ignore-for-release, common-intake-form

#4331 Program-specific reporting pages
  browser-test/image_snapshots/application_review_test/program-specific-reporting-page.png
  browser-test/image_snapshots/application_review_test/reporting-page.png
  browser-test/src/application_review.test.ts
  server/app/controllers/admin/AdminReportingController.java
  server/app/repository/ReportingRepository.java
  server/app/services/reporting/ReportingService.java
  server/app/views/admin/reporting/AdminReportingIndexView.java
  server/app/views/admin/reporting/AdminReportingShowView.java
  server/app/views/admin/reporting/ReportingTableRenderer.java
  server/conf/routes
  server/test/services/reporting/ReportingServiceTest.java
Labels: feature, admin-ui

#4341 Disable some address correction browser tests in non-dev environments
  browser-test/src/application_navigation.test.ts
Labels: ignore-for-release

#4343 Remove state generator param from CiviformOidcLogoutActionBuilder
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
Labels: ignore-for-release

#4347 Add links to dev login page
  browser-test/image_snapshots/application_navigation_test/landing-page.png
  browser-test/image_snapshots/landing_page_test/landing-page-no-version.png
  browser-test/image_snapshots/landing_page_test/landing-page-with-version.png
  server/app/views/LoginForm.java
Labels: ignore-for-release

#4349 Show message and exit if trying to build prod image on Mac
  bin/build-prod
Labels: ignore-for-release

#4348 Remove unused `extraParams` from `CiviformOidcLogoutActionBuilder`.
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CustomOidcLogoutRequest.java
  server/test/auth/oidc/CustomOidcLogoutRequestTest.java
Labels: ignore-for-release

#4353 Fix program admin nav bar on reporting page
  browser-test/image_snapshots/application_review_test/program-specific-reporting-page.png
  browser-test/image_snapshots/application_review_test/reporting-page.png
  server/app/controllers/admin/AdminReportingController.java
  server/app/views/admin/reporting/AdminReportingIndexView.java
  server/app/views/admin/reporting/AdminReportingShowView.java
  server/conf/routes
Labels: bug

#4357 Pin playwright image to specific version
  browser-test/playwright.Dockerfile
Labels: ignore-for-release, dependencies

#4355 Admin sees eligibility status on CSV export when applicable
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/ColumnType.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterTest.java
Labels: program-admin, eligibility, feature, dow-swe

#4342 Always allow submitting an application if eligibility is non-gating.
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/models/Program.java
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/application.dev-browser-tests.conf
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, ignore-for-release, common-intake-form

#4388 Only format python files if they have changes
  formatter/fmt
Labels: ignore-for-release

#4382 Add Common Intake Form to the list of applicant programs.
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-not-set.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/messages
  server/test/services/applicant/ApplicantServiceTest.java
Labels: feature, ignore-for-release, common-intake-form

#4399 Add translations for eligibility string
  server/conf/messages.am
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: i18n, dow-swe, ignore-for-release

#4402 Change the title of the program summary page for the intake form.
  browser-test/src/applicant_application_index.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/messages
Labels: feature, ignore-for-release, common-intake-form

#4396 Fixes for bin/run-browser-tests-local
  bin/lib/docker.sh
  bin/run-browser-test-env
  bin/run-browser-tests-local
  browser-test/browser-test-compose.dev_local.yml
  browser-test/browser-test-compose.yml
  test-support/test_oidc_provider.js
Labels: bug, infrastructure, tech-debt

#4400 Remove the option to set eligibility criteria from the common intake form.
  browser-test/src/admin_program_creation.test.ts
  server/app/views/admin/programs/ProgramBlockEditView.java
Labels: feature, ignore-for-release, common-intake-form

#4401 Adding Phone question type feature flag
  server/app/featureflags/FeatureFlags.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/helper/feature-flags.conf
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
Labels: feature

#4413 Eligibility toast shouldn't be hidden unless manually dismissed
  server/app/controllers/applicant/ApplicantProgramReviewController.java
Labels: bug, eligibility, dow-swe

#4417 Add 3/1 Translations Batch
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: dow-swe, ignore-for-release

#4423 "May not qualify" toast should not appear if applicant may qualify but all questions haven't been answered
  browser-test/image_snapshots/admin_predicates_test/review-page-has-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner.png
  browser-test/src/admin_predicates.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
Labels: bug, eligibility, dow-swe

#4432 Toasts should not auto hide by default
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditViewV2.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/ToastMessage.java
Labels: a11y, feature, dow-swe

#4430 Evaluate eligibility based on application rather than latest applicant data
  server/app/services/applicant/ApplicantService.java
  server/app/services/export/CsvExporterService.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug, eligibility

#4448 Show eligibility at the question level for program admins
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  browser-test/src/admin_application_statuses.test.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: eligibility, feature, dow-swe, admin-ui

#4426 Show a success toast when an applicant answers a question that follows eligibility criteria
  browser-test/image_snapshots/admin_predicates_test/summary-page-no-eligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/toast-message-may-qualify.png
  browser-test/image_snapshots/application_navigation_test/eligible-toast.png
  browser-test/image_snapshots/trusted_intermediary_test/eligible-toast.png
  browser-test/src/admin_predicates.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
Labels: eligibility, feature, dow-swe

#4447 Remove FeatureFlag per-flag methods
  server/app/auth/CiviFormProfile.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/featureflags/FeatureFlags.java
  server/app/views/LoginForm.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
  server/test/featureflags/FeatureFlagsTest.java
Labels: ignore-for-release

#4461 Hide settings link for common intake form.
  browser-test/src/admin_program_settings.test.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: ignore-for-release, common-intake-form

#4435 Add Feature Flag for New Login Form
  server/app/featureflags/FeatureFlag.java
  server/app/views/LoginForm.java
  server/conf/helper/feature-flags.conf
Labels: ignore-for-release

#4452 Remove `isAdminReportingUiEnabled()`
  server/app/featureflags/FeatureFlags.java
  server/app/views/admin/AdminLayout.java
  server/app/views/dev/FeatureFlagView.java
Labels: ignore-for-release

#4328 Add env-var-docs.json and PR automation scripts
  .github/workflows/pr_env_var_docs.yaml
  bin/env-var-docs-check-vars
  bin/env-var-docs-run-tests
  env-var-docs/README.md
  env-var-docs/check_vars_documented.py
  env-var-docs/check_vars_documented_test.py
  env-var-docs/parser-package/src/env_var_docs/errors_formatter.py
  env-var-docs/parser-package/tests/errors_formatter_test.py
  env-var-docs/run_regex_tests.py
  env-var-docs/run_regex_tests_test.py
  formatter/fmt
  server/conf/application.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: ignore-for-release

#4449 Parameterize `FeatureFlagsTest.java`
  server/test/featureflags/FeatureFlagsTest.java
Labels: ignore-for-release

#4468 Add option to customize the diffbase for bin/fmt.
  bin/fmt
  formatter/fmt
  formatter/formatter.Dockerfile
Labels: infrastructure, ignore-for-release

#4464 Address correction - previous button returns to address entry screen
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/AddressCorrectionBlockView.java
Labels: bug

#4481 Update common intake form strings based on UX audit.
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramIndexView.java
Labels: ignore-for-release, common-intake-form

#4497 Pin localstack image to 1.4.0
  docker-compose.yml
Labels: bug, infrastructure, ignore-for-release

#4477 Enable reporting page for all deployments
  browser-test/browser-test-compose.yml
  docker-compose.dev.yml
  server/app/featureflags/FeatureFlag.java
  server/app/views/admin/AdminLayout.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: dow-swe, admin-ui

#4428 Add age-related operators for date question predicates
  browser-test/image_snapshots/admin_predicates_test/review-page-has-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/summary-page-no-eligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/toast-message-may-qualify.png
  browser-test/src/admin_predicates.test.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/services/DateConverter.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/predicate/JsonPathPredicateGenerator.java
  server/app/services/applicant/predicate/JsonPathPredicateGeneratorFactory.java
  server/app/services/program/predicate/Operator.java
  server/app/services/program/predicate/PredicateGenerator.java
  server/app/tasks/StoredFileAclMigrationTask.java
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
  server/app/views/style/ReferenceClasses.java
  server/test/services/DateConverterTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applicant/predicate/JsonPathPredicateGeneratorTest.java
  server/test/services/applicant/predicate/PredicateEvaluatorTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
Labels: eligibility, feature, dow-swe

#4503 Remove file ACL migration code
  server/app/controllers/FileController.java
  server/app/controllers/admin/DataMigrationsController.java
  server/app/tasks/StoredFileAclMigrationTask.java
  server/conf/routes
  server/test/tasks/StoredFileAclMigrationTaskTest.java
Labels: tech-debt, ignore-for-release

#4487 Update copy from "does not" to "doesn't"
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  server/app/services/export/CsvExporter.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/test/services/export/CsvExporterTest.java
Labels: eligibility, ignore-for-release, common-intake-form

#4484 Fix broken program details link for Common Intake Form.
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/services/applicant/ApplicantService.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug, ignore-for-release, common-intake-form

#4411 Adds fake Esri client
  browser-test/image_snapshots/application_navigation_test/verify-address-page.png
  browser-test/src/application_navigation.test.ts
  server/app/modules/EsriModule.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/FakeEsriClient.java
  server/app/services/geo/esri/InvalidFakeAddressException.java
  server/app/services/geo/esri/RealEsriClient.java
  server/conf/application.conf
  server/test/resources/esri/findAddressCandidates.json
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
  server/test/services/geo/esri/EsriServiceAreaValidationOptionTest.java
  server/test/services/geo/esri/FakeEsriClientTest.java
  server/test/services/geo/esri/RealEsriClientTest.java
Labels: ignore-for-release

#4516 Add tests for language files
  bin/list-incomplete-messages
  server/test/conf/MessagesTest.java
Labels: ignore-for-release

#4517 Clean up `messages` files
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: ignore-for-release

#4528 Temporary fix for program index page
  server/app/services/program/ProgramServiceImpl.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug

#4534 bumped test timeout to 8 seconds
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#4535 Remove eligibility criteria for the common intake form.
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/services/program/EligibilityNotValidForProgramTypeException.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: bug, ignore-for-release

#4539 Listen for popup event before clicking to fire it
  browser-test/src/application_navigation.test.ts
Labels: ignore-for-release

#4525 Add a confirmation dialog when changing the common intake form.
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/src/admin_program_creation.test.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/forms/ProgramForm.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramEditView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: feature, common-intake-form

#4549 Add missing type field in generate markdown action
  .github/workflows/generate_env_var_docs_markdown_for_release.yaml
  bin/env-var-docs-generate-markdown
  env-var-docs/generate_markdown.py
Labels: ignore-for-release

#4542 Add `flex` tags to applicant styles
  browser-test/image_snapshots/address_test/address-errors.png
  browser-test/image_snapshots/address_test/address.png
  browser-test/image_snapshots/admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/image_snapshots/admin_predicates_test/ineligible.png
  browser-test/image_snapshots/admin_predicates_test/review-page-has-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/summary-page-no-eligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/toast-message-may-qualify.png
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  browser-test/image_snapshots/applicant_application_index_test/other-program-shows-previously-answered.png
  browser-test/image_snapshots/applicant_application_index_test/question-shows-previously-answered.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application.png
  browser-test/image_snapshots/application_navigation_test/eligible-toast.png
  browser-test/image_snapshots/application_navigation_test/language-selection.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date.png
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors.png
  browser-test/image_snapshots/checkbox_test/checkbox.png
  browser-test/image_snapshots/currency_test/currency-errors.png
  browser-test/image_snapshots/currency_test/currency.png
  browser-test/image_snapshots/date_test/date-errors.png
  browser-test/image_snapshots/date_test/date.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors.png
  browser-test/image_snapshots/dropdown_test/dropdown.png
  browser-test/image_snapshots/email_test/email-errors.png
  browser-test/image_snapshots/email_test/email.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-after-removing-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-with-multiple-fileds.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator.png
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/image_snapshots/file_test/file.png
  browser-test/image_snapshots/id_test/id-errors.png
  browser-test/image_snapshots/id_test/id.png
  browser-test/image_snapshots/name_test/name-errors.png
  browser-test/image_snapshots/name_test/name.png
  browser-test/image_snapshots/number_input_test/number-errors.png
  browser-test/image_snapshots/number_input_test/number.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors.png
  browser-test/image_snapshots/radio_button_test/radio-button.png
  browser-test/image_snapshots/static_text_test/static-text.png
  browser-test/image_snapshots/text_test/text-errors.png
  browser-test/image_snapshots/text_test/text-max.png
  browser-test/image_snapshots/text_test/text.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/eligible-toast.png
  browser-test/image_snapshots/trusted_intermediary_test/not-eligible-page-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/views/style/ApplicantStyles.java
Labels: ignore-for-release
