Repository civiform/civiform, pull requests merged in 2023-10, with the labels that each got.

#5698 Localstack v2.3.x returning 500s
  docker-compose.yml
  localstack/localstack.Dockerfile
Labels: bug, ignore-for-release

#5697 Prevent Settings Getting Overlapped By Left Nav
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/admin_settings.test.ts
  server/app/views/admin/settings/AdminSettingsIndexView.java
Labels: bug

#5704 Mark variables required for deployment as "required" in env-var-docs
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: ignore-for-release

#5706 TI sub-banner announcing which client they're applying for
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-in-selectti-mode.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-ti-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page.png
  browser-test/image_snapshots/trusted_intermediary_test/applicant-program-spanish.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/eligible-toast.png
  browser-test/image_snapshots/trusted_intermediary_test/not-eligible-page-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: enhancement

#5708 Ensure tests are executed with the docker images built as part of the workflow
  .github/workflows/tests.yaml
Labels: bug, ignore-for-release

#5715 Run server tests even on docker file change
  .github/workflows/pr_server_skip.yaml
Labels: ignore-for-release

#5718 Add translations for duplicate submissions page
  server/app/services/MessageKey.java
  server/conf/i18n/README.md
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#5720 Run server tests on dockerfile update
  .github/workflows/pr_server.yaml
  .github/workflows/pr_server_skip.yaml
Labels: dow-swe, ignore-for-release

#5711 Use new function to get questions for a version
  server/app/models/Version.java
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/services/question/ReadOnlyVersionedQuestionServiceImpl.java
Labels: dow-swe, ignore-for-release

#5722 Fix method name pluralization
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/views/api/ApiDocsView.java
  server/test/forms/MultiOptionQuestionFormTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/question/types/MultiOptionQuestionDefinitionTest.java
Labels: ignore-for-release

#5735 Update copy to be translated for duplicate submission screen
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#5733 Create translations_rotation.md
  .github/ISSUE_TEMPLATE/translations_rotation.md
Labels: ignore-for-release

#5728 Refactor version.getPrograms to be called from versionRepository
  server/app/auth/ProfileFactory.java
  server/app/models/Version.java
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramServiceImpl.java
Labels: google.org-swe, ignore-for-release

#5703 Adding applicant enabled language support
  server/app/controllers/LanguageUtils.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/LanguageSelector.java
  server/conf/application.conf
  server/conf/env-var-docs.json
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/LanguageUtilsTest.java
  server/test/controllers/applicant/DeepLinkControllerTest.java
Labels: feature

#5737 Try adding a context string in the messages file
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#5739 Refactor getPrograms into an instance method
  server/app/controllers/admin/AdminProgramController.java
  server/app/models/Version.java
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/models/VersionTest.java
  server/test/repository/VersionRepositoryTest.java
Labels: google.org-swe, ignore-for-release

#5743 Rename UserRepository to AccountRepository
  server/app/auth/CiviFormProfileMerger.java
  server/app/auth/ProfileFactory.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/auth/oidc/admin/AdfsProfileCreator.java
  server/app/auth/oidc/admin/GenericOidcClientProvider.java
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/Auth0ClientProvider.java
  server/app/auth/oidc/applicant/GenericApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsApplicantProfileCreator.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
  server/app/auth/saml/LoginRadiusClientProvider.java
  server/app/auth/saml/SamlProfileCreator.java
  server/app/controllers/LanguageUtils.java
  server/app/controllers/admin/TrustedIntermediaryManagementController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/repository/AccountRepository.java
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/role/RoleService.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramMetaDataEditView.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/OidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
  server/test/auth/oidc/applicant/IdcsClientProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/LanguageUtilsTest.java
  server/test/controllers/admin/ProgramAdminManagementControllerTest.java
  server/test/controllers/applicant/ApplicantInformationControllerTest.java
  server/test/controllers/applicant/DeepLinkControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/models/AccountTest.java
  server/test/models/ApplicantTest.java
  server/test/repository/AccountRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/role/RoleServiceTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
  server/test/support/CfTestHelpers.java
Labels: tech-debt, ignore-for-release

#5748 Update formatting on translation template
  .github/ISSUE_TEMPLATE/translations_rotation.md
Labels: google.org-swe, ignore-for-release

#5747 Add feature flags for version, question, and program cache
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, feature-flag

#5751 Make the test_prod step output on failure
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#5755 Make ProgramService a class
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/modules/MainModule.java
  server/app/services/export/JsonExporter.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: tech-debt, ignore-for-release

#5759 Create feature flag to guard new OIDC logout logic
  =3.3.1
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: authentication, google.org-swe, ignore-for-release, Bloomington, feature-flag, charlotte

#5766 Admin can use more than 4 questions in a predicate
  browser-test/src/admin_predicates.test.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: feature, admin-ui

#5767 Make the test_prod step output docker compose logs on failure
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#5753 Add version cache implementation gated behind feature flag
  server/app/repository/VersionRepository.java
  server/conf/application.conf
  server/test/repository/VersionRepositoryTest.java
Labels: scaling, feature, google.org-swe

#5695 Create filter to store a session id.
  server/app/filters/SessionIdFilter.java
  server/conf/application.conf
  server/test/controllers/HomeControllerAuthenticatedTest.java
  server/test/controllers/HomeControllerTest.java
  server/test/filters/SessionIdFilterTest.java
  server/test/support/CfTestHelpers.java
Labels: authentication, feature, google.org-swe, ignore-for-release, Bloomington, charlotte

#5772 Inject Providers into ErrorHandler
  server/app/controllers/ErrorHandler.java
Labels: authentication, google.org-swe, ignore-for-release, Bloomington, charlotte

#5773 Create filter to store a session id.
  server/app/filters/SessionIdFilter.java
  server/conf/application.conf
  server/test/controllers/HomeControllerAuthenticatedTest.java
  server/test/controllers/HomeControllerTest.java
  server/test/filters/SessionIdFilterTest.java
  server/test/support/CfTestHelpers.java
Labels: authentication, feature, google.org-swe, ignore-for-release, Bloomington, charlotte

#5760 Make "Choose File" button keyboard accessible.
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
Labels: bug, a11y

#5777 Update copy for duplicates screen
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#5804 Update question search to only look at relevant question text.
  browser-test/src/admin_program_creation.test.ts
  server/app/assets/javascripts/questionBank.ts
  server/app/views/components/ProgramQuestionBank.java
Labels: bug

#5800 Fixing line2 bug
  server/app/services/geo/esri/EsriClient.java
  server/test/resources/esri/findAddressCandidatesWithLine2.json
  server/test/services/geo/esri/EsriTestHelper.java
  server/test/services/geo/esri/RealEsriClientTest.java
Labels: bug

#5820 Add application submit time to Applications View and PDF export
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-default.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  server/app/services/export/PdfExporter.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/test/services/export/PdfExporterTest.java
Labels: feature

#5491 enable applicants to download and print completed applications
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/application_download_test/application-confirmation.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/src/application_download.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/models/Application.java
  server/app/services/MessageKey.java
  server/app/services/applications/ApplicationService.java
  server/app/services/applications/PdfExporterService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/conf/i18n/messages
  server/conf/routes
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/services/applications/PdfExporterServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: i18n, feature

#5821 Create class to hold parameters for OidcClientProvider and related classes
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/OidcClientProviderParams.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/auth/oidc/admin/AdfsProfileCreator.java
  server/app/auth/oidc/admin/GenericOidcClientProvider.java
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/Auth0ClientProvider.java
  server/app/auth/oidc/applicant/GenericApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsApplicantProfileCreator.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
  server/app/modules/MainModule.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/OidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
  server/test/auth/oidc/applicant/IdcsClientProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
Labels: bug, authentication, google.org-swe, ignore-for-release, Bloomington, charlotte

#5834 Refactor program.getVersions to be called from programRepository
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramService.java
Labels: google.org-swe, ignore-for-release

#5742 Cleanup unused guest accounts older than 90 days
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/ReportingDashboardMonthlyRefreshJob.java
  server/app/durablejobs/jobs/UnusedAccountCleanupJob.java
  server/app/models/Applicant.java
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: tech-debt

#5850 Fixing Phone Label text
  browser-test/image_snapshots/phone_test/phone-errors.png
  browser-test/image_snapshots/phone_test/phone-format-ca.png
  browser-test/image_snapshots/phone_test/phone-format-usa.png
  browser-test/image_snapshots/phone_test/phone.png
  server/conf/i18n/messages
Labels: bug, i18n

#5823 Add a "Close" message.
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: bug, i18n, a11y

#5855 Update link to point to wiki
  server/conf/helper/auth.conf
Labels: documentation, google.org-swe, ignore-for-release

#5752 Add screen to prevent duplicate application submissions
  browser-test/image_snapshots/application_navigation_test/duplicate-submission-page.png
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/exception/DuplicateApplicationException.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/conf/logback.xml
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: feature

#5846 Add program cache implementation behind flag
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/conf/application.conf
  server/test/repository/ProgramRepositoryTest.java
  server/test/repository/VersionRepositoryTest.java
Labels: scaling, feature, google.org-swe

#5841 Add snapshot sync script
  bin/sync-failed-browser-test-images
Labels: infrastructure, ignore-for-release

#5776 Turn on version caching for browser tests
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/repository/VersionRepository.java
  server/conf/application.dev-browser-tests.conf
Labels: google.org-swe, ignore-for-release

#5878 Add GH action for building dev images
  .github/workflows/build-push-image-from-branch.yml
  bin/build-and-push-image-for-testing
Labels: ignore-for-release

#5880 +x bin/build-and-push-image-for-testing
  bin/build-and-push-image-for-testing
Labels: ignore-for-release

#5881 Adding some extra error trapping to aid in problem areas
  bin/sync-failed-browser-test-images
Labels: infrastructure, ignore-for-release

#5882 Move a11y focus to modal on modal open.
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/dev_tools_test/dev-tools-modal.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug.png
  server/app/assets/javascripts/modal.ts
  server/app/views/components/Modal.java
Labels: bug, a11y

#5863 Enable program cache in browser tests
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/conf/application.dev-browser-tests.conf
Labels: google.org-swe, ignore-for-release

#5889 Adding optional namespace to image build scripts
  bin/build-browser-tests
  bin/build-dev
  bin/build-dev-oidc
  bin/build-formatter
  bin/build-localstack-env
  bin/build-mock-web-services
  bin/build-prod
Labels: infrastructure, ignore-for-release

#5892 Update translation bug template
  .github/ISSUE_TEMPLATE/translations_rotation.md
Labels: google.org-swe, ignore-for-release

#5895 Add short sha to images built for testing
  bin/build-and-push-image-for-testing
Labels: ignore-for-release
