Repository civiform/civiform, pull requests merged in 2023-08, with the labels that each got.

#5320 Redirect user to home on APRC failures
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/test/controllers/HasBooleanHeaderArgumentMatcher.java
  server/test/controllers/WithMockedProfiles.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
Labels: bug

#5327 Add additional TI info to CSV Export
  browser-test/src/application_download.test.ts
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/ColumnType.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/export/JsonExporterTest.java
Labels: arkansas

#5330 Bug fix Part-2 :Adding tombstoned questions to a program creates invalid state
  server/app/services/ProgramBlockValidation.java
  server/app/services/ProgramBlockValidationFactory.java
  server/test/services/ProgramBlockValidationTest.java
  server/test/support/ResourceCreator.java
Labels: bug

#5331 Handle getting state abbreviation for possible secondary field
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/RealEsriClient.java
  server/test/services/geo/esri/EsriClientTest.java
Labels: bug

#5340 Removing phone question feature flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/phone.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/ProgramQuestionBank.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag

#5346 Adding sort on getAllProgramSlugs
  server/app/services/program/ProgramServiceImpl.java
Labels: bug

#5344 Validate no duplicate questions before publishing
  server/app/repository/VersionRepository.java
  server/test/repository/VersionRepositoryTest.java
Labels: bug, dow-swe, admin-ui

#5357 Removing log message that says canonical question exists
  server/app/services/seeding/DatabaseSeedTask.java
Labels: bug

#5368 Question Translations Save button will load the same view on success
  browser-test/image_snapshots/admin_program_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_translation_test/question-translation.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  browser-test/src/support/admin_translations.ts
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
Labels: bug

#5391 Don't load settings for assets requests
  server/app/filters/SettingsFilter.java
Labels: ignore-for-release

#5375 Add application revision state to JSON export
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  server/app/services/export/JsonExporter.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/export/enums/RevisionState.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
Labels: feature, api

#5394 Updating add user as program admin error message
  browser-test/image_snapshots/admin_program_admins_test/add-program-admin-error.png
  browser-test/src/support/admin_programs.ts
  server/app/repository/UserRepository.java
  server/test/repository/UserRepositoryTest.java
  server/test/services/role/RoleServiceTest.java
Labels: bug

#5380 Exclude API docs from basic authentication requirement
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/src/api_docs.test.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/filters/ApiKeyUsageFilter.java
  server/conf/application.conf
Labels: bug, api

#5398 Make FakeApplicationFiller.markObsolete() operate on a previously-submitted application.
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
Labels: ignore-for-release

#5383 Move focus to input field when a single question on an application block has errors
  browser-test/image_snapshots/address_test/address-errors.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors.png
  browser-test/image_snapshots/currency_test/currency-errors.png
  browser-test/image_snapshots/date_test/date-errors.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors.png
  browser-test/image_snapshots/email_test/email-errors.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors.png
  browser-test/image_snapshots/id_test/id-errors.png
  browser-test/image_snapshots/name_test/name-errors.png
  browser-test/image_snapshots/number_input_test/number-errors.png
  browser-test/image_snapshots/phone_test/phone-errors.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors.png
  browser-test/image_snapshots/text_test/text-errors.png
  browser-test/src/email.test.ts
  browser-test/src/radio_button.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/Block.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/test/views/components/FieldWithLabelTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
Labels: a11y, enhancement

#5400 Update packages identified by `npm audit`
  server/package-lock.json
Labels: ignore-for-release

#5412 Load program data without questions for program admins
  server/app/controllers/admin/ProgramAdminController.java
Labels: bug, scaling, dow-swe, admin-ui

#5352 Program Admin Clear Filters button
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-default.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/image_snapshots/application_review_test/applications-filtered.png
  browser-test/image_snapshots/application_review_test/applications-list.png
  browser-test/image_snapshots/application_review_test/applications-unfiltered.png
  browser-test/image_snapshots/application_review_test/cf-admin-applications-page.png
  browser-test/src/application_review.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramApplicationListView.java
Labels: enhancement

#5409 Focus on question input when applicant clicks on question from review screen
  browser-test/src/application_navigation.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/views/components/FieldWithLabelTest.java
  server/test/views/questiontypes/AddressRendererTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/DateQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/EmailQuestionRendererTest.java
  server/test/views/questiontypes/EnumeratorQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/NameQuestionRendererTest.java
  server/test/views/questiontypes/NumberQuestionRendererTest.java
  server/test/views/questiontypes/PhoneQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: a11y

#5433 Allow searching by applicant email in Program Admin application search
  server/app/repository/ProgramRepository.java
  server/test/repository/ProgramRepositoryTest.java
Labels: bug

#5444 Refactor JsonExporter
  server/app/controllers/api/ApiPayloadWrapper.java
  server/app/controllers/api/CiviFormApiController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/views/api/ApiDocsView.java
  server/test/controllers/ApiPayloadWrapperTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
Labels: ignore-for-release

#5453 Program Translations Save button will load the same view on success
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
Labels: bug

#5460 Check that filter classes inject providers
  .github/workflows/format.yaml
  bin/lib/validate_filters_inject_providers.py
  bin/validate_filters_inject_providers
  browser-test/bin/fmt
  server/app/filters/SettingsFilter.java
Labels: ignore-for-release

#5459 Fix column alignment in routes file
  server/conf/routes
Labels: ignore-for-release

#5435 Allow CSRF behavior to be specified by subclasses of OidcClientProvider
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
Labels: authentication, feature, ignore-for-release, charlotte

#5415 Rename applicantRepositoryProvider to accountRepositoryProvider
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/auth/oidc/admin/AdfsProfileCreator.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/Auth0ClientProvider.java
  server/app/auth/oidc/applicant/GenericApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsApplicantProfileCreator.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
Labels: authentication, feature, ignore-for-release, charlotte

#5465 Generalize attribute prefix
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
Labels: authentication, feature, ignore-for-release, charlotte

#5416 Create admin GenericOidcClientProvider
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/auth/oidc/admin/GenericOidcClientProvider.java
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/test/auth/oidc/admin/GenericOidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
Labels: authentication, feature, charlotte

#5468 Update docs links in env-var-docs.json
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: ignore-for-release

#5463 Adding accessiblity to accordion per accessibility audit
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/draft-not-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  browser-test/image_snapshots/static_text_test/static-text-accordion-closed.png
  browser-test/image_snapshots/static_text_test/static-text-accordion-open.png
  browser-test/src/api_docs.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/accordion.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/stylesheets/styles.css
  server/app/views/components/Accordion.java
  server/test/views/components/AccordionTest.java
  server/test/views/components/TextFormatterTest.java
Labels: bug, a11y

#5454 Rockyfine/pare down azure ci tests
  .github/workflows/tests.yaml
  .github/workflows/tests_skip.yaml
  bin/run-browser-tests-azure
Labels: infrastructure, ignore-for-release

#5469 Radio button list now selects the item anywhere on the line
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
Labels: bug

#5417 Wire up admin GenericOidcClientProvider
  browser-test/browser-test-compose.yml
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  docker-compose.yml
  server/app/auth/AuthIdentityProviderName.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/modules/ConfigurationException.java
  server/app/modules/SecurityModule.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/auth.conf
  server/test/auth/AuthIdentityProviderNameTest.java
Labels: authentication, feature, charlotte

#5470 Remove ADMIN_SETTINGS_PANEL_ENABLED feature flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/filters/SettingsFilter.java
  server/app/modules/SettingsMigrationModule.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/AdminLayout.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  test-support/prod-simulator-compose.yml
Labels: feature-flag

#5471 Add SECRET env var mode
  env-var-docs/generate_markdown.py
  env-var-docs/generate_markdown_test.py
  env-var-docs/parser-package/README.md
  env-var-docs/parser-package/src/env_var_docs/parser.py
  server/app/services/settings/SettingMode.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: ignore-for-release

#5476 Add env var support for ADMIN_OIDC_PROVIDER_NAME
  docker-compose.yml
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/auth.conf
Labels: authentication, feature, charlotte

#5479 Update readme links
  README.md
Labels: documentation, dow-swe, ignore-for-release

#5480 Update README to remove UX contribution guide
  README.md
Labels: documentation, dow-swe, ignore-for-release

#5481 Do not require CIVIFORM_ADMIN_IDP to be set
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: authentication, charlotte

#5486 Validate that DOB is less than 150 years ago when TI creates new client
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/ti/TrustedIntermediaryService.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: bug

#5487 Make API Docs setting Admin Writeable
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/controllers/api/ApiDocsController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/AdminLayout.java
  server/conf/env-var-docs.json
Labels: feature-flag

#5492 Success toast when TI adds a client
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
Labels: TI, enhancement

#5488 Add play http thread pool variables
  server/app/services/settings/SettingsManifest.java
  server/conf/application.conf
  server/conf/env-var-docs.json
Labels: infrastructure

#5485 Add question_type field to exported JSON
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  server/app/services/Path.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/export/enums/ApiPathSegment.java
  server/app/services/export/enums/QuestionTypeExternal.java
  server/app/services/export/enums/RevisionState.java
  server/app/services/export/enums/SubmitterType.java
  server/test/services/PathTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: api

#5495 Bug Fix - static text formatting
  browser-test/image_snapshots/static_text_test/static-text-accordion-closed.png
  browser-test/image_snapshots/static_text_test/static-text-accordion-open.png
  server/app/views/questiontypes/StaticContentQuestionRenderer.java
Labels: bug
