Repository civiform/civiform, pull requests merged in 2023-06, with the labels that each got.

#4991 Display clearer error message when question name would create path conflicts.
  server/app/services/question/QuestionService.java
  server/test/services/question/QuestionServiceTest.java
Labels: bug

#4999 Remove required from duplicate vars
  server/conf/env-var-docs.json
Labels: ignore-for-release

#5011 Add key expiration date to API keys page
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page.png
  server/app/views/admin/apikeys/ApiKeyIndexView.java
Labels: feature

#4996 Generate settings manifest on calls to bin/fmt
  .github/workflows/format.yaml
  bin/fmt
Labels: ignore-for-release

#5012 Display correct client IP in API key view
  server/app/auth/ApiAuthenticator.java
  server/app/auth/ClientIpResolver.java
  server/app/filters/ApiKeyUsageFilter.java
  server/test/auth/ApiAuthenticatorTest.java
  server/test/auth/ClientIpResolverTest.java
  server/test/auth/FakeRequestBuilder.java
  server/test/auth/FakeRequestBuilderTest.java
Labels: bug

#5016 Attempt to fix Seattle prober
  browser-test/src/support/admin_programs.ts
Labels: dow-swe, ignore-for-release

#4660 Introduce `ApplicantPersonalInfo` to abstract out email and name for applicants
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/services/applicant/ApplicantPersonalInfo.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/views/ApplicantUtils.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/test/services/applicant/ApplicantPersonalInfoTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/support/ResourceCreator.java
Labels: ignore-for-release

#5007 Fix issue that allowed applicants to access draft programs.
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: bug

#5035 Enable non-gating eligibility feature by default.
  server/conf/application.dev.conf
  server/conf/helper/feature-flags.conf
Labels: feature, feature-flag

#5008 Program visibility to Selected Trusted Intermediaries
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-in-selectti-mode.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-select-ti-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/src/admin_program_visibility.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/index.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/auth/ProgramAcls.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/forms/ProgramForm.java
  server/app/models/DisplayMode.java
  server/app/models/Program.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramMetaDataEditView.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/conf/evolutions/default/51.sql
  server/test/auth/ProgramAclsTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/models/ProgramTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceImplTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, database

#5038 Move publish link out of dropdown.
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-with-settings.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-without-settings.png
  browser-test/image_snapshots/admin_program_viewing_test/program-list-active-and-draft-program.png
  browser-test/src/admin_program_list.test.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: feature, Product Debt

#5049 Add database tag to PR template since it's in the release notes.
  .github/pull_request_template.md
Labels: ignore-for-release

#5032 Allow TIs to authenticate with ADFS, in addition to the applicant identity provider
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/admin/AdfsProfileCreator.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/controllers/admin/TrustedIntermediaryManagementController.java
  server/app/repository/UserRepository.java
  server/app/services/ti/NotEligibleToBecomeTiError.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
Labels: authentication, TI, arkansas

#5046 Fix hover shape for some buttons.
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/questions/QuestionsListView.java
Labels: ignore-for-release

#5053 Revert "Fix issue that allowed applicants to access draft programs."
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: ignore-for-release

#5051 Fix for SELECT_TI Visibility Browser tests failures
  browser-test/src/admin_program_visibility.test.ts
Labels: ignore-for-release

#4860 Add Custom Error Page For Prod Mode
  server/app/controllers/ErrorHandler.java
  server/app/services/MessageKey.java
  server/app/views/errors/InternalServerError.java
  server/app/views/errors/NotFound.java
  server/conf/i18n/messages
Labels: i18n, feature, seattle

#5013 Admins can see read-only settings page
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/admin_settings.test.ts
  browser-test/src/support/index.ts
  env-var-docs/parser-package/src/env_var_docs/settings_manifest.py
  env-var-docs/parser-package/src/env_var_docs/templates/SettingsManifest.java.jinja
  env-var-docs/parser-package/tests/settings_manifest_test.py
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_settings_view.ts
  server/app/controllers/admin/AdminSettingsController.java
  server/app/featureflags/FeatureFlag.java
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingDescription.java
  server/app/services/settings/SettingMode.java
  server/app/services/settings/SettingsManifest.java
  server/app/services/settings/SettingsSection.java
  server/app/views/CiviFormMarkdown.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/components/Icons.java
  server/build.sbt
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/conf/routes
  server/test/services/settings/SettingDescriptionTest.java
  server/test/services/settings/SettingsManifestTest.java
  server/test/services/settings/SettingsSectionTest.java
  server/test/views/CiviFormMarkdownTest.java
Labels: feature, admin-ui

#5052 Fix header bugs when logged in as a TI
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/auth/ProfileFactory.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/views/applicant/ApplicantLayout.java
Labels: TI, ignore-for-release

#5045 Remove PUBLISH_SINGLE_PROGRAM_ENABLED flag.
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/controllers/admin/AdminProgramController.java
  server/app/featureflags/FeatureFlag.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: ignore-for-release, feature-flag

#5071 Add a simpler seeded mock program.
  server/app/controllers/dev/DatabaseSeedController.java
Labels: ignore-for-release

#5076 Adding additional environment variable checks for idcs client_id/secret
  server/conf/helper/auth.conf
Labels: authentication, ignore-for-release

#5083 Prober fix for timeout failures related to TI visibility tests
  browser-test/src/admin_program_visibility.test.ts
Labels: ignore-for-release

#5070 Refactor: replace FeatureFlag usage with SettingsManifest
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  env-var-docs/parser-package/src/env_var_docs/settings_manifest.py
  env-var-docs/parser-package/src/env_var_docs/templates/SettingsManifest.java.jinja
  server/app/auth/CiviFormProfile.java
  server/app/auth/ProfileFactory.java
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/featureflags/FeatureFlags.java
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/AdminLayoutFactory.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramMetaDataEditView.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/dev/FeatureFlagView.java
  server/conf/env-var-docs.json
  server/test/auth/CiviFormProfileTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
  server/test/featureflags/FeatureFlagsTest.java
  server/test/views/BaseHtmlLayoutTest.java
Labels: ignore-for-release

#5068 Fix incorrect method name and clean up tests.
  server/app/controllers/applicant/RedirectController.java
  server/app/repository/ProgramRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: tech-debt, ignore-for-release

#5079 Correct single/multi select `QuestionType`s
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/applicant/question/SingleSelectQuestion.java
Labels: ignore-for-release

#5093 remove "required" from cloud specific vars
  server/conf/env-var-docs.json
Labels: ignore-for-release

#5094 Activate python venv when running settings manifest generator
  bin/generate-settings-manifest
  bin/lib.sh
  bin/lib/python.sh
Labels: ignore-for-release

#5084 Simplify structure of `MultiOptionQuestionDefinition` and remove subclasses
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/forms/CheckboxQuestionForm.java
  server/app/forms/DropdownQuestionForm.java
  server/app/forms/QuestionFormBuilder.java
  server/app/forms/RadioButtonQuestionForm.java
  server/app/services/question/types/CheckboxQuestionDefinition.java
  server/app/services/question/types/DropdownQuestionDefinition.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/question/types/MultiOptionQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/RadioButtonQuestionDefinition.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/forms/CheckboxQuestionFormTest.java
  server/test/forms/DropdownQuestionFormTest.java
  server/test/forms/MultiOptionQuestionFormTest.java
  server/test/forms/RadioButtonQuestionFormTest.java
  server/test/forms/translation/MultiOptionQuestionTranslationFormTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
  server/test/support/TestQuestionBank.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
Labels: tech-debt, ignore-for-release

#5081 Reorganize ProgramService
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
Labels: tech-debt, ignore-for-release

#5111 Add `supportedQuestion` to `QuestionType`
  server/app/services/applicant/question/AddressQuestion.java
  server/app/services/applicant/question/CurrencyQuestion.java
  server/app/services/applicant/question/DateQuestion.java
  server/app/services/applicant/question/EmailQuestion.java
  server/app/services/applicant/question/EnumeratorQuestion.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/services/applicant/question/IdQuestion.java
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/applicant/question/NameQuestion.java
  server/app/services/applicant/question/NumberQuestion.java
  server/app/services/applicant/question/PhoneQuestion.java
  server/app/services/applicant/question/Question.java
  server/app/services/applicant/question/SingleSelectQuestion.java
  server/app/services/applicant/question/StaticContentQuestion.java
  server/app/services/applicant/question/TextQuestion.java
  server/app/services/question/types/QuestionType.java
Labels: ignore-for-release

#5127 Adding "Error: " as prefix on error toast messages, for accessibility
  browser-test/image_snapshots/admin_predicates_test/predicate-error.png
  browser-test/image_snapshots/admin_program_admins_test/add-program-admin-error.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date.png
  browser-test/src/support/admin_predicates.ts
  server/app/assets/javascripts/toast.ts
Labels: a11y, enhancement

#5107 Use `QuestionJsonPresenter` interface to make the JSON representation centralized
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/applicant/question/Question.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/QuestionJsonPresenter.java
  server/test/services/export/JsonExporterTest.java
Labels: ignore-for-release

#5108 Stop non-CiviForm Admin users from applying to draft programs.
  server/app/controllers/CiviFormController.java
  server/app/controllers/FileController.java
  server/app/controllers/admin/AdminApiKeysController.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/controllers/admin/AdminReportingController.java
  server/app/controllers/admin/AdminSettingsController.java
  server/app/controllers/admin/ProgramAdminController.java
  server/app/controllers/api/CiviFormApiController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/controllers/monitoring/MetricsController.java
  server/app/repository/VersionRepository.java
  server/test/controllers/RedirectControllerTest.java
  server/test/controllers/WithMockedProfiles.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/monitoring/MetricsControllerTest.java
Labels: bug

#5126 Admin can update feature flags
  bin/dev-psql
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/dev_tools_test/dev-tools-modal.png
  browser-test/src/admin_settings.test.ts
  browser-test/src/support/admin_settings.ts
  browser-test/src/support/index.ts
  env-var-docs/parser-package/src/env_var_docs/parser.py
  server/app/controllers/admin/AdminSettingsController.java
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/filters/SettingsFilter.java
  server/app/models/Models.java
  server/app/models/SettingsGroup.java
  server/app/modules/SettingsMigrationModule.java
  server/app/repository/SettingsGroupRepository.java
  server/app/services/DeploymentType.java
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingDescription.java
  server/app/services/settings/SettingMode.java
  server/app/services/settings/SettingsManifest.java
  server/app/services/settings/SettingsService.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/dev/DebugContent.java
  server/app/views/dev/FeatureFlagView.java
  server/conf/application.conf
  server/conf/env-var-docs.json
  server/conf/evolutions/default/52.sql
  server/conf/routes
  server/test/auth/CiviFormProfileTest.java
  server/test/controllers/RedirectControllerTest.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
  server/test/repository/ResetPostgres.java
  server/test/repository/SettingsGroupRepositoryTest.java
  server/test/services/settings/SettingsManifestTest.java
  server/test/services/settings/SettingsServiceTest.java
  server/test/support/CfTestHelpers.java
Labels: feature, admin-ui, database

#5136 Only use applicant_portal_name if whitelabel_civic_entity_full_name is not present
  server/app/modules/MainModule.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.test.conf
  server/conf/helper/auth.conf
  server/test/services/settings/SettingsServiceTest.java
Labels: bug

#5135 Add an is_admin column to the applications table.
  server/app/models/Application.java
  server/conf/evolutions/default/53.sql
  server/test/auth/CiviFormProfileMergerTest.java
  server/test/models/ApplicationEventTest.java
  server/test/models/ApplicationTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
Labels: database

#5133 Introduce `QuestionDefinitionConfig` for `QuestionDefinition` storage
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/question/types/AddressQuestionDefinition.java
  server/app/services/question/types/CurrencyQuestionDefinition.java
  server/app/services/question/types/DateQuestionDefinition.java
  server/app/services/question/types/EmailQuestionDefinition.java
  server/app/services/question/types/EnumeratorQuestionDefinition.java
  server/app/services/question/types/FileUploadQuestionDefinition.java
  server/app/services/question/types/IdQuestionDefinition.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/question/types/NameQuestionDefinition.java
  server/app/services/question/types/NumberQuestionDefinition.java
  server/app/services/question/types/PhoneQuestionDefinition.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
  server/app/services/question/types/StaticContentQuestionDefinition.java
  server/app/services/question/types/TextQuestionDefinition.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/forms/AddressQuestionFormTest.java
  server/test/forms/CurrencyQuestionFormTest.java
  server/test/forms/EnumeratorQuestionFormTest.java
  server/test/forms/FileUploadQuestionFormTest.java
  server/test/forms/IdQuestionFormTest.java
  server/test/forms/NameQuestionFormTest.java
  server/test/forms/NumberQuestionFormTest.java
  server/test/forms/PhoneQuestionFormTest.java
  server/test/forms/StaticContentQuestionFormTest.java
  server/test/forms/TextQuestionFormTest.java
  server/test/forms/translation/EnumeratorQuestionTranslationFormTest.java
  server/test/forms/translation/QuestionTranslationFormTest.java
  server/test/models/QuestionTest.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/applicant/question/CurrencyQuestionTest.java
  server/test/services/applicant/question/DateQuestionTest.java
  server/test/services/applicant/question/EmailQuestionTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
  server/test/services/applicant/question/IdQuestionTest.java
  server/test/services/applicant/question/NameQuestionTest.java
  server/test/services/applicant/question/NumberQuestionTest.java
  server/test/services/applicant/question/PhoneQuestionTest.java
  server/test/services/applicant/question/StaticContentQuestionTest.java
  server/test/services/applicant/question/TextQuestionTest.java
  server/test/services/question/QuestionServiceTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
  server/test/support/ResourceCreator.java
  server/test/support/TestQuestionBank.java
  server/test/tasks/DatabaseSeedTaskTest.java
  server/test/views/questiontypes/AddressRendererTest.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
  server/test/views/questiontypes/IdQuestionRendererTest.java
  server/test/views/questiontypes/TextQuestionRendererTest.java
Labels: ignore-for-release

#5144 Updating token used in action
  .github/workflows/assign_issues_to_project.yaml
Labels: ignore-for-release

#5131 Add the ability for admins to preview a program.
  browser-test/image_snapshots/admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_preview_test/program-preview-application-block.png
  browser-test/image_snapshots/admin_program_preview_test/program-preview-application-review-page.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/src/admin_program_preview.test.ts
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/applicant/ApplicantPersonalInfo.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/services/applicant/ApplicantPersonalInfoTest.java
Labels: feature

#5147 Remove `MultiOptionDefinitionConfig`
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/question/types/MultiOptionQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/forms/CheckboxQuestionFormTest.java
  server/test/forms/DropdownQuestionFormTest.java
  server/test/forms/MultiOptionQuestionFormTest.java
  server/test/forms/RadioButtonQuestionFormTest.java
  server/test/forms/translation/MultiOptionQuestionTranslationFormTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
  server/test/support/TestQuestionBank.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
Labels: tech-debt, ignore-for-release

#5150 Adding error toast prefix to i18n messages
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, a11y, enhancement

#5156 Fix admin_settings test for probers
  browser-test/src/admin_settings.test.ts
Labels: ignore-for-release

#5151 Adding prefix to error toast messages, localized when applicant-facing, for accessibility
  browser-test/image_snapshots/admin_predicates_test/predicate-error.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/admin_predicates.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/toast.ts
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramPredicatesEditViewV2.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
  server/app/views/admin/ti/TrustedIntermediaryGroupListView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/app/views/components/ToastMessage.java
Labels: a11y, enhancement

#5170 Clear the redirect target if the user navigates to the index page.
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: bug

#5172 Fix Program Slug Redirect
  browser-test/src/program_deep_link.test.ts
  server/app/controllers/applicant/RedirectController.java
  server/test/controllers/RedirectControllerTest.java
Labels: bug
