Repository civiform/civiform, pull requests merged in 2023-04, with the labels that each got.

#4469 Allow for no address correction suggestions
  browser-test/image_snapshots/application_navigation_test/esri-service-errored.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/EsriClientRequestException.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/EsriTestHelper.java
  server/test/services/geo/esri/FakeEsriClientTest.java
  server/test/services/geo/esri/RealEsriClientTest.java
Labels: tech-debt

#4556 Small text update for eligibility / visibility back link in admin UI
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-edit.png
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
Labels: feature, dow-swe, admin-ui

#4559 Re-trigger address validation upon change to address
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/question/AddressQuestion.java
  server/test/services/applicant/question/AddressQuestionTest.java
Labels: bug

#4570 Ignore incomplete address suggestions
  server/app/services/geo/esri/EsriClient.java
  server/test/resources/esri/findAddressCandidates.json
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/FakeEsriClientTest.java
  server/test/services/geo/esri/RealEsriClientTest.java
Labels: bug

#4580 Fix batch test logic
  bin/run-browser-tests-ci-batch
Labels: ignore-for-release

#4582 Add "Learn more" link to address correction tooltip
  server/app/views/ViewUtils.java
  server/app/views/admin/programs/ProgramBlockEditView.java
Labels: bug

#4587 Avritt/md
  .github/workflows/generate_env_var_docs_markdown_for_release.yaml
  .github/workflows/release.yaml
Labels: ignore-for-release

#4496 List eligible programs on CIF upsell page
  browser-test/image_snapshots/application_navigation_test/cif-eligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-signed-in-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-ti-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-signed-in-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/home-page-no-eligibility-tag-for-submitted.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/RedirectController.java
  server/app/featureflags/FeatureFlag.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/style/ApplicantStyles.java
  server/app/views/style/ReferenceClasses.java
  server/conf/application.conf
  server/conf/env-var-docs.json
  server/conf/messages
  server/test/conf/MessagesTest.java
  server/test/controllers/RedirectControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: feature, arkansas, common-intake-form

#4591 Evenly distribute tests in `bin/run-browser-tests-ci-batch`
  bin/run-browser-tests-ci-batch
Labels: ignore-for-release

#4391 Update copy on application confirmation screen
  browser-test/image_snapshots/application_navigation_test/cif-eligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/conf/messages
  server/conf/messages.en-US
Labels: login-language-landing

#4598 Use htmx for program settings page.
  browser-test/src/admin_program_settings.test.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/views/admin/programs/ProgramSettingsEditView.java
  server/package-lock.json
  server/package.json
Labels: ignore-for-release, common-intake-form

#4567 Add back button to program settings.
  browser-test/image_snapshots/admin_program_settings_test/gating-eligibility.png
  browser-test/image_snapshots/admin_program_settings_test/nongating-eligibility.png
  browser-test/src/admin_program_settings.test.ts
  server/app/views/admin/programs/ProgramSettingsEditView.java
Labels: feature, ignore-for-release, common-intake-form

#4603 Fix edit predicate for age conditions on date fields
  browser-test/image_snapshots/admin_predicates_test/predicate-age-between-edit.png
  browser-test/image_snapshots/admin_predicates_test/predicate-age-greater-than-edit.png
  browser-test/src/admin_predicates.test.ts
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
Labels: bug, eligibility, dow-swe, admin-ui

#4589 Limit number of calls on program admin index page
  server/app/controllers/admin/AdminProgramController.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/test/services/program/ProgramServiceImplTest.java
Labels: scaling, feature, dow-swe, admin-ui

#4616 Adding job to handle typescript tests
  .github/workflows/tests_skip.yaml
Labels: ignore-for-release

#4613 Updating renovate config
  renovate.json
Labels: ignore-for-release, dependencies

#4584 Removing the Azure Staging deploy badge
  README.md
Labels: ignore-for-release

#4575 Implementation of phone question type (with US and CA support)
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/phone.ts
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/controllers/dev/DatabaseSeedController.java
  server/app/forms/PhoneQuestionForm.java
  server/app/forms/QuestionFormBuilder.java
  server/app/services/CfJsonDocumentContext.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/applicant/question/PhoneQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/export/JsonExporter.java
  server/app/services/question/types/PhoneQuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionType.java
  server/app/services/question/types/ScalarType.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/Icons.java
  server/app/views/components/QuestionBank.java
  server/app/views/components/SelectWithLabel.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/app/views/style/ReferenceClasses.java
  server/build.sbt
  server/conf/messages
  server/conf/messages.en-US
  server/package-lock.json
  server/package.json
  server/test/conf/MessagesTest.java
  server/test/forms/PhoneQuestionFormTest.java
  server/test/services/CfJsonDocumentContextTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
  server/test/services/applicant/question/PhoneQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/PdfExporterTest.java
  server/test/support/QuestionAnswerer.java
  server/test/support/TestQuestionBank.java
  server/test/views/admin/question/QuestionConfigTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: feature

#4609 Show submitted programs in upsell.
  browser-test/image_snapshots/application_navigation_test/home-page-no-eligibility-tag-for-submitted.png
  browser-test/src/application_navigation.test.ts
  server/app/controllers/applicant/RedirectController.java
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: eligibility, ignore-for-release, common-intake-form

#4628 Set stop-dev script to stop localstack/azurite
  bin/stop-dev
Labels: infrastructure, ignore-for-release

#4634 Update the year in the oncall rotation template
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#4637 Hotfix for Seattle staging
  browser-test/src/applicant_application_index.test.ts
Labels: seattle

#4583 Skip validation screen if user enters valid address
  browser-test/src/application_navigation.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/models/Applicant.java
  server/app/services/geo/esri/FakeEsriClient.java
  server/app/services/geo/esri/InvalidFakeAddressException.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
Labels: bug

#4636 Add Trusted Intermediary Only program visibility option
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-public.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti.png
  browser-test/src/admin_api_keys.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_hidden.test.ts
  browser-test/src/admin_program_list.test.ts
  browser-test/src/admin_program_settings.test.ts
  browser-test/src/admin_program_visibility.test.ts
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/civiform_admin_publish.test.ts
  browser-test/src/civiform_admin_publish_with_program_read_only_view_disabled.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/models/DisplayMode.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: feature

#4632 Browser tests for phone question type
  browser-test/image_snapshots/application_navigation_test/program-out-of-date.png
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered.png
  browser-test/image_snapshots/phone_test/phone-errors.png
  browser-test/image_snapshots/phone_test/phone-format-ca.png
  browser-test/image_snapshots/phone_test/phone-format-usa.png
  browser-test/image_snapshots/phone_test/phone.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/phone.test.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/program/ProgramDefinition.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
Labels: feature

#4644 Fix program admin header link
  server/app/views/admin/AdminLayout.java
Labels: ignore-for-release

#4631 Add sign in modal prompt to CIF confirmation screen
  browser-test/image_snapshots/application_navigation_test/cif-eligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-submission-guest-login-prompt-modal.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
Labels: ignore-for-release, common-intake-form

#4646 Update bin/fmt to Handle Git Worktrees
  bin/fmt
Labels: infrastructure, ignore-for-release

#4649 Use consistent styling for required fields during question creation.
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/SelectWithLabel.java
Labels: admin-ui

#4652 Remove default state option from address question.
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  server/app/views/admin/questions/QuestionConfig.java
Labels: bug

#4653 Set aria-required for required questions.
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/components/SelectWithLabel.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/ApplicantCompositeQuestionRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/ApplicantSingleQuestionRenderer.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/DateQuestionRenderer.java
  server/app/views/questiontypes/DropdownQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/app/views/questiontypes/IdQuestionRenderer.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/questiontypes/NumberQuestionRenderer.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/TextQuestionRenderer.java
Labels: bug, a11y

#4656 Fix nav links for CF admins on applications and reporting pages.
  browser-test/image_snapshots/application_review_test/cf-admin-applications-page.png
  browser-test/image_snapshots/application_review_test/cf-admin-reporting-page.png
  browser-test/src/application_review.test.ts
  browser-test/src/support/index.ts
  server/app/auth/CiviFormProfile.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/reporting/AdminReportingIndexView.java
  server/app/views/admin/reporting/AdminReportingShowView.java
Labels: bug

#4661 Update README
  README.md
Labels: ignore-for-release

#4667 Replace `AdminStyles.SECONDARY_BUTTON_STYLES` with new `ButtonStyles.OUTLINED_WHITE_WITH_ICON`
  server/app/views/components/ButtonStyles.java
  server/app/views/style/AdminStyles.java
Labels: ignore-for-release

#4670 Replace `AdminStyles.TERTIARY_BUTTON_STYLES` with new `ButtonStyles.CLEAR_WITH_ICON`
  browser-test/image_snapshots/admin_program_settings_test/dropdown-with-settings.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-without-settings.png
  server/app/views/components/ButtonStyles.java
  server/app/views/style/AdminStyles.java
Labels: admin-ui

#4672 Inline `ButtonStyles` from `AdminStyles`
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/apikeys/ApiKeyIndexView.java
  server/app/views/admin/apikeys/ApiKeyNewOneView.java
  server/app/views/admin/programs/ManageProgramAdminsView.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramPredicatesEditViewV2.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
  server/app/views/admin/ti/TrustedIntermediaryGroupListView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/components/QuestionBank.java
  server/app/views/style/AdminStyles.java
Labels: admin-ui

#4679 Update oncall bug template
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#4685 Store updated snapshots from running screenshot tests.
  .github/workflows/tests.yaml
  .gitignore
  browser-test/src/support/index.ts
Labels: ignore-for-release

#4674 SOLID_BLUE Buttons Icon Fix
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-default.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-with-settings.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-without-settings.png
  browser-test/image_snapshots/admin_program_viewing_test/program-list-active-and-draft-program.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/image_snapshots/application_review_test/cf-admin-applications-page.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  server/app/views/admin/apikeys/ApiKeyIndexView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ButtonStyles.java
Labels: admin-ui

#4689 Add new `CLEAR_WITH_ICON_FOR_DROPDOWN` button style for dropdowns
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/components/ButtonStyles.java
Labels: ignore-for-release

#4702 Removing Hard-coded Seattle Discovery URIs
  server/conf/helper/auth.conf
Labels: bug, seattle

#4678 Add required indicator to first and last name fields.
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  browser-test/image_snapshots/name_test/name-errors.png
  browser-test/image_snapshots/name_test/name.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/components/SelectWithLabel.java
  server/app/views/questiontypes/NameQuestionRenderer.java
Labels: feature

#4690 Allow reordering answer options for multiple choice questions
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/src/question_lifecycle.test.ts
  server/app/assets/javascripts/main.ts
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#4701 Add `auth.applicant_auth_provider_name` to allow civic entities to customize the name of their auth provider
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-public.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-hidden-from-applicant.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-not-set.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/application_navigation_test/cif-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_test/landing-page.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/auth_test/logged-in-guest.png
  browser-test/image_snapshots/landing_page_test/landing-page-no-version.png
  browser-test/image_snapshots/landing_page_test/landing-page-with-version.png
  server/app/views/LoginForm.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/env-var-docs.json
  server/conf/helper/auth.conf
  server/conf/messages
Labels: authentication
