Repository civiform/civiform, pull requests merged in 2023-09, with the labels that each got.

#5529 Redirect to home if user is not authorized in ApplicantProgramsController
  browser-test/src/security.test.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: bug, authentication, arkansas

#5496 Mark optional fields and add required fields explanation on the TI "Add Client" form
  browser-test/image_snapshots/admin_predicates_test/review-page-has-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/summary-page-no-eligible-banner.png
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_preview_test/program-preview-application-review-page.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/image_snapshots/applicant_application_index_test/other-program-shows-previously-answered.png
  browser-test/image_snapshots/applicant_application_index_test/question-shows-previously-answered.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date.png
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/mobile_views_test/mobile-apply-page.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  browser-test/image_snapshots/text_test/text-max.png
  browser-test/image_snapshots/trusted_intermediary_test/application-summary-page-not-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/MessageKey.java
  server/app/views/BaseHtmlView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/i18n/messages
Labels: bug, TI, i18n

#5552 Tooltip on the "Administrative Identifier" field in the question creation form
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  server/app/views/ViewUtils.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: api

#5540 Add admin names to QuestionOptions
  server/app/services/question/QuestionOption.java
  server/conf/evolutions/default/57.sql
  server/test/services/question/types/QuestionOptionTest.java
Labels: ignore-for-release, database

#5517 Only load question data on index page for programs with eligibility conditions
  server/app/services/program/ProgramServiceImpl.java
Labels: scaling, feature, dow-swe

#5493 Remove database call to get question data on index page if not needed
  server/app/services/applicant/ApplicantService.java
Labels: scaling, feature, dow-swe

#5566 Update JSON to use admin names
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/applicant/question/SingleSelectQuestion.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/views/api/ApiDocsView.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/question/types/MultiOptionQuestionDefinitionTest.java
Labels: ignore-for-release

#5567 Update CSV to use admin names
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
Labels: ignore-for-release

#5571 Consolidated required fields note into one message
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n

#5572 Create filter to record PLAY_SESSION cookie size
  server/app/filters/RecordCookieSizeFilter.java
  server/conf/application.conf
  server/test/filters/RecordCookieSizeFilterTest.java
Labels: authentication, ignore-for-release

#5568 Update QuestionDefinitions to use option adminNames
  server/app/models/Question.java
  server/app/services/question/LocalizedQuestionOption.java
  server/app/services/question/QuestionOption.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/views/admin/questions/QuestionConfig.java
  server/test/forms/translation/MultiOptionQuestionTranslationFormTest.java
  server/test/models/QuestionTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/question/types/MultiOptionQuestionDefinitionTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
  server/test/services/question/types/QuestionOptionTest.java
Labels: ignore-for-release

#5573 Use QuestionOption admin names for sample and test questions
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  server/app/controllers/dev/seeding/SampleQuestionDefinitions.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/PdfExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
  server/test/services/program/predicate/PredicateExpressionNodeTest.java
  server/test/services/program/predicate/PredicateValueTest.java
  server/test/support/TestQuestionBank.java
Labels: ignore-for-release

#5600 Update Oncall Rotation Release Docs Link
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: infrastructure, ignore-for-release

#5602 Updating broken links on pull_request_template
  .github/pull_request_template.md
Labels: infrastructure, ignore-for-release

#5593 Update frontend related code to use admin names
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  server/app/controllers/admin/AdminQuestionController.java
  server/app/forms/MultiOptionQuestionForm.java
  server/app/services/question/QuestionOption.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/forms/CheckboxQuestionFormTest.java
  server/test/forms/DropdownQuestionFormTest.java
  server/test/forms/MultiOptionQuestionFormTest.java
  server/test/forms/RadioButtonQuestionFormTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/question/types/QuestionOptionTest.java
  server/test/views/admin/question/QuestionConfigTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
  server/test/views/questiontypes/DropdownQuestionRendererTest.java
  server/test/views/questiontypes/RadioButtonQuestionRendererTest.java
Labels: ignore-for-release

#5636 Allow production sites to set the no index meta tag
  server/app/views/BaseHtmlLayout.java
Labels: infrastructure, dow-swe, arkansas

#5615 Update server var names to match names in civiform_config.sh files
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  docker-compose.yml
  env-var-docs/check_vars_documented.py
  server/app/services/settings/SettingsManifest.java
  server/app/views/applicant/ApplicantLayout.java
  server/conf/application.conf
  server/conf/env-var-docs.json
  server/conf/helper/auth.conf
  server/conf/helper/cloud.conf
  server/conf/helper/whitelabel.conf
Labels: infrastructure

#5596 Show preview of formatted question name in the admin create question form
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/question_lifecycle.test.ts
  server/app/assets/javascripts/main.ts
  server/app/services/question/types/QuestionDefinition.java
  server/app/views/admin/questions/QuestionEditView.java
Labels: api

#5656 Change program admin email link
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug

#5657 "Return" should trigger an action in Applications Search form
  server/app/assets/javascripts/main.ts
  server/app/views/admin/programs/ProgramApplicationListView.java
Labels: feature, Program Feedback

#5670 Fix spelling in bin/remove-dev
  bin/remove-dev
Labels: ignore-for-release
