Repository civiform/civiform, pull requests merged in 2023-01, with the labels that each got.

#3981 Rework handling of errors in BrowserErrorWatcher
  browser-test/src/support/browser_error_watcher.ts
Labels: ignore-for-release

#4009 Fix browser auth test date assertion
  browser-test/src/auth.test.ts
Labels: bug, ignore-for-release

#3817 add help text for file uploads
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/image_snapshots/file_test/file.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  server/app/services/MessageKey.java
  server/app/views/FileUploadViewStrategy.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: feature

#3827 Allow users to answer questions out of order
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered.png
  browser-test/image_snapshots/text_test/text-max.png
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/applicant_application_statuses.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/auth.test.ts
  browser-test/src/support/applicant_questions.ts
  civiform.code-workspace
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/RedirectController.java
  server/app/services/MessageKey.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/Icons.java
  server/app/views/components/LinkElement.java
  server/conf/messages
  server/conf/messages.am
  server/conf/messages.en-US
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
  server/conf/routes
  server/test/controllers/RedirectControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: feature

#4002 Show Not Eligible next to questions in preview
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/applicant_questions.ts
  browser-test/src/support/index.ts
  server/app/services/MessageKey.java
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/style/ReferenceClasses.java
  server/conf/messages
  server/conf/messages.en-US
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: ignore-for-release

#4016 Separate enumerator values by semi-colon
  browser-test/src/application_review.test.ts
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: bug

#4030 Update checkbox validation error message to include the correct number when too many selected
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
Labels: bug

#4031 Update set-output in github action to new format
  .github/workflows/build_push_ci.yaml
Labels: ignore-for-release

#3677 Minor improvements to create-release script
  bin/create-release
Labels: ignore-for-release

#4053 Add LeafAddressServiceAreaExpressionNode
  server/app/repository/VersionRepository.java
  server/app/services/applicant/predicate/PredicateEvaluator.java
  server/app/services/program/BlockDefinition.java
  server/app/services/program/predicate/AndNode.java
  server/app/services/program/predicate/ConcretePredicateExpressionNode.java
  server/app/services/program/predicate/LeafAddressServiceAreaExpressionNode.java
  server/app/services/program/predicate/LeafOperationExpressionNode.java
  server/app/services/program/predicate/OrNode.java
  server/app/services/program/predicate/PredicateAddressServiceAreaNodeExtractor.java
  server/app/services/program/predicate/PredicateExpressionNode.java
  server/app/services/program/predicate/PredicateExpressionNodeType.java
  server/app/services/program/predicate/PredicateExpressionNodeVisitor.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/program/BlockDefinitionTest.java
  server/test/services/program/predicate/PredicateAddressServiceAreaNodeExtractorTest.java
  server/test/services/program/predicate/PredicateExpressionNodeTest.java
Labels: feature, ignore-for-release

#4055 Use commit sha for prettier action version
  .github/workflows/format.yaml
Labels: ignore-for-release

#4054 Replace abandoned file-changes-action with one that is still maintained
  .github/workflows/build_push_ci.yaml
  .github/workflows/format.yaml
Labels: ignore-for-release

#4036 Base for address correction and verification
  server/app/featureflags/FeatureFlags.java
  server/app/services/Address.java
  server/app/services/applicant/Block.java
  server/app/services/geo/AddressLocation.java
  server/app/services/geo/AddressSuggestion.java
  server/app/services/geo/AddressSuggestionGroup.java
  server/app/services/program/BlockDefinition.java
  server/conf/application.conf
Labels: feature, ignore-for-release

#4059 Explicitly disable the multiple predicates experiment for legacy tests
  browser-test/src/admin_legacy_predicates.test.ts
  browser-test/src/support/index.ts
Labels: ignore-for-release

#4065 Explicitly disable predicate editor v2 for environments with it on.
  browser-test/src/admin_legacy_predicates.test.ts
  browser-test/src/application_navigation.test.ts
Labels: ignore-for-release

#4066 Update screenreader text for applicant-facing program list page
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramIndexView.java
Labels: a11y, feature

#4037 Update timezone of previously answered on text
  server/app/services/DateConverter.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/test/services/DateConverterTest.java
Labels: bug, dow-swe

#4070 Add translation for "Choose File" button
  server/app/services/MessageKey.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/conf/messages
  server/conf/messages.en-US
Labels: feature, dow-swe

#4025 Restrict Eligibility questions to the same block
  server/app/services/program/ProgramDefinition.java
  server/test/services/program/ProgramDefinitionTest.java
Labels: ignore-for-release

#4063 Add message key for previously answered on
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/messages
  server/conf/messages.en-US
Labels: feature, dow-swe

#4072 Add missing ariaLabel.begin to default language file
  server/conf/messages
  server/conf/messages.en-US
Labels: ignore-for-release

#4012 Add validation check upon application submit
  browser-test/image_snapshots/application_navigation_test/program-out-of-date.png
  browser-test/src/application_navigation.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/exception/ApplicationOutOfDateException.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/conf/messages
  server/conf/messages.en-US
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: feature

#4061 Add browser test for "previously answered on" display
  browser-test/image_snapshots/applicant_application_index_test/other-program-shows-previously-answered.png
  browser-test/image_snapshots/applicant_application_index_test/question-shows-previously-answered.png
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/style/ReferenceClasses.java
Labels: testing, dow-swe, ignore-for-release

#4075 CiviForm Logo as "home" navigation to program page
  browser-test/image_snapshots/application_review_test/applications-page.png
  browser-test/src/application_review.test.ts
  server/app/views/admin/AdminLayout.java
Labels: program-admin, feature

#4011 Refactor to support a read only version to view a Program
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/modules/MainModule.java
  server/app/modules/ProgramCreationModule.java
  server/app/views/ViewUtils.java
  server/app/views/admin/programs/ProgramBlockBaseView.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditView.java
  server/app/views/admin/programs/ProgramBlockPredicatesEditViewV2.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ProgramCardFactory.java
  server/conf/application.conf
  server/test/views/admin/programs/ProgramBlockBaseViewTest.java
Labels: program-admin, admin-ui, ignore-for-release, publishing-programs

#3915 update date predicates to not evaluate same date as true
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/src/admin_predicates.test.ts
  server/app/services/program/predicate/Operator.java
Labels: bug

#4091 "Previously answered on" shows, even if the question was answered in the current program
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered.png
  browser-test/image_snapshots/text_test/text-max.png
  browser-test/src/applicant_application_index.test.ts
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: feature, dow-swe

#4077 adds address correction enabled to program question definition
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/forms/ProgramQuestionDefinitionAddressCorrectionEnabledForm.java
  server/app/services/program/ProgramQuestionDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/program/ProgramServiceImpl.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/views/ViewUtils.java
  server/app/views/admin/programs/ProgramBlockEditView.java
  server/app/views/components/Icons.java
  server/conf/application.dev.conf
  server/conf/routes
Labels: ignore-for-release

#4097 Check eligibility upon submit
  browser-test/src/application_navigation.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/exception/ApplicationNotEligibleException.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: ignore-for-release

#4074 Client for fetching and building Address Suggestion Group
  server/app/services/AddressField.java
  server/app/services/geo/esri/EsriClient.java
  server/build.sbt
  server/conf/application.conf
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/test/resources/esri/findAddressCandidates.json
  server/test/resources/esri/findAddressCandidatesNoCandidates.json
  server/test/services/geo/esri/EsriClientTest.java
Labels: ignore-for-release

#4107 Fix displaying CSV values in new (feature flagged) admin predicate editor
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/src/admin_predicates.test.ts
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/services/program/predicate/Operator.java
  server/app/views/admin/programs/ProgramBlockPredicateConfigureView.java
Labels: bug

#4117 Avoid parsing emails as URLs in TextFormatter.
  server/app/views/components/TextFormatter.java
  server/build.sbt
  server/test/views/components/TextFormatterTest.java
Labels: bug

#4082 Set focus after removing an enumerator for applicant view
  server/app/assets/javascripts/enumerator.ts
Labels: a11y, feature

#4119 Add translations for strings
  server/conf/messages.am
  server/conf/messages.es-US
  server/conf/messages.ko
  server/conf/messages.so
  server/conf/messages.tl
  server/conf/messages.vi
  server/conf/messages.zh-TW
Labels: i18n, dow-swe, ignore-for-release

#4109 Promote status tracking to a default feature.
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/applicant_application_statuses.test.ts
  browser-test/src/civiform_admin_program_statuses.test.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/featureflags/FeatureFlags.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/PdfExporter.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/conf/application.conf
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/featureflags/FeatureFlagsTest.java
  server/test/services/export/CsvExporterTest.java
  server/test/services/export/JsonExporterTest.java
  server/test/services/export/PdfExporterTest.java
Labels: feature

#4128 Fix bug where unanswered question shows as Not Eligible
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/applicant/AnswerData.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: ignore-for-release

#4123 Format and update ineligible page
  browser-test/image_snapshots/admin_legacy_predicates_test/ineligible.png
  browser-test/image_snapshots/admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/image_snapshots/admin_predicates_test/ineligible.png
  browser-test/src/admin_predicates.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/applicant/Block.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/style/ApplicantStyles.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: eligibility, feature, dow-swe, ignore-for-release

#4126 Add messages for new eligibility text
  server/conf/messages
Labels: i18n, dow-swe, ignore-for-release

#4143 Add keep files to support image subdirs to trigger rebuild on CI
  browser-test/.keep
  formatter/.keep
  localstack/.keep
  test-support/.keep
Labels: ignore-for-release
