Repository civiform/civiform, pull requests merged in 2024-04, with the labels that each got.

#7094 Rename PROGRAM_MIGRATION flag to PROGRAM_MIGRATION_ENABLED
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: ignore-for-release, under-development

#7095 Redirect to home page if unauthorized (except for API requests)
  browser-test/src/security.test.ts
  server/app/auth/CiviFormHttpActionAdapter.java
  server/test/auth/CiviFormHttpActionAdapterTest.java
Labels: authentication, enhancement

#7086 Migrating more browser tests to use fixtures
  browser-test/src/admin/admin_publish.test.ts
  browser-test/src/admin/admin_question_references.test.ts
  browser-test/src/admin/admin_settings.test.ts
  browser-test/src/admin/dev_tools.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/support/civiform_fixtures.ts
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#7103 Update TI client edit and add pages with latest UX design
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/image_snapshots/trusted_intermediary_test/verify-success-toast-on-new-client.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/assets/stylesheets/styles.css
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/i18n/messages
Labels: i18n, enhancement

#7105 Allow overriding the wkid in calls to Esri services
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/FakeEsriClient.java
  server/app/services/geo/esri/RealEsriClient.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/esri.conf
  server/test/services/geo/esri/EsriTestHelper.java
Labels: enhancement

#7097 Client data added by TIs is used to pre-population applications
  browser-test/image_snapshots/trusted_intermediary_test/pai-program-application-preview.png
  browser-test/image_snapshots/trusted_intermediary_test/pai-program-application.png
  browser-test/image_snapshots/trusted_intermediary_test/pai-ti-dash.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/applicant/ApplicantData.java
  server/app/services/applicant/question/DateQuestion.java
  server/app/services/applicant/question/EmailQuestion.java
  server/app/services/applicant/question/NameQuestion.java
  server/app/services/applicant/question/PhoneQuestion.java
  server/app/services/applicant/question/Question.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/test/services/applicant/question/DateQuestionTest.java
  server/test/services/applicant/question/EmailQuestionTest.java
  server/test/services/applicant/question/NameQuestionTest.java
  server/test/services/applicant/question/PhoneQuestionTest.java
Labels: under-development

#7090 [Program Migration] Set up basic export UI
  browser-test/image_snapshots/admin_program_migration_test/export-page.png
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  browser-test/src/support/civiform_fixtures.ts
  server/app/controllers/admin/AdminExportController.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/migration/AdminExportView.java
  server/app/views/admin/migration/AdminProgramExportForm.java
  server/conf/routes
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/views/admin/AdminLayoutTest.java
  server/test/views/admin/migration/AdminProgramExportFormTest.java
Labels: under-development

#7112 Using USWDS styles for input fields and labels on TI forms
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-universal-not-set.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  server/app/views/applicant/EditTiClientView.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/components/SelectWithLabel.java
Labels: enhancement

#7114 [Disabled Programs] add feature flag for disabled programs
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, feature-flag, under-development

#7118 Set retention days on artifacts
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#7125 [Disabled Programs] add feature flag for disabled programs
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag, under-development

#7133 Better check for recording video
  browser-test/playwright.config.ts
Labels: infrastructure, ignore-for-release

#7110 Install graphite in devcontainer
  .devcontainer/devcontainer.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7131 Don't use full page for settings screenshots
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/admin/admin_settings.test.ts
Labels: infrastructure, ignore-for-release

#7111 Add playwright test package to devcontainer
  .devcontainer/devcontainer.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7139 Update feature flag template with direct link to tracking spreadsheet
  .github/ISSUE_TEMPLATE/feature_flag.md
Labels: ignore-for-release

#7141 Remove terraform from codespace dependencies
  .devcontainer/devcontainer.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7143 [Disabled Programs] refactor radio button
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: google.org-swe, enhancement

#7140 Move launch configuration to a separate file within devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/launch.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7146 Remove terraform from codespace dependencies
  .devcontainer/devcontainer.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7161 Fixes for Java 17 compatibility
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: ignore-for-release

#7171 Removing obsolete Seattle-specific page
  server/app/controllers/SupportController.java
  server/app/filters/ValidAccountFilter.java
  server/app/views/support/UnconfirmedIdcsEmailBugView.java
  server/conf/routes
Labels: enhancement

#7174 Removing version from docker compose files
  browser-test/browser-test-compose.dev.yml
  browser-test/browser-test-compose.dev_local.yml
  browser-test/browser-test-compose.yml
  docker-compose.dev.yml
  docker-compose.yml
  test-support/prod-simulator-compose.yml
Labels: infrastructure, ignore-for-release

#7145 Allow submitting applications pre-filled with PAI data
  browser-test/image_snapshots/trusted_intermediary_test/pai-program-application-preview.png
  browser-test/image_snapshots/trusted_intermediary_test/pai-program-application.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/applicant/question/CurrencyQuestion.java
  server/app/services/applicant/question/DateQuestion.java
  server/app/services/applicant/question/EmailQuestion.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/services/applicant/question/IdQuestion.java
  server/app/services/applicant/question/NameQuestion.java
  server/app/services/applicant/question/NumberQuestion.java
  server/app/services/applicant/question/PhoneQuestion.java
  server/app/services/applicant/question/Question.java
  server/app/services/applicant/question/SingleSelectQuestion.java
  server/app/services/applicant/question/TextQuestion.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: bug

#7185 Ignore devcontainer dir
  .github/labeler.yml
Labels: ignore-for-release

#7189 Set SBT_VERSION in script that pushes custom images
  bin/build-and-push-image-for-testing
Labels: infrastructure, ignore-for-release

#7144 [Disabled Programs] add disabled as a visibility option
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-disabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-ti.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_visibility.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/models/DisplayMode.java
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: feature, google.org-swe

#7177 Change ESRI findAddressCandidiates url to a list or urls
  server/app/modules/EsriModule.java
  server/app/services/geo/esri/RealEsriClient.java
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/conf/env-var-docs.json
  server/conf/helper/esri.conf
  server/test/resources/esri/findAddressCandidatesNo100PercentMatch.json
  server/test/services/geo/esri/EsriTestHelper.java
  server/test/services/geo/esri/RealEsriClientTest.java
Labels: enhancement

#7163 Remove PROGRAM_CARD_IMAGES flag
  server/app/controllers/admin/AdminProgramController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/ProgramImageUtils.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/components/ProgramCardFactory.java
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/views/ProgramImageUtilsTest.java
Labels: feature-flag

#7210 Migrate question type tests to use fixtures
  browser-test/src/applicant/questions/address.test.ts
  browser-test/src/applicant/questions/checkbox.test.ts
  browser-test/src/applicant/questions/currency.test.ts
  browser-test/src/applicant/questions/dropdown.test.ts
  browser-test/src/applicant/questions/email.test.ts
  browser-test/src/applicant/questions/id.test.ts
  browser-test/src/applicant/questions/name.test.ts
  browser-test/src/applicant/questions/number_input.test.ts
  browser-test/src/applicant/questions/phone.test.ts
  browser-test/src/applicant/questions/radio_button.test.ts
  browser-test/src/applicant/questions/static_text.test.ts
  browser-test/src/applicant/questions/text.test.ts
Labels: tech-debt, ignore-for-release

#7069 Render enumerator question
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star-medium.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star-mobile.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star-medium.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star-mobile.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star.png
  browser-test/src/end_to_end_enumerators.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
Labels: tech-debt, under-development, [Epic] North Star Applicant UI

#7202 [Disabled Programs] refactor ActiveAndDraftPrograms
  server/app/services/program/ActiveAndDraftPrograms.java
Labels: google.org-swe, enhancement

#7216 Simplify mk-s3 script
  bin/localstack/mk-s3
Labels: infrastructure, ignore-for-release

#7220 Minor UI Fixes on Create ApiKey Page
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page-invalid.png
  browser-test/src/admin/admin_api_keys.test.ts
  browser-test/src/support/admin_api_keys.ts
  server/app/views/admin/apikeys/ApiKeyNewOneView.java
Labels: bug

#7215 [Disabled Programs] add tests to verify all programs are shown to program admins
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list-visible-disabled-program.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list.png
  browser-test/src/program_admin/program_admin_program_list.test.ts
Labels: google.org-swe, enhancement

#7221 Convert application_address_correction.test.ts to use test steps
  browser-test/src/applicant/application_address_correction.test.ts
Labels: ignore-for-release

#6867 Add autofocus attribute to all question types
  browser-test/image_snapshots/address_test/address-errors-north-star-medium.png
  browser-test/image_snapshots/address_test/address-errors-north-star-mobile.png
  browser-test/image_snapshots/address_test/address-errors-north-star.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star-medium.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star-mobile.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star-medium.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star-mobile.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star.png
  browser-test/image_snapshots/email_test/email-errors-north-star-medium.png
  browser-test/image_snapshots/email_test/email-errors-north-star-mobile.png
  browser-test/image_snapshots/email_test/email-errors-north-star.png
  browser-test/image_snapshots/id_test/id-errors-north-star-medium.png
  browser-test/image_snapshots/id_test/id-errors-north-star-mobile.png
  browser-test/image_snapshots/id_test/id-errors-north-star.png
  browser-test/image_snapshots/name_test/name-errors-north-star-medium.png
  browser-test/image_snapshots/name_test/name-errors-north-star-mobile.png
  browser-test/image_snapshots/name_test/name-errors-north-star.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star-medium.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star-mobile.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star-medium.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star-mobile.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-medium.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-mobile.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star.png
  browser-test/image_snapshots/text_test/text-errors-north-star-medium.png
  browser-test/image_snapshots/text_test/text-errors-north-star-mobile.png
  browser-test/image_snapshots/text_test/text-errors-north-star.png
  server/app/services/applicant/question/Question.java
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
  server/app/views/questiontypes/DropdownQuestionFragment.html
  server/app/views/questiontypes/EmailQuestionFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/PhoneQuestionFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
  server/test/views/applicant/NorthStarApplicantProgramBlockEditViewTest.java
Labels: a11y, under-development, [Epic] North Star Applicant UI

#7226 Automatically enable git completion in codespaces
  .devcontainer/devcontainer.json
Labels: infrastructure, ignore-for-release

#7129 TI dashboard UX finishing touches
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-left.png
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-right.png
  browser-test/image_snapshots/pagination_test/ti-pagination-no-ellipses.png
  browser-test/image_snapshots/pagination_test/ti-pagination-two-ellipses.png
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table-many.png
  browser-test/image_snapshots/trusted_intermediary_test/pai-ti-dash.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/image_snapshots/trusted_intermediary_test/verify-success-toast-on-new-client.png
  server/app/assets/stylesheets/styles.css
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/i18n/messages
Labels: i18n, enhancement

#7219 Allow global admin with program privileges to download applicant files
  server/app/controllers/FileController.java
  server/test/controllers/FileControllerTest.java
  server/test/controllers/WithMockedProfiles.java
Labels: bug, google.org-swe, Bloomington

#7230 Add port to forwardPorts list for browser test issues in devcontainer
  .devcontainer/devcontainer.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7239 Rename tailwind color seattle-blue to civiform-blue
  server/app/assets/javascripts/radio.ts
  server/app/views/style/BaseStyles.java
  server/tailwind.config.js
Labels: tech-debt

#7244 Show "Traditional Chinese" instead of "Chinese" in translation admin
  browser-test/image_snapshots/admin_program_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation-with-image-description.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_translation_test/question-translation.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  server/app/views/admin/TranslationFormView.java
Labels: enhancement

#7257 Make PredicateGenerator.parsePredicateValue package protected
  server/app/services/program/predicate/PredicateGenerator.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
Labels: tech-debt, ignore-for-release, cleanup

#7261 Fix package for ApiKeyCredentialsView
  server/app/controllers/admin/AdminApiKeysController.java
  server/app/views/admin/apikeys/ApiKeyCredentialsView.java
Labels: ignore-for-release

#7248 Markdown fixes - fix lists in preview and when adding required indicator
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-blank-lines.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/src/admin/admin_program_creation.test.ts
  server/app/assets/javascripts/util.test.ts
  server/app/assets/javascripts/util.ts
  server/app/views/components/TextFormatter.java
  server/test/views/components/TextFormatterTest.java
Labels: bug

#7229 Implement toasts in block edit page
  browser-test/image_snapshots/application_navigation_test/north-star-eligible-toast-medium.png
  browser-test/image_snapshots/application_navigation_test/north-star-eligible-toast-mobile.png
  browser-test/image_snapshots/application_navigation_test/north-star-eligible-toast.png
  browser-test/src/applicant/application_navigation.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/views/ApplicationBaseViewParams.java
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/components/ToastFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7265 Increase the memory of the codespace
  .devcontainer/devcontainer.json
Labels: ignore-for-release

#7277 Fixing broken browser test image
  browser-test/image_snapshots/application_navigation_test/north-star-eligible-toast-medium.png
  browser-test/image_snapshots/application_navigation_test/north-star-eligible-toast-mobile.png
  browser-test/image_snapshots/application_navigation_test/north-star-eligible-toast.png
Labels: ignore-for-release

#7276 Migrate TI Tests to use Playwright Fixtures
  browser-test/src/trusted_intermediary.test.ts
Labels: infrastructure, ignore-for-release

#7273 Fix bug where the eligibility condition trash icon is clickable even when hidden
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: bug

#7268 Don't allow api keys with no associated programs
  browser-test/image_snapshots/admin_api_keys_test/api-key-index-page-invalid.png
  browser-test/image_snapshots/admin_api_keys_test/new-api-key-no-programs.png
  browser-test/src/admin/admin_api_keys.test.ts
  browser-test/src/support/admin_api_keys.ts
  server/app/controllers/admin/AdminApiKeysController.java
  server/app/services/apikey/ApiKeyService.java
  server/app/views/admin/apikeys/ApiKeyNewOneView.java
  server/test/services/apikey/ApiKeyServiceTest.java
Labels: bug

#7284 Add all ports to be forwarded in the devcontainer
  .devcontainer/devcontainer.json
Labels: google.org-swe, ignore-for-release

#7283 Increase size of codespaces by default
  .devcontainer/devcontainer.json
Labels: ignore-for-release

#7282 Refactor ProgramPredicateConfigureView.renderValueRow
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: ignore-for-release

#7289 Redirect home on unauthorized
  server/app/controllers/ErrorHandler.java
Labels: enhancement

#7288 Rename ProgramPredicatesEditViewV2 to ProgramPredicatesEditView
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/views/admin/programs/ProgramPredicatesEditView.java
Labels: ignore-for-release

#7280 Putting TI Account Settings on their own page and adding navigation
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-left.png
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-right.png
  browser-test/image_snapshots/pagination_test/ti-pagination-no-ellipses.png
  browser-test/image_snapshots/pagination_test/ti-pagination-two-ellipses.png
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table-many.png
  browser-test/image_snapshots/trusted_intermediary_test/pai-ti-dash.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-navigation-account-settings.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-navigation-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/image_snapshots/trusted_intermediary_test/verify-success-toast-on-new-client.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/TrustedIntermediaryAccountSettingsView.java
  server/app/views/applicant/TrustedIntermediaryClientListView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/app/views/style/BaseStyles.java
  server/conf/i18n/messages
  server/conf/routes
Labels: i18n, enhancement

#7295 Add Setting for ArcGis Online API Token
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/esri.conf
Labels: enhancement

#7237 [Disabled Programs] add the number of disabled programs added in question list for civiform admin
  browser-test/image_snapshots/admin_question_references_test/question-used-in-disabled-programs.png
  browser-test/src/admin/admin_question_references.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/questions/QuestionsListView.java
Labels: feature, google.org-swe, under-development

#7296 Pass forStorage param to esri geocode
  server/app/services/geo/esri/RealEsriClient.java
Labels: enhancement

#7290 [Disabled Programs] refactor string formatting function
  server/app/views/admin/questions/QuestionsListView.java
Labels: google.org-swe, enhancement, under-development

#7287 Remove jobs from the db that are not found in the job registry
  server/app/durablejobs/DurableJobRunner.java
  server/test/durablejobs/DurableJobRunnerTest.java
Labels: enhancement

#7303 [Disabled Programs] added phrase `Added to # programs in use` to question list for civiform admins
  browser-test/image_snapshots/admin_question_references_test/question-used-in-disabled-programs.png
  browser-test/src/admin/admin_question_references.test.ts
  server/app/views/admin/questions/QuestionsListView.java
Labels: feature, google.org-swe, under-development

#7300 Send token when calling arcgis.com
  server/app/services/geo/esri/RealEsriClient.java
  server/test/services/geo/esri/RealEsriClientTest.java
Labels: enhancement

#6734 Create a skeleton of the review page
  browser-test/image_snapshots/application_navigation_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_test/north-star-program-preview.png
  browser-test/src/applicant/application_navigation.test.ts
  browser-test/src/applicant/questions/email.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/services/applicant/Block.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NorthStarApplicantBaseView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#7294 Fix typos
  server/app/assets/javascripts/admin_predicate_configuration.ts
Labels: ignore-for-release

#7325 Fix erroneous toBeVisible(true)
  browser-test/src/end_to_end_enumerators.test.ts
Labels: ignore-for-release

#7308 Add indicator for admin of where you can use markdown in text fields
  browser-test/image_snapshots/admin_program_creation_test/confirm-common-intake-change-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-disabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/image_snapshots/admin_question_list_test/question-edit-universal-set.png
  browser-test/image_snapshots/admin_question_list_test/question-edit-universal-unset.png
  browser-test/image_snapshots/checkbox_test/checkbox-options-long-text-preview.png
  browser-test/image_snapshots/checkbox_test/checkbox-options-with-markdown.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-already-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-dob.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-email.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-name.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-non-universal-and-already-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-phone.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-universal-not-set.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-invalid-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-markdown-formatted-preview.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/remove-universal-confirmation-modal.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  browser-test/image_snapshots/radio_button_test/radio-button-options-with-markdown.png
  browser-test/image_snapshots/radio_button_test/radio-options-long-text-preview.png
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/components/Icons.java
  server/test/views/components/FieldWithLabelTest.java
  server/test/views/components/IconsTest.java
Labels: enhancement

#7311 Add initial North Star UI page for the program index page
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/questions/address.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/error_pages.test.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/applicant/ProgramIndexTemplate.html
  server/app/views/applicant/TrustedIntermediaryClientListView.java
Labels: ignore-for-release, [Epic] North Star Applicant UI

#7321 Fix add button enable/disable logic when answering enumerator questions
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/enumerator.ts
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
Labels: bug

#7343 Remove unnecessary qualifiers in QuestionDefinitions
  server/app/services/question/types/DateQuestionDefinition.java
  server/app/services/question/types/EmailQuestionDefinition.java
  server/app/services/question/types/NullQuestionDefinition.java
  server/app/services/question/types/NumberQuestionDefinition.java
  server/app/services/question/types/PhoneQuestionDefinition.java
  server/app/services/question/types/StaticContentQuestionDefinition.java
Labels: ignore-for-release

#7349 Add FIX_APPLICANT_DOB_DATA_PATH back into enum
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/DurableJobRunner.java
Labels: bug
