Repository civiform/civiform, pull requests merged in 2024-11, with the labels that each got.

#9104 Add categories to main messages file
  server/conf/i18n/messages
  server/test/conf/MessagesTest.java
Labels: i18n, ignore-for-release

#8832 Issue #7954: Updating aria labels so they are translated accordingly
  server/app/services/MessageKey.java
  server/app/views/applicant/NavigationFragment.html
  server/conf/i18n/messages
Labels: i18n, a11y, [Epic] North Star Applicant UI

#9110 Add additional categories to messages file
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#9111 Update parser to look at messages file and include updated categories
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-false-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-filtering-enabled.png
  server/app/controllers/dev/seeding/CategoryTranslationFileParser.java
  server/test/controllers/dev/seeding/DevDatabaseSeedTaskTest.java
  server/test/services/seeding/DatabaseSeedTaskTest.java
Labels: ignore-for-release

#9097 Initial styling for program cards
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/admin_program_image.ts
  server/app/services/MessageKey.java
  server/app/views/admin/programs/NorthStarProgramCardPreview.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#9099 Delete "View details" string since it's no longer used
  server/app/services/MessageKey.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, ignore-for-release, [Epic] North Star Applicant UI

#9120 [Program Overview] Add new columns for program overview page
  server/conf/evolutions/default/81.sql
Labels: database

#9131 Add note about updating the db documentation to our pull request template
  .github/pull_request_template.md
Labels: ignore-for-release

#9136 On summary page, add spacing below alert
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#9138 Update nodejs version in tests
  browser-test/playwright.Dockerfile
Labels: dependencies

#9137 Add logging PII reminder to PR template
  .github/pull_request_template.md
Labels: ignore-for-release

#9119 Implement TI banner in North Star
  browser-test/src/northstar_trusted_intermediary.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/NavigationFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9129 Style category tags on program cards
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9143 Add min and max entities to enum button for disabling functionality to work
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
Labels: bug, under-development, [Epic] North Star Applicant UI

#9147 Fix test name
  browser-test/src/applicant/northstar_applicant_application_statuses.test.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9105 Click to download files on summary page
  browser-test/src/applicant/northstar_program_summary.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NorthStarAnswerData.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/QuestionSummaryFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9122 Create a durable job to ensure categories are up to date
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/jobs/AddCategoryAndTranslationsJob.java
  server/app/modules/DurableJobModule.java
  server/app/repository/CategoryRepository.java
  server/test/durablejobs/jobs/AddCategoryAndTranslationsTest.java
  server/test/support/ResourceCreator.java
Labels: feature

#9124 Allow enum entities to be removed in northstar
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-with-multiple-fields-northstar.png
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/enumerator.ts
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
Labels: bug, under-development, [Epic] North Star Applicant UI

#9132 When APPLICATION_EXPORTABLE is disabled, applicant will no longer be shown a "Download PDF" button after submitting application.
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantUpsellTemplate.html
Labels: bug, [Epic] North Star Applicant UI

#9164 Add cf-question-* classes to North Star question fragments
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
  server/app/views/questiontypes/EmailQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
Labels: infrastructure, [Epic] North Star Applicant UI

#9160 Adding unit tests to SetStatuses() method in Service class
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: ignore-for-release

#9169 issue-8951 "create account" button too wide
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/views/applicant/CreateAccountAlertFragment.html
Labels: bug

#9170 Create codeql.yml
  .github/workflows/codeql.yml
Labels: ignore-for-release

#9144 Add styling to "In progress" and "Submitted" tags on program cards
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/northstar_applicant_application_statuses.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#9176 Convert security browser tests to northstar
  browser-test/src/northstar_security.test.ts
Labels: under-development

#9171 Enable Java Assertions
  server/.sbtopts
  server/build.sbt
Labels: infrastructure, ignore-for-release

#9175 Delete old screenshots (attempt 2)
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-not-set-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9166 [Program Migration] Skip multioption admin name validation in program import
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/test/services/question/types/MultiOptionQuestionDefinitionTest.java
Labels: bug

#9167 Migrate radio_button test to North Star
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-errors-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-options-with-markdown-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-preview.png
  browser-test/image_snapshots/radio_button_test/radio-button-markdown-north-star.png
  browser-test/src/applicant/questions/northstar_radio_button.test.ts
  browser-test/src/applicant/questions/radio_button.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#9178 Swap element dialog to div for USWDS compatibility
  server/app/views/applicant/ModalFragment.html
Labels: bug

#9179 [Bulk status] Adding unit tests to ApplicationEventsRepository
  server/test/repository/ApplicationEventRepositoryTest.java
Labels: ignore-for-release

#9155 Heading tags for program step indicators are now a11y standard compliant.
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/email_test/email-errors-north-star.png
  browser-test/image_snapshots/email_test/email-north-star.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star-medium.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-indexes-with-multiple-fields-northstar.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star-medium.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star.png
  browser-test/image_snapshots/file_test/file-missing-north-star-medium.png
  browser-test/image_snapshots/file_test/file-missing-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-missing-north-star.png
  browser-test/image_snapshots/file_test/file-required-error-north-star.png
  browser-test/image_snapshots/file_test/file-required-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_address_test/address-errors-north-star.png
  browser-test/image_snapshots/northstar_address_test/address-north-star.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_currency_test/currency-errors-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-errors-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-north-star.png
  browser-test/image_snapshots/northstar_dropdown_test/dropdown-errors-north-star.png
  browser-test/image_snapshots/northstar_id_test/id-errors-north-star.png
  browser-test/image_snapshots/northstar_id_test/id-north-star.png
  browser-test/image_snapshots/northstar_name_test/name-errors-north-star.png
  browser-test/image_snapshots/northstar_name_test/name-north-star.png
  browser-test/image_snapshots/northstar_number_input_test/number-errors-north-star.png
  browser-test/image_snapshots/northstar_number_input_test/number-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-errors-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star.png
  browser-test/image_snapshots/phone_test/phone-north-star.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star.png
  browser-test/image_snapshots/text_test/text-errors-north-star.png
  browser-test/image_snapshots/text_test/text-north-star.png
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ApplicantBaseFragment.html
Labels: bug, a11y, [Epic] North Star Applicant UI

#9182 Convert deeplink tests for northstar
  browser-test/src/northstar_program_deep_link.test.ts
Labels: under-development

#9156 Migrate application_navigation_buttons.test.ts to North Star
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/QuestionSummaryFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9181 Migrate email.test.ts to North Star
  browser-test/image_snapshots/northstar_email_test/email-errors-north-star.png
  browser-test/image_snapshots/northstar_email_test/email-north-star.png
  browser-test/src/applicant/questions/email.test.ts
  browser-test/src/applicant/questions/northstar_email.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#9184 Migrate phone.test.ts to North Star
  browser-test/image_snapshots/northstar_phone_test/phone-errors-north-star.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/image_snapshots/northstar_phone_test/phone-north-star.png
  browser-test/src/applicant/questions/northstar_phone.test.ts
  browser-test/src/applicant/questions/phone.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#9177 Add styling to program card tags (take 3)
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/northstar_applicant_application_statuses.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/conf/i18n/messages
Labels: i18n

#9200 Migrate previous version test to North Star
  browser-test/src/applicant/northstar_application_previous_version.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#9195 Remove category folder from messages/
  server/conf/i18n/categories/messages.am
  server/conf/i18n/categories/messages.en-US
  server/conf/i18n/categories/messages.es-US
  server/conf/i18n/categories/messages.ko
  server/conf/i18n/categories/messages.lo
  server/conf/i18n/categories/messages.so
  server/conf/i18n/categories/messages.tl
  server/conf/i18n/categories/messages.vi
  server/conf/i18n/categories/messages.zh-TW
Labels: ignore-for-release

#9191 Migrate application_navigation_flow.test.ts to North Star
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  browser-test/src/applicant/northstar_block_edit.test.ts
  browser-test/src/applicant/northstar_program_summary.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#7467 Play 3 Upgrade
  server/app/controllers/dev/DevToolsController.java
  server/app/durablejobs/DurableJob.java
  server/app/durablejobs/DurableJobExecutionContext.java
  server/app/durablejobs/DurableJobRegistry.java
  server/app/filters/ApiKeyUsageFilter.java
  server/app/filters/CiviFormProfileFilter.java
  server/app/filters/SettingsFilter.java
  server/app/models/JobType.java
  server/app/modules/DurableJobModule.java
  server/app/repository/DatabaseExecutionContext.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/build.sbt
  server/conf/application.conf
  server/project/plugins.sbt
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/filters/RecordCookieSizeFilterTest.java
  server/test/filters/UnsupportedBrowserFilterTest.java
  server/test/repository/ResetPostgres.java
Labels: dependencies

#9204 Migrate applicant_question_translation.test.ts to North Star
  browser-test/image_snapshots/northstar_applicant_question_translation_test/question-translation-with-markdown.png
  browser-test/src/applicant/northstar_applicant_question_translation.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#9198 [North Star] Add the ability to clear program filters on the landing page
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/main.ts
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development

#9209 skip create account section when user is already logged in
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/views/applicant/ApplicantUpsellTemplate.html
Labels: bug

#9202 [North Star] Putting program filtering in its own fragment
  server/app/views/applicant/ProgramFiltersFragment.html
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development

#9217 [North Star] Page scroll to filter results after selecting program filters
  server/app/views/applicant/ProgramFiltersFragment.html
Labels: under-development

#9222 Stop allowing questions with colliding keys
  server/app/repository/QuestionRepository.java
  server/app/services/question/QuestionService.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/question/QuestionServiceTest.java
Labels: bug

#9221 Allow email provider to be set through configuration variable
  docker-compose.yml
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/email.conf
Labels: ignore-for-release

#9186 Adding applicant program list class
  browser-test/src/applicant/northstar_application_version_fast_forward.test.ts
  browser-test/src/support/applicant_program_list.ts
  browser-test/src/support/civiform_fixtures.ts
Labels: infrastructure, ignore-for-release

#9210 Introduce a no-op, test-only implementation of AzurePublicStorage
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/cloud.conf
  server/test/services/cloud/azure/AzurePublicStorageTest.java
Labels: azure, ignore-for-release

#9223 Re-enable Azure browser tests
  .github/workflows/tests.yaml
  .github/workflows/tests_skip.yaml
  browser-test/playwright.config.ts
Labels: infrastructure, ignore-for-release

#9244 Change playwright timeout back to 90s
  browser-test/playwright.config.ts
Labels: infrastructure, ignore-for-release

#9229 Check for draft questions as well as draft programs
  server/app/controllers/admin/AdminImportController.java
  server/app/repository/VersionRepository.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: bug

#9228 Add fr to default languages
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_question_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_question_translation_test/question-translation.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  server/conf/application.conf
Labels: ignore-for-release

#9236 issue-9031 Update aria role as status on success message on confirmation page
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/components/AlertFragment.html
Labels: a11y

#9114 Replace AnswerData with CsvColumnFactory for additional speed improvements in CSV export
  server/app/controllers/FileController.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/question/Question.java
  server/app/services/export/Column.java
  server/app/services/export/CsvColumnFactory.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/ExportFormatUtils.java
  server/app/services/export/QuestionJsonPresenter.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/ExportFormatUtilsTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/PdfExporterTest.java
Labels: enhancement

#9246 Handle duplicate questions during export
  server/app/services/export/CsvExporter.java
  server/app/services/export/JsonExporterService.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: bug

#9240 Use letters to de-dupe imported questions
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/repository/QuestionRepository.java
  server/app/services/migration/ProgramMigrationService.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: bug

#9250 [Program Migration] Add custom body parser and trim json before submission
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-missing-program-fields.png
  server/app/assets/javascripts/admin_import_view.ts
  server/app/assets/javascripts/htmx_request.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/parsers/LargeFormUrlEncodedBodyParser.java
  server/app/views/admin/migration/AdminImportView.java
  server/conf/application.conf
Labels: bug

#9242 [North Star] Add aria label to "View and apply" program card button
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/conf/i18n/messages
Labels: i18n, under-development

#9267 issue-8942 remove unnecessary wrapping nav element from guest login alert
  server/app/services/MessageKey.java
  server/app/views/applicant/NavigationFragment.html
  server/conf/i18n/messages
Labels: i18n, a11y

#9248 Refactor the Azure blob storage client code, moving it out of the AzureApplicantStorage class
  server/app/services/cloud/azure/AzureApplicantStorage.java
  server/app/services/cloud/azure/AzureBlobStorageClient.java
  server/app/services/cloud/azure/AzureBlobStorageClientInterface.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/cloud/azure/BaseAzureBlobStorageClient.java
  server/app/services/cloud/azure/DevAzureBlobStorageClient.java
  server/app/services/cloud/azure/TestAzureBlobStorageClient.java
  server/test/services/cloud/azure/AzureApplicantStorageTest.java
Labels: azure, ignore-for-release

#9269 Add top border to northstar footer
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  browser-test/image_snapshots/northstar_text_test/text-max.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme.scss
  server/app/views/applicant/NavigationFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9270 Perf
  server/app/durablejobs/jobs/CopyFileKeyForMultipleFileUpload.java
Labels: enhancement

#9274 [North Star] Update heading styles on the homepage
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/applicant/ProgramFiltersFragment.html
  server/app/views/applicant/ProgramIndexTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development

#9061 [Eligibility Message] Add localizedEligibilityMessage to block definition
  server/app/services/program/BlockDefinition.java
  server/app/services/program/ProgramService.java
  server/test/services/program/ProgramServiceTest.java
Labels: feature, google.org-swe

#9283 Add step to oncall issue to update admins when a release will be late.
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#9276 Enable program card image uploads for azure local testing.
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/azure_upload.ts
  server/app/services/cloud/azure/AzureApplicantStorage.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/cloud/azure/DevAzureBlobStorageClient.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramImageView.java
  server/conf/env-var-docs.json
  server/conf/helper/cloud.conf
  server/test/services/cloud/azure/AzurePublicStorageTest.java
Labels: azure, ignore-for-release

#9287 [Program Migration] Handle all server errors when previewing a program and allow saving large requests
  server/app/controllers/admin/AdminImportController.java
  server/app/views/admin/migration/AdminImportViewPartial.java
Labels: bug

#9288 Extract metrics from AWS email sending class, so they could be reused for graph API
  server/app/services/email/aws/SimpleEmail.java
  server/app/services/monitoring/EmailSendMetrics.java
Labels: ignore-for-release

#9285 Enable file upload limit for applicant files on Azure. (100 Mb)
  server/app/services/cloud/azure/AzureApplicantStorage.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/cloud.conf
  server/test/services/cloud/azure/AzureApplicantStorageTest.java
Labels: bug, azure

#9300 Port application_navigation_common_intake.test.ts to North Star
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-signed-in-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-signed-in-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-ti-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-ti-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-signed-in-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-signed-in-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-ti-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-ti-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-shows-submitted-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-shows-submitted-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-shows-submitted.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-submission-guest-login-prompt-modal-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-submission-guest-login-prompt-modal-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-submission-guest-login-prompt-modal.png
  browser-test/src/applicant/navigation/northstar_application_navigation_common_intake.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: [Epic] North Star Applicant UI

#9313 Add createAccountHeading variable
  browser-test/src/support/applicant_questions.ts
Labels: [Epic] North Star Applicant UI

#9314 Fix prober tests
  server/app/views/admin/programs/ProgramImageView.java
Labels: ignore-for-release

#9297 Migrate application navigation with eligibility conditions tests
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tag-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tag-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tag.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9311 Set common intake card background color to light blue in northstar
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-shows-submitted-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-shows-submitted-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-shows-submitted.png
  browser-test/src/applicant/navigation/northstar_application_navigation_common_intake.test.ts
  browser-test/src/support/applicant_program_list.ts
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: under-development, [Epic] North Star Applicant UI

#9305 Add "upsell" to the admin settings page
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9325 Update dependency with DDOS vulnerability
  browser-test/package-lock.json
  server/package-lock.json
Labels: ignore-for-release

#9280 [Eligibility message] Adding endpoint on controller for updating eligibility message
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
Labels: feature
