Repository civiform/civiform, pull requests merged in 2024-07, with the labels that each got.

#7331 Add min/max limits for enumerator question answers
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-enumerator-question.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/enumerator.ts
  server/app/forms/EnumeratorQuestionForm.java
  server/app/services/applicant/question/EnumeratorQuestion.java
  server/app/services/question/types/EnumeratorQuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/test/forms/EnumeratorQuestionFormTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
Labels: i18n, enhancement

#7922 Add custom confirmation message to the "Application Submitted" page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/controllers/applicant/UpsellController.java
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/UpsellParams.java
Labels: ignore-for-release, under-development, [Epic] North Star Applicant UI

#7932 Run regression tests daily
  .github/workflows/regression_test.yaml
Labels: scaling, feature, google.org-swe, ignore-for-release

#7930 Adding eligibility alert settings
  server/app/controllers/applicant/EligibilityAlertSettingsCalculator.java
  server/app/services/AlertSettings.java
  server/app/services/AlertType.java
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
Labels: under-development

#7941 Move simple classes to use java records
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/services/ti/TrustedIntermediarySearchResult.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: ignore-for-release

#7939 Adding new overload for creating alerts
  server/app/views/ViewUtils.java
  server/test/views/ViewUtilsTest.java
Labels: ignore-for-release, under-development

#7940 Add error messages to file upload
  browser-test/image_snapshots/file_test/file-error-too-large.png
  browser-test/image_snapshots/file_test/file-missing-north-star-medium.png
  browser-test/image_snapshots/file_test/file-missing-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-missing-north-star.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/FileUploadQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7950 Box the validateScreenshot method
  browser-test/src/support/index.ts
Labels: ignore-for-release

#7952 Force disable mf upload in test
  browser-test/src/admin/admin_program_migration.test.ts
Labels: ignore-for-release

#7953 Create civiform footer
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-toast-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-toast-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-toast.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/services/MessageKey.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#7803 [Status_migration] Migrate statuses from Programs table to Application_statuses table and give ability to set Applications to latest status
  server/app/controllers/admin/AdminApplicationController.java
  server/app/repository/ApplicationStatusesRepository.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/program/ProgramService.java
  server/conf/evolutions/default/70.sql
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/repository/ApplicationStatusesRepositoryTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, database

#7960 Refactor Alert Component
  server/app/views/AlertComponent.java
  server/app/views/ViewUtils.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/components/ProgramQuestionBank.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/test/views/AlertComponentTest.java
  server/test/views/ViewUtilsTest.java
Labels: under-development

#7962 Tweak QuestionDefinitionTest
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: ignore-for-release

#7966 Remove import page with data screenshot
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data.png
  browser-test/src/admin/admin_program_migration.test.ts
Labels: ignore-for-release

#7915 Create North Star "Prevent Duplicate Submission" page
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/prevent-duplicate-submission.png
  browser-test/image_snapshots/application_navigation_flow_test/duplicate-submission-page-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/duplicate-submission-page-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/duplicate-submission-page.png
  browser-test/src/applicant/applicant_prevent_duplicate_submission.test.ts
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/NorthStarPreventDuplicateSubmissionView.java
  server/app/views/applicant/PreventDuplicateSubmissionTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#7969 Adding step boxing to test methods
  browser-test/src/support/index.ts
Labels: ignore-for-release

#7947 [Program Migration] Migrate question validation predicates
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data.png
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/services/question/QuestionService.java
  server/app/services/question/types/AddressQuestionDefinition.java
  server/app/services/question/types/CurrencyQuestionDefinition.java
  server/app/services/question/types/DateQuestionDefinition.java
  server/app/services/question/types/EmailQuestionDefinition.java
  server/app/services/question/types/EnumeratorQuestionDefinition.java
  server/app/services/question/types/FileUploadQuestionDefinition.java
  server/app/services/question/types/IdQuestionDefinition.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/question/types/NameQuestionDefinition.java
  server/app/services/question/types/NumberQuestionDefinition.java
  server/app/services/question/types/PhoneQuestionDefinition.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionConfig.java
  server/app/services/question/types/StaticContentQuestionDefinition.java
  server/app/services/question/types/TextQuestionDefinition.java
  server/conf/evolutions/default/71.sql
  server/test/models/QuestionModelTest.java
  server/test/services/question/QuestionServiceTest.java
Labels: database, under-development

#7937 Use soft asserts on screenshots
  browser-test/src/reporters/file_placement_reporter.ts
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#7982 Add links to other repos needing to be checked by renovate
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#7971 Fixing Dockerfile warnings
  Dockerfile
  browser-test/playwright.Dockerfile
  formatter/formatter.Dockerfile
  prod.Dockerfile
Labels: ignore-for-release

#7968 Add image to program card in North Star
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/ProgramImageUtils.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/test/views/ProgramImageUtilsTest.java
Labels: under-development, [Epic] North Star Applicant UI

#8002 Fix localized string name in EnumeratorQuestionFragment
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
Labels: ignore-for-release

#8006 Make methods in BaseHtmlView static
  server/app/views/BaseHtmlView.java
Labels: ignore-for-release

#8008 Adding ability to run grafana to view the /metrics endpoint in dev environment
  bin/dev-grafana
  docker-compose.dev.yml
  monitoring/grafana/dashboards/civiform-dashboard.json
  monitoring/grafana/provisioning/dashboards/dashboard.yaml
  monitoring/grafana/provisioning/datasources/prometheus.yaml
  monitoring/prometheus/prometheus.yml
Labels: infrastructure, ignore-for-release

#7992 Move TI clear search button javascript from inline to a script
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/trusted_intermediary.ts
  server/app/views/applicant/TrustedIntermediaryClientListView.java
  server/app/views/style/ReferenceClasses.java
Labels: ignore-for-release

#8011 Replace unnecessary screenshots in admin_program_image.test.ts
  browser-test/image_snapshots/admin_program_image_test/program-image-with-continue.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-too-large-error.png
  browser-test/src/admin/admin_program_image.test.ts
  browser-test/src/support/index.ts
Labels: ignore-for-release

#8015 Alphabetize FakeApplicationFiller test methods
  server/test/services/export/AbstractExporterTest.java
Labels: ignore-for-release

#8017 Add tests for untested question types
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: ignore-for-release

#8021 Update template date
  .github/ISSUE_TEMPLATE/translations_rotation.md
Labels: ignore-for-release

#8025 Alphabetize QuestionJsonPresenter
  server/app/services/export/QuestionJsonPresenter.java
Labels: ignore-for-release

#8027 Disable SettingsMigrationModule in unit tests
  server/conf/application.test.conf
Labels: infrastructure

#8035 Fix some a11y issues detected by Parashu
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NavigationFragment.html
Labels: a11y, under-development, [Epic] North Star Applicant UI

#8037 Explictly set exported scalars in JSON API
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/QuestionJsonSampler.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: ignore-for-release

#8042 Uses optional instead of throwing exception
  server/app/actions/ProgramFastForwardApplicationAction.java
  server/app/repository/ProgramRepository.java
  server/test/actions/ProgramFastForwardApplicationActionTest.java
  server/test/repository/ProgramRepositoryTest.java
Labels: under-development

#8056 Plumb in changes for feature flag
  browser-test/src/applicant/application_version_fast_forward.test.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/applicant/ApplicantService.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: under-development

#8043 Add program title to North Star application review page.
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
Labels: under-development, [Epic] North Star Applicant UI

#7961 Hide header logo on mobile
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-alert-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-toast-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-toast-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/src/header.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NavigationFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8050 Move FakeRequestBuilder from auth to support package
  server/test/auth/ApiAuthenticatorTest.java
  server/test/auth/ClientIpResolverTest.java
  server/test/auth/FakeRequestBuilderTest.java
  server/test/services/settings/SettingsManifestTest.java
  server/test/support/FakeRequestBuilder.java
Labels: ignore-for-release

#7828 Seed the database with default program categories in pre-prod environments
  server/app/controllers/dev/seeding/CategoryTranslationFileParser.java
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/views/dev/DatabaseSeedView.java
  server/conf/i18n/categories/messages.am
  server/conf/i18n/categories/messages.en-US
  server/conf/i18n/categories/messages.es-US
  server/conf/i18n/categories/messages.ko
  server/conf/i18n/categories/messages.lo
  server/conf/i18n/categories/messages.so
  server/conf/i18n/categories/messages.tl
  server/conf/i18n/categories/messages.vi
  server/conf/i18n/categories/messages.zh-TW
  server/test/controllers/dev/seeding/DevDatabaseSeedTaskTest.java
Labels: under-development

#8049 Enhance FakeRequestBuilder to support unit test cases
  server/test/auth/ApiAuthenticatorTest.java
  server/test/auth/ClientIpResolverTest.java
  server/test/auth/FakeRequestBuilderTest.java
  server/test/services/settings/SettingsManifestTest.java
  server/test/support/FakeRequestBuilder.java
Labels: ignore-for-release

#8060 Center content on application review page
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-alert-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-alert-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-alert.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star-mobile.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  browser-test/image_snapshots/radio_button_test/radio-button-north-star.png
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/components/AlertFragment.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8068 Fix North Star checkbox question previews
  browser-test/image_snapshots/admin_question_preview_test/north-star-address-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-checkbox-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-currency-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-date-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-dropdown-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-email-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-enumerator-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-id-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-name-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-number-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-phone-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-question-preview-page.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-radio-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-static-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-text-question.png
  browser-test/src/admin/admin_question_preview.test.ts
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/QuestionFragment.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8079 Fix FakeRequestBuilderTest package
  server/test/support/FakeRequestBuilderTest.java
Labels: ignore-for-release

#8082 Improve unit test coverage for FakeRequestBuilder
  server/test/support/FakeRequestBuilderTest.java
Labels: ignore-for-release

#8080 [Bug Fix] Pulling admin not from cached program definition
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
Labels: bug

#7874 [Multiple File Upload] First pass at applicant UI for multiple file uploads
  browser-test/image_snapshots/file_test/file-error-too-large-multiple-files.png
  browser-test/image_snapshots/file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/file_test/file-uploaded-multiple-files.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_file_question.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: ignore-for-release, under-development

#8087 Use Play Environment to get program category translation directory
  server/app/controllers/dev/seeding/CategoryTranslationFileParser.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
Labels: bug

#8072 Replace Play's fakeRequest() with FakeRequestBuilder
  server/test/actions/ProgramDisabledActionTest.java
  server/test/app/ApiAuthenticationTest.java
  server/test/auth/CiviFormHttpActionAdapterTest.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
  server/test/controllers/ErrorHandlerTest.java
  server/test/controllers/FileControllerTest.java
  server/test/controllers/HomeControllerTest.java
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/controllers/admin/AdminProgramBlockQuestionsControllerTest.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/controllers/admin/ProgramAdminManagementControllerTest.java
  server/test/controllers/api/ApiDocsControllerTest.java
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
  server/test/controllers/applicant/ApplicantInformationControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
  server/test/controllers/dev/seeding/DevDatabaseSeedControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/filters/CiviFormProfileFilterTest.java
  server/test/filters/RecordCookieSizeFilterTest.java
  server/test/filters/UnsupportedBrowserFilterTest.java
  server/test/forms/admin/ProgramImageDescriptionFormTest.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/services/apikey/ApiKeyServiceTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
  server/test/services/settings/SettingsServiceTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
  server/test/support/CfTestHelpers.java
  server/test/views/admin/AdminLayoutTest.java
  server/test/views/admin/migration/AdminProgramExportFormTest.java
Labels: ignore-for-release

#8074 Replace CfTestHelpers.requestBuilderWithSettings with FakeRequestBuilder
  server/test/auth/CiviFormProfileTest.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
  server/test/controllers/dev/ProfileControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/support/CfTestHelpers.java
  server/test/support/FakeRequestBuilder.java
  server/test/views/BaseHtmlLayoutTest.java
  server/test/views/HtmlBundleTest.java
Labels: ignore-for-release

#8041 Updating Existing Draft Application to Latest Program Version
  browser-test/src/applicant/application_version_fast_forward.test.ts
  server/app/actions/RouteExtractor.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
Labels: feature

#8089 Delete eligibility alert on the "form step" page
  browser-test/image_snapshots/address_test/address-errors-north-star-medium.png
  browser-test/image_snapshots/address_test/address-errors-north-star-mobile.png
  browser-test/image_snapshots/address_test/address-errors-north-star.png
  browser-test/image_snapshots/address_test/address-north-star-mobile.png
  browser-test/image_snapshots/address_test/address-north-star.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-alert-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-alert-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-alert.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/checkbox_test/checkbox-markdown-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-markdown-north-star.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star-mobile.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star.png
  browser-test/image_snapshots/currency_test/currency-north-star.png
  browser-test/image_snapshots/date_test/date-errors-north-star.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/date_test/date-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-north-star.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star-mobile.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star.png
  browser-test/image_snapshots/dropdown_test/dropdown-north-star-mobile.png
  browser-test/image_snapshots/dropdown_test/dropdown-north-star.png
  browser-test/image_snapshots/email_test/email-errors-north-star-mobile.png
  browser-test/image_snapshots/email_test/email-errors-north-star.png
  browser-test/image_snapshots/email_test/email-north-star.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star-mobile.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star-medium.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star-mobile.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star.png
  browser-test/image_snapshots/id_test/id-errors-north-star.png
  browser-test/image_snapshots/id_test/id-north-star.png
  browser-test/image_snapshots/name_test/name-errors-north-star-medium.png
  browser-test/image_snapshots/name_test/name-errors-north-star-mobile.png
  browser-test/image_snapshots/name_test/name-errors-north-star.png
  browser-test/image_snapshots/name_test/name-north-star-mobile.png
  browser-test/image_snapshots/name_test/name-north-star.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star-mobile.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star.png
  browser-test/image_snapshots/number_input_test/number-north-star.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star-mobile.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star.png
  browser-test/image_snapshots/phone_test/phone-north-star.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-medium.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-mobile.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star.png
  browser-test/image_snapshots/radio_button_test/radio-button-markdown-north-star-mobile.png
  browser-test/image_snapshots/radio_button_test/radio-button-markdown-north-star.png
  browser-test/image_snapshots/radio_button_test/radio-button-north-star-mobile.png
  browser-test/image_snapshots/radio_button_test/radio-button-north-star.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star.png
  browser-test/image_snapshots/text_test/text-errors-north-star.png
  browser-test/image_snapshots/text_test/text-north-star.png
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8093 Fixing merge issue
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
Labels: ignore-for-release

#8095 Make the dev grafana require no auth
  bin/dev-grafana
  docker-compose.dev.yml
Labels: infrastructure, ignore-for-release

#8075 Remove redundant calls to addCSRFToken
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/controllers/applicant/ApplicantInformationControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/controllers/dev/ProfileControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
  server/test/support/FakeRequestBuilder.java
Labels: ignore-for-release

#8077 Replace fakeRequestBuilder().build() with fakeRequest()
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
Labels: ignore-for-release

#7866 Fix validation error for checkbox question to be consistent with other question types
  server/app/services/MessageKey.java
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/views/questiontypes/CheckboxQuestionRendererTest.java
Labels: bug, i18n

#8014 [Program Migration] Save questions to programs
  server/app/controllers/admin/AdminImportController.java
  server/app/repository/QuestionRepository.java
  server/app/services/question/types/QuestionDefinitionConfig.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: under-development

#8110 Make Program Blocks Optional for Translations (temporary)
  server/app/services/program/ProgramService.java
  server/test/services/program/ProgramServiceTest.java
Labels: bug, feature

#8105 [Name Suffix] add feature flag for enabling name suffix dropdown field
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag, under-development

#8121 Delete code-coverage folder contents when running sbt clean
  server/build.sbt
Labels: infrastructure, ignore-for-release

#8119 Replace inline javascript for language selector
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/language_selector.ts
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/NavigationFragment.html
Labels: ignore-for-release

#8114 Replace inline javascript for entity delete button
  server/app/assets/javascripts/enumerator.ts
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
Labels: ignore-for-release

#7974 [Status_Migration] Removing statuses dependency from programs
  server/app/controllers/ErrorHandler.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/forms/admin/ProgramStatusesForm.java
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/models/ApplicationStatusesModel.java
  server/app/models/ProgramModel.java
  server/app/repository/ApplicationStatusesRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/statuses/DuplicateStatusException.java
  server/app/services/statuses/OutOfDateStatusesException.java
  server/app/services/statuses/StatusDefinitions.java
  server/app/services/statuses/StatusNotFoundException.java
  server/app/services/statuses/StatusService.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/models/ApplicationModelTest.java
  server/test/models/ApplicationStatusesModelTest.java
  server/test/models/ProgramModelTest.java
  server/test/repository/ApplicationStatusesRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/statuses/StatusServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature

#8100 Give admins the ability to add categories to a program when creating a new program
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-missing-program-fields.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/api_docs.test.ts
  browser-test/src/support/index.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/forms/ProgramForm.java
  server/app/models/ProgramModel.java
  server/app/repository/CategoryRepository.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramMetaDataEditView.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/test/actions/ProgramDisabledActionTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
  server/test/models/ProgramModelTest.java
  server/test/models/VersionModelTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/CategoryRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: under-development

#8096 [Multiple File Upload] Add remove files action
  browser-test/image_snapshots/file_test/file-error-too-large-multiple-files.png
  browser-test/image_snapshots/file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/file_test/file-uploaded-multiple-files.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_file_question.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/conf/i18n/messages
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: i18n, feature, ignore-for-release

#8125 PDF Download of a form should include information about "required" or "optional" questions
  server/app/services/export/PdfExporter.java
  server/test/services/export/PdfExporterTest.java
Labels: user-program-admin, ce-seattle, enhancement

#8126 [Suffix] localize name suffix strings
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, google.org-swe

#8159 Use spacing elements instead of adding margins to the alert fragment
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/components/AlertFragment.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8164 Remove INTAKE_FORM_ENABLED feature flag
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/services/program/ProgramService.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: feature, tech-debt, feature-flag

#8165 Fix empty ImmutableList calls
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/test/services/program/ProgramServiceTest.java
Labels: ignore-for-release

#8133 Adding Address Checker dev tool
  browser-test/image_snapshots/address_checker_test/address-checker-disabled.png
  browser-test/image_snapshots/address_checker_test/address-checker-enabled.png
  browser-test/src/dev/address_checker.test.ts
  browser-test/src/support/wait.ts
  server/app/controllers/dev/AddressCheckerController.java
  server/app/views/components/TextFormatter.java
  server/app/views/dev/AddressCheckerView.java
  server/app/views/dev/DatabaseSeedView.java
  server/app/views/dev/hx/CorrectAddressFormPartial.java
  server/app/views/dev/hx/CorrectAddressViewPartial.java
  server/app/views/dev/hx/ServiceAreaCheckViewPartial.java
  server/app/views/dev/hx/ServiceAreaFormPartial.java
  server/conf/routes
Labels: ignore-for-release

#8173 Center content on duplicate submission page
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  server/app/views/applicant/PreventDuplicateSubmissionTemplate.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8161 Center content on upsell (application confirmation) page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/views/applicant/ApplicantUpsellTemplate.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8184 Only run address test locally
  browser-test/src/dev/address_checker.test.ts
Labels: ignore-for-release

#8172 Align footer on large screens
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NavigationFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8186 Format CSS and SCSS files
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/assets/stylesheets/northstar/styles.scss
  server/app/assets/stylesheets/styles.css
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
Labels: infrastructure, [Epic] North Star Applicant UI

#8188 Enable autoformatting for SCSS files
  formatter/fmt
Labels: infrastructure, [Epic] North Star Applicant UI

#8181 Set fullPage=false when taking a screenshot in application index test
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8168 Added required field indicator for address questions
  browser-test/image_snapshots/address_test/address-errors.png
  browser-test/image_snapshots/address_test/address.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  server/app/views/questiontypes/AddressQuestionRenderer.java
Labels: ce-seattle, enhancement

#8176 Use USWDS standards for guest alert
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NavigationFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8182 Delete unnecessary screenshots from application navigation with eligibility conditions test
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar.png
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
Labels: infrastructure, [Epic] North Star Applicant UI

#8203 Update renovate to look for java 17
  .github/renovate.json5
Labels: ignore-for-release

#8205 Use a custom regex for matching docker java in renovate
  .github/renovate.json5
Labels: ignore-for-release

#8171 Allow admins to view categories on the edit program page
  browser-test/image_snapshots/admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicate.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/predicate-age-between-edit.png
  browser-test/image_snapshots/admin_predicates_test/predicate-age-greater-than-edit.png
  browser-test/image_snapshots/admin_predicates_test/predicate-error.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-block-edit-with-universal-questions.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-markdown.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-view-universal-questions.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing-extra-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/src/admin/admin_program_viewing.test.ts
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/admin/programs/ProgramPredicatesEditView.java
  server/test/views/admin/programs/ProgramBaseViewTest.java
Labels: under-development

#8116 [Program Migration] UI Updates
  browser-test/image_snapshots/admin_program_migration_test/error-saving-program.png
  browser-test/image_snapshots/admin_program_migration_test/export-page.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-no-data.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-missing-program-fields.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-parse.png
  browser-test/image_snapshots/admin_program_migration_test/saved-program-success.png
  browser-test/image_snapshots/admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_export_view.ts
  server/app/assets/javascripts/admin_import_view.ts
  server/app/assets/javascripts/main.ts
  server/app/controllers/admin/AdminExportController.java
  server/app/controllers/admin/AdminImportController.java
  server/app/services/migration/ProgramMigrationService.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/migration/AdminExportView.java
  server/app/views/admin/migration/AdminExportViewPartial.java
  server/app/views/admin/migration/AdminImportView.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/views/admin/AdminLayoutTest.java
Labels: under-development

#8189 Align footer on large screens (take 2)
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NavigationFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8207 Make alert header bold
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: UX, under-development, [Epic] North Star Applicant UI

#8208 Show program categories on the admin program list page
  browser-test/image_snapshots/admin_program_list_test/program-list-with-categories.png
  browser-test/src/admin/admin_program_list.test.ts
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
Labels: under-development

#8190 [Multiple File Upload] Populates and displays answer data for multi file uploads
  browser-test/image_snapshots/file_test/file-uploaded-review.png
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: ignore-for-release, under-development

#7934 Enable CSP in report only mode
  server/conf/application.conf
  server/test/support/FakeRequestBuilder.java
  server/test/support/FakeRequestBuilderTest.java
Labels: security, enhancement

#8162 Center content on common intake upsell (submitted) page
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8220 Style program category checkboxes with USWDS
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-disabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_viewing.test.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: under-development

#8225 Adding sql to logs
  server/conf/logback.xml
Labels: ignore-for-release

#8005 Add CSP nonce to j2html script tags
  server/app/views/CspUtil.java
  server/app/views/HtmlBundle.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/test/views/BaseHtmlLayoutTest.java
  server/test/views/CspUtilTest.java
  server/test/views/HtmlBundleTest.java
Labels: ignore-for-release

#8227 Update feature flag issue template
  .github/ISSUE_TEMPLATE/feature_flag.md
Labels: infrastructure, ignore-for-release
