Repository civiform/civiform, pull requests merged in 2024-02, with the labels that each got.

#6532 Localize TI dashboard
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, google.org-swe

#6471 [Program Card Images] Modify some of the navigation flow around the program image upload page
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-images-flag-on.png
  browser-test/image_snapshots/admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-continue.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramEditStatus.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramMetaDataEditView.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/components/breadcrumb/BreadcrumbFactory.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
Labels: feature

#6465 [Program Card Images] On the admin UI, disable the submit buttons when there haven't been any changes
  browser-test/image_snapshots/admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-continue.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  browser-test/src/support/index.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_program_image.ts
  server/app/views/admin/programs/ProgramImageView.java
Labels: feature

#6533 Include hidden questions in JSON API
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/export/JsonExporter.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterTest.java
Labels: arkansas, enhancement, api

#6538 Fixed typo in the TI strings in messages file
  server/conf/i18n/messages
Labels: bug, i18n, ignore-for-release

#6523 [Program Card Images] Prevent admin from removing alt-text description if there's an image set
  browser-test/src/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/admin/ImageDescriptionNotRemovableException.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramImageView.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: feature

#6539 Making the browser test container stay resident
  bin/run-browser-tests
Labels: infrastructure, ignore-for-release

#6555 Removing Legacy Question Columns
  server/app/models/QuestionModel.java
  server/conf/evolutions/default/63.sql
  server/test/repository/QuestionRepositoryTest.java
Labels: tech-debt, database

#6556 Removing Legacy Program Columns
  server/app/models/ProgramModel.java
  server/conf/evolutions/default/64.sql
  server/test/repository/ProgramRepositoryTest.java
Labels: tech-debt, database

#6569 Add context strings for TI messages
  server/conf/i18n/messages
Labels: i18n, google.org-swe, ignore-for-release

#6571 Fixing NullPointerException When Address Is Invalid
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug

#6563 Add strings for the "Error saving information" modal.
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, enhancement

#6567 Make enhanced logout vars admin resdable rather than admin writeable
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/auth.test.ts
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: authentication, google.org-swe, ignore-for-release

#6568 Update PR template to be more specific about i18n requirements
  .github/pull_request_template.md
Labels: i18n, google.org-swe, ignore-for-release

#6546 Fix for Application count mismatch between CVS exports and Reporting
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/services/DateConverter.java
  server/app/services/apikey/ApiKeyService.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/DateConverterTest.java
  server/test/services/apikey/ApiKeyServiceTest.java
  server/test/services/reporting/ReportingServiceTest.java
Labels: bug

#6590 Reverting changes in CSV export filter to use LocalDateTime
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/DateConverter.java
  server/test/services/DateConverterTest.java
Labels: bug

#6528 Turn on cache for program data by default
  server/conf/helper/feature-flags.conf
  server/test/models/ProgramModelTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: feature, google.org-swe

#6594 [Program Card Images] Remove unneeded TODOs
  browser-test/src/applicant_application_index.test.ts
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/views/admin/programs/ProgramImageView.java
Labels: ignore-for-release

#6496 Updating the format of the client search on the TI dashboard
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/assets/stylesheets/styles.css
  server/app/controllers/HomeController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/repository/SearchParameters.java
  server/app/services/DateConverter.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/ViewUtils.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/routes
  server/test/services/ti/TrustedIntermediaryServiceTest.java
  server/test/views/ViewUtilsTest.java
Labels: enhancement

#6598 Making Address Correction Toggle Value Show the Current State.
  browser-test/src/admin_program_creation.test.ts
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/conf/routes
Labels: bug

#6544 Have Review button save answers or show an error modal.
  browser-test/image_snapshots/application_navigation_test/error-on-review-modal.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRequestedAction.java
  server/app/controllers/applicant/ApplicantRequestedActionWrapper.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/EditOrDiscardAnswersModalCreator.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantRequestedActionWrapperTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
Labels: i18n, enhancement

#6580 Move logic for Previous button route to ApplicantRoutes
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/ApplicationBaseView.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: ignore-for-release

#6600 Adding tests to cover using address as a visibility condition
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramBlocksView.java
Labels: ignore-for-release

#6588 Add "opens in a new tab" aria label to links
  browser-test/src/application_navigation.test.ts
  browser-test/src/static_text.test.ts
  server/app/views/CiviFormMarkdown.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/components/TextFormatter.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/StaticContentQuestionRenderer.java
  server/test/views/CiviFormMarkdownTest.java
  server/test/views/components/TextFormatterTest.java
Labels: a11y, feature

#6612 Add directions for testing Mock Web Services locally
  mock-web-services/README.md
Labels: ignore-for-release

#6267 Create a cache for the full program definition
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramService.java
  server/conf/application.conf
  server/conf/application.dev-browser-tests.conf
  server/conf/application.test.conf
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: scaling, feature, google.org-swe

#6611 Create new function to getProgramDefinition in ProgramRepository which uses cached definition if available
  server/app/models/ProgramModel.java
  server/app/repository/ProgramRepository.java
Labels: scaling, tech-debt, google.org-swe, ignore-for-release

#6613 [Refactor] Update repository files to use new getProgramDefinition function
  server/app/repository/ApplicationRepository.java
  server/app/repository/VersionRepository.java
Labels: scaling, google.org-swe, ignore-for-release

#6614 Add `verbose: true` to browser tests
  browser-test/jest.config.js
Labels: ignore-for-release

#6615 [Refactor] Update additional files to use new getProgramDefinition function
  server/app/auth/ProfileFactory.java
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/models/ApplicationModel.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/program/ProgramService.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: scaling, google.org-swe, ignore-for-release

#6619 [Refactor] rename getProgramDefinition to getFullProgramDefinition when the definition includes all question data
  server/app/services/program/ActiveAndDraftPrograms.java
Labels: google.org-swe, ignore-for-release

#6620 Don't run address visiblity test on staging
  browser-test/src/application_navigation.test.ts
Labels: bug, ignore-for-release

#6625 Make apple icon be at webroot
  server/app/views/HtmlBundle.java
Labels: bug

#6618 [Refactor] rename getProgramDefinition to getFullProgramDefinition when the definition includes all question data
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramService.java
  server/app/services/role/RoleService.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: google.org-swe, ignore-for-release

#6632 Disable flaky program images test in staging
  browser-test/src/admin_program_list.test.ts
Labels: ignore-for-release

#6637 Update strings for error saving modal
  browser-test/image_snapshots/application_navigation_test/error-on-review-modal.png
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/EditOrDiscardAnswersModalCreator.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, feature

#6616 Adding casing comparison to Option Admin names.
  server/app/services/question/types/QuestionDefinition.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: bug

#6634 Replacing the TI client table with a list of more informative client cards
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/admin_program_visibility.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/app/views/components/Icons.java
Labels: enhancement

#6547 Have Previous button save answers or show an error modal.
  browser-test/image_snapshots/application_navigation_test/error-on-previous-modal.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRequestedAction.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/EditOrDiscardAnswersModalCreator.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantRequestedActionWrapperTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
Labels: enhancement

#6195 Suggest relevant programs on application confirmation page
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-multiple-programs-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-multiple-programs-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-multiple-programs.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/src/application_navigation.test.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/MessageKey.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/style/ApplicantStyles.java
  server/app/views/style/StyleUtils.java
  server/conf/i18n/messages
  server/test/services/applicant/ApplicantServiceTest.java
Labels: i18n, feature

#6589 When "Review" is clicked on the address correction view, save the selection.
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: enhancement

#6621 When "Previous" is clicked on address correction screen, go back to block with address question
  browser-test/src/application_navigation.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
Labels: enhancement

#6661 Update Modal.java Javadoc to say it's deprecated
  server/app/views/components/Modal.java
Labels: ignore-for-release

#6617 Utilize the full program definition cache in more places where its possible
  server/app/services/program/ProgramService.java
Labels: scaling, google.org-swe, ignore-for-release

#6670 Find country code based on phone number
  server/app/services/PhoneValidationResult.java
  server/app/services/PhoneValidationUtils.java
  server/test/services/PhoneValidationUtilsTest.java
Labels: enhancement

#6682 Don't run auto request review on forks
  .github/workflows/auto_request_review.yml
Labels: infrastructure, ignore-for-release

#6683 Swapping to use innertext
  server/app/assets/javascripts/enumerator.ts
Labels: bug

#6679 Update pagination component on the TI dashboard to the USWDS component
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-pagination-ellipses-left.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-pagination-ellipses-right.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-pagination-no-ellipses.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-pagination-two-ellipses.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/app/views/components/Icons.java
Labels: enhancement

#6691 Add link to icons page
  server/app/views/dev/DatabaseSeedView.java
Labels: ignore-for-release

#6694 Fixing some tests to run individually
  server/test/services/applicant/question/FileUploadQuestionTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/NameQuestionTest.java
  server/test/services/applicant/question/PhoneQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
Labels: ignore-for-release

#6705 Disable running azure tests
  .github/workflows/tests.yaml
  .github/workflows/tests_skip.yaml
Labels: infrastructure, ignore-for-release

#6676 Removing Country Code DropDown from Phone Question
  browser-test/image_snapshots/phone_test/phone-errors.png
  browser-test/image_snapshots/phone_test/phone-format-ca.png
  browser-test/image_snapshots/phone_test/phone-format-usa.png
  browser-test/image_snapshots/phone_test/phone.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-phone.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/phone.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/phone.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/question/PhoneQuestion.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/app/views/style/ReferenceClasses.java
  server/test/services/applicant/question/PhoneQuestionTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: enhancement

#6692 Add more browser tests for file upload question
  bin/run-browser-tests-azure
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/image_snapshots/file_test/file-optional-re-answered.png
  browser-test/image_snapshots/file_test/file-optional.png
  browser-test/image_snapshots/file_test/file-required-re-answered.png
  browser-test/image_snapshots/file_test/file-required.png
  browser-test/image_snapshots/file_test/file-uploaded.png
  browser-test/image_snapshots/file_test/file.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/file.test.ts
  browser-test/src/support/applicant_file_question.ts
  browser-test/src/support/applicant_questions.ts
  browser-test/src/support/index.ts
Labels: ignore-for-release

#6712 [Refactor] Rename the program definition cache
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/repository/ProgramRepository.java
  server/conf/application.conf
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: google.org-swe, ignore-for-release

#6693 Remove "Please select a file" error when a user uploads a file
  browser-test/src/file.test.ts
  server/app/assets/javascripts/file_upload.ts
Labels: enhancement

#6698 Update question options design
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-invalid-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-markdown-formatted-preview.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/src/application_download.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/main.ts
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/style/AdminStyles.java
Labels: google.org-swe, enhancement

#6651 Save uploaded file when clicking Review or Previous [behind SAVE_ON_ALL_ACTIONS flag]
  browser-test/image_snapshots/file_test/file-errors.png
  browser-test/src/file.test.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: enhancement

#6718 [Program Card Images] Move alt-text higher up in program images admin UI
  browser-test/image_snapshots/admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-continue.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-too-large-error.png
  server/app/views/admin/programs/ProgramImageView.java
Labels: google.org-swe, enhancement

#6722 [Refactor] Rename getActiveProgramDefinitionAsync to getActiveFullProgramDefinitionAsync for clarity
  server/app/controllers/admin/AdminReportingController.java
  server/app/controllers/api/ApiDocsController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/services/program/ProgramService.java
  server/test/services/program/ProgramServiceTest.java
Labels: google.org-swe, ignore-for-release

#6724 [Refactor] Rename getAllProgramDefinitionVersions to getAllVersionsFullProgramDefinition for clarity
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/ProgramService.java
Labels: google.org-swe, ignore-for-release

#6713 [Refactor] Rename getProgramDefinition to getShallowProgramDefinition for clarity
  server/app/auth/ProfileFactory.java
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/models/ProgramModel.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/program/ProgramService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: google.org-swe, ignore-for-release

#6688 allow line breaks in questions
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/application_navigation_test/ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/application_navigation_test/ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/application_navigation_test/ineligible-page-with-markdown.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/javascripts/util.test.ts
  server/app/assets/javascripts/util.ts
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
Labels: enhancement

#6728 Using 'test' instead of 'it' in browser tests
  browser-test/src/address.test.ts
  browser-test/src/admin_api_keys.test.ts
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/admin_dropdown_create_and_edit.test.ts
  browser-test/src/admin_predicates.test.ts
  browser-test/src/admin_program_admins.test.ts
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_image.test.ts
  browser-test/src/admin_program_list.test.ts
  browser-test/src/admin_program_preview.test.ts
  browser-test/src/admin_program_settings.test.ts
  browser-test/src/admin_program_statuses.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/admin_program_viewing.test.ts
  browser-test/src/admin_program_visibility.test.ts
  browser-test/src/admin_publish.test.ts
  browser-test/src/admin_question_list.test.ts
  browser-test/src/admin_question_references.test.ts
  browser-test/src/admin_settings.test.ts
  browser-test/src/api_docs.test.ts
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/applicant_application_statuses.test.ts
  browser-test/src/application_download.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_previous_version.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/auth.test.ts
  browser-test/src/checkbox.test.ts
  browser-test/src/currency.test.ts
  browser-test/src/date.test.ts
  browser-test/src/dev_tools.test.ts
  browser-test/src/dropdown.test.ts
  browser-test/src/email.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/error_pages.test.ts
  browser-test/src/file.test.ts
  browser-test/src/footer.test.ts
  browser-test/src/header.test.ts
  browser-test/src/id.test.ts
  browser-test/src/name.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/phone.test.ts
  browser-test/src/primary_applicant_info.test.ts
  browser-test/src/profile_stability.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/question_delete.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/radio_button.test.ts
  browser-test/src/security.test.ts
  browser-test/src/static_text.test.ts
  browser-test/src/support/index.ts
  browser-test/src/text.test.ts
  browser-test/src/trusted_intermediary.test.ts
Labels: infrastructure, ignore-for-release

#6738 Disable failing file upload browser tests when SAVE_ON_ALL_ACTIONS flag is enabled
  browser-test/src/file.test.ts
Labels: ignore-for-release

#6741 Adding codecov token to github actions
  .github/workflows/pr_env_var_docs.yaml
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#6745 Update feature flag issue template with example PR for enabling in staging
  .github/ISSUE_TEMPLATE/feature_flag.md
Labels: ignore-for-release

#6747 Correctly populate diff_output and updated_snapshots folders
  browser-test/package-lock.json
  browser-test/package.json
  browser-test/playwright.config.ts
  browser-test/src/global-teardown.ts
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#6739 Remove durable job to fix applicant date of birth path
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/FixApplicantDobDataPathJob.java
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/durablejobs/jobs/FixApplicantDobDataPathJobTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: ignore-for-release, cleanup

#6749 Add context strings to recent translations
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#6754 In feature flag issue template, add separate line item for enabling the flag in browser tests
  .github/ISSUE_TEMPLATE/feature_flag.md
Labels: ignore-for-release

#6756 Fix image path
  browser-test/src/global-teardown.ts
Labels: infrastructure, ignore-for-release

#6751 Enable PROGRAM_CARD_IMAGES flag in browser tests
  browser-test/image_snapshots/admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-block-edit-with-universal-questions.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_list_test/program-list-active-and-draft-versions.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-draft-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-no-warning.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-with-settings.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing-extra-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/src/admin_program_creation.test.ts
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/admin/programs/ProgramPredicatesEditViewV2.java
  server/app/views/components/ProgramCardFactory.java
  server/conf/application.dev-browser-tests.conf
Labels: ignore-for-release

#6752 Update Address question json sampler to match documentation
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  server/app/services/export/QuestionJsonSampler.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: ignore-for-release

#6757 Cleaning up playwright setup
  browser-test/playwright.config.ts
  browser-test/src/setup/global-setup.ts
  browser-test/src/setup/global-teardown.ts
Labels: infrastructure, ignore-for-release

#6755 Update strings on address correction view
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-medium.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-mobile.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-medium.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-mobile.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page-medium.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page.png
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, enhancement

#6736 Set session ID in OIDC profile
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/filters/SessionIdFilter.java
  server/conf/application.conf
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/filters/SessionIdFilterTest.java
Labels: authentication, google.org-swe, ignore-for-release

#6763 Adding Eslint Playwright
  browser-test/.eslintrc.json
  browser-test/package-lock.json
  browser-test/package.json
  formatter/eslintrc_base.json
  formatter/package-lock.json
  formatter/package.json
Labels: infrastructure, ignore-for-release

#6744 Fix AWS policy condition error on file upload question when SAVE_ON_ALL_ACTIONS flag is on
  browser-test/src/file.test.ts
  server/app/controllers/applicant/ApplicantRequestedAction.java
  server/app/services/cloud/ApplicantStorageClient.java
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/aws/AwsStorageUtils.java
  server/app/services/cloud/aws/SignedS3UploadRequest.java
  server/app/services/cloud/azure/AzureApplicantStorage.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/test/controllers/applicant/ApplicantRequestedActionTest.java
  server/test/services/cloud/aws/AwsApplicantStorageTest.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
  server/test/services/cloud/aws/SignedS3UploadRequestTest.java
  server/test/services/cloud/azure/AzureApplicantStorageTest.java
Labels: enhancement

#6674 Preserve option admin name casing in CSV export and update column header format
  browser-test/src/application_download.test.ts
  server/app/repository/ExportServiceRepository.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/Column.java
  server/app/services/program/CsvExportConfig.java
  server/test/services/export/CsvExporterTest.java
Labels: bug, seattle

#6769 Revert "Remove durable job to fix applicant date of birth path (#6739)"
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/FixApplicantDobDataPathJob.java
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/durablejobs/jobs/FixApplicantDobDataPathJobTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: ignore-for-release

#6753 Adding initial script to download and run traces from branch artifacts
  bin/dev-show-trace-file
Labels: infrastructure, ignore-for-release

#6781 Group `@playwright/test` in renovate config
  renovate.json
Labels: infrastructure, ignore-for-release

#6782 Add string to warn user if their uploaded file is too large
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, enhancement
