Repository civiform/civiform, pull requests merged in 2024-01, with the labels that each got.

#6273 Markdown not formatting in non static question preview
  browser-test/image_snapshots/admin_program_creation_test/program-creation-static-question-with-formatting.png
  browser-test/image_snapshots/civiform_admin_question_list_test/question-edit-universal-set.png
  browser-test/image_snapshots/civiform_admin_question_list_test/question-edit-universal-unset.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/address-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-active-and-draft.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-only-active.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-invalid-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-markdown-formatted-preview.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/src/question_lifecycle.test.ts
  server/app/assets/javascripts/preview.ts
Labels: bug, google.org-swe

#6278 [Program Card Images] Remove double "/" from program image URL
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/aws/AwsStorageUtils.java
  server/test/services/cloud/aws/AwsApplicantStorageTest.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
Labels: feature

#6280 Added dev/seed/data page to avoid loading data in dev/seed page
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/views/dev/DatabaseSeedView.java
  server/conf/routes
  server/test/controllers/dev/seeding/DevDatabaseSeedControllerTest.java
Labels: google.org-swe, enhancement

#6291 [Program Card Images] Add the generic image icon and use it for the "Edit program image" button.
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view-images-flag-on.png
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/components/Icons.java
Labels: feature

#6287 Fix single program publish bug
  browser-test/src/admin_program_list.test.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: bug

#6297 Prevent form id from starting with a digit
  server/app/views/admin/programs/ProgramPredicatesEditViewV2.java
Labels: bug

#6294 Move tests for the program dashboard page to all be under admin_program_list
  browser-test/image_snapshots/admin_program_list_test/program-list-active-and-draft-versions.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-draft-program.png
  browser-test/image_snapshots/admin_program_viewing_test/program-list-active-and-draft-program.png
  browser-test/image_snapshots/admin_program_viewing_test/program-list-only-one-active-program.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/src/admin_program_list.test.ts
  browser-test/src/admin_program_viewing.test.ts
Labels: ignore-for-release

#6279 [Program Card Images] Show program image preview on admin program list page
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_list_test/program-list-active-and-draft-versions.png
  browser-test/image_snapshots/admin_program_list_test/program-list-no-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-draft-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-different-active-and-draft-images.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-image-flag-off.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-image-flag-on.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-new-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-same-active-and-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-no-warning.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-with-settings.png
  browser-test/image_snapshots/application_review_test/applications-page.png
  browser-test/image_snapshots/civiform_admin_publish_test/publish-modal.png
  browser-test/src/admin_program_list.test.ts
  server/app/views/ProgramImageUtils.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/components/ProgramCardFactory.java
  server/test/support/ProgramBuilder.java
  server/test/views/ProgramImageUtilsTest.java
Labels: feature

#6299 [Program Card Images] Add warning to PublicFileNameFormatter about modifying file keys
  server/app/services/cloud/PublicFileNameFormatter.java
Labels: feature, ignore-for-release

#6310 Update the year in the oncall issue template
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#6311 Update release date in oncall issue template
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#6312 Auto label .github changes as ignore-for-release
  .github/labeler.yml
Labels: ignore-for-release

#5123 Update fmt prettier check to include Markdown
  formatter/fmt
Labels: ignore-for-release

#6316 Filter eslint calls to only changed files
  formatter/fmt
Labels: ignore-for-release

#6328 Format dev seed page
  server/app/views/dev/DatabaseSeedView.java
Labels: enhancement

#6331 Update Manage Program Label Text
  browser-test/image_snapshots/admin_program_admins_test/add-program-admin-error.png
  server/app/views/admin/programs/ManageProgramAdminsView.java
Labels: enhancement

#6340 Append Run Attempt Number to Artifact Uploads
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#6346 Further Fine Tune Artifact Numbering
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#6347 refactoring method getBlock()
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: tech-debt, ignore-for-release

#6356 Reverting owasp sanitizer dependency
  browser-test/image_snapshots/application_download_test/application-confirmation.png
  browser-test/image_snapshots/application_navigation_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/image_snapshots/static_text_test/markdown-text.png
  server/build.sbt
Labels: ignore-for-release

#6339 When screen is very narrow, use 1 column instead of 2 to prevent text overflow
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
Labels: bug, google.org-swe

#6362 Renaming getSummaryData() function to getSummaryDataOnlyActive()
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporter.java
  server/app/services/export/PdfExporter.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6372 Adding GitHub Action to Generate SBOM
  .github/workflows/sbom_generator.yaml
Labels: ignore-for-release, enhancement

#6341 Have better formatting for the LocalStack URL
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/aws/AwsStorageUtils.java
Labels: ignore-for-release, enhancement

#6392 Switch release trigger to published
  .github/workflows/sbom_generator.yaml
Labels: infrastructure, ignore-for-release

#6379 Ensure phone questions have the correct aria-describedby
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: bug, a11y, google.org-swe

#6289 Give TI the ability to Edit Client Information
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/assets/javascripts/phone.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/forms/EditTiClientInfoForm.java
  server/app/forms/UpdateApplicantDobForm.java
  server/app/models/AccountModel.java
  server/app/repository/AccountRepository.java
  server/app/services/WellKnownPaths.java
  server/app/services/applicant/ApplicantData.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/evolutions/default/61.sql
  server/conf/routes
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/models/AccountModelTest.java
  server/test/repository/AccountRepositoryTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: TI, feature, database

#6367 Add appropriate inputmode attribute for questions
  server/app/views/components/FieldWithLabel.java
  server/app/views/questiontypes/AddressQuestionRenderer.java
  server/app/views/questiontypes/CurrencyQuestionRenderer.java
  server/app/views/questiontypes/EmailQuestionRenderer.java
  server/app/views/questiontypes/PhoneQuestionRenderer.java
  server/test/views/questiontypes/CurrencyQuestionRendererTest.java
Labels: bug, a11y, google.org-swe

#6253 Enable new applicant URL schema
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, enhancement

#6393 Make header flow better on narrow screens
  server/app/views/applicant/ApplicantLayout.java
Labels: bug, google.org-swe

#6401 Adding link for apple-touch-icon
  server/app/views/HtmlBundle.java
  server/conf/routes
Labels: enhancement

#6400 Remove unused arguments from validateScreenshot
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt.png
  browser-test/image_snapshots/mobile_views_test/mobile-modal.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_settings.test.ts
  browser-test/src/applicant_application_index.test.ts
  browser-test/src/mobile_views.test.ts
  browser-test/src/support/index.ts
Labels: tech-debt, google.org-swe, ignore-for-release

#6403 add aria-live attribute to file upload label
  server/app/views/applicant/ApplicantFileUploadRenderer.java
Labels: bug, a11y, google.org-swe

#6406 [Program Card Images] Only allow PNGs and JPEGs for program card images
  server/app/views/admin/programs/ProgramImageView.java
Labels: feature

#6325 [Program Card Images] Periodically remove unused program images from cloud storage via a DurableJob
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/UnusedProgramImagesCleanupJob.java
  server/app/modules/CloudStorageModule.java
  server/app/modules/DurableJobModule.java
  server/app/services/cloud/PublicStorageClient.java
  server/app/services/cloud/aws/AwsPublicStorage.java
  server/app/services/cloud/aws/AwsS3Client.java
  server/app/services/cloud/aws/AwsS3ClientWrapper.java
  server/app/services/cloud/aws/AwsStorageUtils.java
  server/app/services/cloud/aws/Credentials.java
  server/app/services/cloud/aws/FileDeletionFailureException.java
  server/app/services/cloud/aws/FileListFailureException.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/test/durablejobs/RecurringJobExecutionTimeResolversTest.java
  server/test/durablejobs/jobs/UnusedProgramImagesCleanupJobTest.java
  server/test/services/cloud/aws/AwsPublicStorageTest.java
  server/test/services/cloud/aws/AwsS3ClientTest.java
  server/test/services/cloud/azure/AzurePublicStorageTest.java
  server/test/support/cloud/FakeAwsS3Client.java
  server/test/support/cloud/FakePublicStorageClient.java
  server/test/views/ProgramImageUtilsTest.java
Labels: feature

#6408 Fixed TI client search bug so that cleared search parameters return the full client list
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/ti/TrustedIntermediaryService.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: bug

#6366 [Program Card Images] Have image upload be the second step in the program creation flow
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-images-flag-on.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-images-flag-on.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_viewing.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramImageView.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: feature

#6423 Set the pgadmin version
  docker-compose.dev.yml
Labels: infrastructure, ignore-for-release

#6405 add screenshot tests on mobile for applicant navigation flow
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data-mobile.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-shows-submitted-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-submission-guest-login-prompt-modal-mobile.png
  browser-test/image_snapshots/application_navigation_test/cif-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/duplicate-submission-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag-mobile.png
  browser-test/image_snapshots/application_navigation_test/eligible-toast-mobile.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-mobile.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag-mobile.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-list-page-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-review-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in-mobile.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered-mobile.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page-mobile.png
  browser-test/src/application_navigation.test.ts
  browser-test/src/support/index.ts
Labels: a11y, tech-debt, google.org-swe

#6421 Parse markdown on ineligible page and render required indicator before lists
  browser-test/image_snapshots/application_navigation_test/ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/application_navigation_test/ineligible-page-with-markdown.png
  browser-test/src/application_navigation.test.ts
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/components/TextFormatter.java
  server/test/views/components/TextFormatterTest.java
Labels: bug

#6428 add new date validation message for translation
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: bug, i18n, google.org-swe

#6431 Add message for x of y progress status for translation
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: bug, i18n, google.org-swe

#6435 Updating comments on the docker image build scripts
  bin/build-browser-tests
  bin/build-dev
  bin/build-dev-oidc
  bin/build-formatter
  bin/build-localstack-env
  bin/build-mock-web-services
  bin/build-prod
Labels: ignore-for-release

#6441 Update file upload file label even if there is an existing label
  server/app/assets/javascripts/file_upload.ts
Labels: bug, google.org-swe

#6438 Remove `civiform_` prefix from browser tests
  browser-test/image_snapshots/admin_program_statuses_test/create-new-status-modal.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-default-1-as-default-again.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-default-1-remains-default.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-default-2.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-test-1-as-default-again.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-test-1-remains-default.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-test-2-default.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-unset-default.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-with-default-status.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-with-no-statuses.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-with-statuses.png
  browser-test/image_snapshots/admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/image_snapshots/admin_publish_test/publish-modal.png
  browser-test/image_snapshots/admin_question_list_test/question-edit-universal-set.png
  browser-test/image_snapshots/admin_question_list_test/question-edit-universal-unset.png
  browser-test/image_snapshots/admin_question_list_test/questions-list-sort-dropdown-last-adminname-asc.png
  browser-test/image_snapshots/admin_question_list_test/questions-list-sort-dropdown-lastmodified.png
  browser-test/image_snapshots/admin_question_list_test/questions-list-with-archived-questions.png
  browser-test/image_snapshots/admin_question_list_test/universal-questions.png
  browser-test/image_snapshots/admin_question_references_test/question-program-modal.png
  browser-test/image_snapshots/admin_question_references_test/question-used-in-programs.png
  browser-test/src/admin_program_statuses.test.ts
  browser-test/src/admin_publish.test.ts
  browser-test/src/admin_question_list.test.ts
  browser-test/src/admin_question_references.test.ts
Labels: ignore-for-release

#6444 Update configuration file to accept APPLICANT_OIDC_DISCOVERY_URI for IDCS_DISCOVERY_URI
  server/conf/helper/auth.conf
Labels: bug, google.org-swe

#6443 Update styling on application bottom bar so it flows better
  browser-test/image_snapshots/application_navigation_test/eligible-toast-mobile.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-mobile.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-mobile.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page-mobile.png
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/style/ApplicantStyles.java
Labels: bug, google.org-swe

#6439 Replace IDCS values with OIDC values in prod simulator
  server/conf/helper/auth.conf
  test-support/prod-simulator-compose.yml
Labels: infrastructure, ignore-for-release

#6425 [Program Card Images] Add CTA from program image upload page to translations page
  browser-test/image_snapshots/admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  server/app/views/BaseHtmlView.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/AdminLayoutFactory.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/test/views/admin/AdminLayoutTest.java
Labels: feature

#6451 Update font and flow of buttons on applications view
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-default.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: bug, google.org-swe

#6457 Updating security document with info on SBOM
  SECURITY.md
Labels: enhancement

#6459 Use X of Y message in applicant layout
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: bug, i18n, google.org-swe

#6461 Remove obsolete mobile specific browser tests
  browser-test/image_snapshots/mobile_views_test/mobile-apply-page.png
  browser-test/image_snapshots/mobile_views_test/mobile-initial-load.png
  browser-test/image_snapshots/mobile_views_test/mobile-modal.png
  browser-test/src/mobile_views.test.ts
Labels: tech-debt, google.org-swe

#6433 Combining the Phone validation method from TIService class and PhoneQuestion class
  browser-test/src/phone.test.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/services/PhoneValidationUtils.java
  server/app/services/applicant/question/PhoneQuestion.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/EditTiClientView.java
  server/test/services/applicant/question/PhoneQuestionTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: i18n, tech-debt

#6458 Add medium width screenshot tests
  browser-test/image_snapshots/application_navigation_test/application-ineligible-preexisting-data-medium.png
  browser-test/image_snapshots/application_navigation_test/application-ineligible-same-application-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-signed-in-confirmation-page-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-eligible-ti-confirmation-page-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-signed-in-confirmation-page-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-ineligible-ti-confirmation-page-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-shows-submitted-medium.png
  browser-test/image_snapshots/application_navigation_test/cif-submission-guest-login-prompt-modal-medium.png
  browser-test/image_snapshots/application_navigation_test/duplicate-submission-page-medium.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tag-medium.png
  browser-test/image_snapshots/application_navigation_test/eligible-toast-medium.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-medium.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tag-medium.png
  browser-test/image_snapshots/application_navigation_test/ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-medium.png
  browser-test/image_snapshots/application_navigation_test/program-list-page-medium.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date-medium.png
  browser-test/image_snapshots/application_navigation_test/program-preview-medium.png
  browser-test/image_snapshots/application_navigation_test/program-review-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in-medium.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered-medium.png
  browser-test/image_snapshots/application_navigation_test/verify-address-page-medium.png
  browser-test/src/support/index.ts
Labels: tech-debt, google.org-swe

#6389 Updating image sync script
  bin/sync-failed-browser-test-images
Labels: infrastructure, ignore-for-release

#6489 Remove or replace links to github issues
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/services/applicant/Block.java
  server/app/services/program/BlockDefinition.java
  server/app/views/ViewUtils.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
Labels: ignore-for-release, cleanup

#6476 Cleanup for dead link
  server/app/controllers/FileController.java
  server/app/services/cloud/ApplicantFileNameFormatter.java
  server/test/services/cloud/ApplicantFileNameFormatterTest.java
Labels: cleanup

#6494 Renaming base style fields with Seattle in them
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/components/ButtonStyles.java
  server/app/views/components/LinkElement.java
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/style/ApplicantStyles.java
  server/app/views/style/BaseStyles.java
Labels: cleanup

#6502 Adding logging to monitor endpoint
  server/app/controllers/FileController.java
Labels: tech-debt

#6503 Adding warning log message if this page is called
  server/app/views/support/UnconfirmedIdcsEmailBugView.java
Labels: tech-debt

#6504 Removing Seattle Staging Badge
  README.md
Labels: ignore-for-release

#6447 [Program Card Images] Polish the admin UI
  browser-test/image_snapshots/admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/test/views/fileupload/FileUploadViewStrategyTest.java
Labels: feature

#6271 Retire new_applicant_url_schema_enabled feature flag
  server/app/auth/CiviFormProfile.java
  server/app/auth/ProfileFactory.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/HomeControllerTest.java
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6519 Second attempt to get missing compose files in renovate
  renovate.json
Labels: infrastructure, ignore-for-release

#6529 Add feature flag for saving applicant data on Review button click or Previous button click.
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag

#6520 Show all historical question options on generated API docs and update styling of API docs page
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  browser-test/src/api_docs.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/repository/ExportServiceRepository.java
  server/app/views/api/ApiDocsView.java
  server/test/repository/ExportServiceRepositoryTest.java
Labels: enhancement
