Repository civiform/civiform, pull requests merged in 2024-09, with the labels that each got.

#8451 Fixing status window appearing at bottom of screen
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/components/Modal.java
  server/app/views/style/BaseStyles.java
Labels: bug

#8461 Clean up Optional handling in ProfileUtils.getApplicantId
  server/app/auth/ProfileUtils.java
Labels: ignore-for-release

#8433 Remove backwards compatibility for session ID in Play session
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
Labels: authentication, ignore-for-release

#8398 [Multiple File Upload] Redirect instead of re-serving page
  browser-test/src/applicant/questions/file.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
Labels: under-development

#8464 Make null question error more clear
  server/app/repository/ProgramRepository.java
Labels: google.org-swe, ignore-for-release

#8445 Remove missing-profile redirects
  server/app/auth/DefaultToGuestRedirector.java
  server/app/controllers/HomeController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/filters/CiviFormProfileFilter.java
Labels: authentication, ignore-for-release

#8463 Add new text for error page
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#8470 [Suffix] implement name suffix field in thymeleaf
  browser-test/src/applicant/questions/name.test.ts
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/NameQuestionFragment.html
Labels: under-development

#8469 Rename ProfileUtils methods
  server/app/actions/ApplicantAuthorizationAction.java
  server/app/auth/ProfileUtils.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/saml/SamlProfileCreator.java
  server/app/controllers/CiviFormController.java
  server/app/controllers/FileController.java
  server/app/controllers/HomeController.java
  server/app/controllers/ProfileController.java
  server/app/controllers/admin/AdminApiKeysController.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/controllers/admin/AdminReportingController.java
  server/app/controllers/admin/AdminSettingsController.java
  server/app/controllers/admin/NorthStarQuestionPreviewController.java
  server/app/controllers/admin/ProgramAdminController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/controllers/applicant/UpsellController.java
  server/app/controllers/dev/ProfileController.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/filters/CiviFormProfileFilter.java
  server/app/filters/ValidAccountFilter.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/api/ApiDocsView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/test/actions/ApplicantAuthorizationActionTest.java
  server/test/controllers/WithMockedProfiles.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
Labels: ignore-for-release

#8502 Fix duplicate builder.build calls in TrustedIntermediaryControllerTest
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
Labels: ignore-for-release

#8406 [Suffix] add suffix field to name question
  browser-test/src/applicant/questions/name.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/applicant/question/NameQuestion.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/NameQuestionRenderer.java
  server/app/views/style/ReferenceClasses.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
Labels: under-development

#8484 Remove more missing-profile redirects
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
Labels: ignore-for-release

#8503 Replace optionalCurrentUserProfile with currentUserProfile where appropriate
  server/app/actions/ApplicantAuthorizationAction.java
  server/app/controllers/CiviFormController.java
  server/app/controllers/FileController.java
  server/app/controllers/admin/AdminApiKeysController.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminReportingController.java
  server/app/controllers/admin/AdminSettingsController.java
  server/app/controllers/admin/ProgramAdminController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/test/actions/ApplicantAuthorizationActionTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
Labels: ignore-for-release

#8505 Remove the networkidle wait on test user logins
  browser-test/src/support/index.ts
Labels: ignore-for-release

#8509 Remove more missing-profile handling
  server/app/controllers/admin/NorthStarQuestionPreviewController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/views/api/ApiDocsView.java
  server/test/controllers/admin/AdminProgramImageControllerTest.java
Labels: ignore-for-release

#8517 Add back context strings to messages file
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#8495 [Suffix] remove suffix as an eligibility condition
  browser-test/src/admin/admin_predicates.test.ts
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: google.org-swe, under-development

#8526 [Program Migration] Handle nested enumerators
  server/app/controllers/admin/AdminImportController.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: bug

#8520 Adding text area and markup support for question translation view
  browser-test/image_snapshots/admin_question_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_question_translation_test/question-translation.png
  browser-test/image_snapshots/applicant_question_translation_test/question-translation-with-markdown.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  browser-test/src/applicant/applicant_question_translation.test.ts
  server/app/views/admin/questions/QuestionTranslationView.java
Labels: feature, user-CF-admin

#8525 Branch application_navigation_buttons.test.ts for North Star
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: infrastructure, [Epic] North Star Applicant UI

#8534 Create a feature flag for program migration without duplicate questions created
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, feature-flag, under-development

#8426 Create route for server errors and use USWDS error template
  browser-test/image_snapshots/error_pages_test/server-error-page.png
  browser-test/src/error_pages.test.ts
  server/app/controllers/ErrorHandler.java
  server/app/controllers/InternalServerErrorController.java
  server/app/views/applicant/ApplicantDisabledProgramView.java
  server/app/views/errors/ErrorComponent.java
  server/app/views/errors/InternalServerError.java
  server/conf/routes
Labels: bug

#8529 Add file for French language translations
  server/conf/i18n/messages.fr
Labels: i18n, enhancement

#8510 Refactor CiviFormProfileFilter and update javadoc
  server/app/filters/CiviFormProfileFilter.java
Labels: ignore-for-release

#8395 [Multiple File Upload] Improve UX for maximum files constraint
  browser-test/image_snapshots/file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/file_test/file-uploaded-multiple-files.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_file_question.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/conf/i18n/messages
Labels: i18n, under-development

#8538 Link profile and session debug views from the dev tools page
  browser-test/image_snapshots/dev_tools_test/dev-tools-modal.png
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ModalFragment.html
  server/app/views/dev/DatabaseSeedView.java
  server/app/views/dev/DebugContent.java
Labels: ignore-for-release

#8528 Fix showing programs the user already applied to
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/controllers/applicant/UpsellController.java
Labels: under-development, [Epic] North Star Applicant UI

#8466 Don't read from cache in individual program publish flow
  server/app/repository/VersionRepository.java
Labels: ignore-for-release

#8550 Fixing North Star focus outline on checkboxes and radio buttons so that it is around the label
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-medium.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-mobile.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: under-development

#8530 Email notification preferences for programs
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-disabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-missing-program-fields.png
  server/app/controllers/admin/AdminExportController.java
  server/app/controllers/admin/AdminImportController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/forms/ProgramForm.java
  server/app/models/ProgramModel.java
  server/app/models/ProgramNotificationPreference.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/migration/ProgramMigrationService.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/conf/evolutions/default/75.sql
  server/test/actions/ProgramDisabledActionTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/models/ProgramModelTest.java
  server/test/models/VersionModelTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, database

#8471 Durable job for Multiple File Upload
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/jobs/CopyFileKeyForMultipleFileUpload.java
  server/app/models/ApplicantModel.java
  server/test/durablejobs/jobs/CopyFileKeyForMultipleFileUploadTest.java
Labels: under-development

#8559 Remove alert placeholder in northstar when alert shouldn't appear
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/views/components/AlertFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8562 Bug fix for English text rendering in Question translation edit page
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  server/app/views/admin/TranslationFormView.java
Labels: bug

#8539 Style eligibility tag. Add check-circle icon.
  server/app/assets/Images/uswds/icon-check-circle.svg
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8564 [Multiple File Uploads] Add support for CSV exports for multiple file questions
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/export/CsvExporterServiceTest.java
Labels: under-development

#8555 [Suffix] add suffix field on ti dashboard
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/components/SelectWithLabel.java
  server/app/views/questiontypes/NameQuestionRenderer.java
Labels: under-development

#8541 Tweak dev tools
  browser-test/image_snapshots/dev_tools_test/dev-tools-modal.png
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ModalFragment.html
  server/app/views/dev/DatabaseSeedView.java
  server/app/views/dev/DebugContent.java
  server/conf/routes
Labels: ignore-for-release

#8542 Rename dev seed classes to dev tools
  server/app/controllers/dev/DevToolsController.java
  server/app/views/NorthStarBaseView.java
  server/app/views/dev/AddressCheckerView.java
  server/app/views/dev/DebugContent.java
  server/app/views/dev/DevToolsView.java
  server/conf/routes
  server/test/controllers/dev/DevToolsControllerTest.java
Labels: ignore-for-release

#8577 Add browser tests for program email notifications settings
  browser-test/src/admin/admin_program_email_notifications.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#8584 Add DevRoutesFilter to ensure all /dev routes are only available in dev/staging
  server/app/controllers/dev/AddressCheckerController.java
  server/app/controllers/dev/DevToolsController.java
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/controllers/dev/IconsController.java
  server/app/filters/DevRoutesFilter.java
  server/conf/application.conf
  server/test/controllers/dev/DevToolsControllerTest.java
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
Labels: ignore-for-release

#8549 Add styling to the address correction page with 0 suggested addresses
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/src/applicant/application_address_correction.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/AddressCorrectionOptionFragment.html
  server/app/views/applicant/NorthStarAddressCorrectionBlockView.java
Labels: under-development, [Epic] North Star Applicant UI

#8560 Refactor North Star modals to be easier to use
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/PreventDuplicateSubmissionTemplate.html
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: infrastructure, [Epic] North Star Applicant UI

#8594 Remove unused getSubmittedApplication() method
  server/app/models/ProgramModel.java
Labels: ignore-for-release

#8587 [Suffix] suffix for json presenter
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/enums/ApiPathSegment.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: under-development

#8612 Fast-forward deep link bug for guest
  server/app/repository/ApplicationRepository.java
Labels: bug

#8586 [Program Migration] Add program and question validation and remove ti acls
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/services/migration/ProgramMigrationService.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: bug

#8608 Service area conversion job
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/jobs/ConvertAddressServiceAreaToArrayJob.java
  server/app/modules/DurableJobModule.java
  server/test/durablejobs/jobs/ConvertAddressServiceAreaToArrayJobTest.java
Labels: enhancement

#8401 Address validation outside service area
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/applicant/navigation/application_navigation_address_visibility_condition.test.ts
  browser-test/src/support/admin_predicates.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/jobs/ConvertAddressServiceAreaToArrayJob.java
  server/app/modules/DurableJobModule.java
  server/app/services/CfJsonDocumentContext.java
  server/app/services/applicant/ApplicantData.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ServiceAreaUpdateResolver.java
  server/app/services/applicant/predicate/JsonPathPredicateGenerator.java
  server/app/services/applicant/question/AddressQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/geo/ServiceAreaInclusion.java
  server/app/services/geo/ServiceAreaInclusionGroup.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/program/predicate/LeafAddressServiceAreaExpressionNode.java
  server/app/services/program/predicate/Operator.java
  server/app/services/program/predicate/PredicateGenerator.java
  server/app/services/question/QuestionAnswerer.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/test/durablejobs/jobs/ConvertAddressServiceAreaToArrayJobTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
  server/test/services/applicant/predicate/JsonPathPredicateGeneratorTest.java
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/geo/ServiceAreaInclusionGroupTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
Labels: enhancement

#8617 Allow OLs to continue numbering
  server/app/views/components/TextFormatter.java
  server/test/views/components/TextFormatterTest.java
Labels: bug

#8615 Fix format on play.http.session.maxAge setting example
  server/conf/application.conf
Labels: ignore-for-release

#8511 When user clicks "Previous" with invalid input, show a modal
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/north_star_modal.ts
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
Labels: under-development, [Epic] North Star Applicant UI

#8592 Fix North Star language selector
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/services/MessageKey.java
  server/app/views/applicant/NavigationFragment.html
  server/conf/i18n/messages
Labels: bug, i18n, under-development, [Epic] North Star Applicant UI

#8625 Fix North Star bug when program has no external link
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: under-development

#8618 Remove login modal when clicking on "Apply" for the first time
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8627 Adjust section margins for the block edit page
  browser-test/image_snapshots/admin_question_preview_test/north-star-question-preview-page.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/admin/questions/QuestionPreviewFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/questiontypes/QuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8637 Update margins for title and description fragment
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star-mobile.png
  browser-test/image_snapshots/email_test/email-errors-north-star-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star-mobile.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star-mobile.png
  server/app/views/applicant/TitleAndDescriptionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8655 Add screen reader testing to the PR template checklist
  .github/pull_request_template.md
Labels: ignore-for-release

#8657 Don't apply markdown formatting to empty/whitespace only text
  server/app/views/components/TextFormatter.java
  server/test/views/components/TextFormatterTest.java
Labels: bug

#8639 Extract "Create Account" alert into its own fragment
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/CreateAccountAlertFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8629 Adjust section margins for the address correction page
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8628 Adjust section margins for the application confirmation page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/views/applicant/ApplicantUpsellTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8218 Enable CSP enforcement by default
  server/conf/application.conf
  server/conf/application.dev.conf
Labels: feature, security

#8656 Enlarge clickable area of category filter buttons
  browser-test/image_snapshots/applicant_application_index_test/category-filter-chips.png
  browser-test/image_snapshots/applicant_application_index_test/homepage-programs-filtered.png
  server/app/assets/stylesheets/styles.css
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/applicant/ProgramIndexView.java
Labels: under-development

#8667 Update wording for screen reader checklist item on PR template
  .github/pull_request_template.md
Labels: ignore-for-release

#8677 Make demo mode login button configurable in settings panel
  server/app/services/settings/SettingsManifest.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantLayout.java
  server/conf/env-var-docs.json
Labels: enhancement

#8668 Adding a step to removing temp/servers.json in pgadmin script
  bin/dev-pgadmin
Labels: ignore-for-release

#8685 Remove unnecessary IdTokens and IdTokensFactory abstractions
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/IdTokens.java
  server/app/auth/oidc/IdTokensFactory.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/OidcClientProviderParams.java
  server/app/auth/oidc/SerializedIdTokens.java
  server/app/auth/oidc/admin/AdfsClientProvider.java
  server/app/modules/MainModule.java
  server/app/repository/AccountRepository.java
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/IdTokensTest.java
  server/test/auth/oidc/OidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcClientProviderTest.java
  server/test/auth/oidc/admin/GenericOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
  server/test/auth/oidc/applicant/IdcsClientProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
  server/test/models/AccountModelTest.java
  server/test/repository/AccountRepositoryTest.java
Labels: ignore-for-release

#8694 Fix compile error from commit race condition
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
Labels: ignore-for-release

#8689 Re-order some settings
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/conf/env-var-docs.json
Labels: enhancement

#8678 Fix margin above the action button section on the "Address Correction" page
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8638 Style "Common Intake Submitted" page for North Star
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/controllers/applicant/UpsellController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8600 Application note addition in CSV exports
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/applicant/application_download.test.ts
  server/app/models/ApplicationModel.java
  server/app/repository/ApplicationEventRepository.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/export/CsvExporter.java
  server/conf/evolutions/default/76.sql
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
Labels: user-program-admin, database

#8659 [Program Migration] Handle service area validation in program import
  server/app/controllers/admin/AdminImportController.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: bug

#8681 Style "Common intake ineligible" case
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  server/app/controllers/applicant/UpsellController.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/UpsellParams.java
Labels: under-development, [Epic] North Star Applicant UI

#8698 Improve common intake browser tests
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8703 Making a better thymeleaf error page for dev environment
  formatter/fmt
  server/app/controllers/ErrorHandler.java
  server/app/views/errors/thymeleafDevErrorPage.scala.html
Labels: ignore-for-release

#8683 Show modal for duplicate submissions
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/src/applicant/applicant_prevent_duplicate_submission.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/north_star_modal.ts
  server/app/controllers/FlashKey.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarPreventDuplicateSubmissionView.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8712 Adding optional scope for phone on dev oidc
  test-support/test_oidc_provider.js
Labels: infrastructure, ignore-for-release

#8716 Fix create account button and login link
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/CreateAccountAlertFragment.html
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
Labels: bug, under-development, [Epic] North Star Applicant UI

#8732 Rename AccountRepository method
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/repository/AccountRepository.java
  server/test/repository/AccountRepositoryTest.java
Labels: ignore-for-release

#8739 Only format changed python files
  formatter/fmt
Labels: infrastructure, ignore-for-release

#8740 Add empty response to find address mocks
  mock-web-services/esri/__init__.py
  server/test/resources/esri/findAddressCandidatesEmptyResponse.json
Labels: enhancement

#8731 Add config flag for session replay protection
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: under-development

#8729 Implement active_sessions data model
  server/app/models/AccountModel.java
  server/app/models/SessionDetails.java
  server/conf/evolutions/default/77.sql
  server/test/models/AccountModelTest.java
Labels: database, under-development

#8673 Update the wording of the homepage heading for filtered programs
  browser-test/image_snapshots/applicant_application_index_test/category-filter-chips.png
  browser-test/image_snapshots/applicant_application_index_test/homepage-programs-filtered.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, ignore-for-release
