Repository civiform/civiform, pull requests merged in 2024-05, with the labels that each got.

#7355 Additional pg updates
  .github/renovate.json5
  test-support/prod-simulator-compose.yml
  test-support/unit-test-docker-compose.yml
Labels: infrastructure, ignore-for-release

#7357 Moved to using fixtures
  browser-test/src/admin/admin_dropdown_create_and_edit.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_preview.test.ts
  browser-test/src/admin/admin_program_viewing.test.ts
  browser-test/src/admin/admin_question_list.test.ts
  browser-test/src/applicant/application_previous_version.test.ts
  browser-test/src/pagination.test.ts
  browser-test/src/question_lifecycle.test.ts
Labels: infrastructure, ignore-for-release

#7346 Add the ability to log in to north star programs page.
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: ignore-for-release, under-development, [Epic] North Star Applicant UI

#7351 Improve QuestionDefinitionTest
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: ignore-for-release

#7362 Update question bank program list to match the localized program name
  browser-test/image_snapshots/admin_question_references_test/question-program-modal.png
  browser-test/src/admin/admin_question_references.test.ts
  server/app/views/admin/questions/QuestionsListView.java
Labels: admin-ui, enhancement

#7332 Render file upload question
  browser-test/image_snapshots/file_test/file-required-north-star-medium.png
  browser-test/image_snapshots/file_test/file-required-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-required-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/FileUploadActionButtonFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/fileupload/AwsFileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/app/views/questiontypes/FileUploadQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#5648 Upgrade to Play 2.9.x
  browser-test/src/support/config.ts
  server/app/auth/CiviFormProfile.java
  server/app/auth/ClientIpResolver.java
  server/app/auth/ProfileFactory.java
  server/app/controllers/FileController.java
  server/app/controllers/HomeController.java
  server/app/controllers/ProfileController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/controllers/applicant/UpsellController.java
  server/app/controllers/dev/FeatureFlagOverrideController.java
  server/app/filters/RecordCookieSizeFilter.java
  server/app/filters/UnsupportedBrowserFilter.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ServiceAreaUpdateResolver.java
  server/app/services/program/ProgramService.java
  server/build.sbt
  server/conf/logback.xml
  server/project/plugins.sbt
  server/test/controllers/HomeControllerWithProfileTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  test-support/prod-simulator-compose.yml
Labels: tech-debt, dependencies

#7370 Add a comment about QuestionDefinitionConfig.Builder being a step builder
  server/app/services/question/types/QuestionDefinitionConfig.java
Labels: ignore-for-release

#7371 Migrating more tests to use fixtures
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/admin/admin_program_admins.test.ts
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_image.test.ts
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/admin/admin_program_visibility.test.ts
  browser-test/src/primary_applicant_info.test.ts
  browser-test/src/question_delete.test.ts
Labels: infrastructure, ignore-for-release

#7380 In webassetbundler, don't log stdout to the error method
  server/project/WebAssetsBundler.scala
Labels: infrastructure, ignore-for-release

#7369 Log in for categorized application test (North Star)
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
Labels: ignore-for-release, under-development, [Epic] North Star Applicant UI

#6703 Render date question with Thymeleaf
  browser-test/image_snapshots/date_test/date-errors-north-star-medium.png
  browser-test/image_snapshots/date_test/date-errors-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-errors-north-star.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/date_test/date-north-star-medium.png
  browser-test/image_snapshots/date_test/date-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-north-star.png
  browser-test/src/applicant/questions/date.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/CfJsonDocumentContext.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/question/DateQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/views/ViewUtils.java
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/DateQuestionFragment.html
  server/conf/i18n/messages
  server/test/services/applicant/question/DateQuestionTest.java
Labels: i18n, under-development, [Epic] North Star Applicant UI

#7388 replace html comments with thymeleaf comment blocks
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/components/ToastFragment.html
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
  server/app/views/questiontypes/DateQuestionFragment.html
  server/app/views/questiontypes/DropdownQuestionFragment.html
  server/app/views/questiontypes/EmailQuestionFragment.html
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/FileUploadQuestionFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/PhoneQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: tech-debt, ignore-for-release, [Epic] North Star Applicant UI

#7390 Prepend 'id-' before instances of randomAlphanumeric
  server/app/views/components/ToastFragment.html
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
  server/app/views/questiontypes/DateQuestionFragment.html
  server/app/views/questiontypes/DropdownQuestionFragment.html
  server/app/views/questiontypes/EmailQuestionFragment.html
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/FileUploadQuestionFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/PhoneQuestionFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: tech-debt, ignore-for-release, [Epic] North Star Applicant UI

#7401 Have renovate group guava
  .github/renovate.json5
Labels: infrastructure, ignore-for-release

#7389 Make Scalar more readable
  server/app/services/applicant/question/Scalar.java
Labels: ignore-for-release

#7391 Fix poor optional handling in ProgramPredicateConfigureView
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: ignore-for-release

#7354 [Disabled Programs] add disabled programs service
  server/app/services/program/ActiveAndDraftPrograms.java
Labels: feature, google.org-swe, under-development

#7408 Add tmux to dev container
  .devcontainer/devcontainer.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7415 Remove -contrib features and install packages in onCreateCommand.sh
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
Labels: ignore-for-release

#7418 Remove year, month, and day from predicate view dropdown
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/question/Scalar.java
Labels: bug, [Epic] North Star Applicant UI

#7368 Add eligible and program tags to Northstar cards.
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_test/eligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tagnorthstar-medium.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tagnorthstar-mobile.png
  browser-test/image_snapshots/application_navigation_test/ineligible-home-page-program-tagnorthstar.png
  browser-test/src/applicant/applicant_application_statuses.test.ts
  browser-test/src/applicant/application_navigation.test.ts
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: ignore-for-release, under-development, [Epic] North Star Applicant UI

#7382 Update on call list to check needs triage for p0s and upgrade demo sites
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: documentation, ignore-for-release

#7409 Fix typos in admin_predicate_configuration.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
Labels: ignore-for-release

#7406 Simplify help text typescript
  server/app/assets/javascripts/admin_predicate_configuration.ts
Labels: ignore-for-release

#7410 [Disabled Programs] update program service
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramService.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, under-development

#7425 Fix contribution-guide links
  formatter/eslintrc_base.json
  server/app/assets/javascripts/util.ts
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, ignore-for-release

#7427 Reduce string case shenanigans
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: ignore-for-release

#7386 Migrate more tests to fixtures
  browser-test/image_snapshots/admin_program_statuses_test/status-list-test-1-remains-default.png
  browser-test/image_snapshots/admin_program_statuses_test/status-list-unset-default.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-login-prompt-modal.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-multiple-programs-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-multiple-programs-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest-multiple-programs.png
  browser-test/image_snapshots/application_navigation_test/program-submission-guest.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in-medium.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-submission-logged-in.png
  browser-test/src/admin/admin_program_statuses.test.ts
  browser-test/src/applicant/applicant_application_statuses.test.ts
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/applicant/application_navigation.test.ts
  browser-test/src/program_admin/program_admin_program_list.test.ts
  browser-test/src/support/admin_program_statuses.ts
Labels: ignore-for-release

#7429 Refactor configurePredicateValueInput
  server/app/assets/javascripts/admin_predicate_configuration.ts
Labels: ignore-for-release

#7442 Remove all non-fixture tests
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/applicant/application_address_correction.test.ts
Labels: ignore-for-release

#7383 Port applicant_application_index.test.ts to fixtures
  browser-test/src/applicant/applicant_application_index.test.ts
Labels: ignore-for-release

#7443 Refactor ProgramPredicateConfigureView.formatPredicateValue
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: ignore-for-release

#7449 [BugFix] Error Updating TI Client when no email is provided
  browser-test/src/trusted_intermediary.test.ts
  server/app/repository/AccountRepository.java
Labels: bug

#7451 Fix typescript error "expected 0 arguments, but got 1"
  browser-test/src/admin/admin_predicates.test.ts
Labels: ignore-for-release

#7454 Remove the uses fixtures tag since all tests use fixtures now
  browser-test/src/admin/admin_api_keys.test.ts
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/admin/admin_program_admins.test.ts
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/admin/admin_program_preview.test.ts
  browser-test/src/admin/admin_program_statuses.test.ts
  browser-test/src/admin/admin_program_viewing.test.ts
  browser-test/src/admin/admin_question_list.test.ts
  browser-test/src/admin/dev_tools.test.ts
  browser-test/src/api_docs.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/applicant_application_statuses.test.ts
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/applicant/application_navigation.test.ts
  browser-test/src/applicant/questions/address.test.ts
  browser-test/src/applicant/questions/currency.test.ts
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/applicant/questions/name.test.ts
  browser-test/src/auth.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/footer.test.ts
  browser-test/src/header.test.ts
  browser-test/src/pagination.test.ts
  browser-test/src/program_admin/program_admin_program_list.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/question_delete.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/index.ts
  browser-test/src/trusted_intermediary.test.ts
Labels: ignore-for-release

#7448 Create address correction page
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/AddressCorrectionOptionFragment.html
  server/app/views/applicant/NorthStarAddressCorrectionBlockView.java
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7453 Fix links to uploaded files to use correct routes
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/applications/PdfExporterService.java
  server/app/services/export/PdfExporter.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/test/services/applications/PdfExporterServiceTest.java
  server/test/services/export/PdfExporterTest.java
Labels: bug

#7455 Consolidate editProgramBlock methods
  browser-test/src/admin/admin_program_viewing.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramBlocksView.java
Labels: ignore-for-release

#7456 Refactor addValueRows in admin_predicates.ts
  browser-test/src/support/admin_predicates.ts
Labels: ignore-for-release

#7441 Fix help text duplication in eligibility and visibility condition editor
  browser-test/image_snapshots/admin_predicates_test/operator-help-text.png
  browser-test/src/admin/admin_predicates.test.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: bug

#7450 Refactor validateSubmit in admin_predicate_configuration.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
Labels: ignore-for-release

#7459 Combine redundant addPredicate and addPredicates test helper methods
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/applicant/navigation/application_navigation_address_visibility_condition.test.ts
  browser-test/src/applicant/navigation/application_navigation_common_intake.test.ts
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/support/admin_predicates.ts
  browser-test/src/trusted_intermediary.test.ts
Labels: ignore-for-release

#7465 Allow easy connect to psql prompt
  bin/dev-psql
Labels: infrastructure, ignore-for-release

#7464 Add link decorating styling to the file upload link on the program summary page
  server/app/views/applicant/ApplicantProgramSummaryView.java
Labels: bug, ignore-for-release

#7422 Add Gitleaks and pre-commit to the codespace container definition
  .devcontainer/onCreateCommand.sh
  .pre-commit-config.yaml
Labels: ignore-for-release

#7452 Only show error messages when we have the correct ErrorDisplayMode
  browser-test/image_snapshots/address_test/address-north-star-medium.png
  browser-test/image_snapshots/address_test/address-north-star-mobile.png
  browser-test/image_snapshots/address_test/address-north-star.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star-medium.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star-mobile.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-errors-north-star.png
  browser-test/image_snapshots/id_test/id-errors-north-star-medium.png
  browser-test/image_snapshots/id_test/id-errors-north-star-mobile.png
  browser-test/image_snapshots/id_test/id-errors-north-star.png
  browser-test/image_snapshots/id_test/id-north-star-medium.png
  browser-test/image_snapshots/id_test/id-north-star-mobile.png
  browser-test/image_snapshots/id_test/id-north-star.png
  browser-test/image_snapshots/name_test/name-errors-north-star-medium.png
  browser-test/image_snapshots/name_test/name-errors-north-star-mobile.png
  browser-test/image_snapshots/name_test/name-errors-north-star.png
  browser-test/image_snapshots/name_test/name-north-star-medium.png
  browser-test/image_snapshots/name_test/name-north-star-mobile.png
  browser-test/image_snapshots/name_test/name-north-star.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star-medium.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star-mobile.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star.png
  browser-test/image_snapshots/phone_test/phone-north-star-medium.png
  browser-test/image_snapshots/phone_test/phone-north-star-mobile.png
  browser-test/image_snapshots/phone_test/phone-north-star.png
  browser-test/image_snapshots/text_test/text-errors-north-star-medium.png
  browser-test/image_snapshots/text_test/text-errors-north-star-mobile.png
  browser-test/image_snapshots/text_test/text-errors-north-star.png
  browser-test/image_snapshots/text_test/text-north-star-medium.png
  browser-test/image_snapshots/text_test/text-north-star-mobile.png
  browser-test/image_snapshots/text_test/text-north-star.png
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
  server/app/views/questiontypes/DateQuestionFragment.html
  server/app/views/questiontypes/DropdownQuestionFragment.html
  server/app/views/questiontypes/EmailQuestionFragment.html
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/FileUploadQuestionFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/PhoneQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7481 Refactor PredicateGenerator form key parsing
  server/app/services/program/predicate/PredicateGenerator.java
Labels: ignore-for-release

#7345 [Disabled Programs] create tabs for programs in use and disabled
  browser-test/image_snapshots/admin_program_list_test/program-list-disabled-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-in-use-tab.png
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_publish.test.ts
  browser-test/src/admin/admin_question_references.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/models/ProgramTab.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/routes
Labels: feature, google.org-swe, under-development

#7510 Refactor ProgramPredicateConfigureView.renderQuestionHeaders
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: ignore-for-release

#7497 Fix eligibility condition operator help text display bugs
  browser-test/image_snapshots/admin_predicates_test/operator-help-text.png
  browser-test/src/admin/admin_predicates.test.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
Labels: bug

#7515 Add styling to enumerator fields/buttons
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star-medium.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star-mobile.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-north-star.png
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7514 Fix bug where filtering applications by date excluded applications submitted on the "until" date
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/DateConverter.java
  server/test/services/DateConverterTest.java
Labels: bug, seattle

#7494 ignore static text questions when counting questions in review page
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  server/app/services/applicant/Block.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/test/services/applicant/BlockTest.java
Labels: under-development, [Epic] North Star Applicant UI

#7524 Improve PredicateGeneratorTest with best practices and more cases
  server/app/services/program/predicate/PredicateGenerator.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
Labels: ignore-for-release

#7532 Organize translation tests
  browser-test/image_snapshots/admin_program_translation_test/applicant-toast-error.png
  browser-test/image_snapshots/admin_program_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation-with-image-description.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_translation_test/question-translation.png
  browser-test/image_snapshots/admin_question_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_question_translation_test/question-translation.png
  browser-test/image_snapshots/applicant_question_translation_test/applicant-toast-error.png
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/admin/admin_question_translation.test.ts
  browser-test/src/applicant/applicant_question_translation.test.ts
Labels: ignore-for-release

#7546 Speed up address correction browser tests
  browser-test/src/applicant/application_address_correction.test.ts
Labels: infrastructure, ignore-for-release

#7521 Add descriptive text to the program translation page.
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/src/admin/admin_program_translation.test.ts
  server/app/views/admin/programs/ProgramTranslationView.java
Labels: feature

#7539 Refactor configurePredicate in admin_predicates.ts
  browser-test/src/applicant/navigation/application_navigation_address_visibility_condition.test.ts
  browser-test/src/support/admin_predicates.ts
Labels: ignore-for-release

#7549 Split test file
  browser-test/image_snapshots/application_navigation_buttons_test/error-on-previous-modal.png
  browser-test/image_snapshots/application_navigation_buttons_test/error-on-review-modal.png
  browser-test/image_snapshots/application_navigation_buttons_test/fourth-question-answered-medium.png
  browser-test/image_snapshots/application_navigation_buttons_test/fourth-question-answered-mobile.png
  browser-test/image_snapshots/application_navigation_buttons_test/fourth-question-answered.png
  browser-test/image_snapshots/application_navigation_buttons_test/program-preview-medium.png
  browser-test/image_snapshots/application_navigation_buttons_test/program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_buttons_test/program-preview.png
  browser-test/image_snapshots/application_navigation_buttons_test/program-review-medium.png
  browser-test/image_snapshots/application_navigation_buttons_test/program-review-mobile.png
  browser-test/image_snapshots/application_navigation_buttons_test/program-review.png
  browser-test/src/applicant/navigation/application_navigation_buttons.test.ts
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
Labels: infrastructure, ignore-for-release

#7555 Disable new test step
  browser-test/src/applicant/application_review.test.ts
Labels: infrastructure, ignore-for-release

#7563 Removing obsolete browser test code
  browser-test/src/setup/global-setup.ts
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#7566 Move "delete screen" test logic from helper to test
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#7567 Add UTF8 support to messages tests
  server/test/conf/MessagesTest.java
Labels: ignore-for-release

#7579 Turn off new no-nested-step eslint playwright rule
  browser-test/.eslintrc.json
Labels: infrastructure, ignore-for-release

#7581 Fix test due to time zone issue
  browser-test/src/applicant/application_review.test.ts
Labels: bug, ignore-for-release

#7580 Add validation for empty email address
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/admin/TrustedIntermediaryManagementController.java
Labels: bug

#7540 Add login prompt dialog to program cards page
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/assets/stylesheets/styles.css
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/applicant/ProgramIndexTemplate.html
  server/app/views/components/UswdsModal.java
Labels: under-development, [Epic] North Star Applicant UI

#7518 [Disabled Programs] disabling program deep link
  server/app/actions/ProgramDisabledAction.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/test/actions/ProgramDisabledActionTest.java
Labels: google.org-swe, ignore-for-release, under-development

#7564 Update addProgramBlockUsingSpec in admin_programs.ts to use BlockSpec
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/admin/admin_question_references.test.ts
  browser-test/src/applicant/navigation/application_navigation_buttons.test.ts
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#7598 Refactor questionBank sorting functionality to a more general utility function
  server/app/assets/javascripts/questionBank.ts
  server/app/assets/javascripts/sort_selector.ts
Labels: ignore-for-release

#7605 Revert "Set playwright test timeout to 45 seconds (#7596)"
  browser-test/playwright.config.ts
Labels: ignore-for-release

#7492 Add validateAccessibility tests across the North Star UI, including a few minor fixes
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/applicant/questions/address.test.ts
  browser-test/src/applicant/questions/checkbox.test.ts
  browser-test/src/applicant/questions/currency.test.ts
  browser-test/src/applicant/questions/date.test.ts
  browser-test/src/applicant/questions/dropdown.test.ts
  browser-test/src/applicant/questions/email.test.ts
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/applicant/questions/id.test.ts
  browser-test/src/applicant/questions/name.test.ts
  browser-test/src/applicant/questions/number_input.test.ts
  browser-test/src/applicant/questions/phone.test.ts
  browser-test/src/applicant/questions/radio_button.test.ts
  browser-test/src/applicant/questions/static_text.test.ts
  browser-test/src/applicant/questions/text.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/NorthStarApplicantBaseView.java
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: a11y, under-development, [Epic] North Star Applicant UI

#7590 Update admin_predicates.test.ts to use *UsingSpec helper methods
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#7583 Add option to copy json on program export page
  browser-test/image_snapshots/admin_program_migration_test/export-page.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-no-data.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-parse.png
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_export_view.ts
  server/app/controllers/admin/AdminExportController.java
  server/app/views/admin/migration/AdminExportView.java
  server/app/views/admin/migration/AdminExportViewPartial.java
  server/app/views/admin/migration/AdminProgramExportForm.java
  server/conf/routes
  server/test/controllers/admin/AdminExportControllerTest.java
Labels: under-development

#7609 Isolate admin_predicates tests
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/src/admin/admin_predicates.test.ts
Labels: ignore-for-release

#7625 Submitting program filtering feature strings for translation
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#7631 Fix AdminPrograms.addQuestionFromQuestionBank test helper
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#7629 Integrating the last few translations for the TI client creation and edit forms
  server/app/services/MessageKey.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/conf/i18n/messages
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: i18n, enhancement
