Repository civiform/civiform, pull requests merged in 2024-10, with the labels that each got.

#8750 Align Notes popup with top of page
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: feature, user-CF-admin

#8754 Vary program filter chip HTML element ids
  server/app/assets/stylesheets/styles.css
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramIndexView.java
Labels: under-development

#8738 Support admin previews of NS program cards
  browser-test/src/admin/admin_program_image.test.ts
  browser-test/src/support/admin_program_image.ts
  server/app/controllers/admin/NorthStarProgramCardPreviewController.java
  server/app/views/admin/programs/NorthStarProgramCardPreview.java
  server/app/views/admin/programs/ProgramCardPreviewFragment.html
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/conf/routes
Labels: under-development, [Epic] North Star Applicant UI

#8748 Fixing address correction spliterator bug
  server/app/services/Address.java
  server/app/services/geo/esri/EsriClient.java
  server/app/services/geo/esri/FakeEsriClient.java
  server/app/services/geo/esri/RealEsriClient.java
  server/app/services/geo/esri/models/FindAddressCandidatesResponse.java
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/EsriTestHelper.java
  server/test/services/geo/esri/FakeEsriClientTest.java
  server/test/services/geo/esri/RealEsriClientTest.java
Labels: bug

#8761 Adding esri error response to mock web services
  mock-web-services/esri/__init__.py
  server/test/resources/esri/esriErrorResponse.json
Labels: ignore-for-release

#8735 [Multiple File Upload] Add context for remove link for screen readers
  browser-test/src/applicant/questions/file.test.ts
  server/app/views/applicant/ApplicantFileUploadRenderer.java
Labels: under-development

#8764 [Multiple File Upload] Show correct UI in admin question preview
  browser-test/image_snapshots/admin_question_preview_test/file-question-preview-single-file.png
  browser-test/image_snapshots/admin_question_preview_test/file-question-preview.png
  browser-test/src/admin/admin_question_preview.test.ts
  server/app/views/admin/questions/QuestionPreview.java
Labels: under-development

#8768 Replace filter chip id with CSS class for simplicity
  server/app/assets/stylesheets/styles.css
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramIndexView.java
Labels: ignore-for-release

#8751 [Program Migration] Allow importing large programs + some small frontend fixes
  browser-test/image_snapshots/admin_program_migration_test/import-page-no-data.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-missing-program-fields.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-parse.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-program-already-exists.png
  browser-test/image_snapshots/admin_program_migration_test/saved-program-success-no-dups.png
  browser-test/image_snapshots/admin_program_migration_test/saved-program-success.png
  server/app/views/admin/migration/AdminImportView.java
  server/conf/application.conf
Labels: bug

#8692 Always filter when the download button is pressed on admin application list
  browser-test/image_snapshots/application_review_test/applications-filtered-after-download.png
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: enhancement

#8651 Remove program details link if no program detail url is specified.
  browser-test/image_snapshots/applicant_application_index_test/program-details-visibility.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: bug

#8781 Include the uri endpoint called in metric counts
  server/app/services/geo/esri/RealEsriClient.java
Labels: enhancement

#8664 Removing Status related triggers
  server/app/models/ApplicationModel.java
  server/app/repository/ApplicationEventRepository.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/conf/evolutions/default/78.sql
  server/test/models/ApplicationEventModelTest.java
  server/test/models/ApplicationModelTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: database

#8767 Add floating "Not Production" banner in North Star
  browser-test/src/applicant/northstar_not_production_banner.test.ts
  server/app/services/AlertSettings.java
  server/app/services/AlertType.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/NavigationFragment.html
  server/app/views/components/AlertFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8797 Simplify passing around claims attribute names
  server/app/auth/oidc/StandardClaimsAttributeNames.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsApplicantProfileCreator.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
Labels: ignore-for-release

#8790 Fix banner bug when civic entity production URL is an empty string
  browser-test/src/applicant/northstar_not_production_banner.test.ts
  server/app/views/NorthStarBaseView.java
  server/app/views/components/AlertFragment.html
Labels: bug, under-development, [Epic] North Star Applicant UI

#8760 Handle Esri Error response
  browser-test/src/applicant/application_address_correction.test.ts
  server/app/services/geo/esri/RealEsriClient.java
  server/app/services/geo/esri/models/EsriError.java
  server/app/services/geo/esri/models/FindAddressCandidatesResponse.java
  server/test/services/geo/esri/EsriClientTest.java
  server/test/services/geo/esri/EsriTestHelper.java
Labels: bug

#8806 Delete "Prevent Duplicate Submission" template
  server/app/views/applicant/PreventDuplicateSubmissionTemplate.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8803 Include hidden questions in CSV export
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
Labels: enhancement

#8782 When the user clicks "Apply" on a program card, navigate to first page of the application
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/applicant_prevent_duplicate_submission.test.ts
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/applicant/northstar_ineligible.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/applicant/questions/address.test.ts
  browser-test/src/applicant/questions/checkbox.test.ts
  browser-test/src/applicant/questions/currency.test.ts
  browser-test/src/applicant/questions/date.test.ts
  browser-test/src/applicant/questions/dropdown.test.ts
  browser-test/src/applicant/questions/email.test.ts
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/applicant/questions/id.test.ts
  browser-test/src/applicant/questions/name.test.ts
  browser-test/src/applicant/questions/number_input.test.ts
  browser-test/src/applicant/questions/phone.test.ts
  browser-test/src/applicant/questions/radio_button.test.ts
  browser-test/src/applicant/questions/static_text.test.ts
  browser-test/src/applicant/questions/text.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/questiontypes/PhoneQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8807 Add title and description fragment to North Star "Application Review" page
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  browser-test/src/applicant/northstar_program_summary.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
Labels: under-development, [Epic] North Star Applicant UI

#8821 [Multiple File Upload] Contain long file names to the visible portion of the screen
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/assets/file-upload-veryverylongnamethatcouldcauserenderingissuesandhideremovefile.png
  server/app/views/applicant/ApplicantFileUploadRenderer.java
Labels: under-development

#8773 [Multiple File Upload] Disable interaction while waiting for files to upload
  browser-test/image_snapshots/file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name.png
  server/app/assets/javascripts/file_upload.ts
  server/app/assets/stylesheets/styles.css
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/conf/i18n/messages
Labels: i18n, under-development

#8836 Allow blank values for optional PAI questions
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: bug

#8849 Use ApplicantQuestions directly to build CsvExportConfig
  browser-test/src/applicant/application_download.test.ts
  server/app/services/applicant/question/NameQuestion.java
  server/app/services/export/CsvExporterService.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/PdfExporterTest.java
Labels: enhancement

#8850 Update text on "Submit Application" button
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/applicant/northstar_ineligible.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8848 Refactor Progress Bar
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  server/app/services/MessageKey.java
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/NorthStarAddressCorrectionBlockView.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/applicant/ProgressBar.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8863 Add flag PGADMIN_CONFIG_WTF_CSRF_ENABLED = False to the dev pgadmin docker container
  docker-compose.dev.yml
Labels: infrastructure, ignore-for-release

#8774 Use correct URL when showing filtered programs on homepage
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/controllers/HomeController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: under-development

#8868 Fix bug in program filtering when user switches to another language
  server/app/views/applicant/ProgramIndexView.java
Labels: under-development

#8869 Add an Index to applications ON submit_time and id.
  server/conf/evolutions/default/79.sql
Labels: ce-seattle, database

#8882 Add step to evolutions PR template to test downs
  .github/pull_request_template.md
Labels: ignore-for-release

#8877 Update the link "Save and finish application later" to be Review and exit
  browser-test/image_snapshots/date_test/date-filled-in-north-star-medium.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: under-development, [Epic] North Star Applicant UI

#8871 Un-skip translation test
  browser-test/src/admin/admin_program_translation.test.ts
Labels: infrastructure, [Epic] North Star Applicant UI

#8701 Remove now-unused program info view
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: bug

#8885 Updating PR checks for evolutions scripts
  .github/pull_request_template.md
Labels: ignore-for-release

#8835 Add support for multiple file uploads to Northstar UI
  browser-test/image_snapshots/file_test/file-required-error-north-star-medium.png
  browser-test/image_snapshots/file_test/file-required-error-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-required-error-north-star.png
  browser-test/image_snapshots/file_test/file-required-north-star-medium.png
  browser-test/image_snapshots/file_test/file-required-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/src/applicant/questions/file.test.ts
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/app/views/questiontypes/FileUploadQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8813 Program Admin View now displays applications sorted by their Submit Time (descending), also applies to JSON and CSV exports. #8743
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/repository/ApiKeyRepository.java
  server/app/repository/ProgramRepository.java
  server/app/services/IdentifierBasedPaginationSpec.java
  server/app/services/PageNumberBasedPaginationSpec.java
  server/app/services/PaginationInfo.java
  server/app/services/PaginationResult.java
  server/app/services/apikey/ApiKeyService.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporterService.java
  server/app/services/pagination/BasePaginationSpec.java
  server/app/services/pagination/PageNumberPaginationSpec.java
  server/app/services/pagination/RowIdSequentialAccessPaginationSpec.java
  server/app/services/pagination/SubmitTimeSequentialAccessPaginationSpec.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/test/repository/ApiKeyRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: bug

#8891 Update Northstar file upload styles to match mocks
  browser-test/image_snapshots/file_test/file-required-error-north-star-medium.png
  browser-test/image_snapshots/file_test/file-required-error-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-required-error-north-star.png
  browser-test/image_snapshots/file_test/file-required-north-star-medium.png
  browser-test/image_snapshots/file_test/file-required-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-required-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/questiontypes/FileUploadQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8884 Add data to file_urls column in CSV export
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/export/CsvExporterService.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/export/CsvExporterServiceTest.java
Labels: enhancement

#8930 Add unit test to exercise evolutions
  server/test/app/EvolutionsTest.java
Labels: infrastructure, tech-debt

#8855 Show questions and answers on "Application Summary" page
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/applicant/northstar_ineligible.test.ts
  browser-test/src/applicant/questions/date.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/BlockSummaryFragment.html
  server/app/views/applicant/NorthStarAnswerData.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarBlockSummary.java
  server/app/views/applicant/QuestionSummaryFragment.html
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8923 Enable multi-file upload on dev
  server/conf/application.dev.conf
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: under-development

#8937 Pull file upload file type specifiers from config
  server/app/services/settings/SettingsManifest.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/FileUploadQuestionFragment.html
  server/conf/application.conf
  server/conf/env-var-docs.json
Labels: enhancement

#8929 Add file upload admin preview for Northstar
  browser-test/image_snapshots/admin_question_preview_test/north-star-file-question-preview.png
  browser-test/src/admin/admin_question_preview.test.ts
  server/app/views/admin/questions/QuestionPreviewFragment.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/questiontypes/FileUploadQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8924 Migrate address tests to North Star
  browser-test/image_snapshots/address_test/address-errors.png
  browser-test/image_snapshots/northstar_address_test/address-errors-north-star-medium.png
  browser-test/image_snapshots/northstar_address_test/address-errors-north-star-mobile.png
  browser-test/image_snapshots/northstar_address_test/address-errors-north-star.png
  browser-test/image_snapshots/northstar_address_test/address-north-star-medium.png
  browser-test/image_snapshots/northstar_address_test/address-north-star-mobile.png
  browser-test/image_snapshots/northstar_address_test/address-north-star.png
  browser-test/src/applicant/questions/address.test.ts
  browser-test/src/applicant/questions/northstar_address.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/questiontypes/AddressQuestionFragment.html
Labels: infrastructure, [Epic] North Star Applicant UI

#8946 Refactor SimpleEmail to be in new services/email directory
  server/app/durablejobs/AbstractDurableJobRunner.java
  server/app/durablejobs/RecurringDurableJobRunner.java
  server/app/durablejobs/StartupDurableJobRunner.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/email/aws/SimpleEmail.java
  server/test/durablejobs/RecurringDurableJobRunnerTest.java
  server/test/durablejobs/StartupDurableJobRunnerTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: ignore-for-release

#8964 Add debugging to troubleshoot global admin permissions
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
Labels: ignore-for-release

#8927 [North Star] Create My Applications section on the homepage
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/applicant_application_statuses.test.ts
  server/app/views/admin/programs/ProgramCardPreviewFragment.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8950 Update button text to "Download your application"
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8889 Basic styling for "Application Summary" page
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/BlockSummaryFragment.html
  server/app/views/applicant/NorthStarAnswerData.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/QuestionSummaryFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8971 Change log level for okta troubleshooting
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
Labels: ignore-for-release

#8977 Show categories on North Star program cards
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: under-development

#8976 Fix intermittent test bug
  browser-test/src/applicant/questions/file.test.ts
Labels: infrastructure, ignore-for-release

#8935 Move PaginationInfo and PaginationResult into the services.pagination package.
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/repository/ApiKeyRepository.java
  server/app/repository/ProgramRepository.java
  server/app/services/apikey/ApiKeyService.java
  server/app/services/export/JsonExporterService.java
  server/app/services/pagination/PaginationInfo.java
  server/app/services/pagination/PaginationResult.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/test/repository/ApiKeyRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
Labels: tech-debt, ignore-for-release

#8982 Revert "Enable multi-file upload on dev (#8923)"
  server/conf/application.dev.conf
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: ignore-for-release

#8892 [Multiple File Upload] Add duplicate file handling to North Star
  browser-test/src/applicant/questions/file.test.ts
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/test/views/fileupload/FileUploadViewStrategyTest.java
Labels: under-development, [Epic] North Star Applicant UI

#8975 Delete button.print from messages since it's unused
  server/app/services/MessageKey.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, ignore-for-release, [Epic] North Star Applicant UI

#8933 Add uploading tag and disable buttons for northstar file upload.
  browser-test/image_snapshots/file_test/file-required-error-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8984 Automatic response for community contributors
  .github/workflows/contributor_response.yml
Labels: ignore-for-release

#8972 Migrate checkbox tests to North Star
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/checkbox_test/checkbox-markdown-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-markdown-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-markdown-north-star.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-mobile.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-preview-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-with-markdown-north-star.png
  browser-test/src/applicant/questions/checkbox.test.ts
  browser-test/src/applicant/questions/northstar_checkbox.test.ts
  server/app/views/questiontypes/QuestionBaseFragment.html
Labels: infrastructure, [Epic] North Star Applicant UI

#8995 [North Star Applicant UI] Display relevant program categories as non-functional filter chips on homepage
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development

#9007 Contributor response fix
  .github/workflows/contributor_response.yml
Labels: ignore-for-release

#9005 [Program Migration] handle server errors
  server/app/controllers/admin/AdminImportController.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: bug

#9012 Update liberica openjdk to 17.0.13
  Dockerfile
  formatter/formatter.Dockerfile
Labels: infrastructure, ignore-for-release

#9011 Update bot name
  .github/workflows/contributor_response.yml
Labels: ignore-for-release

#9013 Add styling to "Address Correction" page with multiple options
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/AddressCorrectionOptionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#8986 Enable multi-line answers on the "Application Summary" page
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NorthStarAnswerData.java
  server/app/views/applicant/QuestionSummaryFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9024 Delete obsolete comment
  server/app/views/applicant/NorthStarAnswerData.java
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8239 Pac4j 6
  browser-test/src/support/config.ts
  server/app/auth/ApiAuthenticator.java
  server/app/auth/CiviFormProfileData.java
  server/app/auth/CiviFormSessionStoreFactory.java
  server/app/auth/FakeAdminClient.java
  server/app/auth/GuestClient.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsApplicantProfileCreator.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
  server/app/auth/saml/SamlProfileCreator.java
  server/app/controllers/LoginController.java
  server/app/modules/SecurityModule.java
  server/build.sbt
  server/test/auth/ApiAuthenticatorTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
Labels: dependencies

#9014 [Program Migration] Reset program type to default on export
  server/app/services/migration/ProgramMigrationService.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: bug

#9003 Fix navigation when applying to a program with admin-specified block order
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/applicant_prevent_duplicate_submission.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/applicant/northstar_ineligible.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: bug, under-development, [Epic] North Star Applicant UI

#9041 Have contributor autoresponder check an ignore list
  .github/workflows/contributor_response.yml
Labels: ignore-for-release

#9047 Adding Viewport to Northstar
  server/app/views/applicant/ApplicantBaseFragment.html
Labels: bug, under-development

#9043 [Program Migration ] Prevent negative block ids
  server/app/controllers/admin/AdminImportController.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: bug

#8936 [Eligibility message] feature flag for eligibility message
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, feature-flag

#9026 Set tab titles to match legacy tab titles
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  browser-test/src/applicant/northstar_program_summary.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/services/MessageKey.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/NorthStarAddressCorrectionBlockView.java
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#9063 Migrate id.test.ts to North Star
  browser-test/image_snapshots/northstar_id_test/id-errors-north-star.png
  browser-test/image_snapshots/northstar_id_test/id-north-star.png
  browser-test/src/applicant/questions/id.test.ts
  browser-test/src/applicant/questions/northstar_id.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#9080 Fix North Star tag
  browser-test/src/applicant/questions/northstar_dropdown.test.ts
  browser-test/src/applicant/questions/northstar_name.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#9062 Migrate date.test.ts to North Star
  browser-test/image_snapshots/northstar_date_test/date-errors-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-north-star.png
  browser-test/src/applicant/questions/date.test.ts
  browser-test/src/applicant/questions/northstar_date.test.ts
Labels: under-development, [Epic] North Star Applicant UI

#7740 Update Play Ebean to v7
  server/app/auth/CiviFormProfile.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/controllers/monitoring/MetricsController.java
  server/app/durablejobs/AbstractJobScheduler.java
  server/app/models/AccountModel.java
  server/app/models/ApiKeyModel.java
  server/app/models/ApplicantModel.java
  server/app/models/ApplicationEventModel.java
  server/app/models/ApplicationModel.java
  server/app/models/ApplicationStatusesModel.java
  server/app/models/BaseModel.java
  server/app/models/CategoryModel.java
  server/app/models/EbeanServerConfigStartup.java
  server/app/models/PersistedDurableJobModel.java
  server/app/models/ProgramModel.java
  server/app/models/QuestionModel.java
  server/app/models/SettingsGroupModel.java
  server/app/models/StoredFileModel.java
  server/app/models/TrustedIntermediaryGroupModel.java
  server/app/models/VersionModel.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/QueryProfileLocationBuilder.java
  server/app/repository/VersionRepository.java
  server/app/services/apikey/ApiKeyService.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/monitoring/MonitoringMetricCounters.java
  server/app/services/seeding/DatabaseSeedTask.java
  server/conf/evolutions/default/80.sql
  server/project/plugins.sbt
  server/test/controllers/monitoring/MetricsControllerTest.java
  server/test/durablejobs/jobs/MigratePrimaryApplicantInfoJobTest.java
  server/test/services/apikey/ApiKeyServiceTest.java
Labels: tech-debt, dependencies, database

#9071 Create EmailSendClient interface and associated module and refactor references to use
  server/app/durablejobs/AbstractDurableJobRunner.java
  server/app/durablejobs/RecurringDurableJobRunner.java
  server/app/durablejobs/StartupDurableJobRunner.java
  server/app/modules/EmailSendModule.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/services/email/EmailSendClient.java
  server/app/services/email/EmailSendProvider.java
  server/app/services/email/aws/SimpleEmail.java
  server/conf/application.conf
  server/conf/helper/cloud.conf
  server/conf/helper/email.conf
  server/test/durablejobs/RecurringDurableJobRunnerTest.java
  server/test/durablejobs/StartupDurableJobRunnerTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
Labels: ignore-for-release

#9065 [Eligibility Message] build eligibility msg form
  server/app/forms/admin/BlockEligibilityMessageForm.java
  server/test/forms/admin/BlockEligibilityMessageFormTest.java
Labels: feature, google.org-swe

#9092 Move csv export classes to services.export package
  server/app/services/export/Column.java
  server/app/services/export/CsvExportConfig.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/enums/ColumnType.java
Labels: ignore-for-release

#9093 Update server error page to use new strings
  browser-test/image_snapshots/error_pages_test/server-error-page.png
  browser-test/image_snapshots/program_deep_link_test/disabled-program-error-info-page.png
  browser-test/src/error_pages.test.ts
  server/app/views/errors/ErrorComponent.java
  server/app/views/errors/InternalServerError.java
Labels: enhancement
