Repository civiform/civiform, pull requests merged in 2024-03, with the labels that each got.

#6788 Hide build.properties from renovate
  renovate.json
Labels: infrastructure, ignore-for-release

#6791 Disable the `playwright/valid-valid` lint error.
  browser-test/.eslintrc.json
Labels: infrastructure, ignore-for-release

#6793 Stop ignoring build.properties in renovate
  renovate.json
Labels: infrastructure, ignore-for-release

#6796 Allow disabling of errorprone
  docker-compose.yml
  server/build.sbt
Labels: infrastructure, ignore-for-release

#6802 Fixing prefer-web-first-assertion lint errors #5
  browser-test/image_snapshots/trusted_intermediary_test/ti-groups-page.png
  browser-test/src/support/admin_api_keys.ts
  browser-test/src/support/admin_program_image.ts
  browser-test/src/support/admin_program_statuses.ts
  browser-test/src/support/admin_settings.ts
  browser-test/src/support/admin_ti_groups.ts
  browser-test/src/support/admin_translations.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/admin/ti/TrustedIntermediaryGroupListView.java
Labels: tech-debt, ignore-for-release

#6768 Use USWDS alert for "Please select a file" error on file upload question
  browser-test/image_snapshots/file_test/file-errors.png
  server/app/assets/javascripts/file_upload.ts
  server/app/views/ViewUtils.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/components/ProgramQuestionBank.java
  server/app/views/style/BaseStyles.java
Labels: enhancement

#6799 Adding script to summarize release messages
  bin/summarize-release-messages
Labels: infrastructure, ignore-for-release

#6797 Fixing prefer-web-first-assertions lint errors #3
  browser-test/src/admin_program_image.test.ts
  browser-test/src/application_navigation.test.ts
  browser-test/src/application_review.test.ts
  browser-test/src/file.test.ts
  browser-test/src/header.test.ts
Labels: ignore-for-release

#6806 Update no valid address found message text
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-medium.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-mobile.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-medium.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-mobile.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned.png
  browser-test/src/support/applicant_questions.ts
  server/conf/i18n/messages
Labels: i18n, enhancement

#6801 Fixing prefer-web-first-assertion lint errors #4
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_settings.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/number_input.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_questions.ts
Labels: ignore-for-release

#6808 Revert "Update no valid address found message text (#6806)"
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-medium.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored-mobile.png
  browser-test/image_snapshots/application_navigation_test/esri-service-errored.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-medium.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned-mobile.png
  browser-test/image_snapshots/application_navigation_test/no-suggestions-returned.png
  browser-test/src/support/applicant_questions.ts
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#6810 Add #validateQuestionIsOnPage helper method to browser tests
  browser-test/src/application_navigation.test.ts
  browser-test/src/file.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#6811 Update detailed API docs link on generated API docs page
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/draft-not-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  server/app/views/api/ApiDocsView.java
  server/app/views/components/AccordionFactory.java
Labels: enhancement

#6817 Make one less db call on TI dashboard
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: scaling, google.org-swe, ignore-for-release

#6814 Remove "Back" button from Manage translations page
  browser-test/image_snapshots/admin_program_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation-with-image-description.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_translation_test/question-translation.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  browser-test/src/support/admin_translations.ts
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/app/views/admin/questions/QuestionTranslationView.java
Labels: bug

#6513 Basic additions to use thymeleaf
  server/app/modules/ThymeleafModule.java
  server/build.sbt
  server/conf/application.conf
Labels: google.org-swe

#6771 Localize TI dashboard
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: bug, google.org-swe

#6820 Use USWDS alert for "file too large" error on program image page
  browser-test/image_snapshots/admin_program_image_test/program-image-with-too-large-error.png
  browser-test/src/support/admin_program_image.ts
  server/app/assets/javascripts/admin_program_image.ts
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/app/views/style/ReferenceClasses.java
  server/test/views/fileupload/FileUploadViewStrategyTest.java
Labels: feature

#6824 Fix tidashboard timeout
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: bug

#6700 Create north star feature flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, ignore-for-release

#6825 Add additional reviewer checkbox to general PR steps
  .github/pull_request_template.md
Labels: ignore-for-release

#6809 Use a filter to ensure that sessions have a user profile
  browser-test/src/profile_filter.test.ts
  server/app/filters/CiviFormProfileFilter.java
  server/conf/application.conf
  server/test/controllers/HomeControllerAuthenticatedTest.java
  server/test/controllers/HomeControllerTest.java
  server/test/filters/CiviFormProfileFilterTest.java
Labels: authentication, google.org-swe, ignore-for-release

#6829 Add under-development label
  .github/release.yml
Labels: ignore-for-release

#6830 reference under-development label
  .github/pull_request_template.md
Labels: ignore-for-release

#6831 Moving Mock Web Services Docs to Wiki
  mock-web-services/README.md
Labels: ignore-for-release

#6836 Default PROGRAM_CARD_IMAGES flag to true
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-images-flag-on.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-image-flag-off.png
  browser-test/image_snapshots/admin_program_list_test/program-list.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view-images-flag-off.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-flag-off.png
  browser-test/src/admin_program_creation.test.ts
  browser-test/src/admin_program_image.test.ts
  browser-test/src/admin_program_list.test.ts
  browser-test/src/admin_program_translation.test.ts
  browser-test/src/admin_program_viewing.test.ts
  browser-test/src/applicant_application_index.test.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/ProgramImageUtils.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/components/ProgramCardFactory.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/views/ProgramImageUtilsTest.java
Labels: feature

#6839 Allow Question Help Text to Not Require $this
  server/app/services/question/types/QuestionDefinition.java
  server/app/views/admin/questions/QuestionEditView.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: enhancement

#6840 Using the USWDS pagination component on the Program Admin applications list view
  browser-test/image_snapshots/admin_application_statuses_test/application-list-pagination.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-default.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-eligibility-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/image_snapshots/application_review_test/applications-filtered.png
  browser-test/image_snapshots/application_review_test/applications-unfiltered.png
  browser-test/image_snapshots/application_review_test/cf-admin-applications-page.png
  browser-test/src/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
Labels: enhancement

#6846 Add new string for confirmation message when deleting an enumerator answer
  server/app/services/MessageKey.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/conf/i18n/messages
Labels: i18n, under-development

#6850 Revert "Updates for file server/conf/i18n/messages"
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, google.org-swe

#6558 Fixing Tailwind and Updating to Latest Version
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-invalid-admin-names-error.png
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/components/ButtonStyles.java
  server/app/views/components/FieldWithLabel.java
  server/app/views/style/BaseStyles.java
  server/package-lock.json
  server/package.json
  server/project/TailwindBuilder.scala
Labels: tech-debt, dependencies

#6855 Update deprecated renovate config settings
  renovate.json
Labels: infrastructure, ignore-for-release

#6853 Only regenerate the settings manifest if it needs it
  bin/generate-settings-manifest
Labels: infrastructure, ignore-for-release

#6851 Include Localized Program name in reporting
  browser-test/image_snapshots/application_review_test/cf-admin-reporting-page.png
  browser-test/image_snapshots/application_review_test/program-specific-reporting-page.png
  browser-test/image_snapshots/application_review_test/reporting-page.png
  browser-test/src/applicant/application_review.test.ts
  server/app/controllers/admin/AdminReportingController.java
  server/app/repository/ReportingRepository.java
  server/app/services/reporting/ApplicationSubmissionsStat.java
  server/app/services/reporting/ReportingService.java
  server/app/views/admin/reporting/AdminReportingIndexView.java
  server/app/views/admin/reporting/AdminReportingShowView.java
  server/conf/evolutions/default/66.sql
  server/test/repository/ReportingRepositoryTest.java
Labels: feature, database

#6864 Pass in sbt version to dockerfiles
  .github/workflows/tests.yaml
  Dockerfile
  bin/build-dev
  bin/build-prod
  prod.Dockerfile
Labels: infrastructure, ignore-for-release

#6866 Check in JMeter tests
  load-test/applicant_landing_page.jmx
  load-test/applicant_submit_application.jmx
  load-test/ti_landing_page.jmx
Labels: infrastructure, scaling, ignore-for-release

#6870 Add a github action to run jmeter test
  .github/workflows/run_jmeter_test.yaml
Labels: scaling, ignore-for-release, github_actions

#6856 Fix Getting Branch Name
  bin/dev-show-trace-file
Labels: infrastructure, ignore-for-release

#6879 Fix JMeter github action
  .github/workflows/run_jmeter_test.yaml
Labels: google.org-swe, ignore-for-release, github_actions

#6877 Fix for TI dashboard client cards needing to only show submitted applications
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: bug

#6803 Auto Recompile SCSS Files
  server/project/WebAssetsBundler.scala
  server/webpack.config.js
Labels: infrastructure, ignore-for-release

#6885 Updating owasp html sanitizer to latest release
  server/app/views/components/TextFormatter.java
  server/build.sbt
Labels: dependencies

#6883 Update localstack to v3.2.0
  bin/localstack/wait
  browser-test/src/support/index.ts
  docker-compose.yml
  localstack/localstack.Dockerfile
Labels: infrastructure

#6701 Gated on feature flag, render blank page
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/NorthStarApplicantBaseView.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
Labels: feature, google.org-swe, ignore-for-release, under-development

#6881 Move ApplicationBaseView.Params to its own class
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/views/ApplicationBaseView.java
  server/app/views/ApplicationBaseViewParams.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/app/views/applicant/EditOrDiscardAnswersModalCreator.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
Labels: tech-debt, google.org-swe, ignore-for-release

#6868 Enable SAVE_ON_ALL_ACTIONS flag in browser tests
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner-completed.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/applicant/application_navigation.test.ts
  browser-test/src/applicant/questions/phone.test.ts
  browser-test/src/applicant/questions/text.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/applicant_questions.ts
  server/conf/application.dev-browser-tests.conf
Labels: under-development

#6888 Implementing redesign of the TI dashboard organization members table
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table-many.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
Labels: enhancement

#6886 Update screenshot for multiple ineligible questions
  browser-test/image_snapshots/admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/src/admin/admin_predicates.test.ts
Labels: ignore-for-release

#6889 Rename JsonExporter to JsonExporterService
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/services/export/JsonExporterService.java
  server/app/services/export/ProgramJsonSampler.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: ignore-for-release

#6893 Move admin predicate display logic to helper method
  server/app/controllers/admin/PredicateUtils.java
  server/app/controllers/admin/ReadablePredicate.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/test/controllers/admin/PredicateUtilsTest.java
Labels: ignore-for-release

#6714 Program admin search references PAI columns
  browser-test/image_snapshots/application_review_test/applications-unfiltered-pai.png
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/repository/ProgramRepository.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporterService.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: enhancement, under-development

#6702 Render checkbox question with Thymeleaf
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star.png
  browser-test/src/applicant/questions/checkbox.test.ts
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
Labels: google.org-swe, under-development

#6710 Static question rendering
  browser-test/image_snapshots/static_text_test/markdown-text-north-star-medium.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star-mobile.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star.png
  browser-test/image_snapshots/static_text_test/static-text-accordion-closed.png
  browser-test/image_snapshots/static_text_test/static-text-accordion-open.png
  browser-test/image_snapshots/static_text_test/static-text.png
  browser-test/src/applicant/questions/static_text.test.ts
  server/app/services/applicant/question/StaticContentQuestion.java
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/components/TextFormatter.java
  server/app/views/questiontypes/StaticTextQuestionFragment.html
  server/test/views/components/TextFormatterTest.java
Labels: google.org-swe, under-development, [Epic] North Star Applicant UI

#6715 Add previous, continue, and review buttons
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star-medium.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star-mobile.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star.png
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
Labels: google.org-swe, under-development, [Epic] North Star Applicant UI

#6904 Prepend Notification to Non-prod generated emails
  browser-test/src/admin/admin_application_statuses.test.ts
  server/app/services/cloud/aws/SimpleEmail.java
Labels: enhancement

#6915 Make jmeter test action more configurable
  .github/workflows/run_jmeter_test.yaml
  load-test/applicant_landing_page.jmx
  load-test/applicant_submit_application.jmx
  load-test/ti_landing_page.jmx
Labels: scaling, google.org-swe, ignore-for-release, github_actions

#6892 Messages to be translated on TI Dashboard
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table-many.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: bug, i18n, google.org-swe

#6935 [Program Card Images] Make "Image description required" note be a USWDS info-style alert
  browser-test/image_snapshots/admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-continue.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-description.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-too-large-error.png
  server/app/views/admin/programs/ProgramImageView.java
Labels: enhancement

#6941 Error if Playwright 'Only' used in CI"
  browser-test/playwright.config.ts
Labels: infrastructure, ignore-for-release

#6849 Add PDF preview of forms for admins
  browser-test/image_snapshots/admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-block-edit-with-universal-questions.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-view-universal-questions.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing-extra-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/src/admin/admin_program_preview.test.ts
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramPreviewController.java
  server/app/services/applications/PdfExporterService.java
  server/app/services/export/PdfExporter.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/services/applications/PdfExporterServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/PdfExporterTest.java
Labels: enhancement

#6944 Rollback codecov action to v3
  .github/workflows/pr_env_var_docs.yaml
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#6900 Render text questions
  browser-test/image_snapshots/text_test/text-errors-north-star-medium.png
  browser-test/image_snapshots/text_test/text-errors-north-star-mobile.png
  browser-test/image_snapshots/text_test/text-errors-north-star.png
  browser-test/image_snapshots/text_test/text-north-star-medium.png
  browser-test/image_snapshots/text_test/text-north-star-mobile.png
  browser-test/image_snapshots/text_test/text-north-star.png
  browser-test/src/applicant/questions/text.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: google.org-swe, under-development, [Epic] North Star Applicant UI

#6948 Enable QUESTION_CACHE_ENABLED flag by default
  server/conf/helper/feature-flags.conf
Labels: google.org-swe, feature-flag, enhancement

#6953 Make `AbstractExporterTest`'s inner util classes static
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: ignore-for-release

#6952 Render number questions
  browser-test/image_snapshots/number_input_test/number-errors-north-star-medium.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star-mobile.png
  browser-test/image_snapshots/number_input_test/number-errors-north-star.png
  browser-test/image_snapshots/number_input_test/number-north-star-medium.png
  browser-test/image_snapshots/number_input_test/number-north-star-mobile.png
  browser-test/image_snapshots/number_input_test/number-north-star.png
  browser-test/src/applicant/questions/number_input.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
Labels: google.org-swe, under-development, [Epic] North Star Applicant UI

#6957 Submitting TI org member statuses to Transifex for translation
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#6740 Implement radio question
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-medium.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star-mobile.png
  browser-test/image_snapshots/radio_button_test/radio-button-errors-north-star.png
  browser-test/image_snapshots/radio_button_test/radio-button-north-star-medium.png
  browser-test/image_snapshots/radio_button_test/radio-button-north-star-mobile.png
  browser-test/image_snapshots/radio_button_test/radio-button-north-star.png
  browser-test/src/applicant/questions/radio_button.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
Labels: google.org-swe, under-development

#6960 Adding links to localstack
  server/app/views/dev/DatabaseSeedView.java
Labels: ignore-for-release

#6962 Refactor north star tests into separate describe
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-medium.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star-mobile.png
  browser-test/image_snapshots/checkbox_test/checkbox-errors-north-star.png
  browser-test/src/applicant/questions/checkbox.test.ts
  browser-test/src/applicant/questions/static_text.test.ts
Labels: tech-debt, google.org-swe, ignore-for-release

#6965 Refactor question title to be conditionally label or legend
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/StaticTextQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: a11y, tech-debt, google.org-swe, under-development, [Epic] North Star Applicant UI

#6873 Export questions from all program versions via JSON API
  server/app/repository/ProgramRepository.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporterService.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: enhancement, api

#6967 Remove unnecessary fetches from application export query
  server/app/repository/ProgramRepository.java
Labels: ignore-for-release

#6981 Access program ids directly instead of through the ProgramDefinition
  server/app/repository/VersionRepository.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: ignore-for-release

#6968 Render name questions
  browser-test/image_snapshots/name_test/name-errors-north-star-medium.png
  browser-test/image_snapshots/name_test/name-errors-north-star-mobile.png
  browser-test/image_snapshots/name_test/name-errors-north-star.png
  browser-test/image_snapshots/name_test/name-north-star-medium.png
  browser-test/image_snapshots/name_test/name-north-star-mobile.png
  browser-test/image_snapshots/name_test/name-north-star.png
  browser-test/src/applicant/questions/name.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
Labels: google.org-swe, under-development, [Epic] North Star Applicant UI

#6969 Show a success alert after successfully saving TI client edits
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/style/BaseStyles.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
Labels: enhancement

#6986 Align buttons in edit-or-discard-answers modal
  browser-test/image_snapshots/application_navigation_test/error-on-previous-modal.png
  browser-test/image_snapshots/application_navigation_test/error-on-review-modal.png
  server/app/views/applicant/EditOrDiscardAnswersModalCreator.java
Labels: enhancement

#6984 Updating header tests to use custom civiform fixtures
  browser-test/playwright.config.ts
  browser-test/src/header.test.ts
  browser-test/src/support/civiform_fixtures.ts
Labels: infrastructure, ignore-for-release

#6989 Include URL origin of export on PDF preview
  server/app/services/export/PdfExporter.java
  server/test/services/export/PdfExporterTest.java
Labels: enhancement

#6905 Allow guest emails to be used for application updates
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/applicant/ApplicantPersonalInfo.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applications/ProgramAdminApplicationService.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/PreventDuplicateSubmissionView.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/services/applicant/ApplicantPersonalInfoTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/export/AbstractExporterTest.java
Labels: enhancement, under-development

#6966 Render ID questions
  browser-test/image_snapshots/id_test/id-errors-north-star-medium.png
  browser-test/image_snapshots/id_test/id-errors-north-star-mobile.png
  browser-test/image_snapshots/id_test/id-errors-north-star.png
  browser-test/image_snapshots/id_test/id-north-star-medium.png
  browser-test/image_snapshots/id_test/id-north-star-mobile.png
  browser-test/image_snapshots/id_test/id-north-star.png
  browser-test/src/applicant/questions/id.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#6997 Add message for when displaying an unfiltered list of clients on the TI dashboard
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#6950 Move eligibility gating toggle to be with the rest of the program settings
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_settings_test/dropdown-with-settings.png
  browser-test/image_snapshots/admin_program_settings_test/gating-eligibility.png
  browser-test/image_snapshots/admin_program_settings_test/nongating-eligibility.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_settings.test.ts
  browser-test/src/applicant/application_navigation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/forms/ProgramForm.java
  server/app/forms/ProgramSettingsForm.java
  server/app/models/ProgramModel.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramSettingsEditView.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/models/ProgramModelTest.java
  server/test/models/VersionModelTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: enhancement

#6990 Render currency questions
  browser-test/image_snapshots/currency_test/currency-errors-north-star-medium.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star-mobile.png
  browser-test/image_snapshots/currency_test/currency-errors-north-star.png
  browser-test/image_snapshots/currency_test/currency-north-star-medium.png
  browser-test/image_snapshots/currency_test/currency-north-star-mobile.png
  browser-test/image_snapshots/currency_test/currency-north-star.png
  browser-test/src/applicant/questions/currency.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7008 Update bin/fmt to run on html files
  formatter/fmt
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/StaticTextQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: tech-debt, ignore-for-release, [Epic] North Star Applicant UI

#7006 Adding Swagger v2 models
  server/app/services/openapi/v2/ApiKeyLocation.java
  server/app/services/openapi/v2/Contact.java
  server/app/services/openapi/v2/Definition.java
  server/app/services/openapi/v2/DefinitionType.java
  server/app/services/openapi/v2/Format.java
  server/app/services/openapi/v2/Header.java
  server/app/services/openapi/v2/HttpStatusCode.java
  server/app/services/openapi/v2/In.java
  server/app/services/openapi/v2/Info.java
  server/app/services/openapi/v2/MimeType.java
  server/app/services/openapi/v2/Operation.java
  server/app/services/openapi/v2/OperationType.java
  server/app/services/openapi/v2/Parameter.java
  server/app/services/openapi/v2/PathItem.java
  server/app/services/openapi/v2/Paths.java
  server/app/services/openapi/v2/Response.java
  server/app/services/openapi/v2/Scheme.java
  server/app/services/openapi/v2/SecurityDefinition.java
  server/app/services/openapi/v2/SecurityRequirement.java
  server/app/services/openapi/v2/SecurityType.java
  server/app/services/openapi/v2/Swagger.java
  server/app/services/openapi/v2/Tag.java
Labels: under-development

#6685 Warn users if they upload a file that's too large
  browser-test/image_snapshots/file_test/file-error-none-selected.png
  browser-test/image_snapshots/file_test/file-error-too-large.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_file_question.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/services/cloud/ApplicantStorageClient.java
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/cloud/azure/AzureApplicantStorage.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/style/ReferenceClasses.java
  server/test/services/cloud/aws/AwsApplicantStorageTest.java
  server/test/support/cloud/FakeApplicantStorageClient.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: enhancement

#7000 Create devcontainer file for Github codespaces
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Labels: infrastructure, google.org-swe, ignore-for-release

#6937 Add new TI Client - in a new page 😸
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table-many.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/image_snapshots/trusted_intermediary_test/verify-success-toast-on-new-client.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/assets/javascripts/phone.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/forms/EditTiClientInfoForm.java
  server/app/forms/TiClientInfoForm.java
  server/app/repository/AccountRepository.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/routes
  server/test/controllers/WithMockedProfiles.java
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: TI, feature

#7018 Update devcontainer extensions to add graphite and remove legacy github extension
  .devcontainer/devcontainer.json
Labels: infrastructure, google.org-swe, ignore-for-release

#7009 Add "Clear search" button and display number of search items on TI client search
  browser-test/image_snapshots/trusted_intermediary_test/add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/back-link-leads-to-ti-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/cancel-leads-to-dashboard.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-add-clients-no-email.png
  browser-test/image_snapshots/trusted_intermediary_test/dashboard-with-one-client.png
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table-many.png
  browser-test/image_snapshots/trusted_intermediary_test/org-members-table.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-dashboard-chinese.png
  browser-test/image_snapshots/trusted_intermediary_test/ti.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/services/MessageKey.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/TrustedIntermediaryDashboardView.java
  server/conf/i18n/messages
Labels: i18n, enhancement

#7029 Use playwright sharding
  .github/workflows/tests.yaml
  .github/workflows/tests_skip.yaml
  bin/run-browser-tests-ci
  bin/run-browser-tests-ci-batch
Labels: infrastructure, ignore-for-release

#7026 Browser Test Postgres Performance
  browser-test/browser-test-compose.dev.yml
  browser-test/custom-postgres.conf
Labels: infrastructure, ignore-for-release

#7033 Add eslint plugin to handle innerHTML
  browser-test/.eslintrc.json
  browser-test/package-lock.json
  browser-test/package.json
  formatter/eslintrc_base.json
  formatter/fmt
  formatter/package-lock.json
  formatter/package.json
  server/app/assets/javascripts/admin_program_image.ts
  server/app/assets/javascripts/file_upload.ts
  server/package-lock.json
  server/package.json
Labels: infrastructure, ignore-for-release

#7037 Add north star tag to number input test
  browser-test/src/applicant/questions/number_input.test.ts
Labels: tech-debt, [Epic] North Star Applicant UI

#7035 Enable perf speed on all browser test compose files
  browser-test/browser-test-compose.dev.yml
  browser-test/browser-test-compose.yml
Labels: infrastructure, ignore-for-release

#7005 Dropdown question rendering
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star-medium.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star-mobile.png
  browser-test/image_snapshots/dropdown_test/dropdown-errors-north-star.png
  browser-test/image_snapshots/dropdown_test/dropdown-north-star-medium.png
  browser-test/image_snapshots/dropdown_test/dropdown-north-star-mobile.png
  browser-test/image_snapshots/dropdown_test/dropdown-north-star.png
  browser-test/src/applicant/questions/dropdown.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/DropdownQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#6815 Move mobile help text on file upload question to be under Choose File button
  browser-test/image_snapshots/file_test/file-error-none-selected.png
  browser-test/image_snapshots/file_test/file-error-too-large.png
  browser-test/image_snapshots/file_test/file-optional-re-answered.png
  browser-test/image_snapshots/file_test/file-optional.png
  browser-test/image_snapshots/file_test/file-required-re-answered.png
  browser-test/image_snapshots/file_test/file-required.png
  browser-test/image_snapshots/file_test/file-uploaded.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
Labels: enhancement

#6770 Basics of address question
  browser-test/image_snapshots/address_test/address-errors-north-star-medium.png
  browser-test/image_snapshots/address_test/address-errors-north-star-mobile.png
  browser-test/image_snapshots/address_test/address-errors-north-star.png
  browser-test/image_snapshots/address_test/address-north-star-medium.png
  browser-test/image_snapshots/address_test/address-north-star-mobile.png
  browser-test/image_snapshots/address_test/address-north-star.png
  browser-test/src/applicant/questions/address.test.ts
  server/app/services/applicant/question/AddressQuestion.java
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/AddressQuestionRenderer.java
Labels: under-development, [Epic] North Star Applicant UI

#7010 Migrate footer tests to use fixtures
  browser-test/src/footer.test.ts
  browser-test/src/support/civiform_fixtures.ts
  browser-test/src/support/index.ts
  browser-test/src/support/wait.ts
Labels: tech-debt, ignore-for-release

#7045 Make the durable jobs run hourly in browser and unit tests
  server/conf/application.dev-browser-tests.conf
  server/conf/application.test.conf
Labels: infrastructure, ignore-for-release

#7014 Adding swagger v2 model serializers and tests
  server/app/services/openapi/v2/serializers/ContactSerializer.java
  server/app/services/openapi/v2/serializers/DefinitionSerializer.java
  server/app/services/openapi/v2/serializers/HeaderSerializer.java
  server/app/services/openapi/v2/serializers/InfoSerializer.java
  server/app/services/openapi/v2/serializers/OpenApiSchemaSerializer.java
  server/app/services/openapi/v2/serializers/OperationSerializer.java
  server/app/services/openapi/v2/serializers/ParameterSerializer.java
  server/app/services/openapi/v2/serializers/PathsSerializer.java
  server/app/services/openapi/v2/serializers/ResponseSerializer.java
  server/app/services/openapi/v2/serializers/SecurityDefinitionSerializer.java
  server/app/services/openapi/v2/serializers/SecurityRequirementSerializer.java
  server/app/services/openapi/v2/serializers/Swagger2YamlMapper.java
  server/app/services/openapi/v2/serializers/SwaggerSerializer.java
  server/app/services/openapi/v2/serializers/TagSerializer.java
  server/build.sbt
  server/test/services/openapi/v2/serializers/ContactSerializerTest.java
  server/test/services/openapi/v2/serializers/DefinitionSerializerTest.java
  server/test/services/openapi/v2/serializers/HeaderSerializerTest.java
  server/test/services/openapi/v2/serializers/InfoSerializerTest.java
  server/test/services/openapi/v2/serializers/OpenApiSerializationAsserter.java
  server/test/services/openapi/v2/serializers/OperationSerializerTest.java
  server/test/services/openapi/v2/serializers/ParameterSerializerTest.java
  server/test/services/openapi/v2/serializers/PathsSerializerTest.java
  server/test/services/openapi/v2/serializers/ResponseSerializerTest.java
  server/test/services/openapi/v2/serializers/SecurityDefinitionSerializerTest.java
  server/test/services/openapi/v2/serializers/SecurityRequirementSerializerTest.java
  server/test/services/openapi/v2/serializers/SwaggerSerializerTest.java
  server/test/services/openapi/v2/serializers/TagSerializerTest.java
  server/test/services/openapi/v2/serializers/TestObjectContainer.java
  server/test/services/openapi/v2/serializers/TestObjectContainerSerializer.java
Labels: under-development

#7039 Render phone number question
  browser-test/image_snapshots/phone_test/phone-errors-north-star-medium.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star-mobile.png
  browser-test/image_snapshots/phone_test/phone-errors-north-star.png
  browser-test/image_snapshots/phone_test/phone-north-star-medium.png
  browser-test/image_snapshots/phone_test/phone-north-star-mobile.png
  browser-test/image_snapshots/phone_test/phone-north-star.png
  browser-test/src/applicant/questions/phone.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/PhoneQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7023 Update application_navigation browser test to have optional questions; add tests for Next button
  browser-test/image_snapshots/application_navigation_test/fourth-question-answered-medium.png
  browser-test/image_snapshots/application_navigation_test/fourth-question-answered-mobile.png
  browser-test/image_snapshots/application_navigation_test/fourth-question-answered.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date-medium.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-out-of-date.png
  browser-test/image_snapshots/application_navigation_test/program-preview-medium.png
  browser-test/image_snapshots/application_navigation_test/program-preview-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-preview.png
  browser-test/image_snapshots/application_navigation_test/program-review-medium.png
  browser-test/image_snapshots/application_navigation_test/program-review-mobile.png
  browser-test/image_snapshots/application_navigation_test/program-review.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered-medium.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered-mobile.png
  browser-test/image_snapshots/application_navigation_test/third-question-answered.png
  browser-test/src/applicant/application_navigation.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#7055 Prep step for play 2.9
  server/app/auth/CiviFormProfile.java
  server/app/auth/ProfileFactory.java
  server/app/controllers/FileController.java
  server/app/controllers/HomeController.java
  server/app/controllers/ProfileController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/controllers/applicant/ApplicantInformationController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/controllers/applicant/UpsellController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ServiceAreaUpdateResolver.java
  server/app/services/program/ProgramService.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: ignore-for-release

#7053 Migrating to fixtures 2
  browser-test/src/auth.test.ts
  browser-test/src/error_pages.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/security.test.ts
Labels: infrastructure, ignore-for-release

#7052 Migrating to fixtures
  browser-test/.eslintrc.json
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/profile_filter.test.ts
  browser-test/src/profile_stability.test.ts
  browser-test/src/support/index.ts
  browser-test/src/support/wait.ts
Labels: infrastructure, ignore-for-release

#7056 Split pagination into its own test file and improved efficiency
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-left.png
  browser-test/image_snapshots/pagination_test/ti-pagination-ellipses-right.png
  browser-test/image_snapshots/pagination_test/ti-pagination-no-ellipses.png
  browser-test/image_snapshots/pagination_test/ti-pagination-two-ellipses.png
  browser-test/src/pagination.test.ts
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
Labels: ignore-for-release

#7057 Migrate address tests to use fixtures
  browser-test/src/applicant/questions/address.test.ts
Labels: infrastructure, ignore-for-release

#7059 Update address correction page to use new strings
  browser-test/image_snapshots/application_address_correction_test/verify-address-esri-service-error-save-on-all-flag-off.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-esri-service-error-save-on-all-flag-on.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-no-suggestions-save-on-all-flag-off-medium.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-no-suggestions-save-on-all-flag-off-mobile.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-no-suggestions-save-on-all-flag-off.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-no-suggestions-save-on-all-flag-on-medium.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-no-suggestions-save-on-all-flag-on-mobile.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-no-suggestions-save-on-all-flag-on.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-with-suggestions-save-on-all-flag-off-medium.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-with-suggestions-save-on-all-flag-off-mobile.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-with-suggestions-save-on-all-flag-off.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-with-suggestions-save-on-all-flag-on-medium.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-with-suggestions-save-on-all-flag-on-mobile.png
  browser-test/image_snapshots/application_address_correction_test/verify-address-with-suggestions-save-on-all-flag-on.png
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, enhancement

#7041 Render email question
  browser-test/image_snapshots/email_test/email-errors-north-star-medium.png
  browser-test/image_snapshots/email_test/email-errors-north-star-mobile.png
  browser-test/image_snapshots/email_test/email-errors-north-star.png
  browser-test/image_snapshots/email_test/email-north-star-medium.png
  browser-test/image_snapshots/email_test/email-north-star-mobile.png
  browser-test/image_snapshots/email_test/email-north-star.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star-medium.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star-mobile.png
  browser-test/image_snapshots/static_text_test/markdown-text-north-star.png
  browser-test/src/applicant/questions/email.test.ts
  server/app/views/applicant/ApplicantQuestionFragment.html
  server/app/views/questiontypes/EmailQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#6992 Don't show edit-or-discard-answers modal if applicant hasn't started answering a block
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/applicant/application_navigation.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/Block.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/services/applicant/BlockTest.java
Labels: enhancement

#7068 Adding messages files for Japanese, Oromo, Russian, and Tigrinya
  browser-test/image_snapshots/admin_program_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation-with-image-description.png
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_program_translation_test/question-translation.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  server/conf/application.conf
  server/conf/i18n/messages.ja
  server/conf/i18n/messages.om
  server/conf/i18n/messages.ru
  server/conf/i18n/messages.ti
Labels: i18n

#7060 Fix bug where TI "Applying For" banner appeared on add and edit client
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/verify-success-toast-on-new-client.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/views/applicant/ApplicantLayout.java
  server/conf/routes
Labels: bug

#7050 Allow decimals to be entered for age younger than / older than predicates
  browser-test/src/admin/admin_predicates.test.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/services/DateConverter.java
  server/app/services/applicant/predicate/JsonPathPredicateGenerator.java
  server/app/services/program/predicate/Operator.java
  server/app/services/program/predicate/OperatorRightHandType.java
  server/app/services/program/predicate/PredicateGenerator.java
  server/app/services/program/predicate/PredicateValue.java
  server/test/services/applicant/predicate/JsonPathPredicateGeneratorTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
Labels: bug, google.org-swe, charlotte

#7076 Migrate api keys to use fixtures
  browser-test/package-lock.json
  browser-test/package.json
  browser-test/src/admin/admin_api_keys.test.ts
  browser-test/src/support/admin_api_keys.ts
  browser-test/src/support/civiform_fixtures.ts
Labels: infrastructure, ignore-for-release

#7073 Include applicant bundle in north star
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/NorthStarApplicantBaseView.java
Labels: tech-debt, [Epic] North Star Applicant UI

#7079 Fix 404 page string parametrization
  server/app/views/errors/NotFound.java
Labels: bug

#7074 Remove extra test-output folder in artifacts
  .github/workflows/tests.yaml
Labels: infrastructure, ignore-for-release

#6460 Update the validation string for date questions
  server/app/services/MessageKey.java
  server/app/services/applicant/question/DateQuestion.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
  server/test/services/applicant/question/DateQuestionTest.java
Labels: bug, i18n

#7070 Update Add New Client success page to match the mockups
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/image_snapshots/trusted_intermediary_test/verify-success-toast-on-new-client.png
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
  server/app/controllers/ti/TrustedIntermediaryController.java
  server/app/repository/AccountRepository.java
  server/app/services/ti/AddNewApplicantReturnObject.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/app/views/applicant/EditTiClientView.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: TI, enhancement

#7089 Add PROGRAM_MIGRATION feature flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: under-development
