Repository civiform/civiform, pull requests merged in 2024-06, with the labels that each got.

#7626 Isolate more admin_predicates tests
  browser-test/src/admin/admin_predicates.test.ts
Labels: ignore-for-release

#7614 [Disabled Program] build error info page
  browser-test/image_snapshots/program_deep_link_test/disabled-program-error-info-page.png
  browser-test/image_snapshots/program_deep_link_test/home-page.png
  browser-test/src/program_deep_link.test.ts
  server/app/actions/ProgramDisabledAction.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/views/applicant/ApplicantDisabledProgramView.java
  server/conf/routes
  server/test/actions/ProgramDisabledActionTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/support/ResourceCreator.java
Labels: google.org-swe, under-development

#7480 Add GH action for GitLeaks
  .github/workflows/scan_for_secrets.yaml
Labels: ignore-for-release

#7618 Creating the PROGRAM_FILTERING feature flag
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: infrastructure

#7627 Update question names for admin_predicates tests
  browser-test/image_snapshots/admin_predicates_test/predicate-age-between-edit.png
  browser-test/image_snapshots/admin_predicates_test/predicate-age-greater-than-edit.png
  browser-test/src/admin/admin_predicates.test.ts
Labels: ignore-for-release

#7632 Add missing cases to 'every visibility right hand type evaluates correctly'
  browser-test/src/admin/admin_predicates.test.ts
Labels: ignore-for-release

#7600 Add sort selector to the Trusted Intermediary Group List page
  browser-test/image_snapshots/trusted_intermediary_test/ti-groups-page.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-list-sort-dropdown-nummember-asc.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-list-sort-dropdown-nummember-desc.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-list-sort-dropdown-tiname-asc.png
  browser-test/image_snapshots/trusted_intermediary_test/ti-list-sort-dropdown-tiname-desc.png
  browser-test/src/trusted_intermediary.test.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_trusted_intermediary_list.ts
  server/app/assets/javascripts/sort_selector.ts
  server/app/views/admin/ti/TrustedIntermediaryGroupListView.java
  server/app/views/components/QuestionSortOption.java
Labels: enhancement

#7623 Export question data in program export json
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/controllers/admin/AdminExportController.java
  server/app/controllers/admin/AdminImportController.java
  server/app/controllers/admin/ProgramMigrationWrapper.java
  server/app/services/migration/ProgramMigrationService.java
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: under-development

#7652 Handle error when no images are present in failed test
  browser-test/src/reporters/file_placement_reporter.ts
Labels: infrastructure, ignore-for-release

#7612 Create devtools dialog in thymeleaf
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/application_navigation_flow_test/north-star-program-preview.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tagnorthstar.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/north-star-eligible-toast.png
  browser-test/image_snapshots/date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ApplicantUpsellFragment.html
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/NorthStarAddressCorrectionBlockView.java
  server/app/views/applicant/NorthStarApplicantBaseView.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
Labels: i18n, ignore-for-release, [Epic] North Star Applicant UI

#7658 [Disabled Program] Localize error info page
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, google.org-swe

#7660 Rename ApplicantUpsellFragment to ApplicantUpsellTemplate
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
Labels: tech-debt, under-development, [Epic] North Star Applicant UI

#7663 Fixing flaky api docs tests
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  browser-test/src/api_docs.test.ts
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#7666 [Disabled Program] Add nav bar and footer to disabled program error info page
  browser-test/image_snapshots/program_deep_link_test/disabled-program-error-info-page.png
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/views/applicant/ApplicantDisabledProgramView.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: google.org-swe, under-development

#7649 Rearrange predicate tests
  browser-test/src/admin/admin_predicates.test.ts
Labels: ignore-for-release

#7668 Move northstar tag in currency test
  browser-test/src/applicant/questions/currency.test.ts
Labels: tech-debt, ignore-for-release, [Epic] North Star Applicant UI

#7655 Only show login dialogs once per session
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/north_star_modal.ts
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/ModalFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7671 [Disabled Programs] Integrate translated messages on error info page
  browser-test/image_snapshots/program_deep_link_test/disabled-program-error-info-page.png
  server/app/views/applicant/ApplicantDisabledProgramView.java
Labels: google.org-swe, under-development

#7679 Clean up test helpers
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#7495 Add feature flag for multiple uploads
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: ignore-for-release, under-development

#7624 Create ApplicantCommonIntakeUpsellTemplate
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  server/app/controllers/applicant/UpsellController.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantBaseView.java
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/UpsellParams.java
Labels: ignore-for-release, under-development

#7705 Adding banner to make it clear if a site is production
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  server/app/services/MessageKey.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/HtmlBundle.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/components/PageNotProductionBanner.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/conf/helper/whitelabel.conf
  server/conf/i18n/messages
  server/test/views/components/PageNotProductionBannerTest.java
Labels: i18n, enhancement

#7707 Refactor ValidationErrorMessage assertions in question tests
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
  server/test/services/applicant/question/IdQuestionTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/NumberQuestionTest.java
  server/test/services/applicant/question/TextQuestionTest.java
Labels: ignore-for-release

#7708 Use AssertJ's isEmpty rather than asserting Map.isEmpty is true
  server/test/services/applicant/question/AddressQuestionTest.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
  server/test/services/applicant/question/CurrencyQuestionTest.java
  server/test/services/applicant/question/DateQuestionTest.java
  server/test/services/applicant/question/EmailQuestionTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
  server/test/services/applicant/question/IdQuestionTest.java
  server/test/services/applicant/question/MultiSelectQuestionTest.java
  server/test/services/applicant/question/NameQuestionTest.java
  server/test/services/applicant/question/NumberQuestionTest.java
  server/test/services/applicant/question/PhoneQuestionTest.java
  server/test/services/applicant/question/SingleSelectQuestionTest.java
  server/test/services/applicant/question/StaticContentQuestionTest.java
  server/test/services/applicant/question/TextQuestionTest.java
Labels: ignore-for-release

#7667 Remove vacuous beforeAll references
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/admin/admin_publish.test.ts
  browser-test/src/applicant/questions/phone.test.ts
Labels: ignore-for-release

#7672 Add "between" operator for eligibility and visibility predicates
  browser-test/image_snapshots/admin_predicates_test/operator-help-text.png
  browser-test/image_snapshots/admin_predicates_test/predicate-age-between-edit.png
  browser-test/image_snapshots/admin_predicates_test/review-page-has-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner-completed.png
  browser-test/image_snapshots/admin_predicates_test/review-page-no-ineligible-banner.png
  browser-test/image_snapshots/admin_predicates_test/toast-message-may-qualify.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/support/admin_predicates.ts
  server/app/assets/javascripts/admin_predicate_configuration.ts
  server/app/services/applicant/predicate/JsonPathPredicateGenerator.java
  server/app/services/program/predicate/Operator.java
  server/app/services/program/predicate/OperatorRightHandType.java
  server/app/services/program/predicate/PredicateGenerator.java
  server/app/services/program/predicate/PredicateValue.java
  server/app/views/admin/programs/FormattedPredicateValue.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/style/ReferenceClasses.java
  server/test/services/applicant/predicate/JsonPathPredicateGeneratorTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
  server/test/services/program/predicate/PredicateValueTest.java
  server/test/views/admin/programs/FormattedPredicateValueTest.java
Labels: enhancement

#7716 [Program Migration] Save imported programs
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data.png
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  server/app/controllers/admin/AdminExportController.java
  server/app/controllers/admin/AdminImportController.java
  server/app/views/admin/migration/AdminExportViewPartial.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/app/views/admin/migration/AdminProgramExportForm.java
  server/conf/routes
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: under-development

#7695 New Test to Capture Existing Application Flow When Program Version Changes
  browser-test/src/applicant/application_version_fast_forward.test.ts
Labels: infrastructure, ignore-for-release

#7460 Java 17
  .devcontainer/devcontainer.json
  Dockerfile
  prod.Dockerfile
  server/.sbtopts
  server/build.sbt
Labels: ignore-for-release

#7738 Upgrade to pac4j v6
  browser-test/src/support/config.ts
  server/app/auth/ApiAuthenticator.java
  server/app/auth/CiviFormSessionStoreFactory.java
  server/app/auth/FakeAdminClient.java
  server/app/auth/GuestClient.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/OidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsApplicantProfileCreator.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
  server/app/auth/saml/SamlProfileCreator.java
  server/app/controllers/LoginController.java
  server/app/modules/SecurityModule.java
  server/build.sbt
  server/test/auth/ApiAuthenticatorTest.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
Labels: authentication, tech-debt, dependencies

#7699 Adding Evolution for Application_Statuses table creation and model class
  server/app/models/ApplicationStatusesModel.java
  server/app/models/StatusDefinitionsLifecycleStage.java
  server/app/repository/ApplicationStatusesRepository.java
  server/conf/evolutions/default/67.sql
  server/test/models/ApplicationStatusesModelTest.java
  server/test/repository/ApplicationStatusesRepositoryTest.java
Labels: database

#7731 Add toasts to summary/review page
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/components/ToastFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7722 Database evolution to create categories and programs_categories tables for program filtering feature
  server/conf/evolutions/default/68.sql
Labels: database

#7734 Create toasts for program index page
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexTemplate.html
  server/app/views/components/ToastFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7758 Create North Star "Ineligible" Page (replaces #7748)
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/src/applicant/northstar_ineligible.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
Labels: feature, ignore-for-release, under-development

#7764 Add "Download PDF" button to North Star "Application Submitted" page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
Labels: feature, ignore-for-release, under-development

#7765 More fixes for PAI and JSON export
  server/app/services/applicant/ApplicantData.java
  server/app/services/applicant/question/PhoneQuestion.java
Labels: bug

#7746 [Status Migration] - Adding UpdateStatusDefinitions function in ApplicationsStatusRepository
  server/app/models/Models.java
  server/app/repository/ApplicationStatusesRepository.java
  server/test/repository/ApplicationStatusesRepositoryTest.java
Labels: ignore-for-release

#7727 Refresh enumerator entity add button status on page load
  browser-test/src/end_to_end_enumerators.test.ts
  server/app/assets/javascripts/enumerator.ts
Labels: ignore-for-release

#7757 Add comments to clarify behavior of deleteEnumeratorEntity methods
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#7755 Refactor toast fragments to simplify logic and use default options where applicable
  server/app/views/components/ToastFragment.html
Labels: tech-debt, under-development, [Epic] North Star Applicant UI

#7761 Use toBeDisabled in browser test assertions
  browser-test/src/end_to_end_enumerators.test.ts
Labels: ignore-for-release

#7774 Fix some tests to call the correct methods.
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
Labels: ignore-for-release

#7759 Create toast shown when the environment is dev or staging
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/NorthStarApplicantBaseView.java
  server/app/views/components/ToastFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#7786 Update bin/vscode-setup for Java 17
  bin/vscode-setup
Labels: ignore-for-release

#7790 Update formatter
  formatter/formatter.Dockerfile
Labels: infrastructure, ignore-for-release

#7791 Add enumerator question setting validation strings for translation
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#7795 Update tests to use java text blocks for JSON assertions
  server/test/controllers/ApiPayloadWrapperTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/JsonPrettifierTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
Labels: ignore-for-release

#7817 Use true/false for flag UI values
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/views/admin/settings/AdminSettingsIndexView.java
Labels: enhancement

#7509 Render question text with markdown formatting
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_predicates_test/operator-help-text.png
  browser-test/image_snapshots/admin_predicates_test/program-summary-page.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-markdown.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-markdown.png
  browser-test/image_snapshots/admin_question_list_test/questions-list-markdown-rendering.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_publish.test.ts
  browser-test/src/admin/admin_question_list.test.ts
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/support/admin_questions.ts
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/admin/programs/ProgramPredicatesEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ProgramQuestionBank.java
  server/app/views/components/TextFormatter.java
Labels: bug, i18n, ignore-for-release, database

#7824 Fix API Key CIDR Validation Bug
  server/app/services/apikey/ApiKeyService.java
  server/test/services/apikey/ApiKeyServiceTest.java
Labels: bug

#7766 Setting up the data model and repository classes for program categories
  server/app/models/CategoryModel.java
  server/app/models/Models.java
  server/app/models/ProgramModel.java
  server/app/repository/CategoryRepository.java
  server/test/models/CategoryModelTest.java
  server/test/models/ProgramModelTest.java
  server/test/repository/CategoryRepositoryTest.java
Labels: ignore-for-release

#7819 Fix broken end session button
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/NorthStarApplicantBaseView.java
Labels: bug, under-development, [Epic] North Star Applicant UI

#7694 addFile route for adding multiple uploaded files
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/question/QuestionAnswerer.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
Labels: feature, ignore-for-release, under-development

#7804 Add localizedName and localizedDescription to block definition
  browser-test/src/assets/import-program-sample.json
  server/app/services/program/BlockDefinition.java
  server/app/services/program/ProgramService.java
  server/conf/evolutions/default/69.sql
  server/test/actions/ProgramDisabledActionTest.java
  server/test/models/ProgramModelTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
  server/test/services/program/BlockDefinitionTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: database, under-development, [Epic] North Star Applicant UI

#7844 Adding query to get the most recent program id
  server/app/repository/ProgramRepository.java
  server/test/repository/ProgramRepositoryTest.java
Labels: under-development

#7842 Adding route extractor
  server/app/actions/RouteExtractor.java
  server/test/actions/RouteExtractorTest.java
Labels: under-development

#7825 Rewrite EnumeratorQuestionFormTest
  server/test/forms/EnumeratorQuestionFormTest.java
Labels: ignore-for-release

#7847 Add new string for multi-select validation error
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#7850 Add command to set application to another program
  server/app/models/ApplicationModel.java
  server/app/repository/ApplicationRepository.java
  server/test/repository/ApplicationRepositoryTest.java
Labels: under-development

#7848 Add a performance regression testing workflow
  .github/workflows/regression_test.yaml
Labels: scaling, feature, ignore-for-release

#7855 Moving function logic from CiviFormController to ProfileUtils
  server/app/auth/ProfileUtils.java
  server/app/controllers/CiviFormController.java
  server/test/controllers/WithMockedProfiles.java
Labels: under-development

#7856 Adding new fast forward action
  server/app/actions/ProgramFastForwardApplicationAction.java
  server/test/actions/ProgramFastForwardApplicationActionTest.java
Labels: under-development

#7867 Update i18n checklist in pull request template
  .github/pull_request_template.md
Labels: ignore-for-release

#7837 [Multiple File Upload] Add max files to questions, and admin UI to modify it
  server/app/forms/FileUploadQuestionForm.java
  server/app/services/question/types/FileUploadQuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/test/forms/FileUploadQuestionFormTest.java
  server/test/views/admin/question/QuestionConfigTest.java
Labels: ignore-for-release, under-development

#7843 Add admin note to csv export
  browser-test/src/applicant/application_download.test.ts
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/ColumnType.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
Labels: feature

#7868 Add login dialog for program slug URLs
  browser-test/image_snapshots/program_deep_link_test/login-prompt-for-guest-users-using-program-slug-north-star.png
  browser-test/src/program_deep_link.test.ts
  server/app/assets/javascripts/north_star_modal.ts
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#7669 Add ability to update localized name/description for blocks (not added in UI yet)
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/services/program/LocalizationUpdate.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: under-development, [Epic] North Star Applicant UI

#7864 Add CiviForm classes to some HTML elements
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
Labels: ignore-for-release, under-development

#7863 Create North Star Question Preview
  server/app/views/NorthStarBaseView.java
  server/app/views/admin/questions/NorthStarQuestionPreview.java
  server/app/views/admin/questions/QuestionPreviewFragment.html
  server/app/views/applicant/NorthStarAddressCorrectionBlockView.java
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
Labels: ignore-for-release, under-development

#7877 Update existing question options in the question preview page
  browser-test/src/admin/admin_question_preview.test.ts
  server/app/assets/javascripts/preview.ts
Labels: bug

#7876 Create login dialog for upsell pages
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/program_deep_link.test.ts
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#7702 Add form inputs for screen names and descriptions
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramTranslationView.java
Labels: feature, [Epic] North Star Applicant UI

#7878 Remove screenshot from admin_programs.ts helper
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-program.png
  browser-test/image_snapshots/admin_program_visibility_test/select-ti-to-ti-only.png
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#7861 Fix converting String to QuestionType for irregular enum names
  server/app/services/question/types/QuestionType.java
  server/test/services/question/types/QuestionTypeTest.java
  server/test/support/TestQuestionBank.java
Labels: ignore-for-release, [Epic] North Star Applicant UI

#7889 Move .../applicant/ApplicantQuestionFragment.html -> .../questiontypes/QuestionFragment.html
  server/app/views/admin/questions/QuestionPreviewFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/questiontypes/QuestionFragment.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#7883 Use ternary operator to assign min/max fields in QuestionForms
  server/app/forms/FileUploadQuestionForm.java
  server/app/forms/IdQuestionForm.java
  server/app/forms/MultiOptionQuestionForm.java
  server/app/forms/NumberQuestionForm.java
  server/app/forms/TextQuestionForm.java
Labels: ignore-for-release

#7885 Fix bug where block translations were not being applied
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/support/admin_translations.ts
  server/app/views/admin/programs/ProgramTranslationView.java
Labels: bug, [Epic] North Star Applicant UI

#7704 Render translated name/description in thymeleaf
  browser-test/src/admin/admin_program_translation.test.ts
  server/app/services/applicant/Block.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NavigationFragment.html
Labels: i18n, under-development, [Epic] North Star Applicant UI

#7871 Default INTAKE_COMMON_FORM feature flag to true
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-disabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/navigation/application_navigation_common_intake.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: feature, feature-flag

#7898 Update enumerator delete warning message
  server/app/services/MessageKey.java
  server/app/views/questiontypes/EnumeratorQuestionRenderer.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: bug, i18n

#7901 Use usa-link class instead of directly using styles
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
Labels: tech-debt, [Epic] North Star Applicant UI

#7904 Translate a couple missing messages
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NavigationFragment.html
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#7897 Create FlashKey Constants File and Cleanup
  server/app/actions/ProgramDisabledAction.java
  server/app/controllers/FlashKey.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/controllers/admin/AdminProgramBlockQuestionsController.java
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/admin/AdminProgramImageController.java
  server/app/controllers/admin/AdminProgramStatusesController.java
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/controllers/admin/AdminSettingsController.java
  server/app/controllers/admin/TrustedIntermediaryManagementController.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/controllers/applicant/UpsellController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
  server/app/views/admin/ti/TrustedIntermediaryGroupListView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/TrustedIntermediaryAccountSettingsView.java
  server/app/views/applicant/TrustedIntermediaryClientListView.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/dev/seeding/DevDatabaseSeedControllerTest.java
Labels: tech-debt

#7886 Adding ApplicantAuthorizationAction
  server/app/actions/ApplicantAuthorizationAction.java
  server/test/actions/ApplicantAuthorizationActionTest.java
Labels: under-development

#7909 Fix autofocus for date questions
  browser-test/image_snapshots/date_test/date-errors-north-star-medium.png
  browser-test/image_snapshots/date_test/date-errors-north-star-mobile.png
  browser-test/image_snapshots/date_test/date-errors-north-star.png
  server/app/views/questiontypes/DateQuestionFragment.html
Labels: a11y, [Epic] North Star Applicant UI

#7899 Clean up SAVE_ON_ALL_ACTIONS feature flag
  server/app/assets/javascripts/file_upload.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/cloud/aws/AwsApplicantStorage.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/ApplicationBaseView.java
  server/app/views/applicant/AddressCorrectionBlockView.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditView.java
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/services/cloud/aws/AwsApplicantStorageTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
  server/test/views/questiontypes/ApplicantQuestionRendererFactoryTest.java
Labels: i18n, feature-flag

#7890 North Star question previews
  browser-test/image_snapshots/admin_question_preview_test/north-star-address-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-currency-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-date-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-dropdown-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-email-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-enumerator-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-id-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-name-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-number-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-phone-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-radio-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-static-question.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-text-question.png
  browser-test/src/admin/admin_question_preview.test.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/enumerator.ts
  server/app/assets/javascripts/preview.ts
  server/app/controllers/admin/NorthStarQuestionPreviewController.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/conf/routes
Labels: under-development, [Epic] North Star Applicant UI

#7910 Adding new messages for eligibility alerts
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n

#7923 Add flash key to fastforward action
  server/app/actions/ProgramFastForwardApplicationAction.java
Labels: under-development
