Repository civiform/civiform, pull requests merged in 2024-08, with the labels that each got.

#8094 Add CSP nonce to Northstar views
  server/app/views/CspUtil.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantBaseFragment.html
  server/test/views/CspUtilTest.java
Labels: ignore-for-release

#8229 Align vscode extension lists
  .devcontainer/devcontainer.json
  civiform.code-workspace
Labels: ignore-for-release

#8217 Let North Star footer sink to the bottom of the webpage
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/PreventDuplicateSubmissionTemplate.html
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8214 Prepare new ineligible alert strings for North Star
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/EligibilityAlertSettingsCalculator.java
  server/app/services/MessageKey.java
  server/conf/i18n/messages
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8231 Update styling of program cards on admin program list page
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_list_test/program-list-active-and-draft-versions.png
  browser-test/image_snapshots/admin_program_list_test/program-list-disabled-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-in-use-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-no-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-draft-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-categories.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-different-active-and-draft-images.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-new-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-same-active-and-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-no-warning.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/image_snapshots/application_review_test/applications-page.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list-visible-disabled-program.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list.png
  server/app/views/components/ProgramCardFactory.java
Labels: UX, enhancement

#8236 Remove obsolete security workaround
  server/app/modules/SecurityModule.java
Labels: ignore-for-release

#8240 Disable scan_for_secrets.yaml
  .github/workflows/scan_for_secrets.yaml
Labels: ignore-for-release

#8233 Apply footer positioning logic to "file upload" page and "address correction" page
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/PreventDuplicateSubmissionTemplate.html
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: UX, [Epic] North Star Applicant UI

#8166 [Suffix] Add suffix as a column to applicants table
  server/conf/evolutions/default/72.sql
Labels: database

#8245 Adding better error message
  server/app/auth/CiviFormProfile.java
Labels: bug

#8219 [Multiple File Upload] PDF export for multiple file uploads
  server/app/services/export/PdfExporter.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/PdfExporterTest.java
Labels: ignore-for-release, under-development

#8228 Remove unused code in CsvExporter
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/export/CsvExporterService.java
  server/conf/routes
  server/test/services/export/CsvExporterServiceTest.java
Labels: tech-debt, ignore-for-release

#8199 Removing Statuses from programs table completely
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-missing-program-fields.png
  server/app/models/ProgramModel.java
  server/app/services/program/ProgramDefinition.java
  server/conf/evolutions/default/72.sql
  server/conf/evolutions/default/73.sql
  server/test/actions/ProgramDisabledActionTest.java
  server/test/controllers/admin/AdminApplicationControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/admin/AdminProgramStatusesControllerTest.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
  server/test/models/ApplicationModelTest.java
  server/test/models/ProgramModelTest.java
  server/test/repository/ApplicationStatusesRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applications/ProgramAdminApplicationServiceTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/statuses/StatusServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: feature, database

#8252 Seed the database with default program categories in prod environments
  server/app/controllers/dev/seeding/CategoryTranslationFileParser.java
  server/app/services/seeding/DatabaseSeedTask.java
  server/test/services/seeding/DatabaseSeedTaskTest.java
Labels: database

#8263 Add thymeleaf step to PR template
  .github/pull_request_template.md
Labels: ignore-for-release

#8248 Enable CSP enforcement in dev
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  server/conf/application.dev.conf
Labels: ignore-for-release

#8250 Add a config variable to override CSP report only config
  server/app/services/settings/SettingsManifest.java
  server/conf/application.conf
  server/conf/env-var-docs.json
Labels: security, enhancement

#8128 [Multiple File upload] Enforce max file upload limit
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/applicant_file_question.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
Labels: ignore-for-release, under-development

#8270 Link to troubleshooting page in authority ID error message
  server/app/auth/CiviFormProfile.java
Labels: google.org-swe, ignore-for-release

#8104 Add North Star styles to ineligible page
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/applicant/northstar_ineligible.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/assets/stylesheets/northstar/_uswds-theme.scss
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/EligibilityAlertSettingsCalculator.java
  server/app/services/AlertSettings.java
  server/app/services/MessageKey.java
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
  server/app/views/components/AlertFragment.html
  server/conf/i18n/messages
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8253 Have data accessing modules wait for evolutions to complete
  server/app/modules/DatabaseSeedModule.java
  server/app/modules/DurableJobModule.java
  server/app/modules/SettingsMigrationModule.java
Labels: bug

#8249 [Suffix]create namesuffix enum
  server/app/models/ApplicantModel.java
  server/test/models/ApplicantModelTest.java
Labels: feature, google.org-swe

#8278 Prepare strings for "application submitted" page
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release, [Epic] North Star Applicant UI

#8279 Add question type to TestQuestionBank method names
  server/test/actions/ApplicantAuthorizationActionTest.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/controllers/admin/AdminProgramBlockQuestionsControllerTest.java
  server/test/controllers/admin/AdminProgramBlocksControllerTest.java
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/UpsellControllerTest.java
  server/test/forms/translation/QuestionTranslationFormTest.java
  server/test/models/ProgramModelTest.java
  server/test/repository/ExportServiceRepositoryTest.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/ProgramBlockValidationTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
  server/test/services/applicant/predicate/JsonPathPredicateGeneratorTest.java
  server/test/services/applicant/predicate/PredicateEvaluatorTest.java
  server/test/services/applicant/question/ApplicantQuestionTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/PdfExporterTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
  server/test/services/program/BlockDefinitionTest.java
  server/test/services/program/EligibilityDefinitionTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/program/predicate/PredicateExpressionNodeTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
  server/test/services/program/predicate/PredicateValueTest.java
  server/test/services/question/QuestionServiceTest.java
  server/test/services/question/ReadOnlyCurrentQuestionServiceImplTest.java
  server/test/services/question/ReadOnlyVersionedQuestionServiceImplTest.java
  server/test/services/question/types/QuestionDefinitionBuilderTest.java
  server/test/support/TestQuestionBank.java
  server/test/support/TestQuestionBankTest.java
  server/test/views/admin/programs/ProgramBaseViewTest.java
  server/test/views/applicant/ApplicantProgramBlockEditViewTest.java
Labels: ignore-for-release

#8280 Replace inline javascript for retire api key form
  browser-test/src/support/admin_api_keys.ts
  server/app/assets/javascripts/admin_api_keys.ts
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/views/admin/apikeys/ApiKeyIndexView.java
Labels: ignore-for-release

#8293 Added sorting on load for Ti Groups
  server/app/repository/AccountRepository.java
  server/test/repository/AccountRepositoryTest.java
Labels: ce-seattle, user-CF-admin, enhancement

#8282 Adding read-only category filter chips to the homepage
  browser-test/image_snapshots/applicant_application_index_test/category-filter-chips.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/assets/stylesheets/styles.css
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramIndexView.java
  server/tailwind.config.js
Labels: under-development

#8291 Very basic North Star styling for "address correction" page
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/NorthStarAddressCorrectionBlockView.java
Labels: under-development, [Epic] North Star Applicant UI

#8294 Add success alert to "application confirmation" page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8277 Fail browser tests on any CSP error
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/civiform_fixtures.ts
Labels: i18n, ignore-for-release

#8305 Adding a missing '/' to the ses email link in devtools
  server/app/views/dev/DatabaseSeedView.java
Labels: ignore-for-release

#8303 Add login upsell alert to "application confirmation" page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development, [Epic] North Star Applicant UI

#8275 [Suffix] middle layer name question service change
  browser-test/src/applicant/application_download.test.ts
  server/app/services/WellKnownPaths.java
  server/app/services/applicant/ApplicantData.java
  server/app/services/applicant/question/NameQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/question/QuestionAnswerer.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applicant/question/NameQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/question/QuestionAnswererTest.java
Labels: feature, google.org-swe, under-development

#8324 Move unit tests from QuestionDefinitionTest to type-specific test classes
  server/test/services/question/types/EnumeratorQuestionDefinitionTest.java
  server/test/services/question/types/MultiOptionQuestionDefinitionTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: ignore-for-release

#8336 Add new job type column and update model
  server/app/controllers/dev/seeding/DevDatabaseSeedController.java
  server/app/durablejobs/RecurringJobScheduler.java
  server/app/models/JobType.java
  server/app/models/PersistedDurableJobModel.java
  server/conf/evolutions/default/74.sql
  server/test/durablejobs/DurableJobRunnerTest.java
  server/test/durablejobs/jobs/MigratePrimaryApplicantInfoJobTest.java
  server/test/durablejobs/jobs/UnusedProgramImagesCleanupJobTest.java
  server/test/models/PersistedDurableJobModelTest.java
  server/test/repository/PersistedDurableJobRepositoryTest.java
Labels: database, enhancement

#8320 Set size of program cards in grid
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#8334 Add metadata tests for JSON export
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: ignore-for-release

#8341 Fix prober test
  browser-test/src/support/index.ts
Labels: ignore-for-release

#8316 Add "related programs" section to "application confirmation" page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/controllers/applicant/UpsellController.java
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
Labels: under-development, [Epic] North Star Applicant UI

#8335 Only set submitter email if TI is submitting for someone else
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/support/ResourceCreator.java
Labels: ignore-for-release

#8339 Add "View Details" button to program cards
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-inprogress-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status-northstar.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: under-development, [Epic] North Star Applicant UI

#8338 Prepare for multiple job types
  server/app/annotations/BindingAnnotations.java
  server/app/durablejobs/AbstractDurableJobRunner.java
  server/app/durablejobs/AbstractJobScheduler.java
  server/app/durablejobs/DurableJobRegistry.java
  server/app/durablejobs/RecurringDurableJobRunner.java
  server/app/durablejobs/RecurringJobScheduler.java
  server/app/modules/DurableJobModule.java
  server/app/repository/PersistedDurableJobRepository.java
  server/test/durablejobs/DurableJobRegistryTest.java
  server/test/durablejobs/RecurringDurableJobRunnerTest.java
  server/test/durablejobs/RecurringJobSchedulerTest.java
  server/test/repository/PersistedDurableJobRepositoryTest.java
Labels: enhancement

#8329 [Suffix] modify ApplicantData and TI service to add suffix to client info
  server/app/forms/TiClientInfoForm.java
  server/app/repository/AccountRepository.java
  server/app/services/applicant/ApplicantData.java
  server/app/services/ti/TrustedIntermediaryService.java
  server/test/auth/oidc/applicant/GenericApplicantProfileCreatorTest.java
  server/test/repository/AccountRepositoryTest.java
  server/test/services/applicant/ApplicantDataTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/ti/TrustedIntermediaryServiceTest.java
Labels: feature, google.org-swe, under-development

#8348 Only take screenshot of the login dialog
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-medium.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#8369 Clarify the description of the APPLICANT_OIDC_PROVIDER_LOGOUT config variable
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: ignore-for-release

#8327 Add Additional Program Disabled Check
  browser-test/src/applicant/application_version_fast_forward.test.ts
  server/app/actions/ProgramDisabledAction.java
  server/app/actions/RouteExtractor.java
  server/test/actions/ProgramDisabledActionTest.java
  server/test/actions/RouteExtractorTest.java
  server/test/support/FakeRequestBuilder.java
Labels: bug

#8382 Use real files for USWDS tests, allowing them to pass CSP checks.
  browser-test/image_snapshots/file_test/file-uploaded-north-star-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/assets/file-upload-second.png
  browser-test/src/assets/file-upload.png
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#8342 Filtering programs on the homepage by category
  browser-test/image_snapshots/applicant_application_index_test/category-filter-chips.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-all-types.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/main.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/services/MessageKey.java
  server/app/views/applicant/EditTiClientView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/applicant/TrustedIntermediaryClientListView.java
  server/conf/i18n/messages
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: i18n, under-development

#8340 [MultipleFileUpload] Avoid duplicate file names
  browser-test/src/applicant/questions/file.test.ts
  server/app/assets/javascripts/file_upload.test.ts
  server/app/assets/javascripts/file_upload.ts
  server/app/views/applicant/ApplicantFileUploadRenderer.java
Labels: ignore-for-release, under-development

#8386 Refactor AccountRepository.updateSerializedIdTokens
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/repository/AccountRepository.java
  server/test/repository/AccountRepositoryTest.java
Labels: ignore-for-release

#8384 Add logging and don't set cache when question in the program definition is null
  server/app/repository/ProgramRepository.java
  server/test/repository/ProgramRepositoryTest.java
Labels: ignore-for-release

#8374 [Suffix] add name suffix attribute for OIDC client provider
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/auth.conf
  server/test/auth/oidc/applicant/GenericOidcClientProviderTest.java
Labels: authentication, google.org-swe, under-development

#8391 Update homepage card section headings and add program count
  browser-test/image_snapshots/applicant_application_index_test/category-filter-chips.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramIndexView.java
  server/conf/i18n/messages
Labels: i18n, under-development

#8396 [Suffix] PAI migration job
  server/app/durablejobs/jobs/MigratePrimaryApplicantInfoJob.java
  server/test/durablejobs/jobs/MigratePrimaryApplicantInfoJobTest.java
Labels: google.org-swe, under-development

#8264 [Program Migration] Handle program and question admin name collisions
  browser-test/image_snapshots/admin_program_migration_test/error-saving-program.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-program-already-exists.png
  browser-test/image_snapshots/admin_program_migration_test/saved-program-success.png
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/repository/ProgramRepository.java
  server/app/repository/QuestionRepository.java
  server/app/services/migration/ProgramMigrationService.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: under-development

#8388 Adding categories to program cards on the homepage and updating styles
  browser-test/image_snapshots/applicant_application_index_test/category-filter-chips.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/ProgramImageUtils.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/components/ProgramCardFactory.java
  server/test/views/ProgramImageUtilsTest.java
Labels: under-development

#8390 Adding Operator property to LeafAddressServiceArea
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/jobs/AddOperatorToLeafAddressServiceAreaJob.java
  server/app/durablejobs/jobs/RemoveOperatorFromLeafAddressServiceAreaJob.java
  server/app/modules/DurableJobModule.java
  server/app/services/program/predicate/LeafAddressServiceAreaExpressionNode.java
  server/app/services/program/predicate/PredicateGenerator.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/test/durablejobs/jobs/AddOperatorToLeafAddressServiceAreaJobTest.java
  server/test/durablejobs/jobs/RemoveOperatorFromLeafAddressServiceAreaJobTest.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/BlockTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
  server/test/services/applicant/predicate/JsonPathPredicateGeneratorTest.java
  server/test/services/program/BlockDefinitionTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/predicate/PredicateAddressServiceAreaNodeExtractorTest.java
  server/test/services/program/predicate/PredicateExpressionNodeTest.java
  server/test/services/program/predicate/PredicateGeneratorTest.java
Labels: enhancement

#8383 Add list method for answering multi-file upload questions
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/question/QuestionAnswerer.java
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/PdfExporterTest.java
Labels: ignore-for-release

#8411 Update Pull Request template based on eng team discussion
  .github/pull_request_template.md
Labels: ignore-for-release

#8416 Improve performance of JSON export by only parsing all program versions once
  server/app/services/export/JsonExporterService.java
  server/app/services/export/ProgramJsonSampler.java
Labels: enhancement

#8424 Adding feature flag for bulk status update
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag

#8420 [Program Filtering] Add a "My Applications" card section on the homepage
  browser-test/image_snapshots/applicant_application_index_test/homepage-programs-filtered.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramIndexView.java
Labels: under-development

#8366 [Multiple File Upload] Use USWDS file upload widget
  browser-test/image_snapshots/file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/file_test/file-uploaded-review.png
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/support/applicant_file_question.ts
  server/app/assets/stylesheets/styles.css
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
Labels: under-development

#8432 Normalize submitted date for screenshot tests
  browser-test/image_snapshots/applicant_application_index_test/homepage-programs-filtered.png
  browser-test/src/support/index.ts
  server/app/views/applicant/ProgramCardViewRenderer.java
Labels: ignore-for-release

#8421 [Program Migration] Ignore program categories
  server/app/controllers/admin/AdminExportController.java
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/support/ProgramBuilder.java
Labels: under-development

#8438 Add explicit joins to programs queries to reduce n+1 queries
  server/app/repository/ProgramRepository.java
Labels: ignore-for-release

#8441 Memoize getQuestionNameKey() to reduce repeated regex computation
  server/app/services/question/types/QuestionDefinition.java
Labels: ignore-for-release

#8447 Use more efficient Application retrieval queries in CsvExporterService
  server/app/repository/ApplicationRepository.java
  server/app/services/export/CsvExporterService.java
  server/app/services/program/ProgramService.java
Labels: ignore-for-release

#8446 Refactor ProgramCardFactory to plumb isCiviFormAdmin instead of CiviFormProfile
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
Labels: ignore-for-release

#8439 Add support for additional predicates with program migration
  server/app/controllers/admin/AdminImportController.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: google.org-swe, under-development
