Repository civiform/civiform, pull requests merged in 2024-12, with the labels that each got.

#9275 [Program Overview Page] Add new application steps fields
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-disabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-false-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-filtering-enabled.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-error-missing-program-fields.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/forms/ProgramForm.java
  server/app/models/ApplicationStep.java
  server/app/models/ProgramModel.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/test/actions/ProgramDisabledActionTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
  server/test/models/ApplicationStepTest.java
  server/test/models/ProgramModelTest.java
  server/test/models/VersionModelTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceImplTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/program/ProgramDefinitionTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
  server/test/views/admin/programs/ProgramFormBuilderTest.java
Labels: under-development

#9341 Adding link to job naming in the wiki
  server/app/durablejobs/DurableJobName.java
Labels: ignore-for-release

#9317 Enable public file uploads for Azure production deployments (Program Images)
  server/app/services/cloud/azure/AzurePublicStorage.java
Labels: azure, ignore-for-release

#9339 Add cf-applicant-cif-eligible-program-name class
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9345 Fixing DOCTYPE where needed
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development

#9348 Remove old error string
  server/app/services/MessageKey.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ja
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.ru
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
  server/test/views/components/FieldWithLabelTest.java
Labels: i18n, ignore-for-release

#9371 [Eligibility message] adding the route for updating eligibility msg
  server/conf/routes
Labels: under-development

#9372 Remove ReadOnlyApplicantProgramService interface
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/ReadOnlyApplicantProgramServiceImpl.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceTest.java
Labels: tech-debt, ignore-for-release

#9377 Disable durable jobs module in unit tests
  server/conf/application.test.conf
Labels: ignore-for-release

#9376 Reduce number of screenshots
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-signed-in-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-signed-in-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-ti-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-eligible-ti-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-signed-in-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-signed-in-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-signed-in-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-ti-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-ti-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-ti-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-submission-guest-login-prompt-modal-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-submission-guest-login-prompt-modal-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-submission-guest-login-prompt-modal.png
  browser-test/src/applicant/navigation/northstar_application_navigation_common_intake.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9368 Single status update works seamlessly when bulk status update feature flag is turned on
  server/app/assets/javascripts/admin_application_view.ts
  server/app/assets/javascripts/admin_applications.ts
  server/app/views/admin/programs/ProgramApplicationTableView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/style/ReferenceClasses.java
Labels: feature

#9398 Add string for application status tag
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n

#9320 issue-8902 - fix application download href. migrate test to northstar
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/applicant/northstar_application_download.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ApplicantUpsellTemplate.html
Labels: i18n, [Epic] North Star Applicant UI

#9347 [Eligibility message] Adding eligibility message field on CiviForm admins side
  browser-test/image_snapshots/admin_predicates_test/edit-predicate-eligibility-msg-updated.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/support/admin_predicates.ts
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/views/admin/programs/ProgramPredicatesEditView.java
Labels: under-development

#9328 Add date to northstar application status tag
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/src/applicant/northstar_applicant_application_statuses.test.ts
  browser-test/src/support/index.ts
  server/app/models/ApplicationEventModel.java
  server/app/services/DateConverter.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/test/services/DateConverterTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
Labels: i18n, under-development, [Epic] North Star Applicant UI

#9323 Tag multi-file-upload browser tests that fail on Azure, and skip those tests.
  .github/workflows/tests.yaml
  browser-test/src/applicant/application_review.test.ts
Labels: azure, ignore-for-release

#9401 issue-9373-split application download tests in applicant and admin view
  browser-test/image_snapshots/application_download_test/application-confirmation.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/src/admin/admin_application_download.test.ts
  browser-test/src/applicant/application_download.test.ts
Labels: ignore-for-release, maintenance

#9392 Migrate header.test.ts to North Star
  browser-test/image_snapshots/northstar_header_test/banner-expanded-north-star.png
  browser-test/image_snapshots/northstar_header_test/banner-expanded.png
  browser-test/image_snapshots/northstar_header_test/logged-in.png
  browser-test/image_snapshots/northstar_header_test/not-logged-in-guest-mode-enabled.png
  browser-test/image_snapshots/northstar_header_test/not-logged-in.png
  browser-test/src/northstar_header.test.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9396 [Eligibility message] Eligibility message on translation form
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/support/admin_translations.ts
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/services/program/LocalizationUpdate.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/forms/translation/ProgramTranslationFormTest.java
Labels: under-development

#9408 Add "noopener noreferrer" if we open a link in a new tab
  server/app/views/CiviFormMarkdown.java
  server/app/views/components/LinkElement.java
  server/test/views/CiviFormMarkdownTest.java
  server/test/views/components/FieldWithLabelTest.java
Labels: enhancement

#9425 Fix tests
  browser-test/src/admin/admin_predicates_bulkstatus.test.ts
  browser-test/src/applicant/questions/northstar_date.test.ts
  browser-test/src/applicant/questions/northstar_id.test.ts
Labels: ignore-for-release

#9427 Unskip admin_predicate tests and skip admin_application_status_bulkstatus.test.ts
  browser-test/src/admin/admin_application_statuses_bulkstatus.test.ts
  browser-test/src/admin/admin_predicates_bulkstatus.test.ts
Labels: ignore-for-release

#9355 [Program Migration] Turn program migration flag on by default
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_list_test/program-list-active-and-draft-versions.png
  browser-test/image_snapshots/admin_program_list_test/program-list-disabled-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-in-use-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-no-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-draft-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-different-active-and-draft-images.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-new-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-same-active-and-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-no-warning.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/image_snapshots/admin_publish_test/publish-modal.png
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/controllers/admin/AdminExportController.java
  server/app/controllers/admin/AdminImportController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: feature

#9409 Add robots and build meta tags to northstar
  browser-test/src/northstar_meta_tags.test.ts
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantBaseFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9436 Revert to saving trace on first retry
  browser-test/playwright.config.ts
Labels: infrastructure, ignore-for-release

#9430 Adding tree for building openapi output
  server/app/services/openapi/QuestionDefinitionNode.java
  server/test/services/openapi/QuestionDefinitionNodeTest.java
Labels: under-development

#9445 Add support for Azure multi-file uploads for applicants in non-Northstar deployments
  server/app/assets/javascripts/azure_upload.ts
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/fileupload/AwsFileUploadViewStrategy.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/FileUploadViewStrategy.java
  server/test/views/fileupload/FileUploadViewStrategyTest.java
Labels: azure, ignore-for-release

#9419 Bulk status browser tests
  browser-test/src/admin/admin_bulk_update_statuses.test.ts
  server/app/views/admin/programs/ProgramApplicationTableView.java
Labels: user-program-admin

#9319 Create program overview skeleton page
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/northstar_program_deep_link.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/services/MessageKey.java
  server/app/views/applicant/NorthStarProgramOverviewView.java
  server/app/views/applicant/ProgramOverviewTemplate.html
  server/conf/i18n/messages
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: i18n, under-development

#9449 Set frame ancestors to self for CSP
  server/conf/application.conf
Labels: enhancement

#9432 Generate swagger2 without application questions
  server/app/services/openapi/AbstractOpenApiSchemaGenerator.java
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/test/services/openapi/v2/Swagger2SchemaGeneratorTest.java
Labels: under-development

#9423 [Program Overview Page] Add translation field for program short description
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/support/admin_translations.ts
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/services/program/LocalizationUpdate.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/services/statuses/StatusService.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/statuses/StatusServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: under-development

#9461 Fix browser tests to make aws staging pass
  browser-test/src/admin/admin_application_statuses_bulkstatus.test.ts
  browser-test/src/admin/admin_bulk_update_statuses.test.ts
Labels: ignore-for-release

#9438 Cleaning up obsolete code
  server/app/services/openapi/v2/ApiKeyLocation.java
  server/app/services/openapi/v2/Contact.java
  server/app/services/openapi/v2/Definition.java
  server/app/services/openapi/v2/Format.java
  server/app/services/openapi/v2/Header.java
  server/app/services/openapi/v2/HttpStatusCode.java
  server/app/services/openapi/v2/In.java
  server/app/services/openapi/v2/Info.java
  server/app/services/openapi/v2/MimeType.java
  server/app/services/openapi/v2/Operation.java
  server/app/services/openapi/v2/OperationType.java
  server/app/services/openapi/v2/Parameter.java
  server/app/services/openapi/v2/PathItem.java
  server/app/services/openapi/v2/Paths.java
  server/app/services/openapi/v2/Response.java
  server/app/services/openapi/v2/Scheme.java
  server/app/services/openapi/v2/SecurityDefinition.java
  server/app/services/openapi/v2/SecurityRequirement.java
  server/app/services/openapi/v2/SecurityType.java
  server/app/services/openapi/v2/Swagger.java
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/app/services/openapi/v2/Tag.java
  server/app/services/openapi/v2/serializers/ContactSerializer.java
  server/app/services/openapi/v2/serializers/DefinitionSerializer.java
  server/app/services/openapi/v2/serializers/HeaderSerializer.java
  server/app/services/openapi/v2/serializers/InfoSerializer.java
  server/app/services/openapi/v2/serializers/OpenApiSchemaSerializer.java
  server/app/services/openapi/v2/serializers/OperationSerializer.java
  server/app/services/openapi/v2/serializers/ParameterSerializer.java
  server/app/services/openapi/v2/serializers/PathsSerializer.java
  server/app/services/openapi/v2/serializers/ResponseSerializer.java
  server/app/services/openapi/v2/serializers/SecurityDefinitionSerializer.java
  server/app/services/openapi/v2/serializers/SecurityRequirementSerializer.java
  server/app/services/openapi/v2/serializers/Swagger2YamlMapper.java
  server/app/services/openapi/v2/serializers/SwaggerSerializer.java
  server/app/services/openapi/v2/serializers/TagSerializer.java
  server/test/services/openapi/v2/Swagger2SchemaGeneratorTest.java
  server/test/services/openapi/v2/serializers/ContactSerializerTest.java
  server/test/services/openapi/v2/serializers/DefinitionSerializerTest.java
  server/test/services/openapi/v2/serializers/HeaderSerializerTest.java
  server/test/services/openapi/v2/serializers/InfoSerializerTest.java
  server/test/services/openapi/v2/serializers/OpenApiSerializationAsserter.java
  server/test/services/openapi/v2/serializers/OperationSerializerTest.java
  server/test/services/openapi/v2/serializers/ParameterSerializerTest.java
  server/test/services/openapi/v2/serializers/PathsSerializerTest.java
  server/test/services/openapi/v2/serializers/ResponseSerializerTest.java
  server/test/services/openapi/v2/serializers/SecurityDefinitionSerializerTest.java
  server/test/services/openapi/v2/serializers/SecurityRequirementSerializerTest.java
  server/test/services/openapi/v2/serializers/SwaggerSerializerTest.java
  server/test/services/openapi/v2/serializers/TagSerializerTest.java
  server/test/services/openapi/v2/serializers/TestObjectContainer.java
  server/test/services/openapi/v2/serializers/TestObjectContainerSerializer.java
Labels: under-development

#9462 Add noopener noreferrer to northstar link
  server/app/views/applicant/NavigationFragment.html
Labels: enhancement

#9439 Adding openapi 3.0.x
  server/app/services/openapi/AbstractOpenApiSchemaGenerator.java
  server/app/services/openapi/DefinitionType.java
  server/app/services/openapi/Format.java
  server/app/services/openapi/OpenApiSchemaGeneratorFactory.java
  server/app/services/openapi/OpenApiVersion.java
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
  server/test/services/openapi/v3/OpenApi3SchemaGeneratorTest.java
Labels: under-development

#9468 Moving api docs out of /api
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  server/app/assets/javascripts/api_docs.ts
  server/app/controllers/docs/ApiDocsController.java
  server/app/controllers/docs/OpenApiSchemaController.java
  server/app/filters/ApiKeyUsageFilter.java
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
  server/app/views/admin/AdminLayout.java
  server/app/views/docs/ApiDocsView.java
  server/app/views/docs/SchemaViewTemplate.html
  server/conf/routes
  server/test/controllers/docs/ApiDocsControllerTest.java
  server/test/controllers/docs/OpenApiSchemaControllerTest.java
  server/test/services/openapi/v3/OpenApi3SchemaGeneratorTest.java
Labels: under-development

#9471 Create a logout class that extends the default logout
  server/app/modules/CiviFormLogoutLogic.java
  server/app/modules/SecurityModule.java
Labels: ignore-for-release

#9473 Fix params in logout logic class
  server/app/modules/CiviFormLogoutLogic.java
Labels: ignore-for-release

#9472 Issue 9381 fix navigation on the error modal for incomplete application step
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
Labels: bug, [Epic] North Star Applicant UI

#9459 [Program Overview Page] Add translation field for application steps
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/support/admin_translations.ts
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/forms/translation/ProgramTranslationForm.java
  server/app/models/ApplicationStep.java
  server/app/services/program/LocalizationUpdate.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/forms/translation/ProgramTranslationFormTest.java
  server/test/models/ApplicationStepTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/statuses/StatusServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: under-development
