Repository civiform/civiform, pull requests merged in 2025-03, with the labels that each got.

#9839 Use correct value for program slug
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: bug, under-development

#9868 Handle ConcurrentModificationException in MetricsController
  server/app/controllers/monitoring/MetricsController.java
Labels: bug

#9806 [SessionTimeout][part2]Enforce session length and inactivity timeout
  server/app/auth/CiviFormProfile.java
  server/app/auth/CiviFormProfileData.java
  server/app/auth/ProfileFactory.java
  server/app/filters/ValidAccountFilter.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  server/test/auth/oidc/applicant/Auth0ProviderTest.java
  server/test/auth/oidc/applicant/LoginGovClientProviderTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/filters/ValidAccountFilterTest.java
Labels: feature, under-development

#9788 Adding Status Create Time to csv
  browser-test/src/admin/admin_application_statuses.test.ts
  server/app/models/ApplicationModel.java
  server/app/repository/ApplicationEventRepository.java
  server/app/services/export/CsvExporter.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/enums/ColumnType.java
  server/conf/evolutions/default/83.sql
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
Labels: user-program-admin, feature, ce-seattle, database

#9876 Update oncall issue to specify publishing release by Weds
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#9872 Updating env-var-docs to generate Maps larger than 10 items
  env-var-docs/parser-package/src/env_var_docs/settings_manifest.py
  env-var-docs/parser-package/tests/settings_manifest_test.py
  formatter/fmt
  server/app/services/settings/SettingsManifest.java
Labels: infrastructure, ignore-for-release

#9877 [North Star] Distinguish between group and field-level validation errors for name and address questions
  browser-test/image_snapshots/northstar_address_test/address-errors-north-star.png
  browser-test/image_snapshots/northstar_name_test/name-errors-north-star.png
  browser-test/image_snapshots/northstar_name_test/name-north-star.png
  browser-test/src/applicant/questions/northstar_address.test.ts
  browser-test/src/applicant/questions/northstar_name.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
Labels: under-development

#9765 [Pre-compute eligibility]compute eligibility at submission
  server/app/models/ApplicationModel.java
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/ApplicantService.java
  server/test/models/ApplicationModelTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: under-development

#9875 Adding StatusLastModifiedTime to json export
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-with-multiple-upload.png
  server/app/services/export/JsonExporterService.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/openapi/v2/Swagger2SchemaGeneratorTest.java
  server/test/services/openapi/v3/OpenApi3SchemaGeneratorTest.java
Labels: user-program-admin, feature

#9889 Getting the swagger ui assets loading in deployed environments
  prod.Dockerfile
  server/build.sbt
Labels: infrastructure

#9893 Add structured JSON logging support for Google Cloud logging integration
  server/build.sbt
  server/conf/logback.xml
Labels: gcp, ignore-for-release

#9837 [North Star] Update strings in 'error saving' modal per content audit request
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/conf/i18n/messages
Labels: i18n, under-development

#9810 [SessionTimeout][part3]Extend session endpoint and a new filter to add timeout cookie
  server/app/controllers/SessionController.java
  server/app/filters/SessionTimeoutFilter.java
  server/app/filters/ValidAccountFilter.java
  server/app/services/session/SessionTimeoutService.java
  server/conf/application.conf
  server/conf/routes
  server/test/controllers/SessionControllerTest.java
  server/test/filters/SessionTimeoutFilterTest.java
  server/test/filters/ValidAccountFilterTest.java
  server/test/services/session/SessionTimeoutServiceTest.java
Labels: feature, under-development

#9862 [Program Overview] Move alert inside container with max width
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview.png
  server/app/views/applicant/ProgramOverviewTemplate.html
Labels: under-development

#9900 Creating session management section in settings
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/conf/env-var-docs.json
Labels: ignore-for-release

#9883 Create feature flag for custom theme colors
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: under-development, [Epic] North Star Applicant UI

#9896 [North Star] Update strings for pre-screener start button per content audit request
  browser-test/image_snapshots/applicant_application_index_test/ns-common-intake-form.png
  server/app/services/MessageKey.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/conf/i18n/messages
Labels: i18n

#9890 Re-add the schema view tab on the api docs page
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/draft-not-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-with-multiple-upload.png
  server/app/views/docs/ApiDocsView.java
Labels: feature

#9906 Migrate footer.test.ts to north star
  browser-test/image_snapshots/northstar_footer_test/north-star-footer.png
  browser-test/src/applicant/northstar_footer.test.ts
Labels: ignore-for-release, [Epic] North Star Applicant UI

#9867 [North Star] Update strings in 'review' button per content audit request
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_file_test/file-optional-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-optional.png
  browser-test/image_snapshots/northstar_file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/northstar_file_test/file-required-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-required.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-medium.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/src/applicant/questions/northstar_phone.test.ts
  browser-test/src/applicant/questions/northstar_text.test.ts
  browser-test/src/support/applicant_questions.ts
  server/conf/i18n/messages
Labels: i18n

#9852 Add missing return to catch in ApplicantProgramBlocksController.renderErrorOrRedirectToRequestedPage
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
Labels: ignore-for-release

#9676 Remove unsupported languages from language defaults
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_question_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_question_translation_test/question-translation.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  server/conf/application.conf
Labels: ignore-for-release

#9923 Remove empty language files 'om' and 'ti' from i18n messages directory
  server/conf/i18n/messages.om
  server/conf/i18n/messages.ti
Labels: i18n, ignore-for-release

#9920 Remove space in messages file
  server/conf/i18n/messages
Labels: i18n, ignore-for-release

#9905 [North Star] Update strings in banner title per content audit request
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/northstar_header.test.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/NavigationFragment.html
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ja
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.ru
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, under-development

#9891 Add admin-writeable settings for primary and primary-dark colors
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/whitelabel.conf
Labels: under-development, [Epic] North Star Applicant UI

#9871 [North Star] Add rows to program filters fragment
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filters-medium.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filters-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filters.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/ProgramFiltersFragment.html
Labels: under-development

#9921 Adds efficient ProgramRepository::GetSlug() method
  server/app/repository/ProgramRepository.java
  server/app/services/program/ProgramService.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: ignore-for-release

#9880 Introduce flag to hide the government name in the header
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/src/header.test.ts
  browser-test/src/northstar_header.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/NavigationFragment.html
  server/conf/env-var-docs.json
  server/conf/helper/whitelabel.conf
Labels: feature

#9951 [North Star] Use support email in footer
  browser-test/src/applicant/northstar_footer.test.ts
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/NavigationFragment.html
Labels: under-development

#9851 Add Application flow breadcrumbs to navigate out of the flow.
  browser-test/image_snapshots/northstar_address_test/address-errors-north-star.png
  browser-test/image_snapshots/northstar_address_test/address-north-star.png
  browser-test/image_snapshots/northstar_applicant_question_translation_test/question-translation-with-markdown.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_currency_test/currency-errors-north-star.png
  browser-test/image_snapshots/northstar_currency_test/currency-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-errors-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-north-star.png
  browser-test/image_snapshots/northstar_dropdown_test/dropdown-errors-north-star.png
  browser-test/image_snapshots/northstar_dropdown_test/dropdown-north-star.png
  browser-test/image_snapshots/northstar_email_test/email-errors-north-star.png
  browser-test/image_snapshots/northstar_email_test/email-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_file_test/file-optional-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-optional.png
  browser-test/image_snapshots/northstar_file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/northstar_file_test/file-required-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-required.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-medium.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded.png
  browser-test/image_snapshots/northstar_id_test/id-errors-north-star.png
  browser-test/image_snapshots/northstar_id_test/id-north-star.png
  browser-test/image_snapshots/northstar_name_test/name-errors-north-star.png
  browser-test/image_snapshots/northstar_name_test/name-north-star.png
  browser-test/image_snapshots/northstar_number_input_test/number-errors-north-star.png
  browser-test/image_snapshots/northstar_number_input_test/number-north-star.png
  browser-test/image_snapshots/northstar_phone_test/phone-errors-north-star.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/image_snapshots/northstar_phone_test/phone-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-errors-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  browser-test/image_snapshots/northstar_static_text_test/markdown-text-north-star.png
  browser-test/image_snapshots/northstar_text_test/text-errors-north-star.png
  browser-test/image_snapshots/northstar_text_test/text-north-star.png
  browser-test/src/applicant/northstar_applicant_breadcrumb_nav.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/BreadcrumbFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/conf/i18n/messages
Labels: i18n, ignore-for-release, [Epic] North Star Applicant UI

#9957 Remove show cf image tag on landing page
  browser-test/src/footer.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/dev/DebugContent.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature

#9955 Removing application_exportable flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/applicant/northstar_application_download.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/controllers/applicant/UpsellController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature

#9878 [North Star] Add back to admin button on admin applicant preview view
  browser-test/image_snapshots/northstar_admin_program_preview_test/northstar-admin-program-preview-application-block-edit-page.png
  browser-test/image_snapshots/northstar_admin_program_preview_test/northstar-admin-program-preview-application-review-page.png
  browser-test/src/admin/northstar_admin_program_preview.test.ts
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
Labels: under-development

#9953 [North Star] Use correct section spacing classes in ineligible page
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  server/app/views/applicant/IneligibleTemplate.html
Labels: under-development

#9950 [North Star] Use only short description in program cards
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/test/views/applicant/ProgramCardsSectionParamsFactoryTest.java
Labels: under-development

#9946 [North Star] Use 'display' instead of 'visibility' for file uploading message css
  browser-test/image_snapshots/file_test/file-error-too-large-multiple-files.png
  browser-test/image_snapshots/file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name-medium.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/file_test/file-uploaded-very-long-name.png
  browser-test/image_snapshots/northstar_file_test/file-optional-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-optional.png
  browser-test/image_snapshots/northstar_file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/northstar_file_test/file-required-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-required.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-medium.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded.png
  server/app/assets/stylesheets/styles.css
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
Labels: under-development

#9978 [Program Migration] Remove PROGRAM_MIGRATION_ENABLED feature flag
  server/app/controllers/admin/AdminExportController.java
  server/app/controllers/admin/AdminImportController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminExportControllerTest.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: ignore-for-release

#9977 Migrate auth test to NorthStar
  browser-test/image_snapshots/northstar_auth_test/central-provider-logout.png
  browser-test/src/northstar_auth.test.ts
  server/app/views/applicant/NavigationFragment.html
Labels: ignore-for-release, under-development, [Epic] North Star Applicant UI

#9984 [North Star] Set program card image dimension to consistent height and clean up card section layout
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-cards-long-word-description.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-all-types.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-tall.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development

#9995 Update program category tags border to use border-base-light
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-homepage-programs-filtered.png
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9998 [Northstar] remove duplicate north star tests leftover from test migrations
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filters-medium.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filters-mobile.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filters.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/ns-common-intake-form.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/src/applicant/applicant_application_index.test.ts
Labels: ignore-for-release

#9994 Render program custom confirmation markup
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
Labels: under-development, [Epic] North Star Applicant UI

#9991 Update screen reader behavior for required fields
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/applicant/questions/northstar_date.test.ts
  browser-test/src/applicant/questions/northstar_file.test.ts
  browser-test/src/applicant/questions/northstar_name.test.ts
  server/app/views/ViewUtils.java
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/DateQuestionFragment.html
  server/app/views/questiontypes/FileUploadQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/test/views/components/TextFormatterTest.java
Labels: a11y

#9973 [SessionTimeout][part4]Prepare USWDS modal rendering for session timeout warnings
  server/app/controllers/SessionController.java
  server/app/filters/SessionTimeoutFilter.java
  server/app/filters/SettingsFilter.java
  server/app/filters/ValidAccountFilter.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/HtmlBundle.java
  server/app/views/ViewUtils.java
  server/conf/application.conf
  server/conf/env-var-docs.json
  server/test/controllers/SessionControllerTest.java
  server/test/filters/SessionTimeoutFilterTest.java
  server/test/filters/ValidAccountFilterTest.java
  server/test/views/HtmlBundleTest.java
  server/test/views/ViewUtilsTest.java
Labels: feature, under-development

#10031 Increase allowed payload size when saving program translations
  server/app/controllers/admin/AdminProgramTranslationsController.java
Labels: bug

#10033 Configure Pinning GitHub Actions to Commit Hashes
  .github/renovate.json5
Labels: infrastructure, ignore-for-release

#9996 [Cleanup] Add early returns in ts files
  server/app/assets/javascripts/file_upload.ts
  server/app/assets/javascripts/north_star_modal.ts
  server/app/assets/javascripts/toast.ts
Labels: ignore-for-release

#10013 When creating a draft enumerator question, only update the corresponding enumerator IDs on active repeated questions if a corresponding draft doesn't exist.
  browser-test/image_snapshots/question_lifecycle_test/enumerator-active-and-draft.png
  server/app/repository/QuestionRepository.java
  server/test/repository/QuestionRepositoryTest.java
Labels: bug

#9979 [SessionTimeout][part5]Render session timeout modal on server side if enabled
  server/app/services/MessageKey.java
  server/app/views/BaseHtmlLayout.java
  server/app/views/BaseHtmlView.java
  server/app/views/NorthStarBaseView.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/AdminLayoutFactory.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/components/SessionTimeoutModals.java
  server/conf/i18n/messages
  server/test/views/admin/AdminLayoutTest.java
  server/test/views/applicant/ApplicantLayoutTest.java
  server/test/views/components/SessionTimeoutModalsTest.java
Labels: i18n, feature, under-development

#10045 Update renovate to pin docker images to sha hashes
  .github/renovate.json5
Labels: infrastructure, ignore-for-release

#10044 [Cleanup] Combine ProgramBuilder.newActiveProgram to one method that receives DisplayMode
  server/test/repository/VersionRepositoryTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
  server/test/support/ResourceCreator.java
Labels: ignore-for-release

#9834 Add a concurrency token to question update flows to prevent "stale tab" or "lost update" errors
  server/app/controllers/FlashKey.java
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/forms/QuestionForm.java
  server/app/forms/translation/QuestionTranslationForm.java
  server/app/models/ConcurrentUpdateException.java
  server/app/models/QuestionModel.java
  server/app/services/question/types/NullQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/conf/evolutions/default/84.sql
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
  server/test/forms/AddressQuestionFormTest.java
  server/test/forms/CheckboxQuestionFormTest.java
  server/test/forms/CurrencyQuestionFormTest.java
  server/test/forms/DropdownQuestionFormTest.java
  server/test/forms/EnumeratorQuestionFormTest.java
  server/test/forms/FileUploadQuestionFormTest.java
  server/test/forms/IdQuestionFormTest.java
  server/test/forms/MultiOptionQuestionFormTest.java
  server/test/forms/NameQuestionFormTest.java
  server/test/forms/NumberQuestionFormTest.java
  server/test/forms/PhoneQuestionFormTest.java
  server/test/forms/QuestionFormTest.java
  server/test/forms/RadioButtonQuestionFormTest.java
  server/test/forms/StaticContentQuestionFormTest.java
  server/test/forms/TextQuestionFormTest.java
  server/test/forms/translation/QuestionTranslationFormTest.java
  server/test/models/QuestionModelTest.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/question/types/QuestionDefinitionTest.java
Labels: bug, database

#9981 Fix S3 document upload policy fields
  server/app/services/cloud/aws/SignedS3UploadRequest.java
  server/test/services/cloud/aws/SignedS3UploadRequestTest.java
Labels: feature

#9963 Adding date validation to date question
  browser-test/src/applicant/questions/date.test.ts
  browser-test/src/applicant/questions/northstar_date.test.ts
  server/app/services/MessageKey.java
  server/app/services/applicant/question/DateQuestion.java
  server/conf/i18n/messages
  server/test/services/applicant/question/DateQuestionTest.java
Labels: i18n

#10065 Set the unit tests compose to use the local oidc image
  test-support/unit-test-docker-compose.yml
Labels: infrastructure

#9983 [Northstar] fix: Admin Program Card Preview doesn't display category tag text
  browser-test/image_snapshots/admin_program_image_test/ns-admin-program-image-card-preview.png
  browser-test/src/admin/admin_program_image.test.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/assets/stylesheets/uswds/_uswds-theme.scss
Labels: bug, under-development

#10075 [North Star] Adding a link to skip to main content of the page
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ApplicantBaseFragment.html
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/ProgramIndexTemplate.html
  server/app/views/applicant/ProgramOverviewTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development

#9680 Add multi-file upload support for Azure
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/services/question/QuestionAnswerer.java
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
Labels: bug, azure, feature

#10089 Updates Instanceof Pattern Matching For Errorprone 2
  server/app/services/CfJsonDocumentContext.java
  server/app/services/applicant/Block.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/cloud/generic_s3/AbstractS3StorageUtils.java
  server/app/services/question/types/QuestionDefinition.java
Labels: ignore-for-release

#10087 Updates For Errorprone
  server/app/controllers/HomeController.java
  server/app/controllers/dev/seeding/SampleQuestionDefinitions.java
  server/app/services/applicant/question/DateQuestion.java
  server/app/services/email/aws/SimpleEmail.java
  server/app/services/email/graph/GraphApiEmailClient.java
  server/app/services/geo/esri/EsriServiceAreaValidationConfig.java
Labels: ignore-for-release

#10088 Updates Instanceof Pattern Matching For Errorprone 1
  server/app/auth/ApiAuthenticator.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/controllers/LoginController.java
  server/app/controllers/api/ApiPaginationTokenPayload.java
  server/app/repository/ReportingRepository.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/app/views/fileupload/GenericS3FileUploadViewStrategy.java
Labels: ignore-for-release

#10071 [A11y] update styles for radio and checkbox focus in high contrast mode
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-errors-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: bug, under-development

#10063 [External Program Cards] Add feature flag
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: under-development

#10085 Updates Switch Pattern Matching For Errorprone 1
  server/app/auth/ClientIpResolver.java
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/admin/AdminReportingController.java
  server/app/forms/QuestionFormBuilder.java
  server/app/services/AlertSettings.java
  server/app/services/ProgramBlockValidation.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/questiontypes/ApplicantQuestionRendererFactory.java
Labels: ignore-for-release

#10084 Slow question bank perf
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-markdown.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  server/app/assets/stylesheets/styles.css
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/Icons.java
  server/app/views/components/ProgramQuestionBank.java
  server/app/views/components/UseTag.java
  server/test/views/components/IconsTest.java
Labels: UX, feature, user-CF-admin

#10106 Fix two broken icons
  server/app/views/components/Icons.java
Labels: ignore-for-release

#10050 [SessionTimeout][part6]Display session timeout warning and enforcement in frontend JS
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/modal.ts
  server/app/assets/javascripts/session.test.ts
  server/app/assets/javascripts/session.ts
Labels: feature, under-development

#10099 Browser test performance improvements
  browser-test/src/applicant/application_address_correction.test.ts
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/applicant/questions/northstar_file.test.ts
Labels: ignore-for-release

#10086 Updates Switch Pattern Matching For Errorprone 2
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/predicate/PredicateEvaluator.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/export/CsvColumnFactory.java
  server/app/services/export/JsonExporterService.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/export/enums/QuestionTypeExternal.java
  server/app/services/openapi/OpenApiVersion.java
  server/app/services/pagination/PageNumberPaginationSpec.java
  server/app/services/program/predicate/PredicateDefinition.java
  server/app/services/program/predicate/PredicateExpressionNode.java
  server/app/services/question/types/MultiOptionQuestionDefinition.java
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingsService.java
Labels: ignore-for-release

#10091 [A11y] fix focus and input bug
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-button-errors-north-star.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: bug, ignore-for-release

#9956 Removing cf-optional-question flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/admin/admin_settings.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/dev/FeatureFlagOverrideControllerTest.java
Labels: feature

#9817 Optimize question seeding
  browser-test/src/admin/admin_application_download.test.ts
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/applicant/northstar_application_download.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/index.ts
  browser-test/src/support/seeding.ts
  server/app/controllers/dev/DevToolsController.java
  server/conf/routes
Labels: ignore-for-release

#10133 Fix test for staging run
  browser-test/src/admin/admin_settings.test.ts
Labels: ignore-for-release

#9958 Removing program disabled feature flag
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-false-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled.png
  browser-test/image_snapshots/admin_question_references_test/question-used-in-programs.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_visibility.test.ts
  browser-test/src/admin/admin_publish.test.ts
  browser-test/src/admin/admin_question_references.test.ts
  browser-test/src/applicant/application_version_fast_forward.test.ts
  browser-test/src/applicant/northstar_application_version_fast_forward.test.ts
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/program_admin/program_admin_program_list.test.ts
  browser-test/src/program_deep_link.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/services/program/ProgramServiceTest.java
Labels: feature

#10128 Link to program overview page from eligibility message
  browser-test/src/applicant/northstar_ineligible.test.ts
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
Labels: under-development, [Epic] North Star Applicant UI, application flow

#9972 [A11y] Correctly announce links created by markdown
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  browser-test/src/applicant/questions/northstar_static_text.test.ts
  browser-test/src/applicant/questions/static_text.test.ts
  server/app/services/AlertSettings.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/question/LocalizedQuestionOption.java
  server/app/views/CiviFormMarkdown.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/NorthStarAnswerData.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarProgramOverviewView.java
  server/app/views/applicant/QuestionSummaryFragment.html
  server/app/views/components/AlertFragment.html
  server/app/views/components/ProgramCardFactory.java
  server/app/views/components/TextFormatter.java
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/test/views/CiviFormMarkdownTest.java
  server/test/views/components/TextFormatterTest.java
Labels: bug

#10141 Adding program related fields to program pdf export
  server/app/services/export/PdfExporter.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/PdfExporterTest.java
  server/test/support/ProgramBuilder.java
Labels: user-program-admin, feature

#10139 [North Star] use uswds styling in language selector
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/applicant/northstar_applicant_question_translation.test.ts
  browser-test/src/support/index.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NavigationFragment.html
Labels: bug, under-development

#10143 Remove aria-label from prescreener card buttons
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: a11y, [Epic] North Star Applicant UI

#10144 [North Star] Send focus to recommended programs upon filtering programs
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-homepage-programs-filtered.png
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarFilteredProgramsViewPartial.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: under-development

#10145 [North Star a11y] remove voiceover for required fields text
  server/app/views/applicant/ApplicantBaseFragment.html
Labels: a11y, under-development

#10102 Playwright eslint cleanup
  browser-test/.eslintrc.json
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/api_docs_schema_viewer.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/reporters/file_placement_reporter.ts
  browser-test/src/support/error_pages.ts
  browser-test/src/support/index.ts
Labels: infrastructure, ignore-for-release

#10148 Adding locator based modal opener
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/wait.ts
Labels: infrastructure, ignore-for-release

#10136 [Admin UI] Add initial back button capability to TI edit page
  browser-test/image_snapshots/trusted_intermediary_test/manage-ti-group-members-page.png
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
Labels: user-CF-admin, ignore-for-release, Product Debt, enhancement

#9816 Optimize program seeding
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_image.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/admin/admin_program_viewing.test.ts
  browser-test/src/api_docs.test.ts
  browser-test/src/api_docs_schema_viewer.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/auth.test.ts
  browser-test/src/header.test.ts
  browser-test/src/northstar_auth.test.ts
  browser-test/src/northstar_header.test.ts
  browser-test/src/northstar_trusted_intermediary.test.ts
  browser-test/src/support/index.ts
  browser-test/src/support/seeding.ts
  server/app/controllers/dev/DevToolsController.java
  server/conf/routes
Labels: infrastructure, ignore-for-release

#10146 [A11y] Fix navigation menu voiceover in mobile view
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NavigationFragment.html
Labels: bug, a11y, ignore-for-release, under-development

#10103 [SessionTimeout][part7]Browser tests for session timeout
  browser-test/image_snapshots/session_timeout_test/admin-session-inactivity-warning-modal.png
  browser-test/image_snapshots/session_timeout_test/admin-session-length-warning-modal.png
  browser-test/src/session_timeout.test.ts
  browser-test/src/support/session_timeout.ts
  server/app/assets/javascripts/session.test.ts
  server/app/assets/javascripts/session.ts
  server/conf/application.dev-browser-tests.conf
Labels: feature, under-development

#10098 Only allow unique TI group names, and add unit tests
  server/app/controllers/admin/TrustedIntermediaryManagementController.java
  server/test/controllers/admin/TrustedIntermediaryManagementControllerTest.java
Labels: good first issue, i18n, user-CF-admin, ignore-for-release, Product Debt, enhancement

#10162 [Cleanup] Remove unused uploadedFilesLocator variable
  browser-test/src/support/applicant_file_question.ts
Labels: ignore-for-release

#10168 Revert "[SessionTimeout][part7]Browser tests for session timeout (#10103)"
  browser-test/image_snapshots/session_timeout_test/admin-session-inactivity-warning-modal.png
  browser-test/image_snapshots/session_timeout_test/admin-session-length-warning-modal.png
  browser-test/src/session_timeout.test.ts
  browser-test/src/support/session_timeout.ts
  server/app/assets/javascripts/session.test.ts
  server/app/assets/javascripts/session.ts
  server/conf/application.dev-browser-tests.conf
Labels: ignore-for-release
