Repository civiform/civiform, pull requests merged in 2025-05, with the labels that each got.

#10427 Enable program filtering flag in some browser test files (part 3)
  browser-test/image_snapshots/application_navigation_common_intake_test/cif-shows-submitted-medium.png
  browser-test/image_snapshots/application_navigation_common_intake_test/cif-shows-submitted-mobile.png
  browser-test/image_snapshots/application_navigation_common_intake_test/cif-shows-submitted.png
  browser-test/image_snapshots/application_navigation_flow_test/program-list-page-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/program-list-page-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/program-list-page.png
  browser-test/image_snapshots/application_navigation_flow_test/program-submission-guest-multiple-programs-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/program-submission-guest-multiple-programs-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/program-submission-guest-multiple-programs.png
  browser-test/image_snapshots/application_review_test/applications-page.png
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/applicant/application_version_fast_forward.test.ts
  browser-test/src/applicant/navigation/application_navigation_common_intake.test.ts
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_with_eligibility_conditions.test.ts
Labels: ignore-for-release

#10439 Enable program filtering flag in some browser tests and fix screenshots (part 5)
  browser-test/image_snapshots/applicant_application_index_test/apply-program-login-prompt.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-not-set.png
  browser-test/image_snapshots/applicant_application_index_test/common-intake-form-sections.png
  browser-test/image_snapshots/applicant_application_index_test/program-details-visibility.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/northstar_trusted_intermediary.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#10431 Update docs on clearInternal and related methods.
  server/app/controllers/dev/DevToolsController.java
Labels: ignore-for-release

#10435 Fix address correction eiligibility bug
  browser-test/src/applicant/navigation/application_navigation_address_visibility_condition.test.ts
  browser-test/src/applicant/navigation/application_navigation_address_visibility_eligibility.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_address_visibility_eligibility.test.ts
  server/app/services/applicant/ApplicantData.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ServiceAreaUpdateResolver.java
  server/test/services/applicant/ApplicantDataTest.java
  server/test/services/applicant/ServiceAreaUpdateResolverTest.java
Labels: bug

#10434 Enable program filtering for some browser tests and fix screenshots (part 4)
  browser-test/image_snapshots/auth_test/guest-just-ended-session.png
  browser-test/image_snapshots/auth_test/logged-in.png
  browser-test/image_snapshots/auth_test/no-user.png
  browser-test/image_snapshots/auth_test/user-just-ended-session.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/image_snapshots/file_test/file-error-too-large-multiple-files.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/programindentation.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list-visible-disabled-program.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list.png
  browser-test/image_snapshots/program_deep_link_test/home-page.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-eligible-ti.png
  browser-test/image_snapshots/trusted_intermediary_test/program-page-not-eligible-ti.png
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/applicant/questions/northstar_file.test.ts
  browser-test/src/auth.test.ts
  browser-test/src/end_to_end_enumerators.test.ts
  browser-test/src/northstar_end_to_end_enumerators.test.ts
  browser-test/src/program_admin/program_admin_program_list.test.ts
  browser-test/src/program_deep_link.test.ts
  browser-test/src/trusted_intermediary.test.ts
Labels: ignore-for-release

#10442 Truncate relational tables when tests clear the database
  server/app/models/Models.java
Labels: ignore-for-release

#10440 [RTL] Change screenshot tests to use English
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-mobile.png
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/support/index.ts
Labels: under-development

#10412 Small condition statements cleanups in admin code
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/components/ProgramCardFactory.java
Labels: ignore-for-release

#10401 [External Program Cards] Use ProgramType in ProgramCardsParam
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/test/views/applicant/ProgramCardsSectionParamsFactoryTest.java
Labels: feature

#10389 [RTL] Add RTL support to North Star program overview page
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left.png
  browser-test/src/applicant/northstar_program_overview.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramOverviewTemplate.html
Labels: i18n, under-development

#10443 [External Program Cards] Open model when clicking on card for external program
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/services/MessageKey.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/ProgramCardsFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/components/Icons.java
  server/conf/i18n/messages
Labels: i18n, feature

#10451 Enable color theming in dev
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/conf/application.dev.conf
Labels: feature-flag

#10470 Fix MessagesTest for errorprone
  server/test/conf/MessagesTest.java
Labels: ignore-for-release

#10316 Update style-src directive for dev
  server/conf/application.dev.conf
Labels: security, under-development

#10462 Add transactions to AccountRepository, and utility methods to TransactionManager
  server/app/repository/AccountRepository.java
  server/app/repository/TransactionManager.java
  server/test/repository/TransactionManagerTest.java
Labels: enhancement

#10477 TransactionManager: Log Concurrency exceptions that are retried
  server/app/repository/TransactionManager.java
Labels: ignore-for-release

#10479 Specify ExecutionContext variable names for clarity
  server/app/modules/DurableJobModule.java
  server/app/repository/AccountRepository.java
  server/app/repository/ApiKeyRepository.java
  server/app/repository/ApplicationEventRepository.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/ProgramRepository.java
  server/app/repository/QuestionRepository.java
  server/app/repository/StoredFileRepository.java
Labels: ignore-for-release

#10480 Fixes for LogoutAllSessionsControllerTest
  server/test/controllers/LogoutAllSessionsControllerTest.java
Labels: ignore-for-release

#10472 Error-prone fixes in tests
  server/test/auth/oidc/OidcClientProviderTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/services/session/SessionTimeoutServiceTest.java
  server/test/services/statuses/StatusServiceTest.java
  server/test/views/applicant/ProgramCardsSectionParamsFactoryTest.java
Labels: ignore-for-release

#10396 [RTL] Add RTL language support to ineligibility page
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left.png
  browser-test/src/applicant/northstar_ineligible.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/IneligibleTemplate.html
Labels: i18n, under-development

#10484 Fix WildcardImport error in ValidAccountFilterTest
  server/test/filters/ValidAccountFilterTest.java
Labels: ignore-for-release

#10437 Rename message keys and file names from "common intake" to "pre-screener"
  server/app/controllers/applicant/UpsellController.java
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantPreScreenerUpsellCreateAccountView.java
  server/app/views/applicant/ApplicantPreScreenerUpsellTemplate.html
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/NorthStarApplicantPreScreenerUpsellView.java
  server/app/views/applicant/NorthStarApplicantProgramSummaryView.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/applicant/ProgramIndexTemplate.html
  server/app/views/applicant/ProgramIndexView.java
  server/conf/i18n/messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.de
  server/conf/i18n/messages.es-US
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ja
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.ru
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n, ignore-for-release

#10474 Migrate application_review browser test to North Star
  browser-test/image_snapshots/application_review_test/applications-page.png
  browser-test/image_snapshots/northstar_application_review_test/applications-filtered-after-download.png
  browser-test/image_snapshots/northstar_application_review_test/applications-filtered.png
  browser-test/image_snapshots/northstar_application_review_test/applications-unfiltered-pai.png
  browser-test/image_snapshots/northstar_application_review_test/applications-unfiltered.png
  browser-test/image_snapshots/northstar_application_review_test/cf-admin-applications-page.png
  browser-test/image_snapshots/northstar_application_review_test/cf-admin-reporting-page.png
  browser-test/image_snapshots/northstar_application_review_test/program-specific-reporting-page.png
  browser-test/image_snapshots/northstar_application_review_test/reporting-page.png
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/applicant/northstar_application_review.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#10490 [North Star] update title and subtitle
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-cards-long-word-description.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form-in-progress.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form-not-set.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form-sections.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-all-types.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-tall.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-with-status.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-dark-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/eligible-home-page-program-card-with-tag.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag.png
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/northstar_security.test.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramIndexTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development

#10498 Convert direct transaction usage to TransactionManager
  server/app/repository/ApplicationEventRepository.java
  server/app/repository/ApplicationStatusesRepository.java
  server/test/repository/ApplicationEventRepositoryTest.java
Labels: ignore-for-release

#10501 Fix ErrorProne issues.
  server/test/repository/ProgramRepositoryTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: ignore-for-release

#10475 Enable program filtering flag by default in browser tests
  browser-test/image_snapshots/admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-all-types.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-tall.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-image-with-status.png
  browser-test/image_snapshots/applicant_application_statuses_test/program-list-with-status.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tag-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tag-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/eligible-home-page-program-tag.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tag-medium.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tag-mobile.png
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-tag.png
  browser-test/src/admin/admin_publish.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/applicant_application_statuses.test.ts
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  server/conf/application.dev-browser-tests.conf
Labels: ignore-for-release

#10500 [External Program Cards] Disable confirmation message on external program creation
  browser-test/src/admin/admin_program_creation.test.ts
  server/app/assets/javascripts/admin_programs.ts
Labels: feature

#10503 [RTL] Prevent `position: absolute` from breaking rendering on screen-reader-only elements
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: i18n, a11y, under-development

#10512 Correct small in message file
  server/conf/i18n/messages
Labels: i18n, enhancement

#10509 [External Program Cards] Remove application related extra actions for external program cards
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: feature

#10526 Fix errorprone issues in JsonExporterServiceTest
  server/test/services/export/JsonExporterServiceTest.java
Labels: ignore-for-release

#10505 ApplicationRepository: Change manual transaction usage to TranactionManager
  server/app/repository/ApplicationRepository.java
Labels: ignore-for-release

#10525 Fix unchecked throw error prone in GraphApiEmailClientTest
  server/test/services/email/graph/GraphApiEmailClientTest.java
Labels: ignore-for-release

#10531 Fix malformed assert statements for errorprone
  server/test/models/ApplicantModelTest.java
  server/test/models/ApplicationModelTest.java
  server/test/repository/ApplicationRepositoryTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
Labels: ignore-for-release

#10544 NumberQuestionTest errorprone fix
  server/test/services/applicant/question/NumberQuestionTest.java
Labels: ignore-for-release

#10542 Fix DevTools and modals on northstar
  browser-test/image_snapshots/northstar_dev_tools_test/northstar-dev-tools-modal.png
  browser-test/src/admin/northstar_dev_tools.test.ts
  server/app/views/applicant/ModalFragment.html
  server/app/views/applicant/NavigationFragment.html
Labels: bug

#10515 Add info alert when there are no available programs
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-with-status.png
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexTemplate.html
  server/app/views/components/AlertFragment.html
  server/conf/i18n/messages
Labels: i18n, [Epic] North Star Applicant UI

#10516 Disable DevTools actions when DevTools is disabled in settings
  browser-test/src/admin/dev_tools.test.ts
  server/app/actions/DemoModeDisabledAction.java
  server/app/controllers/dev/DevToolsController.java
  server/test/actions/DemoModeDisabledActionTest.java
Labels: bug

#10543 Remove readonly attribute when admin program fields are enabled
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_programs.ts
Labels: bug

#10550 Update northstar test to include updates from dev_tools.test
  browser-test/image_snapshots/northstar_dev_tools_test/northstar-dev-tools-modal.png
  browser-test/src/admin/northstar_dev_tools.test.ts
Labels: ignore-for-release

#10519 [External Program Cards] Invalidate program URL for external programs
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: feature

#10551 Various Errorprone test fixes
  server/test/controllers/SessionControllerTest.java
  server/test/controllers/admin/TrustedIntermediaryManagementControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/durablejobs/jobs/CopyFileKeyForMultipleFileUploadTest.java
Labels: ignore-for-release

#10547 Fix errorprone message for TextQuestionTest
  server/test/services/applicant/question/TextQuestionTest.java
Labels: ignore-for-release

#10546 Fix typo in dev csp setting
  browser-test/src/api_docs_schema_viewer.test.ts
  server/conf/application.dev.conf
Labels: ignore-for-release, security

#10549 Fix Errorprone errors for AdminApplicationControllerTest
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: ignore-for-release

#10399 [RTL] Add RTL language support to applicant program summary page
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left-medium.png
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left.png
  browser-test/src/applicant/northstar_program_summary.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ApplicantProgramSummaryTemplate.html
  server/app/views/applicant/QuestionSummaryFragment.html
Labels: i18n, under-development

#10556 Adding new execution context
  server/app/services/apibridge/ApiBridgeExecutionContext.java
  server/conf/application.conf
  server/conf/helper/api-bridge.conf
Labels: under-development

#10554 Disallow duplicate question keys during import
  server/app/controllers/admin/AdminImportController.java
  server/app/services/migration/ProgramMigrationService.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: bug, user-CF-admin, under-development, PDF-to-CiviForm

#10566 [Cleanup] Use getProgramCard instead of programCardSelector
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#10563 [North Star] always wrap breadcrumbs, even on mobile
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-mobile.png
  server/app/assets/stylesheets/northstar/_uswds-theme.scss
Labels: a11y, under-development

#10565 [External Program Cards] Hide share actions for external program cards in admin panel
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: under-development

#10400 [RTL] Right-to-left language support on edit pages in North Star
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left-medium.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left.png
  browser-test/src/applicant/northstar_block_edit.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
Labels: i18n, ignore-for-release

#10459 [RTL] Add RTL language support to applicant upsell page
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-right-to-left-mobile.png
  browser-test/src/applicant/northstar_upsell.test.ts
  server/app/views/applicant/ApplicantUpsellTemplate.html
Labels: i18n, ignore-for-release

#10483 [RTL] Add right to left language support on address correction block
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-right-to-left-medium.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-right-to-left.png
  browser-test/src/applicant/northstar_application_address_correction.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
Labels: ignore-for-release

#10455 [External Program Cards] Include external programs in filtering tests
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
Labels: under-development

#10577 [RTL] Add RTL support to prescreener upsell page
  browser-test/image_snapshots/northstar_application_navigation_pre_screener_test/north-star-pre-screener-upsell-right-to-left-medium.png
  browser-test/image_snapshots/northstar_application_navigation_pre_screener_test/north-star-pre-screener-upsell-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_pre_screener_test/north-star-pre-screener-upsell-right-to-left.png
  browser-test/src/applicant/navigation/northstar_application_navigation_pre_screener.test.ts
  server/app/views/applicant/ApplicantPreScreenerUpsellTemplate.html
Labels: ignore-for-release

#10487 [RTL] Fix padding in RTL mode for official government banner icons
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left.png
  browser-test/image_snapshots/northstar_header_test/government-banner-right-to-left.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left.png
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-right-to-left-desktop.png
  browser-test/src/northstar_header.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: ignore-for-release

#10580 [External Program Cards] Hide actions for external program cards for program admins
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
Labels: under-development

#10584 [RTL] Render modal close button in top left instead of top right in RTL mode
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: ignore-for-release

#10567 [Cleanup] Use getProgramCard instead of withinProgramCardSelector
  browser-test/src/admin/admin_program_email_notifications.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/applicant/northstar_application_review.test.ts
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#10590 Errorprone working under sbt-test
  server/build.sbt
  test-support/unit-test-docker-compose.yml
Labels: ignore-for-release

#10581 [Cleanup] Remove unnecessary copy when building program actions
  server/app/views/admin/programs/ProgramIndexView.java
Labels: ignore-for-release

#10535 [External Program Cards] Show external program modal when triggered from HTMX card
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/assets/javascripts/north_star_modal.ts
  server/app/views/applicant/ProgramCardsFragment.html
Labels: under-development

#10587 Remove error thrown when modal container is not found
  server/app/assets/javascripts/modal.ts
Labels: bug

#10583 [RTL] Fix text overlapping $ on currency input question in rtl mode
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: ignore-for-release

#10592 [External Program Cards] Hide 'manage program admin' for external program in civiform admin panel
  browser-test/src/admin/admin_program_list.test.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: under-development

#10602 Allow any IP to be used for API access in dev mode
  server/conf/application.dev.conf
  server/conf/application.test.conf
Labels: infrastructure

#10601 Move external link field to setup section in program creation
  browser-test/image_snapshots/admin_program_creation_test/external-program-create-page.png
  browser-test/image_snapshots/admin_program_creation_test/external-program-edit-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-pre-screener-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-pre-screener-form-true-northstar-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-pre-screener-form-true.png
  browser-test/src/admin/admin_program_creation.test.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: enhancement

#10576 Add toplevel radio group and client-side scripting
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data-new-ui.png
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  server/app/assets/javascripts/admin_import_view.ts
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/app/views/admin/migration/AdminProgramImportForm.java
Labels: user-CF-admin, ignore-for-release, PDF-to-CiviForm

#10607 [RTL] Add arabic translations to seed questions
  server/app/controllers/dev/seeding/SampleQuestionDefinitions.java
  server/app/services/seeding/DatabaseSeedTask.java
Labels: ignore-for-release

#10617 Create EbeanInvariantTest class
  server/test/repository/EbeanInvariantTest.java
Labels: ignore-for-release

#10585 Update Transaction usage in ProgramRepository
  server/app/repository/ProgramRepository.java
Labels: enhancement

#10600 Making createProgramWithNongatingEligibility() a public method
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/support/TestProgramUtility.java
Labels: enhancement

#10611 Wrap program import in a transaction
  server/app/controllers/admin/AdminImportController.java
  server/app/repository/QuestionRepository.java
  server/app/services/migration/ProgramMigrationService.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: bug, ignore-for-release, PDF-to-CiviForm

#10615 Only update enumerator IDs for newly saved Qs
  server/app/repository/QuestionRepository.java
  server/app/services/migration/ProgramMigrationService.java
  server/test/repository/QuestionRepositoryTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: bug, ignore-for-release, PDF-to-CiviForm

#10619 [External Program Cards] Close modal when clicking outside the modal for external program opened after HTMX initialization
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/assets/javascripts/north_star_modal.ts
Labels: under-development

#10623 [RTL] Fix text overlapping with radio buttons on radio button questions
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-right-to-left-medium.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-right-to-left.png
  browser-test/src/applicant/questions/northstar_radio_button.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
Labels: ignore-for-release

#10621 [External Program Cards] Add aria label to external program card button
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramCardsFragment.html
  server/conf/i18n/messages
Labels: i18n, under-development

#10618 Log repository at INFO, and ebean.SUM at OFF
  server/conf/logback.xml
Labels: infrastructure

#10199 Durable job for pre compute eligibility
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/jobs/CalculateEligibilityDeterminationJob.java
  server/app/modules/DurableJobModule.java
  server/app/services/applicant/ApplicantService.java
  server/test/durablejobs/jobs/CalculateEligibilityDeterminationTest.java
Labels: database

#10628 Adding in mock endpoints for the API Bridge
  mock-web-services/apibridge/__init__.py
  mock-web-services/apibridge/models.py
  mock-web-services/apibridge/sample_data.py
  mock-web-services/app.py
  mock-web-services/smoke-tests.sh
  mock-web-services/webservice/__init__.py
Labels: infrastructure

#10620 Add a loading spinner for HTMX button click
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/support/admin_program_migration.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/admin/migration/AdminImportView.java
  server/app/views/admin/migration/AdminImportViewPartial.java
Labels: user-CF-admin, enhancement, PDF-to-CiviForm

#10635 Show correct header for Program Admins when API docs is selected
  server/app/views/docs/ApiDocsView.java
Labels: bug

#10649 Fix test race condition
  browser-test/src/support/admin_program_migration.ts
Labels: ignore-for-release

#10570 (fix) Hide language selector when only one language is enabled (NorthStar Ui)
  browser-test/src/applicant/northstar_applicant_question_translation.test.ts
  server/app/views/applicant/NavigationFragment.html
Labels: enhancement

#10644 [RTL] Right-align modal content in rtl mode.
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-right-to-left-medium.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-right-to-left.png
  browser-test/image_snapshots/northstar_application_navigation_pre_screener_test/north-star-pre-screener-upsell-right-to-left-medium.png
  browser-test/image_snapshots/northstar_application_navigation_pre_screener_test/north-star-pre-screener-upsell-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_pre_screener_test/north-star-pre-screener-upsell-right-to-left.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left.png
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-right-to-left-desktop.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/BlockSummaryFragment.html
  server/app/views/applicant/NavigationFragment.html
Labels: ignore-for-release

#10640 [External Program Cards] Update strings for program slug field in program form
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/test/views/admin/programs/ProgramFormBuilderTest.java
Labels: under-development

#10650 [Cleanup] Remove static from buildApplicationStepDiv() used only by tests
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/test/views/admin/programs/ProgramFormBuilderTest.java
Labels: ignore-for-release

#10633 Remove (optional) text from fields in the program create/edit form
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-pre-screener-form-true-northstar-enabled.png
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_translations.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/views/ViewUtils.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/components/FieldWithLabel.java
  server/test/views/admin/programs/ProgramFormBuilderTest.java
  server/test/views/components/FieldWithLabelTest.java
  server/test/views/components/TextFormatterTest.java
Labels: bug

#10654 [External Program Cards] Don't include external program for cards in pre NS
  server/app/services/applicant/ApplicantService.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: under-development
