Repository civiform/civiform, pull requests merged in 2025-01, with the labels that each got.

#9447 Pass block definition through to rendering ineligible block view
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/IneligibleBlockView.java
Labels: ignore-for-release

#9488 Stretching background colors to full width on wide screens
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/file_test/file-uploaded-north-star.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_header_test/banner-expanded.png
  browser-test/image_snapshots/northstar_header_test/logged-in.png
  browser-test/image_snapshots/northstar_header_test/not-logged-in.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  browser-test/image_snapshots/northstar_text_test/text-max.png
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: under-development

#9421 [Eligibility message] frontend applicant side
  browser-test/image_snapshots/admin_program_translation_test/ineligible-view-with-translated-eligibility-msg.png
  browser-test/src/admin/admin_program_translation.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/views/applicant/IneligibleBlockView.java
Labels: under-development

#9501 Remove the session from the database on logout and check request against session ID behind a feature flag
  server/app/filters/ValidAccountFilter.java
  server/app/modules/CiviFormLogoutLogic.java
  server/app/modules/SecurityModule.java
Labels: bug, under-development

#9475 Enable multi-file upload for Azure deployments using Northstar
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/fileupload/FileUploadViewStrategy.java
Labels: azure, ignore-for-release, [Epic] North Star Applicant UI

#9510 Create a session if it doesn't exist and log these cases
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/repository/AccountRepository.java
  server/test/repository/AccountRepositoryTest.java
Labels: ignore-for-release

#9514 Removing Application Card related functions from Browser tests
  browser-test/src/admin/admin_application_download.test.ts
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/admin/admin_bulk_update_statuses.test.ts
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/applicant_application_statuses.test.ts
  browser-test/src/applicant/application_download.test.ts
  browser-test/src/applicant/application_previous_version.test.ts
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/applicant/northstar_applicant_application_statuses.test.ts
  browser-test/src/applicant/northstar_application_previous_version.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#9517 Clear all sessions on logout
  browser-test/image_snapshots/auth_test/central-provider-logout.png
  server/app/models/AccountModel.java
  server/app/modules/CiviFormLogoutLogic.java
Labels: under-development

#9526 Add active session to other fake roles
  server/app/auth/ProfileFactory.java
Labels: ignore-for-release

#9522 Revert "Clear all sessions on logout"
  server/app/models/AccountModel.java
  server/app/modules/CiviFormLogoutLogic.java
Labels: ignore-for-release

#9523 Support a route for back channel logout
  server/app/controllers/LogoutAllSessionsController.java
  server/app/models/AccountModel.java
  server/conf/routes
  server/test/controllers/LogoutAllSessionsControllerTest.java
  server/test/models/AccountModelTest.java
Labels: under-development

#9518 Fixing details of the show program route for the North Star
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/northstar_program_deep_link.test.ts
  browser-test/src/support/applicant_program_overview.ts
  browser-test/src/support/civiform_fixtures.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
Labels: under-development

#9533 Pass through mask options
  browser-test/src/support/index.ts
Labels: infrastructure

#9547 rename Question to AbstractQuestion
  server/app/services/applicant/AnswerData.java
  server/app/services/applicant/Block.java
  server/app/services/applicant/question/AbstractQuestion.java
  server/app/services/applicant/question/AddressQuestion.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/applicant/question/CurrencyQuestion.java
  server/app/services/applicant/question/DateQuestion.java
  server/app/services/applicant/question/EmailQuestion.java
  server/app/services/applicant/question/EnumeratorQuestion.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/services/applicant/question/IdQuestion.java
  server/app/services/applicant/question/MultiSelectQuestion.java
  server/app/services/applicant/question/NameQuestion.java
  server/app/services/applicant/question/NullQuestion.java
  server/app/services/applicant/question/NumberQuestion.java
  server/app/services/applicant/question/PhoneQuestion.java
  server/app/services/applicant/question/SingleSelectQuestion.java
  server/app/services/applicant/question/StaticContentQuestion.java
  server/app/services/applicant/question/TextQuestion.java
  server/app/services/export/Column.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/question/types/QuestionType.java
Labels: ignore-for-release

#9530 Disable file upload modal in North Star when maximum number of file uploads has been reached
  browser-test/src/applicant/questions/file.test.ts
  server/app/views/questiontypes/FileUploadQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9532 Fix typos in scripts
  bin/build-browser-tests
  bin/build-dev
  bin/build-dev-oidc
  bin/build-formatter
  bin/build-localstack-env
  bin/build-mock-web-services
  bin/build-prod
  bin/sync-failed-browser-test-images
  bin/vscode-setup
Labels: ignore-for-release

#9546 Adding navigation links to the openapi schema viewer
  browser-test/image_snapshots/api_docs_schema_viewer_test/api-docs-schema-viewer.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/draft-not-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version.png
  browser-test/src/api_docs_schema_viewer.test.ts
  server/app/views/docs/ApiDocsView.java
  server/app/views/docs/SchemaView.java
Labels: feature

#9548 Fixing asset path
  server/app/views/docs/SchemaView.java
  server/conf/routes
Labels: bug

#9549 [Eligibility message] enables markdown for eligibility msg
  browser-test/image_snapshots/application_navigation_with_eligibility_conditions_test/ineligible-view-eligibility-msg-markdown.png
  browser-test/src/applicant/navigation/application_navigation_with_eligibility_conditions.test.ts
  server/app/views/applicant/IneligibleBlockView.java
Labels: feature

#9559 Fix suffix dropdown getting cleared on form validation & editing
  browser-test/src/applicant/questions/name.test.ts
  server/app/views/questiontypes/NameQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9555 Hide tabs when there are no disabled programs
  browser-test/src/admin/admin_program_list.test.ts
  server/app/repository/ProgramRepository.java
  server/app/repository/VersionRepository.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/program/ProgramServiceTest.java
  server/test/support/ProgramBuilder.java
  server/test/support/ResourceCreator.java
Labels: enhancement

#9481 Add support for multi file original names in storage and display.
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/applicant/question/FileUploadQuestion.java
  server/app/services/applicant/question/Scalar.java
  server/app/services/openapi/AbstractOpenApiSchemaGenerator.java
  server/app/services/question/QuestionAnswerer.java
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceTest.java
  server/test/services/applicant/question/FileUploadQuestionTest.java
Labels: azure, [Epic] North Star Applicant UI

#9550 Allow back button to work if user hasn't uploaded any files on a file…
  browser-test/src/applicant/questions/northstar_file.test.ts
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
Labels: under-development, [Epic] North Star Applicant UI

#9572 Use add toast message helper methods in views
  server/app/views/BaseHtmlView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramPredicatesEditView.java
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/admin/settings/AdminSettingsIndexView.java
  server/app/views/admin/ti/EditTrustedIntermediaryGroupView.java
  server/app/views/admin/ti/TrustedIntermediaryGroupListView.java
  server/app/views/applicant/TrustedIntermediaryAccountSettingsView.java
  server/app/views/applicant/TrustedIntermediaryClientListView.java
Labels: ignore-for-release

#9561 Enable Multifile Upload
  browser-test/image_snapshots/admin_question_preview_test/north-star-file-question-preview.png
  browser-test/image_snapshots/file_test/file-error-too-large-multiple-files.png
  browser-test/image_snapshots/file_test/file-error-too-large.png
  browser-test/image_snapshots/file_test/file-optional-re-answered.png
  browser-test/image_snapshots/file_test/file-optional.png
  browser-test/image_snapshots/file_test/file-required-re-answered.png
  browser-test/image_snapshots/file_test/file-required.png
  browser-test/image_snapshots/file_test/file-uploaded.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/src/admin/admin_question_preview.test.ts
  browser-test/src/api_docs.test.ts
  browser-test/src/applicant/application_review.test.ts
  browser-test/src/applicant/northstar_program_summary.test.ts
  browser-test/src/applicant/questions/file.test.ts
  browser-test/src/applicant/questions/northstar_file.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/modules/DurableJobModule.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/export/CsvColumnFactory.java
  server/app/services/export/CsvExporterService.java
  server/app/services/export/JsonExporterService.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionPreview.java
  server/app/views/applicant/ApplicantFileUploadRenderer.java
  server/app/views/docs/ApiDocsView.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/FileUploadQuestionRenderer.java
  server/conf/application.dev-browser-tests.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
  server/test/services/applicant/ReadOnlyApplicantProgramServiceTest.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
  server/test/views/admin/question/QuestionConfigTest.java
Labels: feature

#9582 Hook up "Start an application" button on Program Overview and add account creation alert
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-mobile.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview.png
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/support/applicant_program_overview.ts
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/CreateAccountAlertFragment.html
  server/app/views/applicant/NorthStarProgramOverviewView.java
  server/app/views/applicant/ProgramOverviewTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development

#9581 Remove skip-on-azure tag for browser tests.
  browser-test/src/applicant/application_review.test.ts
Labels: azure, ignore-for-release

#9584 Enable uswds colors. Fixes header link formatting. Fixes 'top content' color
  server/app/assets/stylesheets/northstar/_uswds-theme.scss
  server/app/views/applicant/NavigationFragment.html
Labels: tech-debt, under-development

#9585 Remove border on category filters and from fieldset
  server/app/views/applicant/AddressCorrectionBlockTemplate.html
  server/app/views/applicant/ProgramFiltersFragment.html
Labels: tech-debt, under-development

#9587 Skip test suite file.test.ts on Azure
  browser-test/src/applicant/questions/file.test.ts
Labels: azure, ignore-for-release, [Epic] North Star Applicant UI

#9529 [North star] Eligibility message for applicant on ineligible page
  browser-test/image_snapshots/northstar_ineligible_test/northstar-eligibility-msg.png
  browser-test/src/applicant/northstar_ineligible.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/EligibilityAlertSettingsCalculator.java
  server/app/services/AlertSettings.java
  server/app/views/applicant/NorthStarApplicantIneligibleView.java
  server/app/views/components/AlertFragment.html
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
Labels: under-development

#9583 Fix category layout
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: tech-debt, under-development

#9598 Markdown for application steps and long description on the Program Overview page
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-mobile.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview.png
  browser-test/src/applicant/northstar_program_overview.test.ts
  server/app/views/applicant/NorthStarProgramOverviewView.java
  server/app/views/applicant/ProgramOverviewTemplate.html
  server/app/views/applicant/TitleAndDescriptionFragment.html
Labels: under-development

#9601 Block renovate from update to tailwind v4
  .github/renovate.json5
Labels: ignore-for-release

#9620 Removing obsolete comment
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
Labels: ignore-for-release

#9626 Support Enumerators in QuestionJsonSampler
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-with-multiple-upload.png
  server/app/services/applicant/RepeatedEntity.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/export/QuestionJsonSampler.java
  server/app/services/question/types/QuestionDefinition.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: enhancement

#9627 Adding program visibility state to admin program card
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_list_test/program-list-active-and-draft-versions.png
  browser-test/image_snapshots/admin_program_list_test/program-list-disabled-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-in-use-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-no-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-draft-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-categories.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-different-active-and-draft-images.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-new-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-same-active-and-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-no-warning.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/image_snapshots/admin_publish_test/publish-modal.png
  browser-test/image_snapshots/application_review_test/applications-page.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list-visible-disabled-program.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list.png
  browser-test/src/admin/admin_program_list.test.ts
  server/app/models/DisplayMode.java
  server/app/views/components/ProgramCardFactory.java
Labels: user-program-admin, enhancement

#9646 Add a configurable list of IP addresses to check against before hitting the logout endpoint
  server/app/controllers/LogoutAllSessionsController.java
  server/app/services/settings/SettingsManifest.java
  server/conf/application.conf
  server/conf/env-var-docs.json
  server/test/controllers/LogoutAllSessionsControllerTest.java
Labels: enhancement

#9633 Go to the review page when clicking on submitted applications.
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: under-development, [Epic] North Star Applicant UI, application flow

#9641 Add eligibility message banner to edit blocks in North Star
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/src/applicant/navigation/northstar_application_navigation_with_eligibility_conditions.test.ts
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
Labels: under-development, [Epic] North Star Applicant UI, application flow

#9574 Enable feature flag for name suffix
  browser-test/image_snapshots/name_test/name-errors.png
  browser-test/image_snapshots/name_test/name.png
  browser-test/image_snapshots/northstar_header_test/not-logged-in-guest-mode-enabled.png
  browser-test/image_snapshots/northstar_name_test/name-errors-north-star.png
  browser-test/image_snapshots/northstar_name_test/name-north-star.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-already-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-name.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-non-universal-and-already-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-universal-not-set.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/trusted_intermediary_test/add-client-invalid-dob.png
  browser-test/image_snapshots/trusted_intermediary_test/applicant-program-spanish.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-invalid-email.png
  browser-test/image_snapshots/trusted_intermediary_test/cannot-add-client-with-existing-email.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-all-fields.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-information-with-field-errors.png
  browser-test/image_snapshots/trusted_intermediary_test/edit-client-success-alert.png
  browser-test/image_snapshots/trusted_intermediary_test/pai-program-application.png
  browser-test/src/admin/admin_application_download.test.ts
  browser-test/src/applicant/application_download.test.ts
  server/conf/application.dev-browser-tests.conf
  server/conf/application.dev.conf
  server/conf/application.test.conf
  server/test/controllers/ti/TrustedIntermediaryControllerTest.java
Labels: feature
