Repository civiform/civiform, pull requests merged in 2025-07, with the labels that each got.

#10902 Add new dependency update process to oncall
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#10914 Grey out enumerator dropdown when editing a repeated question
  browser-test/image_snapshots/admin_question_list_test/question-edit-universal-set.png
  browser-test/image_snapshots/admin_question_list_test/question-edit-universal-unset.png
  browser-test/image_snapshots/admin_question_preview_test/north-star-question-preview-page.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-already-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-dob.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-email.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-name.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-non-universal-and-already-set.png
  browser-test/image_snapshots/primary_applicant_info_test/primary-applicant-info-phone.png
  browser-test/image_snapshots/question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-blank-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-invalid-admin-names-error.png
  browser-test/image_snapshots/question_lifecycle_test/question-with-markdown-formatted-preview.png
  browser-test/image_snapshots/question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/question_lifecycle_test/remove-universal-confirmation-modal.png
  browser-test/image_snapshots/question_lifecycle_test/text-edit-page.png
  browser-test/src/question_lifecycle.test.ts
  server/app/views/admin/questions/QuestionEditView.java
Labels: bug

#10883 [Date validation] Add feature flag for date validation
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag, under-development

#10918 [ProgramSlugUrl] Retrieve slug from programParam in ProgramDisabledAction
  browser-test/src/applicant/northstar_application_version_fast_forward.test.ts
  server/app/actions/ProgramDisabledAction.java
  server/test/actions/ProgramDisabledActionTest.java
Labels: under-development

#10876 Add nav bar to admin application view
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: UI / visual design, user-program-admin, enhancement, design debt

#10884 [Yes/No] Use radio button icon for yes/no questions
  server/app/views/components/Icons.java
Labels: under-development

#10916 [Date Validation] Add DateValidationOption to date question definition and form
  server/app/forms/DateQuestionForm.java
  server/app/services/question/types/DateQuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/test/forms/DateQuestionFormTest.java
Labels: under-development

#10940 Adding JSON Schema Validator Dependency
  server/build.sbt
Labels: ignore-for-release

#10943 Adding RTL testing to PR checklist
  .github/pull_request_template.md
Labels: ignore-for-release

#10932 Change YES_NO_QUESTION_ENABLED flag to be ADMIN_READABLE
  browser-test/src/admin/admin_question_types.test.ts
  browser-test/src/admin/admin_yes_no_question.test.ts
  browser-test/src/applicant/questions/northstar_yes_no.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/components/CreateQuestionButton.java
  server/app/views/components/ProgramQuestionBank.java
  server/conf/application.dev-browser-tests.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag

#10872 [ProgramSlugUrl] Change review id route to use program slug
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/views/applicant/ProgramCardsSectionParamsFactoryTest.java
Labels: under-development

#10888 [Bug] Fix visibility check in various tests (2/n)
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/applicant/questions/northstar_file.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: bug, ignore-for-release

#10954 [ProgramSlugUrl] Change review with applicant id route to use program slug
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/conf/routes
  server/test/controllers/admin/AdminProgramPreviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/views/applicant/ProgramCardsSectionParamsFactoryTest.java
Labels: under-development

#10867 [Maps] Add feature flag for map question
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: ignore-for-release, under-development

#10956 [Date validation] Refactor Memorable date picker util for shared use outside of TI client list
  browser-test/image_snapshots/trusted_intermediary_test/incomplete-dob.png
  browser-test/src/support/ti_dashboard.ts
  server/app/assets/javascripts/trusted_intermediary.ts
  server/app/services/DateConverter.java
  server/app/views/ViewUtils.java
  server/app/views/applicant/TrustedIntermediaryClientListView.java
  server/test/views/ViewUtilsTest.java
Labels: under-development

#10974 Fixing favicon
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  server/app/views/HtmlBundle.java
  server/conf/application.dev.conf
  server/conf/helper/whitelabel.conf
  server/test/controllers/HomeControllerTest.java
  server/test/views/HtmlBundleTest.java
Labels: bug

#10961 [ProgramSlugUrl] Change review block route to use program slug
  browser-test/src/applicant/northstar_ineligible.test.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: under-development

#10562 Add/update Transaction usage in VersionRepository
  server/app/repository/VersionRepository.java
Labels: enhancement

#10977 [ProgramSlugUrl] Change edit with applicant id block route to use program slug
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: under-development

#10957 [Date validation] Render date picker for custom min/max date validation
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/forms/DateQuestionForm.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/views/admin/questions/QuestionConfig.java
  server/test/views/admin/question/QuestionConfigTest.java
Labels: under-development

#10978 [ProgramSlugUrl] Change review with applicant id block route to use program slug
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
Labels: under-development

#10990 [ProgramSlugUrls]: Fix label value in metrics
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
Labels: under-development

#10981 Migrate several browser tests to North Star
  browser-test/image_snapshots/northstar_error_pages_test/server-error-page.png
  browser-test/image_snapshots/northstar_primary_applicant_info_test/primary-applicant-info-already-set.png
  browser-test/image_snapshots/northstar_primary_applicant_info_test/primary-applicant-info-dob.png
  browser-test/image_snapshots/northstar_primary_applicant_info_test/primary-applicant-info-email.png
  browser-test/image_snapshots/northstar_primary_applicant_info_test/primary-applicant-info-name.png
  browser-test/image_snapshots/northstar_primary_applicant_info_test/primary-applicant-info-non-universal-and-already-set.png
  browser-test/image_snapshots/northstar_primary_applicant_info_test/primary-applicant-info-phone.png
  browser-test/image_snapshots/northstar_primary_applicant_info_test/primary-applicant-info-universal-not-set.png
  browser-test/image_snapshots/northstar_program_admin_program_list_test/program-admin-program-list-visible-disabled-program.png
  browser-test/image_snapshots/northstar_program_admin_program_list_test/program-admin-program-list.png
  browser-test/src/northstar_error_pages.test.ts
  browser-test/src/northstar_primary_applicant_info.test.ts
  browser-test/src/pagination.test.ts
  browser-test/src/program_admin/northstar_program_admin_program_list.test.ts
  browser-test/src/program_deep_link.test.ts
Labels: ignore-for-release

#10980 Migrate question_lifecycle.test.ts to North Star
  browser-test/image_snapshots/northstar_question_lifecycle_test/address-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/address-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/address-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/checkbox-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/checkbox-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/checkbox-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/currency-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/currency-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/currency-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/date-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/date-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/date-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/dropdown-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/dropdown-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/dropdown-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/email-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/email-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/email-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/enumerator-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/enumerator-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/file-upload-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/file-upload-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/file-upload-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/id-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/id-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/id-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/name-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/name-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/name-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/number-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/number-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/number-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/question-with-blank-admin-names-error.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/question-with-blank-options-error.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/question-with-invalid-admin-names-error.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/question-with-markdown-formatted-preview.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/question-with-rearranged-options.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/radio-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/radio-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/radio-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/remove-universal-confirmation-modal.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/text-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/text-edit-page.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/text-only-active.png
  browser-test/src/northstar_question_lifecycle.test.ts
Labels: ignore-for-release

#10993 Deprecating IMPORT_DUPLICATE_QUESTIONS_OPTIONS_ENABLED
  browser-test/image_snapshots/admin_program_migration_test/import-page-no-data.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data-new-ui.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data.png
  browser-test/image_snapshots/admin_program_migration_test/saved-program-success-no-dups.png
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: feature, feature-flag

#11014 Minor fixes to admin header
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-narrow.png
  browser-test/image_snapshots/error_pages_test/server-error-page.png
  browser-test/image_snapshots/northstar_error_pages_test/server-error-page.png
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/errors/ErrorComponent.java
  server/app/views/style/AdminStyles.java
Labels: ignore-for-release

#10994 [DateValidation] Add validation checks to ensure admin provided date validation parameters create possible date ranges
  server/app/services/question/types/DateQuestionDefinition.java
  server/test/services/question/types/DateQuestionDefinitionTest.java
Labels: under-development

#11000 [North Star] Write North Star tests for AdminProgramControllerTest.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: ignore-for-release

#10995 [External Program Cards] Remove universal question warning for external programs in admin panel
  browser-test/src/admin/admin_program_list.test.ts
  server/app/views/admin/programs/ProgramIndexView.java
Labels: under-development

#11009 Fixing upper bound for Enum entities for UI
  browser-test/src/northstar_end_to_end_enumerators.test.ts
  server/app/views/admin/questions/NorthStarQuestionPreview.java
  server/app/views/admin/questions/QuestionPreviewFragment.html
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/QuestionFragment.html
Labels: bug, user-resident

#11073 Only run eslint when needed
  formatter/fmt
Labels: infrastructure

#11074 Adding northstar browser tests 2
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-applicant-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-ti-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-in-selectti-mode-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-public-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-select-ti-hidden-from-applicant-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-hidden-from-applicant-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti-ns.png
  browser-test/image_snapshots/admin_question_preview_test/file-question-preview-ns.png
  browser-test/src/admin/admin_program_visibility.test.ts
  browser-test/src/admin/admin_question_preview.test.ts
  browser-test/src/support/applicant_program_list.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#11066 [Maps] Create Map Question Config
  server/app/forms/MapQuestionForm.java
  server/app/services/question/types/MapQuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionEditView.java
  server/test/services/question/types/MapQuestionDefinitionTest.java
  server/test/views/admin/question/QuestionConfigTest.java
Labels: under-development

#11085 [Date validation] Add server validation for admin start/end year settings
  server/app/services/question/types/DateQuestionDefinition.java
  server/test/services/question/types/DateQuestionDefinitionTest.java
Labels: under-development

#11082 Updating Applicant Homepage Styling
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-applicant-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-ti-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-in-selectti-mode-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-public-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-select-ti-hidden-from-applicant-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-hidden-from-applicant-ns.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti-ns.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-cards-long-word-description.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form-in-progress.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form-not-set.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form-sections.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-pre-screener-form.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-all-types.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-tall.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-with-status.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-dark-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/eligible-home-page-program-card-with-tag.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag.png
  browser-test/image_snapshots/northstar_dev_tools_test/northstar-dev-tools-modal.png
  server/app/views/applicant/ProgramIndexTemplate.html
Labels: bug

#11079 [ProgramSlugUrl] Change 'remove file with applicant id' route to use program slug
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramBlocksControllerTest.java
Labels: under-development

#11086 Align admin thymeleaf with docs
  server/app/views/admin/AdminLayoutBaseView.java
  server/app/views/admin/BaseView.java
  server/test/views/admin/AdminLayoutBaseViewTest.java
Labels: ignore-for-release

#11100 [Date Validation] Install JavaTimeModule in default ObjectMapper
  server/app/services/ObjectMapperProvider.java
Labels: under-development

#11024 [DR] : Adding lastActivityTime to Accounts table
  server/app/models/AccountModel.java
  server/conf/evolutions/default/86.sql
  server/test/models/AccountModelTest.java
Labels: database, under-development, DataRetention

#11075 [Maps] geo_json_data database table
  server/app/models/GeoJsonDataModel.java
  server/app/repository/GeoJsonDataRepository.java
  server/app/services/applicant/AnswerData.java
  server/app/views/applicant/NorthStarApplicantProgramBlockEditView.java
  server/app/views/questiontypes/ApplicantQuestionRendererParams.java
  server/app/views/questiontypes/MapQuestionFragment.html
  server/app/views/questiontypes/QuestionFragment.html
  server/conf/evolutions/default/87.sql
Labels: database

#11097 [Maps] Set up map.ts for rendering the map
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/applicant_entry_point.ts
  server/app/assets/javascripts/config.d.ts
  server/app/assets/javascripts/map.ts
  server/app/views/components/CreateQuestionButton.java
  server/app/views/questiontypes/MapQuestionFragment.html
Labels: under-development

#11123 Add test.slow to fast forward tests
  browser-test/src/applicant/application_version_fast_forward.test.ts
  browser-test/src/applicant/northstar_application_version_fast_forward.test.ts
Labels: ignore-for-release

#10976 Initial SettingsCache implementation
  server/app/services/settings/SettingsCache.java
  server/test/services/settings/SettingsCacheTest.java
Labels: feature

#11132 Create SETTINGS_CACHE_ENABLED feature flag
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: under-development

#11144 add link to oncall board to oncall issue
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release
