Repository civiform/civiform, pull requests merged in 2025-02, with the labels that each got.

#9647 Make the maximum session duration configurable
  server/app/repository/AccountRepository.java
  server/app/services/settings/SettingsManifest.java
  server/conf/application.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
Labels: enhancement

#9655 Update default year
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: infrastructure, ignore-for-release

#9658 Fix for browser test in AWS staging
  browser-test/src/admin/admin_application_download.test.ts
  browser-test/src/applicant/application_download.test.ts
Labels: bug

#9649 Add spacing at the end of applicant upsell contents (#9391)
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
Labels: bug, good first issue, under-development, [Epic] North Star Applicant UI

#9650 Use short description on admin program index page
  browser-test/image_snapshots/admin_program_list_test/intake-form-indicator.png
  browser-test/image_snapshots/admin_program_list_test/program-list-active-and-draft-versions.png
  browser-test/image_snapshots/admin_program_list_test/program-list-disabled-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-in-use-tab.png
  browser-test/image_snapshots/admin_program_list_test/program-list-no-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-one-draft-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-no-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-view-with-universal-questions-text.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-categories.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-different-active-and-draft-images.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-new-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-same-active-and-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-no-warning.png
  browser-test/image_snapshots/admin_program_list_test/publish-single-program-modal-with-warning.png
  browser-test/image_snapshots/admin_publish_test/publish-all-programs-modal-with-uq.png
  browser-test/image_snapshots/application_review_test/applications-page.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list-visible-disabled-program.png
  browser-test/image_snapshots/program_admin_program_list_test/program-admin-program-list.png
  browser-test/src/admin/admin_program_list.test.ts
  server/app/views/components/ProgramCardFactory.java
  server/app/views/style/ReferenceClasses.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: enhancement, [Epic] North Star Applicant UI

#9665 Multi File Upload now show max number of allowed files in NS.
  browser-test/image_snapshots/admin_question_preview_test/north-star-file-question-preview.png
  browser-test/image_snapshots/northstar_file_test/file-optional-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-optional.png
  browser-test/image_snapshots/northstar_file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/northstar_file_test/file-required-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-required.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-medium.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded.png
  browser-test/src/applicant/questions/northstar_file.test.ts
  server/app/views/questiontypes/FileUploadQuestionFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9645 Conditionally show an eligibility alert on the Program Overview page
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-mobile.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview.png
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/support/applicant_program_overview.ts
  server/app/controllers/applicant/ProgramSlugHandler.java
  server/app/services/MessageKey.java
  server/app/views/applicant/NorthStarProgramOverviewView.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/applicant/ProgramOverviewTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development

#9657 [North Star] Update program cards to use correct description and link to overview page
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/eligible-home-page-program-card-with-tag.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name.png
  browser-test/image_snapshots/northstar_header_test/logged-in.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/admin/admin_program_image.test.ts
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/applicant_prevent_duplicate_submission.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/applicant/northstar_applicant_question_translation.test.ts
  browser-test/src/applicant/northstar_block_edit.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/applicant/northstar_program_summary.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/applicant/questions/northstar_file.test.ts
  browser-test/src/support/admin_program_image.ts
  browser-test/src/support/applicant_program_overview.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/app/views/components/TextFormatter.java
  server/test/controllers/applicant/ApplicantRoutesTest.java
  server/test/views/applicant/ProgramCardsSectionParamsFactoryTest.java
  server/test/views/components/TextFormatterTest.java
Labels: under-development

#9683 Set Fastforward flag as default in dev/test
  server/conf/application.dev.conf
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: ignore-for-release

#9691 Adding phone validation for non-user interactive code with E.164 support
  server/app/services/PhoneValidationUtils.java
  server/test/services/PhoneValidationUtilsTest.java
Labels: enhancement

#9695 Ignore SettingsManifest in code coverage
  server/build.sbt
Labels: ignore-for-release

#9694 Import OIDC phone number
  server/app/auth/oidc/StandardClaimsAttributeNames.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/auth/oidc/applicant/GenericOidcClientProvider.java
  server/app/auth/oidc/applicant/IdcsApplicantProfileCreator.java
  server/app/auth/oidc/applicant/IdcsClientProvider.java
  server/app/auth/oidc/applicant/LoginGovClientProvider.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/auth.conf
  server/test/auth/ProfileMergeTest.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
  test-support/test_oidc_provider.js
Labels: enhancement

#9688 Style program category filters on applicant home page
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/assets/javascripts/main.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramFiltersFragment.html
  server/conf/i18n/messages
Labels: i18n, under-development

#9689 [North Star] Add custom message to AlertSettings and display at the end of the alert
  browser-test/image_snapshots/northstar_ineligible_test/northstar-eligibility-msg.png
  server/app/controllers/applicant/EligibilityAlertSettingsCalculator.java
  server/app/services/AlertSettings.java
  server/app/views/NorthStarBaseView.java
  server/app/views/components/AlertFragment.html
  server/test/controllers/applicant/EligibilityAlertSettingsCalculatorTest.java
Labels: under-development

#9715 Adding Application note to JSON response
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/comprehensive-program-active-version-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/draft-available.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-logged-out-with-multiple-upload.png
  browser-test/image_snapshots/api_docs_test/minimal-program-active-version-with-multiple-upload.png
  server/app/services/export/JsonExporterService.java
  server/app/services/export/ProgramJsonSampler.java
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
  server/test/services/export/JsonExporterServiceTest.java
  server/test/services/export/ProgramJsonSamplerTest.java
  server/test/services/openapi/v2/Swagger2SchemaGeneratorTest.java
  server/test/services/openapi/v3/OpenApi3SchemaGeneratorTest.java
Labels: feature

#9692 [Northstar]Exclude in-progress program from filtered programs
  browser-test/src/northstar_trusted_intermediary.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/views/applicant/NorthStarFilteredProgramsViewPartial.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramFiltersFragment.html
  server/app/views/applicant/ProgramIndexTemplate.html
  server/conf/routes
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: bug

#9703 [North Star] Disable application steps and long description fields on common intake programs
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-disabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page-disabled-visibility-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-page.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/controllers/admin/AdminProgramController.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/test/services/program/ProgramServiceTest.java
  server/test/views/admin/programs/ProgramFormBuilderTest.java
Labels: under-development

#9693 Update header style in North Star to match mocks
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_file_test/file-optional-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-optional.png
  browser-test/image_snapshots/northstar_file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/northstar_file_test/file-required-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-required.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded.png
  browser-test/image_snapshots/northstar_header_test/banner-expanded-north-star.png
  browser-test/image_snapshots/northstar_header_test/banner-expanded.png
  browser-test/image_snapshots/northstar_header_test/logged-in-mobile.png
  browser-test/image_snapshots/northstar_header_test/logged-in.png
  browser-test/image_snapshots/northstar_header_test/not-logged-in-guest-mode-enabled.png
  browser-test/image_snapshots/northstar_header_test/not-logged-in.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-eligibility-msg.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  browser-test/image_snapshots/northstar_text_test/text-max.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/northstar_header.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/NavigationFragment.html
Labels: under-development, [Epic] North Star Applicant UI

#9717 Add ability to set account for graph api email sending
  server/app/services/email/graph/GraphApiEmailClient.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/email.conf
  server/test/services/email/graph/GraphApiEmailClientTest.java
Labels: feature

#9735 Use required() instead of requiresNew() when creating transaction in database seed tasks
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/services/seeding/DatabaseSeedTask.java
Labels: ignore-for-release

#9722 [North Star] Skip program overview page when applying to common intake program
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_buttons.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_common_intake.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/applicant/northstar_applicant_question_translation.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/applicant/northstar_program_summary.test.ts
  browser-test/src/northstar_trusted_intermediary.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
  server/test/views/applicant/ProgramCardsSectionParamsFactoryTest.java
Labels: under-development

#9754 Remove remaining uses of `TxScope.requiresNew()`
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
Labels: ignore-for-release

#9756 [Pre-compute eligibility]create eligibility determination enum
  server/app/models/EligibilityDetermination.java
Labels: under-development

#9737 [North Star] Use short description on applicant upsell pages
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/controllers/applicant/UpsellController.java
  server/app/views/applicant/ApplicantCommonIntakeUpsellTemplate.html
  server/app/views/applicant/ApplicantUpsellTemplate.html
  server/app/views/applicant/NorthStarApplicantCommonIntakeUpsellView.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/UpsellParams.java
Labels: under-development

#9760 [Pre-compute eligibility] add eligibility_determination column in applications table
  server/conf/evolutions/default/82.sql
Labels: database

#9608 Create TransactionManager helper class and wrap question creation
  .github/workflows/tests.yaml
  server/app/repository/TransactionManager.java
  server/app/services/question/QuestionService.java
  server/test/repository/TransactionManagerTest.java
  server/test/services/question/QuestionServiceTest.java
Labels: ignore-for-release

#9707 Only display the eligibility banner on an edit block if an eligibility question was just answered on the previous screen
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page.png
  browser-test/src/applicant/navigation/northstar_application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/support/applicant_questions.ts
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
Labels: under-development, [Epic] North Star Applicant UI, application flow

#9766 [North Star] Require translations for north star fields
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/support/admin_translations.ts
  server/app/services/program/ProgramService.java
  server/app/views/admin/programs/ProgramTranslationView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
  server/test/services/program/ProgramServiceTest.java
Labels: under-development

#9739 [North Star] Use short description in program block edit page
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  server/app/views/applicant/ApplicantProgramBlockEditTemplate.html
Labels: under-development

#9770 Update NS ineligibility alert to support markdown in question text.
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  server/app/views/components/AlertFragment.html
Labels: ignore-for-release, under-development

#9762 Style pre-screener card on the North Star applicant home page
  browser-test/image_snapshots/applicant_application_index_test/ns-common-intake-form.png
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme.scss
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/test/services/applicant/ApplicantServiceTest.java
Labels: under-development

#9761 [Eligibility message] enable customized eligibility message feature in dev
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicate.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  server/conf/application.dev.conf
Labels: feature-flag

#9779 IneligibleBlockView - Formatting
  server/app/views/applicant/IneligibleBlockView.java
Labels: ignore-for-release

#9773 [North Star] Remove space between address lines and address label in Address Correction page
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  server/app/views/applicant/AddressCorrectionOptionFragment.html
Labels: under-development

#9772 Getting a North Star test to pass on probers
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#9022 Working applicant and admin OIDC for dev env with Keycloak
  bin/lib/docker.sh
  bin/run-dev
  docker-compose.keycloak.yml
  init_postgres.sql
  server/app/auth/AuthIdentityProviderName.java
  server/app/auth/oidc/admin/KeycloakAdminClientProvider.java
  server/app/auth/oidc/applicant/KeycloakApplicantClientProvider.java
  server/app/modules/SecurityModule.java
  server/conf/application.dev.conf
  server/conf/helper/auth.conf
  test-support/keycloak/auth/import/README.md
  test-support/keycloak/auth/import/admin.realm.json
  test-support/keycloak/auth/import/applicant.realm.json
Labels: ignore-for-release

#9784 Check that tag exists and has a value
  browser-test/src/northstar_meta_tags.test.ts
Labels: under-development

#9782 Cleanup - AlertFragment
  server/app/views/components/AlertFragment.html
Labels: ignore-for-release

#9783 Cleanup - NorthStarProgramOverviewView
  server/app/views/applicant/NorthStarProgramOverviewView.java
Labels: ignore-for-release

#9771 Add help text with a prefix visible only to scren readers for INFO an…
  browser-test/src/applicant/navigation/northstar_application_navigation_common_intake.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_with_eligibility_conditions.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  server/app/controllers/applicant/EligibilityAlertSettingsCalculator.java
  server/app/services/AlertSettings.java
  server/app/services/MessageKey.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/CreateAccountAlertFragment.html
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/components/AlertFragment.html
  server/conf/i18n/messages
  server/test/services/AlertSettingsTest.java
Labels: i18n, under-development, [Epic] North Star Applicant UI

#9800 Enabling North Star flag before application statuses test
  browser-test/src/applicant/northstar_applicant_application_statuses.test.ts
Labels: ignore-for-release

#9814 Fixing North Star upsell test on probers
  browser-test/bin/wait_for_server_start_and_run_tests.sh
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
Labels: ignore-for-release

#9818 Small optimization clearing db
  browser-test/src/applicant/application_version_fast_forward.test.ts
  browser-test/src/applicant/northstar_application_version_fast_forward.test.ts
  browser-test/src/support/civiform_fixtures.ts
  browser-test/src/support/index.ts
  browser-test/src/support/seeding.ts
  server/app/controllers/dev/DevToolsController.java
  server/conf/routes
Labels: ignore-for-release

#9780 [North Star] bug fix -- maintain "submitted" tag on applications
  browser-test/src/applicant/applicant_application_index.test.ts
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/app/views/applicant/ProgramCardsSectionParamsFactory.java
Labels: under-development

#9803 [SessionTimeout][part1]Introduce the session timeout configurations and feature flag
  server/app/services/settings/SettingsManifest.java
  server/conf/application.conf
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
Labels: feature

#9778 Update styling of category tags to match mocks
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development, [Epic] North Star Applicant UI, application flow

#9813 [North Star] Update strings in programs page per content audit request
  browser-test/image_snapshots/applicant_application_index_test/north-star-homepage-programs-filtered.png
  browser-test/image_snapshots/applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/applicant_application_index_test/ns-common-intake-form.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_statuses_test/program-card-with-status-northstar.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/eligible-home-page-program-card-with-tag.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag.png
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/northstar_security.test.ts
  server/conf/i18n/messages
Labels: i18n, under-development

#9825 [North Star] Update strings in guest banner per content audit request
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-no-suggestions.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/application_address_correction_test/north-star-verify-address-with-suggestions.png
  browser-test/image_snapshots/northstar_application_navigation_buttons_test/northstar-error-on-previous-modal.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/ineligible-home-page-program-card-with-tag-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-errors-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-north-star.png
  browser-test/image_snapshots/northstar_checkbox_test/checkbox-options-long-text-applicant-north-star.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_file_test/file-optional-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-optional.png
  browser-test/image_snapshots/northstar_file_test/file-required-multiple-uploads-enabled.png
  browser-test/image_snapshots/northstar_file_test/file-required-re-answered.png
  browser-test/image_snapshots/northstar_file_test/file-required.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-multiple-files.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded-very-long-name-mobile.png
  browser-test/image_snapshots/northstar_file_test/file-uploaded.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-ca.png
  browser-test/image_snapshots/northstar_phone_test/phone-format-usa.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-mobile.png
  browser-test/image_snapshots/northstar_radio_button_test/radio-options-long-text-applicant.png
  browser-test/image_snapshots/northstar_text_test/text-max.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  server/conf/i18n/messages
Labels: i18n, under-development

#9827 [North Star] Update strings in create account alert per content audit request
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-login.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-mobile.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/applicant/northstar_upsell.test.ts
  browser-test/src/support/applicant_questions.ts
  server/conf/i18n/messages
Labels: i18n, under-development
