Repository civiform/civiform, pull requests merged in 2025-04, with the labels that each got.

#10176 Add errorprone param names to Optional.empty() magic parameters
  server/app/controllers/admin/AdminProgramBlocksController.java
  server/app/controllers/admin/ProgramAdminManagementController.java
  server/app/controllers/applicant/ApplicantRoutes.java
  server/app/models/ProgramModel.java
  server/app/services/AlertSettings.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/cloud/azure/AzurePublicStorage.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/services/program/ProgramService.java
  server/app/views/BaseHtmlView.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/app/views/admin/programs/FormattedPredicateValue.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/app/views/admin/programs/ProgramNewOneView.java
  server/app/views/admin/questions/NorthStarQuestionPreview.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/app/views/docs/ApiDocsView.java
  server/app/views/docs/SchemaView.java
Labels: ignore-for-release

#10166 Disable 'program eligibility' on pre-screener program form
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: enhancement

#10174 Add missing = in inline param comments
  browser-test/src/admin/admin_program_email_notifications.test.ts
  browser-test/src/applicant/application_version_fast_forward.test.ts
  browser-test/src/applicant/northstar_application_version_fast_forward.test.ts
  browser-test/src/applicant/northstar_ineligible.test.ts
  server/app/services/applicant/ReadOnlyApplicantProgramService.java
  server/app/services/question/QuestionService.java
  server/app/views/admin/programs/ProgramAdministratorProgramListView.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationTableView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/TrustedIntermediaryClientListView.java
  server/app/views/components/TextFormatter.java
Labels: ignore-for-release

#10177 Adding program's long description to program pdf export
  server/app/services/export/PdfExporter.java
  server/test/services/export/PdfExporterTest.java
Labels: feature

#10182 [North Star] Making screen reader linear navigation outline visible on applicant home page checkboxes
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/applicant/ProgramFiltersFragment.html
Labels: under-development

#10191 [a11y] add a categories group label to the category tags on a program card
  server/app/services/MessageKey.java
  server/app/views/applicant/ProgramCardsSectionFragment.html
  server/conf/i18n/messages
Labels: i18n, a11y

#10201 Fixes customized eligibility msg field showing up on visibility condition page
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  server/app/views/admin/programs/ProgramPredicatesEditView.java
Labels: bug

#10205 Cssing more components in admin/questions page
  server/app/assets/stylesheets/styles.css
  server/app/views/admin/questions/QuestionsListView.java
Labels: ignore-for-release

#10209 [North Star] Remove exdent class so image in applicant card doesn't cover card border
  browser-test/image_snapshots/northstar_admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/northstar_admin_program_image_test/program-image-preview.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-all-types.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-tall.png
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development

#10198 Readability cleanup for Repository classes
  server/app/repository/AccountRepository.java
  server/app/repository/ApplicationEventRepository.java
  server/app/repository/ApplicationRepository.java
  server/app/repository/ExportServiceRepository.java
  server/app/repository/ProgramRepository.java
  server/app/repository/QuestionRepository.java
  server/app/repository/VersionRepository.java
Labels: ignore-for-release

#10212 Update Transaction test to generate a real exception
  server/test/repository/TransactionManagerTest.java
Labels: ignore-for-release

#10216 [Program Cards] do not strip mark down for applicant view of short description
  browser-test/src/admin/admin_program_list.test.ts
  server/app/views/components/ProgramCardFactory.java
Labels: under-development

#10217 Clean up TextFormatter Class
  server/app/services/AlertSettings.java
  server/app/services/applicant/question/ApplicantQuestion.java
  server/app/services/applicant/question/StaticContentQuestion.java
  server/app/services/question/LocalizedQuestionOption.java
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/migration/AdminImportViewPartial.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramPredicateConfigureView.java
  server/app/views/admin/programs/ProgramPredicatesEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/applicant/ApplicantProgramInfoView.java
  server/app/views/applicant/ApplicantProgramSummaryView.java
  server/app/views/applicant/ApplicantUpsellCreateAccountView.java
  server/app/views/applicant/IneligibleBlockView.java
  server/app/views/applicant/NorthStarAnswerData.java
  server/app/views/applicant/NorthStarApplicantUpsellView.java
  server/app/views/applicant/NorthStarProgramOverviewView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/QuestionSummaryFragment.html
  server/app/views/components/AlertFragment.html
  server/app/views/components/ProgramCardFactory.java
  server/app/views/components/ProgramQuestionBank.java
  server/app/views/components/TextFormatter.java
  server/app/views/questiontypes/ApplicantQuestionRendererImpl.java
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionRenderer.java
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/RadioButtonQuestionRenderer.java
  server/app/views/questiontypes/StaticContentQuestionRenderer.java
  server/test/views/components/TextFormatterTest.java
Labels: ignore-for-release

#10214 Attach error descriptions to form question inputs for screen readers
  server/app/views/questiontypes/AddressQuestionFragment.html
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/CurrencyQuestionFragment.html
  server/app/views/questiontypes/DateQuestionFragment.html
  server/app/views/questiontypes/DropdownQuestionFragment.html
  server/app/views/questiontypes/EmailQuestionFragment.html
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/FileUploadQuestionFragment.html
  server/app/views/questiontypes/IdQuestionFragment.html
  server/app/views/questiontypes/NameQuestionFragment.html
  server/app/views/questiontypes/NumberQuestionFragment.html
  server/app/views/questiontypes/PhoneQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: under-development

#10233 Add note about calling out AI code in PR description
  .github/pull_request_template.md
Labels: ignore-for-release

#10104 Cleaning up web first assertions
  browser-test/.eslintrc.json
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/admin/admin_question_translation.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/applicant/questions/number_input.test.ts
  browser-test/src/question_lifecycle.test.ts
  browser-test/src/support/admin_program_statuses.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/admin_settings.ts
  browser-test/src/support/admin_translations.ts
  browser-test/src/support/ti_dashboard.ts
  browser-test/src/trusted_intermediary.test.ts
Labels: infrastructure, ignore-for-release

#10010 Apply theme settings when enabled
  browser-test/image_snapshots/northstar_admin_program_preview_test/northstar-admin-program-preview-application-block-edit-page.png
  browser-test/image_snapshots/northstar_admin_program_preview_test/northstar-admin-program-preview-application-review-page.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-common-intake-form-not-set.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-common-intake-form-sections.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-other-program-shows-previously-answered.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-all-types.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-tall.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-with-status.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-question-shows-previously-answered.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-dark-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-theme.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/submitted-page-theme.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/applicant/northstar_block_edit.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  server/app/assets/stylesheets/northstar/_uswds-custom-themes.scss
  server/app/assets/stylesheets/northstar/styles.scss
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantBaseFragment.html
Labels: feature, under-development

#10175 [A11y North Star] Add aria label to footer for application to indicate email link opens in a new tab
  browser-test/image_snapshots/applicant_prevent_duplicate_submission_test/north-star-prevent-duplicate-submission.png
  browser-test/image_snapshots/northstar_admin_program_preview_test/northstar-admin-program-preview-application-block-edit-page.png
  browser-test/image_snapshots/northstar_admin_program_preview_test/northstar-admin-program-preview-application-review-page.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/north-star-program-image-wide.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-common-intake-form-not-set.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-common-intake-form-sections.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-other-program-shows-previously-answered.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-all-types.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-tall.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-program-image-with-status.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-question-shows-previously-answered.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-initial-load-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-submitted-northstar.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-dark-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_common_intake_test/cif-ineligible-guest-confirmation-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-edit-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-eligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/application-ineligible-review-page.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-medium.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown-mobile.png
  browser-test/image_snapshots/northstar_application_navigation_with_eligibility_conditions_test/northstar-ineligible-page-with-markdown.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-theme.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/submitted-page-theme.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-medium.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake-mobile.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/upsell-north-star-common-intake.png
  browser-test/image_snapshots/northstar_date_test/date-filled-in-north-star.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/enumerator-indexes-after-removing-field-northstar.png
  browser-test/image_snapshots/northstar_footer_test/north-star-footer.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-login.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-medium.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-mobile.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star.png
  server/app/services/MessageKey.java
  server/app/views/applicant/IneligibleTemplate.html
  server/app/views/applicant/NavigationFragment.html
  server/conf/i18n/messages
Labels: i18n, a11y, under-development

#10249 Updating calls to waitForAnyModal
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_statuses.test.ts
  browser-test/src/support/admin_program_statuses.ts
  browser-test/src/support/admin_questions.ts
  browser-test/src/support/applicant_questions.ts
Labels: infrastructure, ignore-for-release

#10253 Fix extra ' in support email mailto and use ThymeLeaf href syntax
  server/app/views/applicant/NavigationFragment.html
Labels: under-development

#10254 Prevent grouping docker/github actions in single PRs
  .github/renovate.json5
Labels: infrastructure, ignore-for-release

#10259 [North Star] add padding above custom eligibility message
  browser-test/image_snapshots/northstar_ineligible_test/northstar-eligibility-msg.png
  server/app/views/components/AlertFragment.html
Labels: under-development

#10269 Adding names to humans.md
  humans.md
Labels: ignore-for-release

#10268 [North Star a11y] fix aria-invalid for address question
  browser-test/src/applicant/questions/northstar_address.test.ts
  server/app/views/questiontypes/AddressQuestionFragment.html
Labels: under-development

#10231 Add TransactionManager.executeWithRetry and usage
  server/app/repository/AccountRepository.java
  server/app/repository/TransactionManager.java
  server/test/repository/TransactionManagerTest.java
Labels: ignore-for-release

#10262 Removing bulk status update feature flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  server/app/controllers/admin/AdminApplicationController.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/admin/programs/ProgramApplicationView.java
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/controllers/admin/AdminApplicationControllerTest.java
Labels: feature-flag

#10266 Remove note about "not supporting enumerators" from the API Docs page
  browser-test/image_snapshots/api_docs_test/api-docs-page-accordion-open.png
  server/app/views/docs/ApiDocsView.java
Labels: documentation, ignore-for-release

#10283 [North Star a11y] add labeled by for question types
  server/app/views/questiontypes/CheckboxQuestionFragment.html
  server/app/views/questiontypes/EnumeratorQuestionFragment.html
  server/app/views/questiontypes/QuestionBaseFragment.html
  server/app/views/questiontypes/RadioButtonQuestionFragment.html
Labels: under-development

#9929 Remove Fastforward feature flag
  browser-test/image_snapshots/admin_settings_test/admin-settings-page.png
  browser-test/src/applicant/application_version_fast_forward.test.ts
  browser-test/src/applicant/northstar_application_version_fast_forward.test.ts
  server/app/actions/ProgramDisabledAction.java
  server/app/actions/ProgramFastForwardApplicationAction.java
  server/app/controllers/applicant/ApplicantProgramBlocksController.java
  server/app/controllers/applicant/ApplicantProgramReviewController.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/services/applicant/ApplicantService.java
  server/app/services/settings/SettingsManifest.java
  server/conf/application.dev.conf
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/actions/ProgramDisabledActionTest.java
  server/test/actions/ProgramFastForwardApplicationActionTest.java
  server/test/controllers/applicant/ApplicantProgramReviewControllerTest.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
  server/test/controllers/applicant/ProgramSlugHandlerTest.java
  server/test/services/applicant/ApplicantServiceFastForwardEnabledTest.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: feature-flag

#10281 Adding proper style to back button in the applications view
  browser-test/image_snapshots/admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/admin_application_statuses_test/edit-note-modal.png
  browser-test/image_snapshots/application_download_test/applications-page.png
  browser-test/src/admin/admin_application_statuses.test.ts
  server/app/views/admin/programs/ProgramApplicationView.java
Labels: enhancement

#10288 Removing obsolete @types/dompurify stub
  server/package-lock.json
  server/package.json
Labels: ignore-for-release, dependencies

#10286 Making screen reader linear navigation outline visible on checkbox questions
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/views/questiontypes/CheckboxQuestionFragment.html
Labels: under-development

#10294 Duplicate-Options Feature Flag
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: feature-flag, under-development

#10307 [Program Migration] Fix test for primary applicant info test case
  server/app/repository/QuestionRepository.java
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: ignore-for-release

#10313 Make IMPORT_DUPLICATE_HANDLING_OPTIONS_ENABLED writeable
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
Labels: feature-flag, under-development

#10318 Update TransactionManager doc to reflect it does not work on Async code
  server/app/repository/TransactionManager.java
  server/test/repository/TransactionManagerTest.java
Labels: ignore-for-release

#10319 Rename executeInTransaction() to execute()
  server/app/repository/TransactionManager.java
  server/app/services/question/QuestionService.java
  server/test/repository/TransactionManagerTest.java
  server/test/services/question/QuestionServiceTest.java
Labels: ignore-for-release

#10321 Add /error path to optional profile routes
  server/app/filters/OptionalProfileRoutes.java
Labels: bug

#10323 Add aria-invalid on text questions only when there are errors
  server/app/views/questiontypes/TextQuestionFragment.html
Labels: under-development

#10186 Use helper method for USWDS program categories checkboxes
  browser-test/image_snapshots/admin_program_creation_test/program-creation-with-categories.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-false-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled-filtering-enabled.png
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: ignore-for-release

#10329 Remove SessionTimeoutFilter and reset filter order
  server/app/filters/SessionTimeoutFilter.java
  server/conf/application.conf
Labels: bug

#10311 Create better UI for imported program question review
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data-new-ui.png
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/views/AlertComponent.java
  server/app/views/admin/migration/AdminImportViewPartial.java
Labels: UI / visual design, feature, user-CF-admin, under-development

#10332 Remove session timeout code from ValidAccountFilter
  server/app/filters/ValidAccountFilter.java
  server/test/filters/ValidAccountFilterTest.java
Labels: bug

#10345 Make the number of users configurable in the github action
  .github/workflows/run_jmeter_test.yaml
Labels: ignore-for-release

#10343 Update JMeter submit application test to use minimal-sample-program
  load-test/applicant_submit_application.jmx
Labels: ignore-for-release

#10346 Parameterize port and protocol in jmeter configs for local usage
  load-test/applicant_landing_page.jmx
  load-test/applicant_submit_application.jmx
  load-test/ti_landing_page.jmx
Labels: ignore-for-release

#10336 Add backend options for duplicate handling
  server/app/controllers/admin/AdminImportController.java
  server/app/controllers/admin/ProgramMigrationWrapper.java
  server/app/services/migration/ProgramMigrationService.java
  server/app/views/admin/migration/AdminProgramImportForm.java
  server/test/controllers/admin/AdminImportControllerTest.java
  server/test/services/migration/ProgramMigrationServiceTest.java
Labels: feature, user-CF-admin, under-development

#10320 Add color contrast check when setting theme colors
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-dark-only.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/program-index-page-theme-primary-only.png
  browser-test/image_snapshots/northstar_common_intake_upsell_test/submitted-page-theme.png
  browser-test/src/admin/admin_settings.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/applicant/northstar_block_edit.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/support/admin_settings.ts
  server/app/services/ColorUtil.java
  server/app/services/settings/SettingsService.java
  server/test/services/ColorUtilTest.java
Labels: under-development

#10355 Avoid creating guest account for 404s
  server/app/filters/CiviFormProfileFilter.java
  server/test/filters/CiviFormProfileFilterTest.java
Labels: bug

#10361 Add German language file
  server/conf/i18n/messages.de
Labels: i18n, ignore-for-release

#10335 Doing a simple select as health check
  server/app/controllers/HomeController.java
  server/app/repository/HealthCheckRepository.java
  server/test/controllers/HomeControllerTest.java
  server/test/controllers/HomeControllerWithProfileTest.java
Labels: enhancement

#10359 Add URL param for question bank search
  browser-test/src/admin/admin_question_list.test.ts
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/questions/QuestionEditView.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/QuestionBank.java
  server/conf/routes
  server/test/controllers/admin/AdminQuestionControllerTest.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
Labels: feature, user-CF-admin, PDF-to-CiviForm

#10328 Adding aria-label to differentiate "Remove file" links and giving role of button
  browser-test/src/applicant/questions/northstar_file.test.ts
  server/app/services/MessageKey.java
  server/app/views/applicant/ApplicantProgramFileUploadBlockEditTemplate.html
  server/conf/i18n/messages
Labels: i18n, under-development

#10100 [External Program Cards] Use ProgramType on ProgramForm
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramController.java
  server/app/forms/ProgramForm.java
  server/app/services/program/ProgramType.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/test/controllers/admin/AdminProgramControllerTest.java
Labels: ignore-for-release

#10371 Update strings surrounding theme settings to be more clear.
  browser-test/image_snapshots/admin_settings_test/admin-settings-page-scrolled.png
  browser-test/src/support/admin_settings.ts
  server/app/services/settings/SettingsManifest.java
  server/app/services/settings/SettingsService.java
  server/conf/env-var-docs.json
Labels: under-development

#10370 Remove pre-assumption of duplicate admin name
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data-new-ui.png
  browser-test/src/admin/admin_program_migration.test.ts
  server/app/controllers/admin/AdminImportController.java
  server/app/services/migration/ProgramMigrationService.java
  server/app/views/admin/migration/AdminImportViewPartial.java
Labels: UI / visual design, user-CF-admin, enhancement, under-development, PDF-to-CiviForm

#10292 [North Star] Migrate application_address_correction tests
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-esri-service-error.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-no-suggestions-medium.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-no-suggestions-mobile.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-no-suggestions.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-medium.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions-mobile.png
  browser-test/image_snapshots/northstar_application_address_correction_test/verify-address-with-suggestions.png
  browser-test/src/applicant/northstar_application_address_correction.test.ts
Labels: ignore-for-release

#10375 Duplicate handling radio options
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data-new-ui.png
  server/app/controllers/admin/AdminImportController.java
  server/app/views/admin/migration/AdminImportViewPartial.java
Labels: UI / visual design, feature, user-CF-admin, under-development

#10381 [External Program Cards] Add description to program type option in program form
  browser-test/image_snapshots/admin_program_creation_test/external-program-create-page.png
  browser-test/image_snapshots/admin_program_creation_test/external-program-edit-page.png
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: feature

#10385 [External Program Cards] Use ProgramType when adding programs on browser tests
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/admin/admin_program_visibility.test.ts
  browser-test/src/admin/northstar_admin_program_image.test.ts
  browser-test/src/applicant/applicant_application_index.test.ts
  browser-test/src/applicant/navigation/application_navigation_common_intake.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_common_intake.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/applicant/northstar_common_intake_upsell.test.ts
  browser-test/src/support/admin_programs.ts
Labels: feature

#10395 [External Program Cards] Disable notification preferences for external programs
  browser-test/image_snapshots/admin_program_creation_test/external-program-create-page.png
  browser-test/image_snapshots/admin_program_creation_test/external-program-edit-page.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: feature

#10397 [External Program Cards] Disable confirmation message for external programs
  browser-test/image_snapshots/admin_program_creation_test/external-program-create-page.png
  browser-test/image_snapshots/admin_program_creation_test/external-program-edit-page.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: feature

#10406 Add logging to clearInternal()
  server/app/controllers/dev/DevToolsController.java
Labels: ignore-for-release

#10407 Up clearInternal() logging level to warn
  server/app/controllers/dev/DevToolsController.java
Labels: ignore-for-release

#10408 Fix naming style from LOGGER to logger
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/app/auth/oidc/IdTokens.java
  server/app/auth/oidc/admin/GenericOidcProfileCreator.java
  server/app/auth/oidc/applicant/ApplicantProfileCreator.java
  server/app/controllers/LanguageUtils.java
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/app/controllers/monitoring/MetricsController.java
  server/app/durablejobs/AbstractDurableJobRunner.java
  server/app/durablejobs/AbstractJobScheduler.java
  server/app/durablejobs/jobs/AddCategoryAndTranslationsJob.java
  server/app/durablejobs/jobs/AddOperatorToLeafAddressServiceAreaJob.java
  server/app/durablejobs/jobs/CopyFileKeyForMultipleFileUpload.java
  server/app/durablejobs/jobs/OldJobCleanupJob.java
  server/app/durablejobs/jobs/RemoveOperatorFromLeafAddressServiceAreaJob.java
  server/app/durablejobs/jobs/UnusedAccountCleanupJob.java
  server/app/filters/ApiKeyUsageFilter.java
  server/app/modules/DatabaseSeedModule.java
  server/app/modules/DurableJobModule.java
  server/app/modules/EsriModule.java
  server/app/modules/SettingsMigrationModule.java
  server/app/repository/ApplicationRepository.java
  server/app/services/applicant/predicate/PredicateEvaluator.java
  server/app/services/export/CsvExporter.java
  server/app/services/geo/ServiceAreaState.java
  server/app/services/geo/esri/FakeEsriClient.java
  server/app/services/geo/esri/RealEsriClient.java
  server/app/services/program/predicate/AndNode.java
  server/app/services/question/ReadOnlyCurrentQuestionServiceImpl.java
  server/app/services/question/ReadOnlyVersionedQuestionServiceImpl.java
  server/app/services/seeding/DatabaseSeedTask.java
  server/app/services/settings/AbstractSettingsManifest.java
  server/app/services/settings/SettingsService.java
  server/app/views/admin/programs/ProgramImageView.java
Labels: ignore-for-release

#10409 Fix toDate API documentation
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
  server/test/services/openapi/v2/Swagger2SchemaGeneratorTest.java
  server/test/services/openapi/v3/OpenApi3SchemaGeneratorTest.java
Labels: ignore-for-release

#10414 Fix Apache CSV deprecation warnings
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/reporting/ReportingServiceTest.java
Labels: ignore-for-release

#10411 [External Program Cards] Add indicator in card for external program
  browser-test/src/admin/admin_program_list.test.ts
  server/app/views/components/Icons.java
  server/app/views/components/ProgramCardFactory.java
Labels: feature

#10419 Wrap resetTables() in a transaction
  server/app/controllers/dev/DevToolsController.java
Labels: ignore-for-release

#10386 [North Star] Change button color on pre-screener in My Applications section
  browser-test/image_snapshots/northstar_applicant_application_index_test/ns-common-intake-form-in-progress.png
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/assets/stylesheets/northstar/_uswds-custom-themes.scss
  server/app/assets/stylesheets/styles.css
  server/app/views/admin/programs/ProgramCardPreviewFragment.html
  server/app/views/applicant/ProgramCardsFragment.html
  server/app/views/applicant/ProgramCardsSectionFragment.html
Labels: under-development

#10420 Enable program filtering flag for some test files and update screenshots (part 1)
  browser-test/image_snapshots/admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/admin_predicates_test/edit-predicate-eligibility-msg-updated.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicate.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/predicate-age-between-edit.png
  browser-test/image_snapshots/admin_predicates_test/predicate-age-greater-than-edit.png
  browser-test/image_snapshots/admin_predicates_test/predicate-error.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/program-block-edit-with-universal-questions.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-description-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-markdown.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-false-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled-filtering-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true-northstar-enabled.png
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-intake-form-true.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_image_test/delete-image-confirmation-modal.png
  browser-test/image_snapshots/admin_program_image_test/program-image-none.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image-before-save.png
  browser-test/image_snapshots/admin_program_image_test/program-image-with-image.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_image.test.ts
Labels: ignore-for-release

#10365 [RTL] Set direction of HTML based on selected language on NS index page
  browser-test/image_snapshots/admin_program_translation_test/program-translation.png
  browser-test/image_snapshots/admin_question_translation_test/multi-option-question-translation.png
  browser-test/image_snapshots/admin_question_translation_test/question-translation.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/applicant-homepage-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_applicant_application_index_test/filter-chips-right-to-left-mobile.png
  browser-test/image_snapshots/trusted_intermediary_test/question-translation.png
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/controllers/LanguageUtils.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/NavigationFragment.html
  server/app/views/applicant/ProgramIndexTemplate.html
  server/conf/application.dev-browser-tests.conf
  server/test/controllers/LanguageUtilsTest.java
Labels: i18n, under-development, [Epic] North Star Applicant UI

#10424 Enable program filtering feature flag in browser test files and fix screenshots (part 2)
  browser-test/image_snapshots/admin_program_list_test/program-list-one-active-program.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-different-active-and-draft-images.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-new-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list-with-same-active-and-draft-image.png
  browser-test/image_snapshots/admin_program_list_test/program-list.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-view-universal-questions.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing-extra-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-changes-all-ti-can-see-program.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-disabled-hidden-from-ti.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-for-selected-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis-in-selectti-mode.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden-from-other-tis.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-hidden.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-public.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-select-ti-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-hidden-from-applicant.png
  browser-test/image_snapshots/admin_program_visibility_test/program-visibility-ti-only-visible-to-ti.png
  browser-test/image_snapshots/admin_publish_test/publish-modal.png
  browser-test/src/admin/admin_application_statuses.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_migration.test.ts
  browser-test/src/admin/admin_program_viewing.test.ts
  browser-test/src/admin/admin_program_visibility.test.ts
  browser-test/src/admin/admin_publish.test.ts
Labels: ignore-for-release

#10425 Allow empty strings when setting theme colors
  browser-test/src/admin/admin_settings.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/services/settings/SettingsService.java
  server/conf/env-var-docs.json
Labels: under-development
