Repository civiform/civiform, pull requests merged in 2025-09, with the labels that each got.

#11391 [Maps] Handle map question api implementation (until it is actually implemented)
  server/app/services/export/QuestionJsonSampler.java
  server/test/services/export/QuestionJsonSamplerTest.java
Labels: ignore-for-release

#11376 Fiix: Disable YES/NO checkboxes in admin question editor
  browser-test/image_snapshots/admin_yes_no_question_test/yes-no-question-admin-options.png
  server/app/views/admin/questions/QuestionConfig.java
  server/test/views/admin/question/QuestionConfigTest.java
Labels: bug, ignore-for-release

#11374 Base dependencies and bug fixes for api bridge discovery
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/controllers/admin/apibridge/DiscoveryController.java
  server/app/repository/ApiBridgeConfigurationRepository.java
  server/app/views/admin/AdminLayout.html
  server/app/views/admin/AdminLayout.java
  server/app/views/admin/AdminLayoutBaseView.java
  server/app/views/admin/shared/AdminCommonHeader.html
  server/app/views/admin/shared/AdminCommonHeader.java
  server/conf/routes
  server/test/repository/ApiBridgeConfigurationRepositoryTest.java
Labels: under-development

#11396 [North Star] add northstar_admin_publish.test.ts
  browser-test/image_snapshots/northstar_admin_publish_test/publish-all-programs-modal-with-uq-northstar.png
  browser-test/image_snapshots/northstar_admin_publish_test/publish-modal-including-disabled-programs.png
  browser-test/image_snapshots/northstar_admin_publish_test/publish-modal.png
  browser-test/src/admin/northstar_admin_publish.test.ts
Labels: ignore-for-release

#11397 Fix and expand ApplicantData test
  server/app/services/CfJsonDocumentContext.java
  server/test/models/ApplicantModelTest.java
Labels: ignore-for-release

#10651 [Translation management] Make translation available even when the program is not in editing mode
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/controllers/admin/AdminProgramTranslationsController.java
  server/app/services/program/ActiveAndDraftPrograms.java
  server/app/views/admin/programs/ProgramIndexView.java
  server/test/controllers/admin/AdminProgramTranslationsControllerTest.java
Labels: under-development

#11450 [Translation management] Enable translation when the question is in active mode
  browser-test/image_snapshots/admin_question_translation_test/drop-down-for-active-question-hidden.png
  browser-test/src/admin/admin_question_translation.test.ts
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/views/admin/questions/QuestionsListView.java
  server/test/controllers/admin/AdminQuestionTranslationsControllerTest.java
Labels: under-development

#11449 Removing One time job - UpdateLastActivityTime
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/jobs/UpdateLastActivityTimeForAccounts.java
  server/app/modules/DurableJobModule.java
  server/test/durablejobs/jobs/UpdateLastActivityTimeForAccountsTest.java
Labels: under-development

#11499 Allow for widescreen page layouts
  browser-test/image_snapshots/bridge_discovery_test/api-bridge-discovery.png
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/views/admin/AdminLayout.html
  server/app/views/admin/BaseView.java
  server/app/views/admin/apibridge/discovery/DiscoveryPage.html
  server/app/views/admin/shared/LayoutParams.java
Labels: ignore-for-release

#11495 Fixing enum name for UpdateLastActivityTime job
  server/app/durablejobs/DurableJobName.java
  server/app/modules/DurableJobModule.java
  server/test/durablejobs/jobs/UpdateLastActivityTimeForAccountsTest.java
Labels: under-development

#11461 [Expanded logic] Create skeleton predicate edit page
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/views/admin/programs/ProgramHeader.java
  server/app/views/admin/programs/ProgramHeaderFragment.html
  server/app/views/admin/programs/ProgramPredicatesEditPageView.html
  server/app/views/admin/programs/ProgramPredicatesEditPageView.java
  server/app/views/admin/programs/ProgramPredicatesEditPageViewModel.java
  server/app/views/admin/shared/AdminCommonHeader.html
Labels: under-development

#11513 Sync i18n changes from civiform-messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ja
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.ru
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n

#11524 [Translation Infra Migration] removing Marshallese language file
  server/conf/i18n/messages.mh
Labels: i18n

#11525 [Translation Infra Migration]removing duplicated key in message root file
  server/conf/i18n/messages
Labels: i18n

#11531 Fix download flag browser test
  browser-test/src/admin/admin_application_download.test.ts
Labels: ignore-for-release

#11514 Add enhanced logout logic for TIs
  server/app/auth/oidc/CiviformOidcProfileCreator.java
  server/test/auth/oidc/CiviformOidcProfileCreatorTest.java
Labels: bug

#11530 Cleaning up unused ProgramApplicationListView.java
  server/app/assets/javascripts/admin_applications.ts
  server/app/controllers/admin/AdminApplicationController.java
  server/app/views/admin/programs/ProgramApplicationListView.java
  server/app/views/admin/programs/ProgramApplicationTableView.java
Labels: ignore-for-release

#11516 Edit program bridges defs
  browser-test/image_snapshots/admin_program_api_bridge_test/admin-program-api-bridge.png
  browser-test/src/admin/admin_program_api_bridge.test.ts
  browser-test/src/page/admin/programs/program_bridge_configuration_page.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/Images/uswds/legacy-icon-back-arrow.svg
  server/app/assets/javascripts/admin_entry_point.ts
  server/app/assets/javascripts/admin_program_api_bridge.ts
  server/app/assets/javascripts/config.d.ts
  server/app/assets/javascripts/htmx_request.ts
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/controllers/admin/apibridge/ProgramBridgeController.java
  server/app/models/ApiBridgeConfigurationModel.java
  server/app/repository/ApiBridgeConfigurationRepository.java
  server/app/services/JsonUtils.java
  server/app/services/apibridge/ApiBridgeService.java
  server/app/services/apibridge/ApiBridgeServiceDto.java
  server/app/services/apibridge/ProgramBridgeService.java
  server/app/services/program/ProgramDefinition.java
  server/app/services/program/ProgramService.java
  server/app/views/admin/apibridge/programbridge/EditPage.html
  server/app/views/admin/apibridge/programbridge/EditPageView.java
  server/app/views/admin/apibridge/programbridge/EditPageViewModel.java
  server/app/views/admin/apibridge/programbridge/ProgramBridgeEditCommand.java
  server/app/views/admin/apibridge/programbridge/ProgramBridgeSaveCommand.java
  server/app/views/admin/apibridge/programbridge/ProgramBridgeSaveField.java
  server/app/views/admin/apibridge/programbridge/ProgramSchemaField.java
  server/app/views/admin/apibridge/programbridge/fragments/ProgramBridgeEditPartial.html
  server/app/views/admin/apibridge/programbridge/fragments/ProgramBridgeEditPartialView.java
  server/app/views/admin/apibridge/programbridge/fragments/ProgramBridgeEditPartialViewModel.java
  server/app/views/admin/apibridge/programbridge/fragments/QuestionGroup.html
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/conf/routes
  server/test/controllers/admin/apibridge/ProgramBridgeControllerTest.java
  server/test/services/apibridge/ProgramBridgeServiceTest.java
  server/test/support/ProgramBuilder.java
Labels: under-development

#11512 Login dropdown
  browser-test/image_snapshots/header_test/login-dropdown-expanded.png
  browser-test/src/header.test.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/services/MessageKey.java
  server/app/services/settings/SettingsManifest.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/NavigationFragment.html
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/conf/i18n/messages
Labels: i18n, under-development

#11553 Fix apple-touch-icon error
  server/app/views/HtmlBundle.java
  server/conf/routes
Labels: bug

#11569 Silent NPX
  formatter/fmt
Labels: infrastructure

#11587 [Maps] implement translations view for map question filters
  browser-test/image_snapshots/admin_question_translation_test/map-question-translation.png
  browser-test/src/admin/admin_question_translation.test.ts
  server/app/controllers/admin/AdminQuestionController.java
  server/app/controllers/admin/AdminQuestionTranslationsController.java
  server/app/forms/translation/MapQuestionTranslationForm.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/test/forms/translation/MapQuestionTranslationFormTest.java
Labels: under-development

#11603 Re-enable borders
  browser-test/image_snapshots/question_lifecycle_test/map-edit-page.png
  server/app/assets/stylesheets/uswds/_uswds-theme-custom-styles.scss
  server/app/assets/stylesheets/uswds/_uswds-theme.scss
  server/app/views/admin/TranslationFormView.java
  server/app/views/admin/programs/ProgramPredicatesEditPageView.html
  server/app/views/admin/programs/ProgramStatusesView.java
  server/app/views/admin/questions/QuestionConfig.java
  server/app/views/admin/questions/QuestionsListView.java
  server/app/views/components/ProgramCardFactory.java
  server/app/views/questiontypes/MapQuestionFragment.html
Labels: bug
