Repository civiform/civiform, pull requests merged in 2025-08, with the labels that each got.

#11163 [Logic discoverability] Fix question card font styling
  browser-test/image_snapshots/admin_predicates_test/question-card-with-hide-predicate-collapsed.png
  browser-test/image_snapshots/admin_predicates_test/question-card-with-hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/question-card-with-show-predicate-collapsed.png
  browser-test/image_snapshots/admin_predicates_test/question-card-with-show-predicate.png
  server/app/views/admin/programs/ProgramBlocksView.java
Labels: enhancement

#11179 Remove the program filtering feature flag and all of its uses
  server/app/services/settings/SettingsManifest.java
  server/app/views/ProgramImageUtils.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramFormBuilder.java
  server/app/views/admin/programs/ProgramImageView.java
  server/app/views/applicant/ProgramCardViewRenderer.java
  server/app/views/applicant/ProgramIndexView.java
  server/app/views/components/ProgramCardFactory.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
  server/test/views/ProgramImageUtilsTest.java
Labels: feature

#11195 Adding Display Mode to QuestionModel
  server/app/models/QuestionDisplayMode.java
  server/app/models/QuestionModel.java
  server/app/services/question/types/NullQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
  server/conf/evolutions/default/89.sql
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: database

#11196 Updating typescript dependency to v5.9.2 and typescript-eslint to v8.39.0
  browser-test/package-lock.json
  browser-test/package.json
  formatter/package-lock.json
  formatter/package.json
  server/package-lock.json
  server/package.json
Labels: ignore-for-release, dependencies

#11205 Update GeoJsonDataModel Base Class
  server/app/models/GeoJsonDataModel.java
  server/app/models/Models.java
  server/conf/evolutions/default/90.sql
  server/test/repository/GeoJsonDataRepositoryTest.java
Labels: database

#11146 Fully hydrate program defintions in CalculateEligibilityDeterminationJob
  server/app/durablejobs/jobs/CalculateEligibilityDeterminationJob.java
  server/app/modules/DurableJobModule.java
  server/test/durablejobs/jobs/CalculateEligibilityDeterminationTest.java
Labels: bug

#11158 [Logic discoverability] Update UX for rendering existing predicates
  browser-test/image_snapshots/admin_predicates_test/block-eligibility-predicate.png
  browser-test/image_snapshots/admin_predicates_test/block-hide-predicate-collapsed.png
  browser-test/image_snapshots/admin_predicates_test/block-hide-predicate-expanded.png
  browser-test/image_snapshots/admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/admin_predicates_test/block-show-predicate-collapsed.png
  browser-test/image_snapshots/admin_predicates_test/block-show-predicate-expanded.png
  browser-test/image_snapshots/admin_predicates_test/edit-predicate-eligibility-msg-updated.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicate.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/question-card-with-hide-predicate-collapsed.png
  browser-test/image_snapshots/admin_predicates_test/question-card-with-hide-predicate.png
  browser-test/image_snapshots/admin_predicates_test/question-card-with-show-predicate-collapsed.png
  browser-test/image_snapshots/admin_predicates_test/question-card-with-show-predicate.png
  browser-test/image_snapshots/admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/admin_program_creation_test/delete-screen-confirmation-modal.png
  browser-test/image_snapshots/admin_program_creation_test/open-question-search.png
  browser-test/image_snapshots/admin_program_creation_test/program-block-edit-with-universal-questions.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation-question-bank-initial.png
  browser-test/image_snapshots/admin_program_creation_test/program-creation.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-markdown.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-first-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-multiple-address-correction-false.png
  browser-test/image_snapshots/admin_program_creation_test/program-detail-page-with-second-address-correction-true.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-empty.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-markdown.png
  browser-test/image_snapshots/admin_program_creation_test/question-bank-with-created-question.png
  browser-test/image_snapshots/admin_program_viewing_test/program-draft-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-read-only-view.png
  browser-test/image_snapshots/admin_program_viewing_test/program-view-universal-questions.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-block-2.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing-extra-long-screen-name-and-description.png
  browser-test/image_snapshots/admin_program_viewing_test/view-program-start-editing.png
  browser-test/image_snapshots/end_to_end_enumerators_test/programindentation.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/programindentation.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/support/admin_predicates.ts
  server/app/controllers/admin/AdminProgramBlockPredicatesController.java
  server/app/services/program/predicate/PredicateUseCase.java
  server/app/views/admin/programs/ProgramBaseView.java
  server/app/views/admin/programs/ProgramBlocksView.java
  server/app/views/admin/programs/ProgramPredicatesEditView.java
  server/app/views/style/ReferenceClasses.java
  server/test/controllers/admin/AdminProgramBlockPredicatesControllerTest.java
  server/test/views/admin/programs/ProgramBaseViewTest.java
Labels: enhancement

#11216 Remove flaky Settings Cache test
  server/test/services/settings/SettingsCacheTest.java
Labels: ignore-for-release

#11200 [Maps] Create question settings
  server/app/models/QuestionModel.java
  server/app/services/question/LocalizedQuestionSetting.java
  server/app/services/question/QuestionSetting.java
  server/app/services/question/types/NullQuestionDefinitionConfig.java
  server/app/services/question/types/QuestionDefinition.java
  server/app/services/question/types/QuestionDefinitionBuilder.java
  server/app/services/question/types/QuestionDefinitionConfig.java
  server/app/services/question/types/QuestionType.java
  server/app/views/admin/questions/QuestionTranslationView.java
  server/conf/evolutions/default/91.sql
Labels: database

#11232 Add null check on ID Tokens for OidcLogoutAction
  server/app/auth/oidc/CiviformOidcLogoutActionBuilder.java
  server/test/auth/oidc/CiviformOidcLogoutActionBuilderTest.java
Labels: bug

#11246 [Translation Management]add feature flag for phase one
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/feature-flags.conf
Labels: under-development

#11213 Save test data within the DatabaseExecutionContext
  server/test/repository/GeoJsonDataRepositoryTest.java
Labels: ignore-for-release

#11257 Oncall template: Link to generated PR to update the demo site
  .github/ISSUE_TEMPLATE/oncall-rotation.md
Labels: ignore-for-release

#11164 [Data Retention] Save account on any modification to the applictaion
  server/app/models/ApplicationModel.java
  server/app/repository/ApplicationEventRepository.java
  server/app/repository/ApplicationRepository.java
  server/test/models/ApplicationModelTest.java
  server/test/repository/ApplicationEventRepositoryTest.java
  server/test/repository/ApplicationRepositoryTest.java
Labels: under-development, DataRetention

#11248 Migrate admin_application_statuses tests to Northstar
  browser-test/image_snapshots/northstar_admin_application_statuses_test/application-table-view-with-eligibility-statuses.png
  browser-test/image_snapshots/northstar_admin_application_statuses_test/application-view-with-default.png
  browser-test/image_snapshots/northstar_admin_application_statuses_test/application-view-with-statuses.png
  browser-test/image_snapshots/northstar_admin_application_statuses_test/change-status-modal.png
  browser-test/image_snapshots/northstar_admin_application_statuses_test/edit-note-modal.png
  browser-test/src/admin/northstar_admin_application_statuses.test.ts
Labels: ignore-for-release

#11264 Add new category messages for military and veterans
  server/conf/i18n/messages
Labels: bug, i18n

#11263 Create a JMeter test for the comprehensive sample program
  .github/workflows/run_jmeter_test.yaml
  load-test/applicant_submit_comprehensive_sample_program.jmx
  load-test/applicant_submit_minimal_sample_program.jmx
Labels: ignore-for-release

#11268 Update dependency htmx.org to v2.0.6
  server/app/views/admin/programs/ProgramBlocksView.java
  server/package-lock.json
  server/package.json
Labels: dependencies

#11296 Adding payload mapper
  server/app/models/ApiBridgeConfigurationModel.java
  server/app/services/JsonUtils.java
  server/app/services/apibridge/AbstractPayloadMapper.java
  server/app/services/apibridge/ApiBridgeServiceDto.java
  server/app/services/apibridge/RequestPayloadMapper.java
  server/app/services/apibridge/ResponsePayloadMapper.java
  server/test/repository/ApiBridgeConfigurationRepositoryTest.java
  server/test/services/apibridge/RequestPayloadMapperTest.java
  server/test/services/apibridge/ResponsePayloadMapperTest.java
Labels: under-development

#11310 Make csrf token always visible to htmx
  server/app/views/admin/AdminLayout.html
Labels: under-development

#11309 Migrate admin predicates test to North Star
  browser-test/image_snapshots/northstar_admin_predicates_test/block-eligibility-predicate.png
  browser-test/image_snapshots/northstar_admin_predicates_test/block-hide-predicate-collapsed.png
  browser-test/image_snapshots/northstar_admin_predicates_test/block-hide-predicate-expanded.png
  browser-test/image_snapshots/northstar_admin_predicates_test/block-settings-page.png
  browser-test/image_snapshots/northstar_admin_predicates_test/block-show-predicate-collapsed.png
  browser-test/image_snapshots/northstar_admin_predicates_test/block-show-predicate-expanded.png
  browser-test/image_snapshots/northstar_admin_predicates_test/edit-predicate-eligibility-msg-updated.png
  browser-test/image_snapshots/northstar_admin_predicates_test/eligibility-predicate.png
  browser-test/image_snapshots/northstar_admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/northstar_admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/northstar_admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/image_snapshots/northstar_admin_predicates_test/hide-predicate.png
  browser-test/image_snapshots/northstar_admin_predicates_test/ineligible-multiple-eligibility-questions.png
  browser-test/image_snapshots/northstar_admin_predicates_test/ineligible.png
  browser-test/image_snapshots/northstar_admin_predicates_test/operator-help-text.png
  browser-test/image_snapshots/northstar_admin_predicates_test/predicate-age-between-edit.png
  browser-test/image_snapshots/northstar_admin_predicates_test/predicate-age-greater-than-edit.png
  browser-test/image_snapshots/northstar_admin_predicates_test/predicate-error.png
  browser-test/image_snapshots/northstar_admin_predicates_test/program-summary-page.png
  browser-test/image_snapshots/northstar_admin_predicates_test/question-card-with-hide-predicate-collapsed.png
  browser-test/image_snapshots/northstar_admin_predicates_test/question-card-with-hide-predicate.png
  browser-test/image_snapshots/northstar_admin_predicates_test/question-card-with-show-predicate-collapsed.png
  browser-test/image_snapshots/northstar_admin_predicates_test/question-card-with-show-predicate.png
  browser-test/image_snapshots/northstar_admin_predicates_test/review-page-has-ineligible-banner.png
  browser-test/image_snapshots/northstar_admin_predicates_test/review-page-no-ineligible-banner-completed.png
  browser-test/image_snapshots/northstar_admin_predicates_test/review-page-no-ineligible-banner.png
  browser-test/image_snapshots/northstar_admin_predicates_test/show-predicate.png
  browser-test/image_snapshots/northstar_admin_predicates_test/toast-message-may-qualify.png
  browser-test/image_snapshots/northstar_admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-edit.png
  browser-test/image_snapshots/northstar_admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/northstar_admin_predicates_test/visibility-predicates-multi-values-multi-questions-predicate-updated.png
  browser-test/src/admin/northstar_admin_predicates.test.ts
  browser-test/src/applicant/questions/northstar_file.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#11238 Adding sql formatter
  formatter/.sql-formatter.json
  formatter/fmt
  formatter/package-lock.json
  formatter/package.json
Labels: infrastructure

#11334 Update tests and utilities to remove timing issues
  browser-test/src/admin/northstar_admin_application_statuses.test.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release

#11331 Use headless seeding for creating applications in browser tests
  browser-test/src/admin/northstar_admin_bulk_update_statuses.test.ts
  browser-test/src/support/admin_programs.ts
  browser-test/src/support/seeding.ts
  server/app/controllers/dev/DevToolsController.java
  server/app/controllers/dev/seeding/DevDatabaseSeedTask.java
  server/conf/routes
Labels: ignore-for-release

#11270 feat: Add YES/NO question validation for program import flow
  server/app/services/migration/ProgramMigrationService.java
  server/app/services/migration/QuestionValidationUtils.java
  server/test/services/migration/ProgramMigrationServiceTest.java
  server/test/services/migration/QuestionValidationUtilsTest.java
Labels: feature, ignore-for-release

#11337 Focus screenshots for Admin predicates and Northstar question lifecycle
  browser-test/image_snapshots/admin_predicates_test/eligibility-predicates-multi-values-multi-questions-predicate-saved.png
  browser-test/image_snapshots/admin_predicates_test/predicate-error.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/address-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/address-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/checkbox-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/checkbox-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/currency-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/currency-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/date-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/date-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/dropdown-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/dropdown-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/email-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/email-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/enumerator-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/enumerator-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/file-upload-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/file-upload-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/id-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/id-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/map-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/map-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/name-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/name-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/number-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/number-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/radio-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/radio-only-active.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/text-active-and-draft.png
  browser-test/image_snapshots/northstar_question_lifecycle_test/text-only-active.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/northstar_question_lifecycle.test.ts
Labels: ignore-for-release

#11340 Migrate admin translations test to North Star
  browser-test/image_snapshots/northstar_admin_program_translation_test/external-program-translation.png
  browser-test/image_snapshots/northstar_admin_program_translation_test/ineligible-view-with-translated-eligibility-msg.png
  browser-test/image_snapshots/northstar_admin_program_translation_test/program-translation.png
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/admin/northstar_admin_program_translation.test.ts
  browser-test/src/support/applicant_program_overview.ts
  browser-test/src/support/applicant_questions.ts
Labels: ignore-for-release

#11347 [North Star] add northstar_admin_application_download.test.ts
  browser-test/src/admin/northstar_admin_application_download.test.ts
Labels: ignore-for-release

#11348 Add release notes link in awssdk renovate PRs
  .github/renovate.json5
Labels: ignore-for-release, dependencies

#11322 Start recurring jobs on utc time
  server/app/repository/PersistedDurableJobRepository.java
  server/test/repository/PersistedDurableJobRepositoryTest.java
Labels: ignore-for-release

#11360 Remove unused Breadcrumb classes
  server/app/views/components/breadcrumb/BreadcrumbFactory.java
  server/app/views/components/breadcrumb/BreadcrumbItem.java
  server/test/views/components/breadcrumb/BreadcrumbFactoryTest.java
Labels: ignore-for-release

#11365 Add more release note links in renovate
  .github/renovate.json5
Labels: ignore-for-release, dependencies

#11017 [Maps] Add durable job to run on an interval
  server/app/controllers/geojson/GeoJsonApiController.java
  server/app/durablejobs/DurableJobName.java
  server/app/durablejobs/RecurringJobExecutionTimeResolvers.java
  server/app/durablejobs/jobs/MapRefreshJob.java
  server/app/modules/DurableJobModule.java
  server/app/repository/GeoJsonDataRepository.java
  server/app/services/geojson/GeoJsonClient.java
  server/app/services/settings/SettingsManifest.java
  server/conf/env-var-docs.json
  server/conf/helper/jobs.conf
  server/test/durablejobs/JobExecutionTimeResolversTest.java
  server/test/durablejobs/jobs/MapRefreshJobTest.java
  server/test/services/geojson/GeoJsonClientTest.java
  server/test/support/ResourceCreator.java
Labels: under-development, [Epic] Location selection via mapping

#11377 Clarify docs and naming around applicant selection
  server/app/auth/CiviFormProfile.java
  server/app/auth/CiviFormProfileMerger.java
  server/app/repository/AccountRepository.java
  server/test/auth/CiviFormProfileMergerTest.java
Labels: ignore-for-release

#11380 Allow tests to select the extra buttons for active programs when draft and active are present
  browser-test/src/support/admin_programs.ts
  server/app/views/components/ProgramCardFactory.java
Labels: bug
