Repository civiform/civiform, pull requests merged in 2025-06, with the labels that each got.

#10693 Add test for Ebean L1 Cache
  server/test/repository/EbeanInvariantTest.java
Labels: ignore-for-release

#10599 Disable external link for default and pre-screener programs in North Star
  browser-test/image_snapshots/admin_program_creation_test/program-edit-page-with-pre-screener-form-true-northstar-enabled.png
  browser-test/src/admin/admin_program_creation.test.ts
  browser-test/src/admin/admin_program_list.test.ts
  browser-test/src/admin/admin_program_translation.test.ts
  browser-test/src/admin/admin_program_viewing.test.ts
  browser-test/src/applicant/navigation/northstar_application_navigation_pre_screener.test.ts
  browser-test/src/applicant/northstar_applicant_application_index.test.ts
  browser-test/src/support/admin_programs.ts
  server/app/assets/javascripts/admin_programs.ts
  server/app/views/admin/programs/ProgramFormBuilder.java
Labels: enhancement, [Epic] North Star Applicant UI

#10660 [RTL] Migrate more RTL screenshot tests to Arabic
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left-medium.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_block_edit_test/block-edit-page-right-to-left.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left-medium.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_ineligible_test/northstar-ineligible-right-to-left.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left-medium.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_program_overview_test/program-overview-right-to-left.png
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left-medium.png
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left-mobile.png
  browser-test/image_snapshots/northstar_program_summary_test/program-summary-right-to-left.png
  browser-test/src/applicant/northstar_block_edit.test.ts
  browser-test/src/applicant/northstar_ineligible.test.ts
  browser-test/src/applicant/northstar_program_overview.test.ts
  browser-test/src/applicant/northstar_program_summary.test.ts
Labels: ignore-for-release

#10636 [API] Support time filter for list applications
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/services/DateConverter.java
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
  server/test/services/DateConverterTest.java
  server/test/services/openapi/v2/Swagger2SchemaGeneratorTest.java
  server/test/services/openapi/v3/OpenApi3SchemaGeneratorTest.java
Labels: feature

#10719 Mask the date value when displaying in arabic
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-right-to-left-desktop.png
  browser-test/image_snapshots/northstar_upsell_test/upsell-north-star-right-to-left-mobile.png
  browser-test/src/applicant/northstar_upsell.test.ts
Labels: ignore-for-release

#10710 Rename common intake to pre screener in ApplicantService.java
  server/app/services/applicant/ApplicantService.java
  server/app/views/applicant/NorthStarProgramIndexView.java
  server/app/views/applicant/ProgramIndexView.java
  server/test/services/applicant/ApplicantServiceTest.java
Labels: ignore-for-release

#10724 Improve ProgramApplicationsApiController unit test coverage
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
Labels: ignore-for-release

#10718 Use IT email address for internal server errors
  browser-test/src/error_pages.test.ts
  server/app/services/settings/SettingsManifest.java
  server/app/views/errors/InternalServerError.java
  server/conf/env-var-docs.json
Labels: enhancement

#10721 Adding wsclient retry capabilities
  mock-web-services/apibridge/__init__.py
  server/app/services/apibridge/RetryAfterHeaderParser.java
  server/app/services/apibridge/RetryingWSClient.java
  server/test/services/apibridge/RetryAfterHeaderParserTest.java
  server/test/services/apibridge/RetryingWSClientTest.java
Labels: under-development

#10728 Exclude external programs from API docs
  browser-test/src/api_docs.test.ts
  browser-test/src/api_docs_schema_viewer.test.ts
  server/app/controllers/docs/ApiDocsController.java
  server/app/controllers/docs/OpenApiSchemaController.java
  server/app/repository/ProgramRepository.java
  server/app/services/apikey/ApiKeyService.java
  server/app/services/program/ProgramService.java
  server/test/controllers/docs/ApiDocsControllerTest.java
  server/test/controllers/docs/OpenApiSchemaControllerTest.java
  server/test/repository/ProgramRepositoryTest.java
  server/test/support/ResourceCreator.java
Labels: under-development

#10747 [API] Add lifecycleStages to SubmittedApplicationFilter
  server/app/controllers/admin/AdminApplicationController.java
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/repository/ProgramRepository.java
  server/app/repository/SubmittedApplicationFilter.java
  server/test/repository/ProgramRepositoryTest.java
Labels: under-development

#10748 [Cleanup] Remove unused insertDraftApplication()
  server/test/support/ResourceCreator.java
Labels: ignore-for-release

#10729 [Translation Infra] adding an untranslated string for future experiments
  server/app/services/MessageKey.java
  server/conf/i18n/messages
Labels: i18n

#10758 Add note about tagging eng-admin as fyi reviewer to pull request template
  .github/pull_request_template.md
Labels: ignore-for-release

#10757 Address VersionRepository.previewPublishNewSynchronizedVersion() Transaction persistence cache issue.
  server/app/repository/VersionRepository.java
  server/app/services/question/ActiveAndDraftQuestions.java
  server/test/repository/VersionRepositoryTest.java
  server/test/services/question/ActiveAndDraftQuestionsTest.java
Labels: enhancement

#10756 Don't return API docs for external programs
  server/app/controllers/docs/ApiDocsController.java
  server/app/controllers/docs/OpenApiSchemaController.java
  server/test/controllers/docs/ApiDocsControllerTest.java
  server/test/controllers/docs/OpenApiSchemaControllerTest.java
Labels: under-development

#10720 Upgrade @azure/storage-blob and stop relying on public CDN to load, which allows CSP to work
  server/app/assets/javascripts/azure_upload.ts
  server/app/services/cloud/azure/BaseAzureBlobStorageClient.java
  server/app/views/ViewUtils.java
  server/app/views/fileupload/AzureFileUploadViewStrategy.java
  server/package-lock.json
  server/package.json
  server/tsconfig.json
Labels: dependencies, enhancement

#10702 [API] Support revisionState filter for list applications
  server/app/controllers/api/ProgramApplicationsApiController.java
  server/app/services/openapi/v3/OpenApi3SchemaGenerator.java
  server/conf/routes
  server/test/controllers/api/ProgramApplicationsApiControllerTest.java
  server/test/services/openapi/v3/OpenApi3SchemaGeneratorTest.java
Labels: feature

#10802 Fixing formatter to call the local docker image
  .github/workflows/format.yaml
  bin/fmt
Labels: infrastructure, ignore-for-release

#10761 Enable duplicate-handling in dev
  browser-test/src/admin/admin_program_migration.test.ts
  server/conf/application.dev.conf
  server/test/controllers/admin/AdminImportControllerTest.java
Labels: ignore-for-release

#10806 [API] Add revisionState to list applications in Swagger 2.0
  server/app/services/openapi/v2/Swagger2SchemaGenerator.java
  server/test/services/openapi/v2/Swagger2SchemaGeneratorTest.java
Labels: feature

#10821 Formatting routes file
  server/conf/routes
Labels: ignore-for-release

#10836 Add links in Renovate PRs to release notes for a few packages
  .github/renovate.json5
Labels: ignore-for-release

#10768 fix(10213): flatten all heading tags to <p> in Markdown rendering
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-data-new-ui.png
  browser-test/image_snapshots/admin_program_migration_test/import-page-with-enumerator-duplicates.png
  browser-test/image_snapshots/application_navigation_flow_test/program-list-page-medium.png
  browser-test/image_snapshots/application_navigation_flow_test/program-list-page-mobile.png
  browser-test/image_snapshots/application_navigation_flow_test/program-list-page.png
  browser-test/image_snapshots/northstar_applicant_question_translation_test/question-translation-with-markdown.png
  browser-test/src/applicant/navigation/application_navigation_flow.test.ts
  server/app/views/components/TextFormatter.java
  server/test/views/components/TextFormatterTest.java
Labels: bug

#10764 Filter API key page programs to internal only (#10597)
  browser-test/image_snapshots/admin_api_keys_test/new-api-key-page-with-programs.png
  browser-test/src/admin/admin_api_keys.test.ts
  server/app/controllers/admin/AdminApiKeysController.java
  server/test/controllers/admin/AdminApiKeysControllerTest.java
Labels: feature, ignore-for-release

#10846 Limiting Max allowed entities for enums questions
  browser-test/image_snapshots/question_lifecycle_test/enumerator-edit-page.png
  server/app/forms/EnumeratorQuestionForm.java
  server/app/services/applicant/question/EnumeratorQuestion.java
  server/test/forms/EnumeratorQuestionFormTest.java
  server/test/services/applicant/question/EnumeratorQuestionTest.java
Labels: bug

#10840 Redirect to review or edit when changing language during submit/update
  browser-test/src/applicant/northstar_ineligible.test.ts
  server/app/actions/RouteExtractor.java
  server/app/views/NorthStarBaseView.java
  server/app/views/applicant/ApplicantLayout.java
  server/app/views/applicant/NavigationFragment.html
  server/test/views/applicant/ApplicantLayoutTest.java
Labels: bug

#10874 Show the default max entity count limit in the enumerator form builder UI
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-field.png
  browser-test/image_snapshots/end_to_end_enumerators_test/enumerator-type-set.png
  browser-test/image_snapshots/northstar_end_to_end_enumerators_test/northstar-enumerator-type-set.png
  server/app/forms/EnumeratorQuestionForm.java
Labels: enhancement

#10873 [ProgramSlugUrl] Add metrics to /edit
  server/app/controllers/applicant/ApplicantProgramsController.java
  server/app/services/monitoring/MonitoringMetricCounters.java
  server/test/controllers/applicant/ApplicantProgramsControllerTest.java
Labels: under-development

#10885 Fix issue with codespaces
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
Labels: ignore-for-release

#10887 [Bug] Use toBeVisible instead of isVisible in admin_programs.ts
  browser-test/src/support/admin_programs.ts
Labels: ignore-for-release
