Repository civiform/civiform, pull requests merged in 2025-10, with the labels that each got.

#11615 Support USE_PODMAN_FOR_CIVIFORM environment variable
  bin/lib.sh
Labels: ignore-for-release, maintenance

#11604 [Maps] Update styling for map question and handle map question preview
  browser-test/image_snapshots/map_test/map.png
  browser-test/image_snapshots/question_lifecycle_test/map-edit-page.png
  server/app/assets/javascripts/config.d.ts
  server/app/assets/javascripts/preview.ts
  server/app/assets/stylesheets/northstar/_uswds-theme-custom-styles.scss
  server/app/services/MessageKey.java
  server/app/views/admin/questions/MapQuestionSettingsFilterFragment.html
  server/app/views/admin/questions/MapQuestionSettingsPartial.html
  server/app/views/admin/questions/NorthStarQuestionPreview.java
  server/app/views/admin/questions/QuestionPreviewFragment.html
  server/app/views/questiontypes/MapQuestionFragment.html
  server/conf/i18n/messages
Labels: i18n, under-development

#11622 Sync i18n changes from civiform-messages
  server/conf/i18n/messages.am
  server/conf/i18n/messages.ar
  server/conf/i18n/messages.fr
  server/conf/i18n/messages.ja
  server/conf/i18n/messages.ko
  server/conf/i18n/messages.lo
  server/conf/i18n/messages.ru
  server/conf/i18n/messages.so
  server/conf/i18n/messages.tl
  server/conf/i18n/messages.vi
  server/conf/i18n/messages.zh-TW
Labels: i18n

#11623 Fix yes/no question in api
  server/app/services/export/CsvColumnFactory.java
  server/app/services/export/QuestionJsonPresenter.java
  server/app/services/export/enums/QuestionTypeExternal.java
  server/test/services/export/AbstractExporterTest.java
  server/test/services/export/CsvExporterServiceTest.java
  server/test/services/export/JsonExporterServiceTest.java
Labels: bug

#11564 [Expanded logic] Edit predicate browser tests
  browser-test/image_snapshots/admin_predicates_expanded_test/edit-predicate.png
  browser-test/image_snapshots/admin_program_header_test/program-header.png
  browser-test/src/admin/admin_predicates.test.ts
  browser-test/src/admin/admin_predicates_expanded.test.ts
  browser-test/src/admin/admin_program_header.test.ts
  browser-test/src/support/admin_predicates.ts
  browser-test/src/support/admin_programs.ts
  server/app/views/admin/programs/predicates/EditPredicatePageView.html
Labels: under-development

#11624 Update pull request template for accessibility test checklist item
  .github/pull_request_template.md
Labels: ignore-for-release
